<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Account Support Request received from user X</h1>
    <p>
      <%= @support_contact.body %>
    </p>
  </body>
</html>