
<div id="pageheader" class="container_24 appscale">
    <div class="grid_14" id="title">
        <h2>AppScale</h2>
        <p>Free Auto-Scaling Platform-as-a-Service</p>
    </div>
    <div class="grid_10" id="title_accent"></div>
    <div class="clear"></div>
</div>

<div id="page" class="container_24 appscale_details">
    <div id="breadcrumb" class="prefix_1 grid_22 suffix_1">
        <a href="#">Solutions</a> &gt;
        AppScale
    </div>
    <div class="clear"></div>

<!-- sidenav -->
    <div id="sidenav" class="grid_7 push_17">
	<a class="tryitnow_button">Try it now!</a>

	<div class="clear"></div>

	<div class="docs">
	<h2>Documentation</h2>
	  <ul>
		<li><a href="#">10-minute Quickstart Guide</a></li>
		<li><a href="#">Frequently-Asked Questions</a></li>
		<li><a href="#">API Documentation</a></li>
	  </ul>
	  <a href="#" class="readmore">More documentation ➜</a>
	</div>

	<div class="clear"></div>

	<div class="promo">zomg a promo!</div>

	<div class="clear"></div>

	<div class="platforms">
	<h2>Supported Platforms</h2>
	<h3>Clouds</h3>
	  <ul>
		<li><a href="#">Amazon's EC2</a></li>
		<li><a href="#">Rackspace Cloud</a></li>
		<li><a href="#">Insert Your Cloud Here</a></li>
	  </ul>
	<h3>Languages</h3>
	  <ul>
		<li><a href="#">Python</a></li>
		<li><a href="#">Java</a></li>
	  </ul>
	</div>
	<div class="clear"></div>
	
	<div class="top_video">
		<h2>Today's top Video</h2>
		<img src="images/temp_video_thumb-sidebar.png" />
		<h3>Monitoring with AppScale</h3>
		<h3>Joe Cool, Senior Developer</h3>
		<p>Learn how to use the monitoring tools in AppScale...</p>
		<a href="#" class="readmore">Read more ➜</a>
	</div>

	<div class="grid_6 alpha">
		<h4>Looking for private or hybrid cloud solutions?</h4>
		<p><a href="#">Check out redhat.com/cloud</a>.</p>
	</div>
	<div class="clear"></div>

	<div class="grid_6">
		<h4>FAQ</h4>
		<p>Got questions? <a href="#">We have answers.</a></p>
	</div>
	<div class="clear"></div>

	<div class="grid_6 omega">
		<h4>Resources for cloud developers</h4>
		<p><a href="#">Forums, evaluation guides, how-tos, and videos</a>.</p>
	</div>
	<div class="clear"></div>
    </div>

<!-- end sidenav start main content -->
    <div class="prefix_1 grid_16 pull_7">
	<h2>What is AppScale?</h2>
	<p>Appscale is a free platform-as-a-service for new and existing JBoss, 
Java EE6 and PHP applications. Provision cloud resources, deploy, 
manage, monitor, and auto-scale applications from a single, easy-to-use 
interface.</p>

	<p>[ Illustration of workflow goes here. ]</p>

        <h4>Getting your application in the cloud is easy! Just follow these five steps:</h4>

	<div id="appscale_steps">
	  <div class="step1 odd">
	  	<div class="grid_6 alpha">
		  <h6><strong>Step 1:</strong><br />Provision cloud resources</h6>
	 	</div>
	 	<div class="prefix_1 grid_9 omega">
            	  <p>Plug your AWS credentials into the wizard, then define the memory and CPU characteristics of your cluster.</p>
		  <a href="#">Watch the video ➜</a>
	  	</div>
          </div>
          <div class="clear"></div>
          <div class="step2 even">
	  	<div class="grid_6 alpha">
		  <h6><strong>Step 2:</strong><br />Select middleware components</h6>
		</div>
		<div class="prefix_1 grid_9 omega">
		  <p>Build your stack by selecting language, web, application, database, and caching server components.</p>
		  <a href="#">Watch the video ➜</a>
		</div>
	  </div>
	  <div class="clear"></div>
	  <div class="step3 odd">
	  	<div class="grid_6 alpha">
		  <h6><strong>Step 3:</strong><br />Upload application code</h6>
		</div>
		<div class="prefix_1 grid_9 omega">
		  <p>Upload your application code in a variety of different ways depending on what works for you.</p>
		  <a href="#">Watch the video ➜</a>
		</div>
	  </div>
	  <div class="clear"></div>
	  <div class="step4 even">
		<div class="grid_6 alpha">
		  <h6><strong>Step 4:</strong><br />Tweak configuration files</h6>
		</div>
		<div class="prefix_1 grid_9 omega">
		  <p>You'll probably want to make changes to the standard configuration files - no problem, Appscale makes it easy.</p>
		  <a href="#">Watch the video ➜</a>
		</div>
	  </div>
	  <div class="clear"></div>
	  <div class="step5 odd">
		<div class="grid_6 alpha">
		  <h6><strong>Step 5:</strong><br />Deploy your application</h6>
		</div>
		<div class="prefix_1 grid_9 omega">
		  <p>Click "Deploy" - you are now running in the cloud!</p>
		</div>
	  </div>
	  <div class="clear"></div>
	</div>
    <div id="appscale_nowwhat">
	<div class="grid_17">
		<h2>So, your app is running in the cloud. Now what?</h2>
	</div>

	<div class="clear"></div>

	<div class="grid_8 alpha">
		<h3>Auto-Scale</h3>
		<p>Appscale makes it easy to configure when your application should 
scale up and down.</p>
		<a href="#">Watch the video ➜</a>
	</div>
	<div class="prefix_1 grid_7 omega">
		<h3>Monitor</h3>
		<p>No need install agents or make changes to application code. Appscale has built-in performance monitoring for the entire stack.</p>
		<a href="#">Watch the video ➜</a>
	</div>

	<div class="clear"></div>

	<div class="grid_8 alpha">
		<h3>Manage Change</h3>
		<p>Applications and Middleware aren't static. Appscale helps you 
manage application changes and middleware upgrades, giving you the 
ability to restart and revert to previously deployed versions at the 
push of a button.</p>
		<a href="#">Watch the video ➜</a>
	</div>
	<div class="prefix_1 grid_7 omega">
		<h3>Manage Logs</h3>
		<p>Virtual servers in the cloud come and go, and so do the logs on them. Appscale persists application and middleware logs regardless of the cluster's state.</p>
		<a href="#">Watch the video ➜</a>
	</div>
	    <div class="clear"></div>
    </div>
    <div class="clear"></div>
    </div>

<div class="clear"></div>
</div> <!-- end page container -->
