.container_24#page
  .prefix_1.grid_22.suffix_1#registered
    %h3 Let's get Coding!
    %h4 Prerequisites
    %p
      %strong Note:
      These directions are for EL6 and F14.  The
      rpm should work on other distos too but has only been tested on EL6
      and F14
    %p
      Make sure you have a registered account.  If you jumped straight to
      this page, you need to first
      = link_to("register a user", :action => 'new', :controller => 'user', :only_path => false, :protocol => 'https')
      as you'll need a valid password.

    %h4 RHEL / Fedora Installation
    %p
      Download the express repo file
      %a(href="https://stg.openshift.redhat.com/app/li-beta.repo") li.repo
      and place it in your /etc/yum.repos.d/ directory
    %p
      Install the client tools:
      %pre $ sudo -E yum install li

    %h4 Mac / Windows Installation
    %p
      Install the gem from our beta server:
      %pre $ sudo gem install --source https://stg.openshift.redhat.com/client li

    %h4 Step 1

    %p
      Next create a DNS domain you like:
      %pre $ rhc-create-domain -n dns_nick -l email@address
      %pre Password: (type... type... type...)

    %h4 Step 2

    %p
      Now you can start creating applications.  The example below will
      create a php application called 'racer':

      %pre $ rhc-create-app -a racer -t php-5.3.2
      %pre Password: (type... type... type...)

    %h4 Your App is Live... Seriously

    %p
      %strong Important Reminder: This application is visible to the world.

      In the beta we want to see real world traffic and
      want to offer as much flexibility as possible for you to try out what
      you like.  However, <em>please</em> be sensitive to the fact that your
      applications will be publicly accessible.

    %p
      If you need any help, we're on the internal <strong>#libra</strong>
      channel and feel free to ask us any questions.  We'll be making
      improvements throughout the beta, so if you've got a great idea, or if
      you are blocked on something, please share it with us and we'll try
      and incorporate it!

    %h4 HOW-TOs

    %p
      You can find some helpful How-Tos to get your started building applications <a href="https://docspace.corp.redhat.com/docs/DOC-60966">here</a>.
  .clear
