-# file: Main site index

.simpleSlideShow.slideShow.container_24
  #slides.grid_24
    %ul

      /Express slide
      %li#express.slide
        .slide-canvas
        .content
          %h2 Looking to develop for the cloud?
          %p
            Quickly develop, test, tweak and deploy your cloud-based application from a familiar development environment.

      /Flex slide
      %li#flex.slide
        .slide-canvas
        .content
          %h2 Want to migrate apps to the cloud?
          %p
            Enjoy end-to-end management from deploying, to monitoring, to log management, to auto-scaling, and more.

    /Slide show navigation
    %ul.navigation
      %li
        %a.page(href='#') 1
      %li
        %a.page(href='#') 2

  .clear

/News ticker
.slideShow.newsTicker.container_24
  #news_title.grid_4.alpha
    %h4 Recent News

  /Actual news
  %ul#news.grid_20.omega
  
    - @news.each do |item|
      %li.news_item.slide
        =item

  .clear

#sidebar_slugs_container.container_24
  -# changed id to sidebar from sidenav
  #sidebar.grid_7.push_17

    #redhat_cloud.grid_7.alpha
      %a(href='#')
        %h4 Looking for on-premise or hybrid cloud solutions?
        %p Check out redhat.com/cloud.
    .clear

    #pricing.grid_7
      %a(href='#')
        %h4 Pricing
        %p &amp; subscription details
    .clear

    #faq.grid_7.omega
      %a(href='#')
        %h4 FAQ
        %p Your questions, answered
    .clear

  /Product slugs
  

  /Express slug
  .slug.grid_8.pull_7
    %h3 Craft your cloudbased masterpiece without the hassle.
    %p
      You're a developer, not a sysadmin.
      Focus on development, and we'll handle the rest
    .icons
      %img(src='/app/images/git_logo_gs.png'
           alt='git')
      %img(src='/app/images/php_logo_gs.png'
           alt='PHP')
      
    %p.link
      %a.learn(href='#') Learn more &gt;

  /Flex slug
  .slug.grid_9.pull_7.last
    %h3 Move your internally-deployed apps into the cloud, easily.
    %p
      We make it easy to deploy the apps you need, monitor them, control them, even scale them out when demand on them grows.

    .grid_4.alpha
      %ul
        %li End-to-end monitoring
        %li Auto-scaling
        %li Log management

    .grid_4.omega
      %ul
        %li EE6 Web
        %li memcache
        %li MySQL
    .clear

    %p.link
      %a.learn(href='#') Learn more &gt;
    .clear
  /End slugs
  .clear

/App promo boxes
#app_promos.container_24
  /Express box
  .express.promo.grid_8
    %h3 Looking to develop for the cloud? Check out waht our platform can do.
    %h4 Express
    %p
      %a(href='#') Learn More

  /Flex box
  .flex.promo.grid_8
    %h3 Want to deploy and manage your production applications in the cloud?
    %h4 Flex
    %p
      %a(href='#') Learn More

  /Power box
  .power.promo.grid_8
    %h3 
      Build and manage a 
      %br
      cross-cloud infrastructure
    %h4 Power
    %p
      %a(href='#') Learn More

  .clear
/End app promo boxes

/Page columns
#page.container_24

  .prefix_1.grid_7
    %p
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua.
    %p
      At vero eos et accusam et justo duo dolores et ea rebum.
    %p
      Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua.

  .grid_8
    %p
      At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua.
    %p
      At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua.
    %p
      At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, consete
    
  .grid_7.suffix_1
    %p
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua.
    %p
      At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua. At vero eos et accusam et justo duo dolores et ea reb
  .clear
/End page columns
