<div class="container_24">

<!-- start blingy slideshow area, end mainnav -->

<div class="simpleSlideShow slideShow container_24">
	<div class="grid_24" id="slides">

		<ul>	

		<!-- Express Slide -->
		<li class="slide selected" id="express">
			<div class="slide-canvas">

			<div class="content">
				<h2>Looking for a fast on-ramp to the cloud?</h2>
				<p>Get Ruby, PHP, and Python apps in the cloud with just a few lines of code.</p>
			</div>
			</div>
		</li>

		<!-- AppScale Slide -->

		<li class="slide" id="appscale">
			<div class="slide-canvas">
			<div class="content">
				<h2>Need to auto-scale new and existing apps in the cloud?</h2>
				<p>Provision, deploy, monitor, and auto-scale JBoss, Java EE6, and PHP apps.</p>
			</div>
			</div>
		</li>

		</ul>

		<ul class="navigation">
			<li><a href="javascript:void(0);" class="page">1</a></li>
			<li><a href="javascript:void(0);" class="page">2</a></li>
		</ul>

	</div>
	<div class="clear"></div>

</div>			

<!-- start newsbar, end blingy slideshow area -->

<div class="slideShow newsTicker container_24">

	<div class="grid_4 alpha" id="news_title">
		<h4>RECENT NEWS</h4>
	</div>
	
	<ul class="grid_20 omega" id="news">
		<li class="news_item slide">'I couldn't help it,' said Five, in a sulky tone; 'Seven jogged my elbow.'</li>

		<li class="news_item slide">On which Seven looked up and said, 'That's right, Five! Always lay the blame on others!'</li>
		<li class="news_item slide">'YOU'D better not talk!' said Five. 'I heard the Queen say only yesterday you deserved to be beheaded!'</li>
		<li class="news_item slide">'What for?' said the one who had spoken first. 'That's none of YOUR business, Two!' said Seven.</li>
	</ul>

	<div class="clear"></div>
</div>

<!-- start app slugs, end newsbar -->

<div id="pagetop" class="container_24">

	<div id="sidenav" class="grid_7 push_17">

		<div class="grid_6 alpha">
			<h4>Looking for private or hybrid cloud solutions?</h4>
			<p><a href="#">Check out redhat.com/cloud</a>.</p>

		</div>
		<div class="clear"></div>

		<div class="grid_6">
			<h4>FAQ</h4>
			<p>Got questions? <a href="#">We have answers.</a></p>
		</div>
		<div class="clear"></div>

		<div class="grid_6 omega">
			<h4>Resources for cloud developers</h4>
			<p><a href="#">Forums, evaluation guides, how-tos, and videos</a>.</p>
		</div>
		<div class="clear"></div>

	</div>

	<div id="slugs" class="grid_17 pull_7">
		<div class="slug grid_8 suffix_1">	
			<h3>Leave application management and auto-scaling to us.</h3>
			<p>Spend more time on what really matters, customers and 
developing new features.</p>

			<div class="grid_4 omega">
				<ul>
					<li>Provision resources</li>
					<li>Deploy applications</li>
					<li>Auto-scale up &amp; down</li>
				</ul>	
			</div>
			<div class="grid_4 alpha">
				<ul>
					<li>Manage upgrades &amp; restarts</li>
					<li>Monitor the complete stack</li>

				</ul>
			</div>
			<div class="clear"></div>
			<p><a class="learn" href="#">Learn more &gt;</a></p>

		</div>

		<div class="slug grid_8">

			<h3>Develop anywhere, deploy to the cloud.</h3>
			<p>Red Hat allows you to deploy and migrate your 
application across clouds, both public and private.</p>
			<div>Icons go here</div>
			<p><a class="learn" href="#">Learn more &gt;</a></p>
		</div>


	</div> <!-- end slugs div -->
	<div class="clear"></div>

</div> <!-- end pagetop-->
<!-- start app promo nav, end app slugs -->

<div id="app_promos" class="container_24">

	<div class="express grid_8">
		<h3>Deploy to the cloud today...<br /> it's free and easy.</h3>

		<h4>Express</h4>
		<p><a href="#">Learn More</a></p>
	</div>

	<div class="appscale grid_8">
		<h3>Auto-scaling PaaS for JBoss,<br />Java EE6, &amp; PHP apps.</h3>
		<h4>AppScale</h4>

		<p><a href="#">Learn More</a></p>
	</div>
	
	<div class="fabric grid_8">
		<h3>Build and manage<br /> a cross-cloud infrastructure.</h3>
		<h4>Fabric</h4>
		<p><a href="#">Learn More</a></p>

	</div>

	<div class="clear"></div>

</div> <!-- end app promos container -->

<div id="page" class="container_24">

	<div class="prefix_1 grid_7 video_promo">
		<h2>From Code to Cloud in 5 Minutes</h2>
		<h5>Smokey Bear, Solutions Specialist</h5>
		<img src="../images/temp_video_thumb.png"/>
		<p>Smokey takes you on a whirlwind tour and fight against time.
She'll start with the source for an app and walk you through building it, templating it, and deploying it in record time. This is a great overview for new users!</p>
		<p class="video_info">6 minutes, 9 seconds.</p>
		<p class="video_info">Posted 6 May 2011.</p>
	</div>
	<div class="grid_8 video_promo">
		<h2>Recommended Deployment Workflows</h2>
		<h5>Eilonwy Llyr, Senior Developer</h5>
		<img src="../images/temp_video_thumb.png"/>
		<p>Depending on the type of applications you're working with, there's several different deploy workflows you might want to use. Eilonwy walks you through configuring them in AppScale, step-by-step.</p>
		<p class="video_info">7 minutes, 23 seconds.</p>
		<p class="video_info">Posted 10 May 2011.</p>
	</div>
	<div class="grid_7 suffix_1">
		<h3>Join the discussion!</h3>
		<h4>We're here to help!</h4>
	</div>

	
	<div class="clear"></div>


<script type="text/javascript" src="js/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="js/jquery.slideshow.minified.js"></script>
<script type="text/javascript" src="js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript" src="js/init.js"></script>
<script type="text/javascript" src="js/jquery.inlineFieldLabel.js"></script>

</div> <!-- end page container -->
