<div id="page" class="container_24">

<!-- start blingy slideshow area, end mainnav -->

<div class="simpleSlideShow slideShow container_24">
	<div class="grid_24" id="slides">

		<ul>	

		<!-- Express Slide -->
		<li class="slide selected" id="express">
			<div class="slide-canvas">

			<div class="content">
				<h2>Looking to develop for the cloud?</h2>
				<p>Our platform lets you quickly develop, test, tweak, and deploy your cloud-based application from a familiar development environment.</p>
			</div>
			</div>
		</li>

		<!-- AppScale Slide -->

		<li class="slide" id="appscale">
			<div class="slide-canvas">
			<div class="content">
				<h2>Want to migrate apps to the cloud?</h2>
				<p>Our platform provides end-to-end management from deploying, to monitoring, to log management, to auto-scaling, and more.</p>
			</div>
			</div>
		</li>

		</ul>

		<ul class="navigation">
			<li><a href="javascript:void(0);" class="page">1</a></li>
			<li><a href="javascript:void(0);" class="page">2</a></li>
		</ul>

	</div>
	<div class="clear"></div>

</div>			

<!-- start newsbar, end blingy slideshow area -->

<div class="slideShow newsTicker container_24">

	<div class="grid_4 alpha" id="news_title">
		<h4>RECENT NEWS</h4>
	</div>
	
	<ul class="grid_20 omega" id="news">
		<li class="news_item slide">'I couldn't help it,' said Five, in a sulky tone; 'Seven jogged my elbow.'</li>

		<li class="news_item slide">On which Seven looked up and said, 'That's right, Five! Always lay the blame on others!'</li>
		<li class="news_item slide">'YOU'D better not talk!' said Five. 'I heard the Queen say only yesterday you deserved to be beheaded!'</li>
		<li class="news_item slide">'What for?' said the one who had spoken first. 'That's none of YOUR business, Two!' said Seven.</li>
	</ul>

	<div class="clear"></div>
</div>

<!-- start app slugs, end newsbar -->

<div id="pagetop" class="container_24">

	<div id="sidenav" class="grid_7 push_17">

		<div class="grid_6 alpha">
			<h4>Looking for on-premise or hybrid cloud solutions?</h4>
			<p>Check out redhat.com/cloud.</p>

		</div>
		<div class="clear"></div>

		<div class="grid_6">
			<h4>Pricing</h4>
			<p>&amp; subscription details.</p>
		</div>
		<div class="clear"></div>

		<div class="grid_6 omega">
			<h4>FAQ</h4>
			<p>Your questions, answered.</p>
		</div>
		<div class="clear"></div>

	</div>

	<div id="slugs" class="grid_17 pull_7">
		<div class="slug grid_8 suffix_1">	
			<h3>Craft your cloud-based masterpiece, without the hassles.</h3>
			<p>You're a developer, so why are you acting like a sysadmin? Focus on development, and we'll handle the rest.</p>
			<div>Icons go here</div>
			<p><a class="learn" href="#">Learn more &gt;</a></p>
		</div>

		<div class="slug grid_8">
			<h3>Move your internally-deployed apps into the cloud, easily.</h3>
			<p>We make it easy to deploy the apps you need, monitor them, control them, even scale them out when demand on them grows.</p>

			<div class="grid_4 alpha">
				<ul>
					<li>End-to-end monitoring</li>

					<li>Auto-scaling</li>
					<li>Log management</li>
				</ul>
			</div>
			<div class="grid_3 omega">
				<ul>
					<li>EE6 Web</li>

					<li>memcache</li>
					<li>MySQL</li>
				</ul>	
			</div>
			<div class="clear"></div>
			<p><a class="learn" href="#">Learn more &gt;</a></p>

		</div>

	</div> <!-- end slugs div -->
	<div class="clear"></div>

</div> <!-- end pagetop-->
<!-- start app promo nav, end app slugs -->

<div id="app_promos" class="container_24">

	<div class="express grid_8">
		<h3>Looking to develop for the cloud? Check out what our platform can do.</h3>

		<h4>Express</h4>
		<p><a href="#">Learn More</a></p>
	</div>

	<div class="appscale grid_8">
		<h3>Want to deploy and manage your production applications in the cloud?</h3>
		<h4>AppScale</h4>

		<p><a href="#">Learn More</a></p>
	</div>
	
	<div class="fabric grid_8">
		<h3>Build and manage<br /> a cross-cloud infrastructure.</h3>
		<h4>Fabric</h4>
		<p><a href="#">Learn More</a></p>

	</div>

	<div class="clear"></div>

</div> <!-- end app promos container -->

<div id="page" class="container_24">

	<div class="prefix_1 grid_7">
		<p>There was a table set out under a tree in front of the house, and the March Hare and the Hatter were having tea at it: a Dormouse was sitting between them, fast asleep, and the other two were using it as a cushion, resting their elbows on it, and talking over its head. 'Very uncomfortable for the Dormouse,' thought Alice; 'only, as it's asleep, I suppose it doesn't mind.'</p>
		<p>The table was a large one, but the three were all crowded together at one corner of it: 'No room! No room!' they cried out when they saw Alice coming. 'There's PLENTY of room!' said Alice indignantly, and she sat down in a large arm-chair at one end of the table.</p>

		<p>'Have some wine,' the March Hare said in an encouraging tone.</p>
		<p>Alice looked all round the table, but there was nothing on it but tea. 'I don't see any wine,' she remarked.</p>
	</div>
	<div class="grid_8">
		<p>'There isn't any,' said the March Hare.</p>
		<p>'Then it wasn't very civil of you to offer it,' said Alice angrily.</p>
		<p>'It wasn't very civil of you to sit down without being invited,' said the March Hare.</p>

		<p>'I didn't know it was YOUR table,' said Alice; 'it's laid for a great many more than three.'</p>
		<p>'Your hair wants cutting,' said the Hatter. He had been looking at Alice for some time with great curiosity, and this was his first speech.</p>
		<p>'You should learn not to make personal remarks,' Alice said with some severity; 'it's very rude.'</p>
		<p>The Hatter opened his eyes very wide on hearing this; but all he SAID was, 'Why is a raven like a writing-desk?'</p>
	</div>
	<div class="grid_7 suffix_1">
		<p>'Come, we shall have some fun now!' thought Alice. 'I'm glad they've begun asking riddles.—I believe I can guess that,' she added aloud.</p>

		<p>'Do you mean that you think you can find out the answer to it?' said the March Hare.</p>
		<p>'Exactly so,' said Alice.</p>
		<p>'Then you should say what you mean,' the March Hare went on.</p>
		<p>'I do,' Alice hastily replied; 'at least—at least I mean what I say—that's the same thing, you know.'</p>
	</div>

	
	<div class="clear"></div>



    <div id="intro" class="prefix_1 grid_22 suffix_1">

        <h4>Overview</h4>
        <p>As of today, we are opening up an internal beta of one of the Libra
        components:  Express.  This offering provides a free PHP, Ruby and
        Python hosting environment for software developers, similar to the
        Google App Engine or Heroku offerings.  At Summit, we will be
        expanding Libra with additional cloud services based on the work being
        done by the Makara team. But more on that as we get closer to
        Summit.</p>

        <h4>Show Us Your Stuff!</h4>
        <p>Now, we want to ask you for your talents.  We are opening an
        internal competition to harness your innovation to build an externally
        accessible application.  If you are a developer or designer, dust off
        the PHP and Rails books and build something.  If you are a hacker,
        breaking this stuff is in bounds, so give it your best shot.  Your
        contributions will be showcased both internally and externally at
        Summit to our customers.  But, in addition to fame, we will also be
        offering the following prizes:</p>

        <p><strong>First Place:</strong>&nbsp;5 star Red Hat Reward + Libra T-Shirt</p>
        <p><strong>Second Place:</strong>&nbsp;4 star Red Hat Reward + Libra T-Shirt</p>
        <p><strong>Third Place:</strong>&nbsp;3 star Red Hat Reward + Libra T-Shirt</p>
        <p><strong>Honorable Mention:</strong>&nbsp;Eternal fame + Libra T-Shirt</p>

        <p>Just a reminder that this effort is still <strong>Red Hat
          Confidential</strong>.  Your application will be public so please be
        sensitive about what you deploy.</p>

        <h4>Contest Rules</h4>
        <p>The rules are simple - send a quick write-up of what you have done
        to <a href="mailto:libra-list@redhat.com">libra-list@redhat.com</a>.  As a
        team, we will be voting on the submissions on April 15th and
        announcing winners.  We can't wait to see what you come up with!</p>

        <h4>Enough Talk - Let's Get Started</h4>
        <p><em><strong><%= link_to("Click Here", :action => 'index', :controller => 'users', :only_path => false, :protocol => 'https') %> to register a user and get started!</strong></em></p>
    </div>
    <div class="clear"></div>

    <div class="prefix_1 grid_22 suffix_1">
                <p id="terms_and_conditions">By clicking on 'Register Now' above, you confirm your agreement with this site's <a href="#">Terms and Conditions</a>.</p>
    </div>

    <div class="clear"></div>


<script type="text/javascript" src="js/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="js/jquery.slideshow.minified.js"></script>
<script type="text/javascript" src="js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript" src="js/init.js"></script>
<script type="text/javascript" src="js/jquery.inlineFieldLabel.js"></script>

</div> <!-- end page container -->
