-# file: Service terms

#page.container_24
  #main_content.grid_22
    %h2 OpenShift Terms and Conditions

    %p
      This page provides a list of the terms and conditions that apply to your use of the OpenShift Services.
      
    %ul
      %li
        = link_to 'OpenShift Preview Services Agreement', '/app/legal/services_agreement.pdf'
      %li
        = link_to 'Acceptable Use Policy',
        '/app/legal/acceptable_use.pdf'
      
      %li
        = link_to 'Privacy Policy', 'http://www.redhat.com/legal/privacy_statement.html'
  
  .clear
