.payment_method
  - if payment_method.present?
    .card_number
      Credit card #: #### #### #### #{payment_method.cc_no}
    .card_expiration
      Expires #{payment_method.cc_exp_mm} / #{payment_method.cc_exp_yyyy}
  = link_to payment_method.blank? ? "Add a card to this account" : "Change card", edit_account_plan_upgrade_payment_method_path
