%section
  .row
    .span6
      .feature-block
        %h3 More gears
        %p Use up to 16 gears for new apps, scaling capacity and more.
        = link_to "Create a new application >", application_types_path, :class => 'action-more'
    .span6
      .feature-block
        %h3 World-class support
        %p Red Hat support is there for you, 24/7. Note that it may take a few hours for your support access to be enabled.
        = link_to "Browse the Customer Portal >", contact_customer_support_url, :class => 'action-more'

%section
  .row
    .span6
      .feature-block
        %h2
          .font-icon-block
            %span{:class => "font-icon font-icon-size-34", "data-icon" => "\ue012", "aria-hidden" => "true"}
            %span{:class => "font-icon font-icon-size-34 font-icon-green", "data-icon" => "\ue013", "aria-hidden" => "true"}
          Manage Scaling
        %p
          Application scaling enables your application to react to changes in traffic and automatically allocate the necessary resources to handle your current demand. The OpenShift infrastructure monitors incoming web traffic and automatically brings copies of your web cartridge online to handle requests.
          %a{:class => 'external', :href => community_scaling_url} Learn more
    .span6
      .feature-block
        %h2
          .font-icon-block
            %span{:class => "font-icon font-icon-size-34", "data-icon" => "\ue015", "aria-hidden" => "true"}
            %span{:class => "font-icon font-icon-size-34 font-icon-red", "data-icon" => "\ue016", "aria-hidden" => "true"}
          Change gear sizes
        %p
          By default, applications are deployed on small gears. Now that you have upgraded, you have access to medium gears that provide twice the RAM. You can specify medium gears for any application; just pick your platform and change gear size from the app configuration page.
          %a{:class => 'external', :href => faq_gear_sizes_url} Learn more
%section
  .row
    .span6
      .feature-block
        %h2
          .font-icon-block
            %span{:class => "font-icon font-icon-size-34", "data-icon" => "\ue008", "aria-hidden" => "true"}
            %span{:class => "font-icon font-icon-size-34 font-icon-blue", "data-icon" => "\ue009", "aria-hidden" => "true"}
          Add storage
        %p
          The cartridges that comprise your applications start with a 1GB storage quota. Now you can increase your storage quota 1GB at a time to a maximum of 6GB!
          %a{:class => 'external', :href => faq_add_on_storage_url} Learn more
    .span6
      .feature-block
        %h2
          .font-icon-block
            %span{:class => "font-icon font-icon-size-34", "data-icon" => "\ue000", "aria-hidden" => "true"}
          Upload custom SSL certificates
        %p
          Run your applications securely on OpenShift Online. With your upgrade you can now use SSL certificates with your apps for encypted client-server transactions.
          %a{:class => 'external', :href => faq_ssl_for_domains_url} Learn more
