- content_for :title, 'Set Account Information'

%h1 Account Cannot Be Upgraded

%section.panel
  %p
    At this time paid OpenShift Online access is only available to customers in a limited number of countries. We plan on expanding availability in the future. Please contact us at #{link_to_account_mailto} if you are interested in subscribing from another country.
  %p= link_to "Return to your account dashboard.", account_path
