%h1= "You have upgraded to the #{@plan.name} plan!"
%p Explore the benefits of your new plan

= render :partial => "upgrade_#{@plan.id}"
%section
  %h3 Ready to get started?
  %a{:class => "btn btn-primary", :href => application_types_path} Create a new application
  or view your
  %a{:href => account_path} account dashboard
