%h1= "You have upgraded to the #{@plan.name} plan!"
= render :partial => "upgrade_#{@plan.id}"
%section
  %h3 Manage your account
  %p
    View your billing history, manage your billing information and change your plan in the account management console.
    %a{:href => account_path} View your account &gt;
