    <link href="/assets/console.css?body=1" media="all" rel="stylesheet" type="text/css" />

    <a accesskey='2' class='skip-navigation' href='#content'>Skip to main content</a>
    <header>
      <div class='navbar'>
        <div class='navbar-inner'>
          <div class='container'>
            <ul class='navbar-text pull-right' id='utility-nav'>
              <li class='hidden-phone'><a href="https://openshift.redhat.com/community/" class="community">Community</a></li>
              <li class='hidden-phone'><a href="https://openshift.redhat.com/community/developers" class="developer">Developer Center</a></li>
              <li class='dropdown username hidden-phone'>
                <a href="/account" class="dropdown-toggle" data-target="#" data-toggle="dropdown">user</a>
                <ul class='dropdown-menu hidden-phone'>
                  <li><a href="/account">My Account</a></li>
                  <li><a href="/account/settings">Settings</a></li>
                  <li><a href="/logout" class="sign_out">Sign Out</a></li>
                </ul>
              </li>
            </ul>
            <a class='btn btn-navbar' data-target='.nav-collapse' data-toggle='collapse'>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
            </a>
            <div class='brand'>
              <a href="/"><span class="brand-image"></span><span class="brand-text headline"><strong>Open</strong>Shift</span>
              </a>
              <span class='navbar-text headline'>
                Management Console
              </span>
            </div>
            <div class='nav-collapse collapse'>
              <ul class="nav"><li><a href="/console/applications">My Applications</a></li>
              <li><a href="/console/application_types">Create Application</a></li>
              <li><a href="/console/help">Help</a></li>
              <li><a href="/account">My Account</a></li>
              </ul>
              <ul class='nav visible-phone'>
                <li><a href="https://openshift.redhat.com/community/" class="community">Community</a></li>
                <li><a href="https://openshift.redhat.com/community/developers" class="developer">Developer Center</a></li>
                <li><a href="/account/settings" class="settings">Settings</a></li>
              </ul>
              <ul class='nav visible-phone'>
                <li><a href="/logout" class="sign_out">Sign Out</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class='section-console section-console-light' id='content' role='main'>
      <div class='container'>
        <div class='row-console'>
          <div class='row row-flush-right'>
            <div class='grid-wrapper banner-ribbon'>
              <div class='span12 span-flush-right'>
                <nav>
                  <ul class="breadcrumb"><li class=""><a href="/account" action="show">My Account</a><span class="divider">/</span></li><li class="active">Bill Details</li></ul>
                </nav>
            </div>
          </div>
          
          <div class='column-content grid-wrapper'>
            <div class='span12'>
              
              <style>
  /*<![CDATA[*/
    select { vertical-align: top }
  /*]]>*/
</style>
<div class='row-fluid'>
  <div class='span8'>
    <h1 class='pull-left'>Bill Details</h1>
    <div class='pull-right'>
      <form accept-charset="UTF-8" action="/account/bills/locate" class="formtastic web_user" id="bill_form" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="3ET9hxGLv4esnvfWj3tuSZukMW70gpo4Zo+6IolyHUs=" /></div>
            <img alt="Working..." class="icon-loading" data-loading="true" src="/assets/loader.gif" style="display: none"></img>
            <select id="id" name="id" title="Bill date"><option value="">Bill date:</option>
            <option value="9658111">March 12th, 2013</option>
            <option value="9658101">March 12th, 2013</option>
            <option value="9658102">March 12th, 2013</option>
            <option value="9601096">March 7th, 2013</option>
            <option value="9601059">March 7th, 2013</option>
            <option value="9560564">March 5th, 2013</option>
            <option value="9301428" selected="selected">February 13th, 2013</option>
            <option value="9224728">February 8th, 2013</option>
            <option value="9161484">February 6th, 2013</option>
            <option value="9120815">February 4th, 2013</option>
            <option value="9038385">February 2nd, 2013</option>
            <option value="9038381">February 2nd, 2013</option>
            <option value="8965180">January 30th, 2013</option>
            <option value="8934666">January 29th, 2013</option>
            <option value="8772850">January 25th, 2013</option>
            <option value="8710332">January 23rd, 2013</option>
            <option value="8583637">January 19th, 2013</option>
            <option value="8552750">January 18th, 2013</option>
            <option value="8395845">January 13th, 2013</option>
            <option value="8334419">January 11th, 2013</option>
            <option value="7537314">December 15th, 2012</option>
            <option value="7478737">December 13th, 2012</option>
            <option value="6431301">November 13th, 2012</option>
            <option value="5510222">October 13th, 2012</option>
            <option value="5108351">September 14th, 2012</option></select>
            <noscript>
              <input class="btn" name="commit" type="submit" value="View" />
            </noscript>
            <a href="/account/bills/9301428/print" class="btn" target="_blank" title="Print the statement for this bill">Print</a>
            <a href="/account/bills/export" class="btn" target="_blank" title="Export all bills to a CSV file">Export All</a>
      </form>
    </div>
  </div>
</div>
<div class='row-fluid'>
  <div class='span8'>
    <section class='panel'>
      <h2>You were charged $301.83 on February 13th, 2013</h2>
      <style>
        /*<![CDATA[*/
          table.plan-items .plan-item-cost { text-align: right; }
        /*]]>*/
      </style>
      <table class='table table-striped plan-items'>
        <tr class='plan-item'>
          <td>&nbsp;</td>
          <td>Forwarded balance</td>
          <td>&nbsp;</td>
          <td class='plan-item-cost'>
            $247.64
          </td>
        </tr>
        <tr class='plan-item'>
          <td>2013-02-08</td>
          <td>
            Account Service Credit No. 79443
          </td>
          <td class='plan-item-rate'>
            Service Credit
          </td>
          <td class='plan-item-cost'>
            -$0.02
          </td>
        </tr>
        <tr class='plan-item'>
          <td>2013-02-13</td>
          <td>
            Plan: MegaShift
          </td>
          <td class='plan-item-rate'>
            $42.00 / month
          </td>
          <td class='plan-item-cost'>
            $42.00
          </td>
        </tr>
        <tr class='plan-item'>
          <td>2013-01-13</td>
          <td>
            Storage: Additional Gear
          </td>
          <td class='plan-item-rate'>
            1 @ $0.00 / gigabyte-hour
          </td>
          <td class='plan-item-cost'>
            $0.00
          </td>
        </tr>
        <tr class='plan-item'>
          <td>2013-01-13</td>
          <td>
            EAP Service
          </td>
          <td class='plan-item-rate'>
            0.12 @ $0.00 / unit
          </td>
          <td class='plan-item-cost'>
            $0.00
          </td>
        </tr>
        <tr class='plan-item'>
          <td>2013-01-13</td>
          <td>
            Gear: Small
          </td>
          <td class='plan-item-rate'>
            2 @ $0.00 / gear-hour
          </td>
          <td class='plan-item-cost'>
            $0.00
          </td>
        </tr>
        <tr class='plan-item'>
          <td>2013-01-13</td>
          <td>
            Gear: Small
          </td>
          <td class='plan-item-rate'>
            1 @ $0.03 / gear-hour
          </td>
          <td class='plan-item-cost'>
            $0.04
          </td>
        </tr>
        <tr class='plan-item'>
          <td>2013-01-13</td>
          <td>
            EAP Service
          </td>
          <td class='plan-item-rate'>
            6 @ $0.03 / unit
          </td>
          <td class='plan-item-cost'>
            $0.18
          </td>
        </tr>
        <tr class='plan-item'>
          <td>2013-01-13</td>
          <td>
            Gear: Small
          </td>
          <td class='plan-item-rate'>
            13 @ $0.04 / gear-hour
          </td>
          <td class='plan-item-cost'>
            $0.52
          </td>
        </tr>
        <tr class='plan-item'>
          <td>2013-01-13</td>
          <td>
            Gear: Small
          </td>
          <td class='plan-item-rate'>
            207 @ $0.05 / gear-hour
          </td>
          <td class='plan-item-cost'>
            $10.34
          </td>
        </tr>
        <tr class='plan-item'>
          <td>2013-01-13</td>
          <td>
            Gear: Small
          </td>
          <td class='plan-item-rate'>
            6 @ $0.06 / gear-hour
          </td>
          <td class='plan-item-cost'>
            $0.33
          </td>
        </tr>
        <tr class='plan-item'>
          <td>2013-01-13</td>
          <td>
            Gear: Small
          </td>
          <td class='plan-item-rate'>
            2 @ $0.07 / gear-hour
          </td>
          <td class='plan-item-cost'>
            $0.11
          </td>
        </tr>
        <tr class='plan-item'>
          <td>2013-01-13</td>
          <td>
            Gear: Small
          </td>
          <td class='plan-item-rate'>
            0.60 @ $0.08 / gear-hour
          </td>
          <td class='plan-item-cost'>
            $0.05
          </td>
        </tr>
        <tr class='plan-item'>
          <td>2013-01-13</td>
          <td>
            Gear: Small
          </td>
          <td class='plan-item-rate'>
            0.44 @ $0.09 / gear-hour
          </td>
          <td class='plan-item-cost'>
            $0.04
          </td>
        </tr>
        <tr class='plan-item'>
          <td>2013-01-13</td>
          <td>
            Gear: Small
          </td>
          <td class='plan-item-rate'>
            0.21 @ $0.10 / gear-hour
          </td>
          <td class='plan-item-cost'>
            $0.02
          </td>
        </tr>
        <tr class='plan-item'>
          <td>2013-01-13</td>
          <td>
            Gear: Medium
          </td>
          <td class='plan-item-rate'>
            0.28 @ $0.11 / gear-hour
          </td>
          <td class='plan-item-cost'>
            $0.03
          </td>
        </tr>
        <tr class='plan-item'>
          <td>2013-01-13</td>
          <td>
            Gear: Medium
          </td>
          <td class='plan-item-rate'>
            4 @ $0.12 / gear-hour
          </td>
          <td class='plan-item-cost'>
            $0.49
          </td>
        </tr>
        <tr class='plan-item'>
          <td>2013-01-13</td>
          <td>
            Gear: Medium
          </td>
          <td class='plan-item-rate'>
            0.43 @ $0.14 / gear-hour
          </td>
          <td class='plan-item-cost'>
            $0.06
          </td>
        </tr>
        <tr class='plan-total'>
          <td class='right' colspan='4'>
            <strong>Total charges:&nbsp; $301.83</strong>
          </td>
        </tr>
      </table>
    </section>
    <section class='panel'>
      <span class='pull-left'><a href="/account/bills/9224728">&lt; Previous bill</a></span>
      <span class='pull-right'><a href="/account/bills/9560564">Next bill &gt;</a></span>
      &nbsp;
    </section>
  </div>
  <div class='span4'>
    <section class='panel'>
      <h2>Compare Usage</h2>
      <table class='table table-condensed graph-horizontal usage-charges'>
          <caption>Usage Charges</caption>
          <tr>
            <td class='usage-period' scope='row'>Current</td>
            <td class='usage-data graph-data'
              ><div class='graph-element type-1'  style='width: 3%;'  title='EAP Service ($0.18)'>&nbsp;</div
              ><div class='graph-element type-2'  style='width: 4%;'  title='EAP Service ($0.18)'>&nbsp;</div
              ><div class='graph-element type-3'  style='width: 5%;'  title='EAP Service ($0.18)'>&nbsp;</div
              ><div class='graph-element type-4'  style='width: 6%;'  title='Gear: Medium ($0.58)'>&nbsp;</div
              ><div class='graph-element type-5'  style='width: 7%;' title='Gear: Small ($11.45)'>&nbsp;</div
              ><div class='graph-element type-6'  style='width: 8%;'  title='EAP Service ($0.18)'>&nbsp;</div
              ><div class='graph-element type-7'  style='width: 9%;' title='EAP Service ($0.18)'>&nbsp;</div
              ><div class='graph-element type-8'  style='width: 10%;'  title='EAP Service ($0.18)'>&nbsp;</div
              ><div class='graph-element type-9'  style='width: 11%;'  title='EAP Service ($0.18)'>&nbsp;</div
              ><div class='graph-element type-10' style='width: 12%;'  title='EAP Service ($0.18)'>&nbsp;</div></td>
            <td class='usage-amount'>$0.00</td>
          </tr>
          <tr>
            <td class='usage-period' scope='row'>This bill</td>
            <td class='usage-data graph-data'
              ><div class='graph-element type-1'  style='width: 5%;'  title='EAP Service ($0.18)'>&nbsp;</div
              ><div class='graph-element type-2'  style='width: 10%;'  title='EAP Service ($0.18)'>&nbsp;</div
              ><div class='graph-element type-3'  style='width: 5%;'  title='EAP Service ($0.18)'>&nbsp;</div
              ><div class='graph-element type-4'  style='width: 10%;'  title='Gear: Medium ($0.58)'>&nbsp;</div
              ><div class='graph-element type-5'  style='width: 20%;' title='Gear: Small ($11.45)'>&nbsp;</div
              ><div class='graph-element type-6'  style='width: 5%;'  title='EAP Service ($0.18)'>&nbsp;</div
              ><div class='graph-element type-7'  style='width: 10%;' title='EAP Service ($0.18)'>&nbsp;</div
              ><div class='graph-element type-8'  style='width: 5%;'  title='EAP Service ($0.18)'>&nbsp;</div
              ><div class='graph-element type-9'  style='width: 10%;'  title='EAP Service ($0.18)'>&nbsp;</div
              ><div class='graph-element type-10' style='width: 20%;'  title='EAP Service ($0.18)'>&nbsp;</div></td>
            <td class='usage-amount'>$12.21</td>
          </tr>
        </table>
        <table class='table table-condensed graph-horizontal usage-charges'>
          <caption>EAP Service</caption>
          <tr>
            <td class='usage-period' scope='row'>Current</td>
            <td class='usage-data graph-data'><div class='graph-element type-1' style='width: 0%;'>&nbsp;</div></td>
            <td class='usage-amount'>0.0 units</td>
          </tr>
          <tr>
            <td class='usage-period' scope='row'>This bill</td>
            <td class='usage-data graph-data'><div class='graph-element type-1' style='width: 99%;'>&nbsp;</div></td>
            <td class='usage-amount'>6.06 units</td>
          </tr>
        </table>
        <table class='table table-condensed graph-horizontal usage-charges'>
          <caption>Gear: Medium</caption>
          <tr>
            <td class='usage-period' scope='row'>Current</td>
            <td class='usage-data graph-data'><div class='graph-element type-2' style='width: 37%;'>&nbsp;</div></td>
            <td class='usage-amount'>1.81 gear-hours</td>
          </tr>
          <tr>
            <td class='usage-period' scope='row'>This bill</td>
            <td class='usage-data graph-data'><div class='graph-element type-2' style='width: 100%;'>&nbsp;</div></td>
            <td class='usage-amount'>4.82 gear-hours</td>
          </tr>
        </table>
        <table class='table table-condensed graph-horizontal usage-charges'>
          <caption>Storage: Additional Gear</caption>
          <tr>
            <td class='usage-period' scope='row'>Current</td>
            <td class='usage-data graph-data'><div class='graph-element type-3' style='width: 80%;'>&nbsp;</div></td>
            <td class='usage-amount'>1.19 gigabyte-hours</td>
          </tr>
          <tr>
            <td class='usage-period' scope='row'>This bill</td>
            <td class='usage-data graph-data'><div class='graph-element type-3' style='width: 100%;'>&nbsp;</div></td>
            <td class='usage-amount'>1.47 gigabyte-hours</td>
          </tr>
        </table>
        <table class='table table-condensed graph-horizontal usage-charges'>
          <caption>EAP Gear</caption>
          <tr>
            <td class='usage-period' scope='row'>Current</td>
            <td class='usage-data graph-data'><div class='graph-element type-4' style='width: 100%;'>&nbsp;</div></td>
            <td class='usage-amount'>0.06 units</td>
          </tr>
          <tr>
            <td class='usage-period' scope='row'>This bill</td>
            <td class='usage-data graph-data'><div class='graph-element type-4' style='width: 0%;'>&nbsp;</div></td>
            <td class='usage-amount'>0.0 units</td>
          </tr>
        </table>
        <table class='table table-condensed graph-horizontal usage-charges'>
          <caption>Gear: Small</caption>
          <tr>
            <td class='usage-period' scope='row'>Current</td>
            <td class='usage-data graph-data'><div class='graph-element type-5' style='width: 5%;'>&nbsp;</div></td>
            <td class='usage-amount'>13.18 gear-hours</td>
          </tr>
          <tr>
            <td class='usage-period' scope='row'>This bill</td>
            <td class='usage-data graph-data'><div class='graph-element type-5' style='width: 100%;'>&nbsp;</div></td>
            <td class='usage-amount'>231.69 gear-hours</td>
          </tr>
        </table>
        <table class='table table-condensed graph-horizontal usage-charges'>
          <caption>Usage Type: 6</caption>
          <tr>
            <td class='usage-period' scope='row'>Current</td>
            <td class='usage-data graph-data'><div class='graph-element type-6' style='width: 5%;'>&nbsp;</div></td>
            <td class='usage-amount'>13.18 gear-hours</td>
          </tr>
          <tr>
            <td class='usage-period' scope='row'>This bill</td>
            <td class='usage-data graph-data'><div class='graph-element type-6' style='width: 100%;'>&nbsp;</div></td>
            <td class='usage-amount'>231.69 gear-hours</td>
          </tr>
        </table>
        <table class='table table-condensed graph-horizontal usage-charges'>
          <caption>Usage Type: 7</caption>
          <tr>
            <td class='usage-period' scope='row'>Current</td>
            <td class='usage-data graph-data'><div class='graph-element type-7' style='width: 5%;'>&nbsp;</div></td>
            <td class='usage-amount'>13.18 gear-hours</td>
          </tr>
          <tr>
            <td class='usage-period' scope='row'>This bill</td>
            <td class='usage-data graph-data'><div class='graph-element type-7' style='width: 100%;'>&nbsp;</div></td>
            <td class='usage-amount'>231.69 gear-hours</td>
          </tr>
        </table>
        <table class='table table-condensed graph-horizontal usage-charges'>
          <caption>Usage Type: 8</caption>
          <tr>
            <td class='usage-period' scope='row'>Current</td>
            <td class='usage-data graph-data'><div class='graph-element type-8' style='width: 5%;'>&nbsp;</div></td>
            <td class='usage-amount'>13.18 gear-hours</td>
          </tr>
          <tr>
            <td class='usage-period' scope='row'>This bill</td>
            <td class='usage-data graph-data'><div class='graph-element type-8' style='width: 100%;'>&nbsp;</div></td>
            <td class='usage-amount'>231.69 gear-hours</td>
          </tr>
        </table>
        <table class='table table-condensed graph-horizontal usage-charges'>
          <caption>Usage Type: 9</caption>
          <tr>
            <td class='usage-period' scope='row'>Current</td>
            <td class='usage-data graph-data'><div class='graph-element type-9' style='width: 5%;'>&nbsp;</div></td>
            <td class='usage-amount'>13.18 gear-hours</td>
          </tr>
          <tr>
            <td class='usage-period' scope='row'>This bill</td>
            <td class='usage-data graph-data'><div class='graph-element type-9' style='width: 100%;'>&nbsp;</div></td>
            <td class='usage-amount'>231.69 gear-hours</td>
          </tr>
        </table>
        <table class='table table-condensed graph-horizontal usage-charges'>
          <caption>Usage Type: 10</caption>
          <tr>
            <td class='usage-period' scope='row'>Current</td>
            <td class='usage-data graph-data'><div class='graph-element type-10' style='width: 5%;'>&nbsp;</div></td>
            <td class='usage-amount'>13.18 gear-hours</td>
          </tr>
          <tr>
            <td class='usage-period' scope='row'>This bill</td>
            <td class='usage-data graph-data'><div class='graph-element type-10' style='width: 100%;'>&nbsp;</div></td>
            <td class='usage-amount'>231.69 gear-hours</td>
          </tr>
        </table>
      <p>
        Day 43 of billing cycle February 13th - March 12th
      </p>
    </section>
    <section class='panel'>
      <h2>Got Questions?</h2>
      <h3><a href="/account/help">Account Help</a></h3>
      <h3><a href="/account/help">Community Support</a></h3>
    </section>
  </div>
</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    
    <div id='footer-nav'>
      <div class='container'>
        <div class='row'>
          <nav class='span3'>
            <header>
              <h3><a href="https://openshift.redhat.com/community/developers">Developers</a></h3>
            </header>
            <ul class='unstyled'>
              <li><a href="https://openshift.redhat.com/community/get-started">Get Started</a></li>
              <li><a href="http://access.redhat.com/knowledge/docs/en-US/OpenShift/2.0/html/User_Guide/index.html">User Guide</a></li>
              <li><a href="https://openshift.redhat.com/community/faq">FAQ</a></li>
              <li><a href="https://openshift.redhat.com/community/developers/pricing">Pricing</a></li>
            </ul>
          </nav>
          <nav class='span3'>
            <header>
              <h3><a href="https://openshift.redhat.com/community/">Community</a></h3>
            </header>
            <ul class='unstyled'>
              <li><a href="https://openshift.redhat.com/community/blogs">Blog</a></li>
              <li><a href="https://openshift.redhat.com/community/forums/openshift">Forum</a></li>
              <li><a href="http://webchat.freenode.net/?randomnick=1&amp;channels=openshift&amp;uio=d4">IRC Channel</a></li>
              <li><a href="mailto:openshift@redhat.com">Feedback</a></li>
            </ul>
          </nav>
          <nav class='span3'>
            <header>
              <h3><a href="https://openshift.redhat.com/community/get-involved">Get Involved</a></h3>
            </header>
            <ul class='unstyled'>
              <li><a href="https://openshift.redhat.com/community/open-source">Open Source</a></li>
              <li><a href="https://openshift.redhat.com/community/partners">Partners</a></li>
              <li><a href="https://github.com/openshift">OpenShift on GitHub</a></li>
              <li><a href="https://openshift.redhat.com/community/newsletter/signup">Newsletter sign up</a></li>
            </ul>
          </nav>
          <nav class='span3'>
            <header>
              <h3><a href="/account">Account</a></h3>
            </header>
            <ul class='unstyled'>
              <li><a href="https://openshift.redhat.com/community/legal/site_terms">Terms of Service</a></li>
              <li><a href="https://openshift.redhat.com/community/legal/openshift_privacy">Privacy Policy</a></li>
              <li><a href="https://openshift.redhat.com/community/policy/security">Security Policy</a></li>
              <li><a href="https://openshift.redhat.com/community/developers/pricing">Plans</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <section id='copyright'>
      <div class='container'>
        <a href='https://www.redhat.com/'>
          <img alt='Red Hat' src='/assets/redhat.png'>
        </a>
        <div class='pull-right'>Copyright &copy; 2013 Red Hat, Inc.</div>
      </div>
    </section>
  </footer>
  <script>
    //<![CDATA[
      window.loader_image = '/assets/loader-dark.gif';
    //]]>
  </script>
