:css
  @font-face {
    font-family: 'OverpassXXXBold';
    src:url('../stylesheets/fonts/overpass-bold-wf.eot');
    src:url('../stylesheets/fonts/overpass-bold-wf.eot?#iefix') format('eot'),
        url('../stylesheets/fonts/overpass-bold-wf.woff') format('woff'),
        url('../stylesheets/fonts/overpass-bold-wf.ttf') format('truetype'),
        url('../stylesheets/fonts/overpass-bold-wf.svg#webfontzRhIMntw') format('svg');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'OverpassMixed';
    src:url('../stylesheets/fonts/overpass-bold-wf.eot');
    src:url('../stylesheets/fonts/overpass-bold-wf.eot?#iefix') format('eot'),
        url('../stylesheets/fonts/overpass-bold-wf.woff') format('woff'),
        url('../stylesheets/fonts/overpass-bold-wf.ttf') format('truetype'),
        url('../stylesheets/fonts/overpass-bold-wf.svg#webfontzRhIMntw') format('svg');
  }
  
  @font-face {
    font-family: 'overpassffkit';
    src:url('../stylesheets/fonts/overpass-wf.eot');
    src:url('../stylesheets/fonts/overpass-wf.eot?#iefix') format('eot'),
        url('../stylesheets/fonts/overpass-wf.woff') format('woff'),
        url('../stylesheets/fonts/ff-kit/Overpass.ttf') format('truetype'),
        url('../stylesheets/fonts/overpass-wf.svg#webfontiqWxLEM5') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'OverpassNewer';
    src:url('../stylesheets/fonts/overpass-wf.eot');
    src:url('../stylesheets/fonts/overpass-wf.eot?#iefix') format('eot'),
        url('../stylesheets/fonts/overpass_regular-web.woff') format('woff'),
        url('../stylesheets/fonts/overpass-wf.ttf') format('truetype'),
        url('../stylesheets/fonts/overpass-wf.svg#webfontiqWxLEM5') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'OverpassNewer';
    src:url('../stylesheets/fonts/overpass-bold-wf.eot');
    src:url('../stylesheets/fonts/overpass-bold-wf.eot?#iefix') format('eot'),
        url('../stylesheets/fonts/overpass_bold-web.woff') format('woff'),
        url('../stylesheets/fonts/overpass-bold-wf.ttf') format('truetype'),
        url('../stylesheets/fonts/overpass-bold-wf.svg#webfontzRhIMntw') format('svg');
    font-weight: bold;
    font-style: normal;
  }
  

  @font-face {
    font-family: 'Overpass';
    src:url('../stylesheets/fonts/overpass-wf.eot');
    src:url('../stylesheets/fonts/overpass-wf.eot?#iefix') format('eot'),
        url('../stylesheets/fonts/overpassx-wf.woff') format('woff'),
        url('../stylesheets/fonts/overpass-wf.ttf') format('truetype'),
        url('../stylesheets/fonts/overpass-wf.svg#webfontiqWxLEM5') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  body { font-size: 28px; }
  div { margin: 20px 0; }

  .overpass-normal { font-family: Overpass; }
  .overpass-bold { font-family: OverpassBold; }
  .overpass-mixed { font-family: OverpassMixed; }
  .overpass-ff-kit { font-family: overpassffkit; }
  .overpass-new { font-family: OverpassNewer; }
  .overpass-new-bold { font-family: OverpassNewerBold; }

.overpass-normal
  The quick brown fox jumped over the lazy dog

.overpass-normal
  %strong> OPEN
  SHIFT

.overpass-bold
  %strong> OPEN
  SHIFT

.overpass-mixed
  %strong> OPEN
  SHIFT

.overpass-ffkit
  %strong> OPEN
  SHIFT

.overpass-new
  %strong> OPEN
  SHIFT

.overpass-new-bold
  %strong> OPEN
  SHIFT
