<!doctype html>
<html>
<head>
<title>Your Font/Glyphs</title>
<link rel="stylesheet" href="style.css" />
<!--[if lte IE 7]><script src="lte-ie7.js"></script><![endif]-->
<style>
body {color: #ddd; margin: 2em;background-color: #111;}
section, header, footer {display: block;}
section {margin-bottom: 3em;}
.box1 {
  display: inline-block;
  float: left;
  margin: 0;
  padding: .5em 1.5em;
  width: 20em;
  -moz-box-sizing: border-box;
  box-sizing:border-box;
  -webkit-box-sizing: border-box;
  background-color: #222;
}
.glyph input {
  background-color: transparent;
    border: 0 none;
    bottom: 0;
    color: #767676;
    left: 0;
    padding: 2px;
    position: absolute;
    width: 100%;
		text-align: center;
		font-family: consolas, monospace;
		box-shadow: none;
}
.glyph input[readonly] {
  border: 0 !important;
  padding: 0;
}
.glyph input, .mtm {
		margin-top: .75em;
	}
.glyph {
  position: relative;
  background-color: #222;
  padding: 2em 1em 1em 1em;
  float: left;
  text-align: center;
  margin: 1px;
  width: 2em;
  height: 2em;
  font-size: 34px;
  color: #eee;
  }
footer {display: none;}
</style>
<link type="text/css" href="/app/assets/console.css" rel="stylesheet" />
<link type="text/css" href="/app/assets/iconfont.css" rel="stylesheet" />
<link type="text/css" href="/app/assets/openshift-icon.css" rel="stylesheet" /> 
</head>
<body>
	<div class="w-main centered">
	<section class="mtm clearfix" id="glyphs">
	<header>
		<h1>OpenShift icon font set</h1>
	</header>
	<p>
	 <strong>Code example</strong>
	 <pre>&lt;span aria-hidden="true" data-icon="&amp;#xe000;"&gt; &lt;/span&gt;<br />note: &lt;div class="glyph"&gt; is only for styleguide presentation</pre>
	</p>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xe000;"></span>
		<input type="text" readonly="readonly" value="&amp;#xe000;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xe001;"></span>
		<input type="text" readonly="readonly" value="&amp;#xe001;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xe002;"></span>
		<input type="text" readonly="readonly" value="&amp;#xe002;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xe003;"></span>
		<input type="text" readonly="readonly" value="&amp;#xe003;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xe004;"></span>
		<input type="text" readonly="readonly" value="&amp;#xe004;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xe005;"></span>
		<input type="text" readonly="readonly" value="&amp;#xe005;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xe006;"></span>
		<input type="text" readonly="readonly" value="&amp;#xe006;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xe007;"></span>
		<input type="text" readonly="readonly" value="&amp;#xe007;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xe008;"></span>
		<input type="text" readonly="readonly" value="&amp;#xe008;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xe009;"></span>
		<input type="text" readonly="readonly" value="&amp;#xe009;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xe010;"></span>
		<input type="text" readonly="readonly" value="&amp;#xe010;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xe011;"></span>
		<input type="text" readonly="readonly" value="&amp;#xe011;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xe012;"></span>
		<input type="text" readonly="readonly" value="&amp;#xe012;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xe013;"></span>
		<input type="text" readonly="readonly" value="&amp;#xe013;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xe014;"></span>
		<input type="text" readonly="readonly" value="&amp;#xe014;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xe015;"></span>
		<input type="text" readonly="readonly" value="&amp;#xe015;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xe016;"></span>
		<input type="text" readonly="readonly" value="&amp;#xe016;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xe017;"></span>
		<input type="text" readonly="readonly" value="&amp;#xe017;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xe018;"></span>
		<input type="text" readonly="readonly" value="&amp;#xe018;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xe019;"></span>
		<input type="text" readonly="readonly" value="&amp;#xe019;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xe020;"></span>
		<input type="text" readonly="readonly" value="&amp;#xe020;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xe021;"></span>
		<input type="text" readonly="readonly" value="&amp;#xe021;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xe022;"></span>
		<input type="text" readonly="readonly" value="&amp;#xe022;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xe023;"></span>
		<input type="text" readonly="readonly" value="&amp;#xe023;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xe024;"></span>
		<input type="text" readonly="readonly" value="&amp;#xe024;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xe025;"></span>
		<input type="text" readonly="readonly" value="&amp;#xe025;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xe026;"></span>
		<input type="text" readonly="readonly" value="&amp;#xe026;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xe027;"></span>
		<input type="text" readonly="readonly" value="&amp;#xe027;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xe028;"></span>
		<input type="text" readonly="readonly" value="&amp;#xe028;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xe029;"></span>
		<input type="text" readonly="readonly" value="&amp;#xe029;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xe030;"></span>
		<input type="text" readonly="readonly" value="&amp;#xe030;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xe031;"></span>
		<input type="text" readonly="readonly" value="&amp;#xe031;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xee00;"></span>
		<input type="text" readonly="readonly" value="&amp;#xee00;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xee01;"></span>
		<input type="text" readonly="readonly" value="&amp;#xee01;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xee02;"></span>
		<input type="text" readonly="readonly" value="&amp;#xee02;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xee03;"></span>
		<input type="text" readonly="readonly" value="&amp;#xee03;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xee04;"></span>
		<input type="text" readonly="readonly" value="&amp;#xee04;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xee05;"></span>
		<input type="text" readonly="readonly" value="&amp;#xee05;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xee06;"></span>
		<input type="text" readonly="readonly" value="&amp;#xee06;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xee07;"></span>
		<input type="text" readonly="readonly" value="&amp;#xee07;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xee08;"></span>
		<input type="text" readonly="readonly" value="&amp;#xee08;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xee09;"></span>
		<input type="text" readonly="readonly" value="&amp;#xee09;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xee10;"></span>
		<input type="text" readonly="readonly" value="&amp;#xee10;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xee11;"></span>
		<input type="text" readonly="readonly" value="&amp;#xee11;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xee12;"></span>
		<input type="text" readonly="readonly" value="&amp;#xee12;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xee13;"></span>
		<input type="text" readonly="readonly" value="&amp;#xee13;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xee14;"></span>
		<input type="text" readonly="readonly" value="&amp;#xee14;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xee15;"></span>
		<input type="text" readonly="readonly" value="&amp;#xee15;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xee16;"></span>
		<input type="text" readonly="readonly" value="&amp;#xee16;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xee17;"></span>
		<input type="text" readonly="readonly" value="&amp;#xee17;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xe032;"></span>
		<input type="text" readonly="readonly" value="&amp;#xe032;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xe033;"></span>
		<input type="text" readonly="readonly" value="&amp;#xe033;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xee18;"></span>
		<input type="text" readonly="readonly" value="&amp;#xee18;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xee19;"></span>
		<input type="text" readonly="readonly" value="&amp;#xee19;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xee20;"></span>
		<input type="text" readonly="readonly" value="&amp;#xee20;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xee21;"></span>
		<input type="text" readonly="readonly" value="&amp;#xee21;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xee22;"></span>
		<input type="text" readonly="readonly" value="&amp;#xee22;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xee23;"></span>
		<input type="text" readonly="readonly" value="&amp;#xee23;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xee24;"></span>
		<input type="text" readonly="readonly" value="&amp;#xee24;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xee25;"></span>
		<input type="text" readonly="readonly" value="&amp;#xee25;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xee26;"></span>
		<input type="text" readonly="readonly" value="&amp;#xee26;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xee27;"></span>
		<input type="text" readonly="readonly" value="&amp;#xee27;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xee28;"></span>
		<input type="text" readonly="readonly" value="&amp;#xee28;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xee29;"></span>
		<input type="text" readonly="readonly" value="&amp;#xee29;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xee30;"></span>
		<input type="text" readonly="readonly" value="&amp;#xee30;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xee31;"></span>
		<input type="text" readonly="readonly" value="&amp;#xee31;" />
	</div>
	<div class="glyph">
		<span class="font-icon" aria-hidden="true" data-icon="&#xee32;"></span>
		<input type="text" readonly="readonly" value="&amp;#xee32;" />
	</div>
	</section>
	

	
	<section class="mtm clearfix" id="glyphs">
	<header>
    <h2>Glyph combinations</h2>
  </header>
	<p>
	 <strong>Code example</strong>
	 <pre>&lt;span class="font-icon-block"><br />&lt;span class="font-icon font-icon-size-34" aria-hidden="true" data-icon="&amp;#xe018;">&lt;/span><br />&lt;span class="font-icon font-icon-size-34 font-icon-red" aria-hidden="true" data-icon="&amp;#xe016;">&lt;/span><br />&lt;/span></pre>
	</p>
    <div class="glyph">
    <div class="font-icon-block">
  	  <span class="font-icon font-icon-size-34" aria-hidden="true" data-icon="&#xe018;"></span>
  	  <span class="font-icon font-icon-size-34 font-icon-red" aria-hidden="true" data-icon="&#xe016;"><span class="gear-number gear-sm">8</span></span>
    </div>
  	</div>
  	<div class="glyph">
  	<div class="font-icon-block">
  	  <span class="font-icon font-icon-size-34" aria-hidden="true" data-icon="&#xe015;"></span>
  	  <span class="font-icon font-icon-size-34 font-icon-red" aria-hidden="true" data-icon="&#xe016;"><span class="gear-number gear-lg">8</span></span>
  	</div>
  	</div>
  	<div class="glyph">
  	<div class="font-icon-block">
      <span class="font-icon font-icon-size-34" aria-hidden="true" data-icon="&#xe023;"></span>
      <span class="font-icon font-icon-size-34 font-icon-green" aria-hidden="true" data-icon="&#xe025;"></span>
  	</div>
  	</div>
  	<div class="glyph">
  	<div class="font-icon-block">
      <span class="font-icon font-icon-size-34" aria-hidden="true" data-icon="&#xe023;"></span>
      <span class="font-icon font-icon-size-34 font-icon-red" aria-hidden="true" data-icon="&#xe024;"></span>
  	</div>
  	</div>
  	<div class="glyph">
  	<div class="font-icon-block">	
    	<span class="font-icon font-icon-size-34" aria-hidden="true" data-icon="&#xe012;"></span>
  	  <span class="font-icon font-icon-size-34 font-icon-grey" aria-hidden="true" data-icon="&#xe013;"></span>
  	</div>
  	</div>
  	<div class="glyph">
  	<div class="font-icon-block"> 	
    	<span class="font-icon font-icon-size-34" aria-hidden="true" data-icon="&#xe010;"></span>
  	  <span class="font-icon font-icon-size-34 font-icon-grey" aria-hidden="true" data-icon="&#xe011;"></span>
  	</div>
  	</div>
  	
  	<div class="clear"></div>
  	<div class="glyph"> 
  	<div class="font-icon-block">	
    	<span class="font-icon font-icon-size-34" aria-hidden="true" data-icon="&#xe021;"></span>
  	  <span class="font-icon font-icon-size-34 font-icon-grey" aria-hidden="true" data-icon="&#xe022;"></span>
  	</div>
  	</div>
  	<div class="glyph">  
  	<div class="font-icon-block">	
    	<span class="font-icon font-icon-size-34" aria-hidden="true" data-icon="&#xe021;"></span>
  	  <span class="font-icon font-icon-size-34 font-icon-red" aria-hidden="true" data-icon="&#xe022;"></span>
  	</div>
  	</div>
  	<div class="glyph">  
  	<div class="font-icon-block">	
    	<span class="font-icon font-icon-size-34" aria-hidden="true" data-icon="&#xe021;"></span>
  	  <span class="font-icon font-icon-size-34 font-icon-blue" aria-hidden="true" data-icon="&#xe022;"></span>
  	</div>
  	</div>
  	<div class="glyph">  
  	<div class="font-icon-block">	
    	<span class="font-icon font-icon-size-34" aria-hidden="true" data-icon="&#xe021;"></span>
  	  <span class="font-icon font-icon-size-34 font-icon-green" aria-hidden="true" data-icon="&#xe022;"></span>
  	</div>
  	</div>
  	<div class="glyph">  
  	<div class="font-icon-block">	
    	<span class="font-icon font-icon-size-34" aria-hidden="true" data-icon="&#xe021;"></span>
  	  <span class="font-icon font-icon-size-34 font-icon-orange" aria-hidden="true" data-icon="&#xe022;"></span>
  	</div>
  	</div>
  	
  	<div class="clear"></div>
  	<div class="glyph">  	
  	<div class="font-icon-block">
    	<span class="font-icon font-icon-size-34" aria-hidden="true" data-icon="&#xe027;"></span>
  	  <span class="font-icon font-icon-size-34 font-icon-grey" aria-hidden="true" data-icon="&#xe028;"></span>
  	</div>
  	</div>
  	<div class="glyph">  	
  	<div class="font-icon-block">
    	<span class="font-icon font-icon-size-34" aria-hidden="true" data-icon="&#xe027;"></span>
  	  <span class="font-icon font-icon-size-34 font-icon-red" aria-hidden="true" data-icon="&#xe028;"></span>
  	</div>
  	</div>
  	<div class="glyph">  
  	<div class="font-icon-block">	
    	<span class="font-icon font-icon-size-34" aria-hidden="true" data-icon="&#xe027;"></span>
  	  <span class="font-icon font-icon-size-34 font-icon-blue" aria-hidden="true" data-icon="&#xe028;"></span>
  	</div>
  	</div>
  	<div class="glyph">  	
  	<div class="font-icon-block">
    	<span class="font-icon font-icon-size-34" aria-hidden="true" data-icon="&#xe027;"></span>
  	  <span class="font-icon font-icon-size-34 font-icon-green" aria-hidden="true" data-icon="&#xe028;"></span>
  	</div>
  	</div>
  	<div class="glyph">  	
  	<div class="font-icon-block">
    	<span class="font-icon font-icon-size-34" aria-hidden="true" data-icon="&#xe027;"></span>
  	  <span class="font-icon font-icon-size-34 font-icon-orange" aria-hidden="true" data-icon="&#xe028;"></span>
  	</div>
  	</div>
  	
  	<div class="clear"></div>
  	<div class="glyph">  	
  	<div class="font-icon-block">
    	<span class="font-icon font-icon-size-34" aria-hidden="true" data-icon="&#xe008;"></span>
  	  <span class="font-icon font-icon-size-34 font-icon-grey" aria-hidden="true" data-icon="&#xe009;"></span>
  	</div>
  	</div>
  	<div class="glyph">  	
  	<div class="font-icon-block">
    	<span class="font-icon font-icon-size-34" aria-hidden="true" data-icon="&#xe008;"></span>
  	  <span class="font-icon font-icon-size-34 font-icon-red" aria-hidden="true" data-icon="&#xe009;"></span>
  	</div>
  	</div>
  	<div class="glyph">  	
  	<div class="font-icon-block">
    	<span class="font-icon font-icon-size-34" aria-hidden="true" data-icon="&#xe008;"></span>
  	  <span class="font-icon font-icon-size-34 font-icon-blue" aria-hidden="true" data-icon="&#xe009;"></span>
  	</div>
  	</div>
  	<div class="glyph">  	
  	<div class="font-icon-block">
    	<span class="font-icon font-icon-size-34" aria-hidden="true" data-icon="&#xe008;"></span>
  	  <span class="font-icon font-icon-size-34 font-icon-green" aria-hidden="true" data-icon="&#xe009;"></span>
  	</div>
  	</div>
  	<div class="glyph">  	
  	<div class="font-icon-block">
    	<span class="font-icon font-icon-size-34" aria-hidden="true" data-icon="&#xe008;"></span>
  	  <span class="font-icon font-icon-size-34 font-icon-orange" aria-hidden="true" data-icon="&#xe009;"></span>
  	</div>
  	</div>
  	
  	<div class="clear"></div>
  	<div class="glyph">
  	<div class="font-icon-block">
    	<span class="font-icon font-icon-size-34 font-icon-grey" aria-hidden="true" data-icon="&#xe032;"></span>
  	  <span class="font-icon font-icon-size-34" aria-hidden="true" data-icon="&#xe033;"></span>
  	</div>
  	</div>
  	<div class="glyph">  	
  	<div class="font-icon-block">
    	<span class="font-icon font-icon-size-34 font-icon-red" aria-hidden="true" data-icon="&#xe032;"></span>
  	  <span class="font-icon font-icon-size-34 font-icon" aria-hidden="true" data-icon="&#xe033;"></span>
  	</div>
  	</div>
  	<div class="glyph">  	
  	<div class="font-icon-block">
    	<span class="font-icon font-icon-size-34 font-icon-blue" aria-hidden="true" data-icon="&#xe032;"></span>
  	  <span class="font-icon font-icon-size-34 font-icon" aria-hidden="true" data-icon="&#xe033;"></span>
  	</div>
  	</div>
  	<div class="glyph">  	
  	<div class="font-icon-block">
    	<span class="font-icon font-icon-size-34 font-icon-green" aria-hidden="true" data-icon="&#xe032;"></span>
  	  <span class="font-icon font-icon-size-34 font-icon" aria-hidden="true" data-icon="&#xe033;"></span>
  	</div>
  	</div>
  	<div class="glyph">
  	<div class="font-icon-block">  	
    	<span class="font-icon font-icon-size-34 font-icon-orange" aria-hidden="true" data-icon="&#xe032;"></span>
  	  <span class="font-icon font-icon-size-34 font-icon" aria-hidden="true" data-icon="&#xe033;"></span>
  	</div>
  	</div>
	</section>

	
	
	
	
	
	
	
	<div class="clear"></div>
	<section class="mtm clearfix" id="glyphs">
	<header>
		<h1>Class Names</h1>
		<p>Option to display icon using class selectors.</p>
	</header>
	<p>
	<strong>Code example</strong>
	<pre>&lt;span aria-hidden="true" class="icon-class"&gt; &lt;/span&gt;<br />note: &lt;span class="box1"&gt; is only for styleguide presentation</pre>
	</p>
	<span class="box1">
		<span aria-hidden="true" class="icon-lock"></span>
		icon-lock
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-unlock"></span>
		icon-unlock
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-outgoing-link"></span>
		icon-outgoing-link
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-arrow-sm-right"></span>
		icon-arrow-sm-right
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-arrow-sm-left"></span>
		icon-arrow-sm-left
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-arrow-sm-down"></span>
		icon-arrow-sm-down
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-arrow-sm-up"></span>
		icon-arrow-sm-up
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-arrow-lg-right"></span>
		icon-arrow-lg-right
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-data-store-part1"></span>
		icon-data-store-part1
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-data-store-part2"></span>
		icon-data-store-part2
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-non-scalable-part1"></span>
		icon-non-scalable-part1
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-non-scalable-part2"></span>
		icon-non-scalable-part2
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-scalable-part1"></span>
		icon-scalable-part1
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-scalable-part2"></span>
		icon-scalable-part2
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-gear-lg"></span>
		icon-gear-lg
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-gear-lg-sans-circle"></span>
		icon-gear-lg-sans-circle
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-gear-number-circle"></span>
		icon-gear-number-circle
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-gear-sm"></span>
		icon-gear-sm
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-gear-sm-sans-circle"></span>
		icon-gear-sm-sans-circle
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-web-stack-lg"></span>
		icon-web-stack-lg
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-restart"></span>
		icon-restart
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-cartridge-part1"></span>
		icon-cartridge-part1
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-cartridge-part2"></span>
		icon-cartridge-part2
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-ci-arrows"></span>
		icon-ci-arrows
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-ci-x"></span>
		icon-ci-x
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-ci-check"></span>
		icon-ci-check
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-ci-disabled"></span>
		icon-ci-disabled
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-management-part2"></span>
		icon-management-part2
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-management-part1"></span>
		icon-management-part1
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-quickstart"></span>
		icon-quickstart
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-start"></span>
		icon-start
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-stop"></span>
		icon-stop
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-calendar"></span>
		icon-calendar
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-warning-sign"></span>
		icon-warning-sign
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-question-sign"></span>
		icon-question-sign
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-search"></span>
		icon-search
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-twitter"></span>
		icon-twitter
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-facebook"></span>
		icon-facebook
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-google-plus"></span>
		icon-google-plus
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-info-sign"></span>
		icon-info-sign
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-bubbles"></span>
		icon-bubbles
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-stackoverflow"></span>
		icon-stackoverflow
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-code"></span>
		icon-code
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-github"></span>
		icon-github
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-angle-down"></span>
		icon-angle-down
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-angle-up"></span>
		icon-angle-up
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-angle-right"></span>
		icon-angle-right
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-angle-left"></span>
		icon-angle-left
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-plus"></span>
		icon-plus
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-minus"></span>
		icon-minus
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-system-signal-lg"></span>
		icon-system-signal-lg
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-system-lg"></span>
		icon-system-lg
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-pencil"></span>
		icon-pencil
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-remove-circle"></span>
		icon-remove-circle
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-ban-circle"></span>
		icon-ban-circle
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-ok"></span>
		icon-ok
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-remove"></span>
		icon-remove
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-check"></span>
		icon-check
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-check-empty"></span>
		icon-check-empty
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-download-alt"></span>
		icon-download-alt
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-cloud"></span>
		icon-cloud
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-cogs"></span>
		icon-cogs
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-star-empty"></span>
		icon-star-empty
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-bolt"></span>
		icon-bolt
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-time"></span>
		icon-time
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-busy"></span>
		icon-busy
	</span>
	<span class="box1">
		<span aria-hidden="true" class="icon-list-ol"></span>
		icon-list-ol
	</span>
	</section>
	<footer>
		<p>Generated by <a href="http://icomoon.io">IcoMoon.io</a></p>
	</footer>
	</div>
	
	
	
	<!--
  End icomoon generated 
  ---------------------------------------------------------------------
  --------------------------------------------------------------------->
	<h1>Usage scenarios</h1>
	<section>
	<h2 class="icon-calendar">Heading with icon applied with class</h2>
	<h4 class="icon-calendar">Heading with icon applied with class</h4>
	<h5 class="icon-calendar">Heading with icon applied with class</h5>
	<p>Icon inline within <span aria-hidden='true' class='font-icon font-icon-inline font-icon-size-12' data-icon='&#xe014;'></span> a sentence.</p>
	<ul class="unstyled spaced-items">
	 <li><span class="icon-unlock" aria-hidden="true"></span>List item</li>
	 <li><span class="icon-warning-sign" aria-hidden="true"></span>List item</li>
	</li>
	</section>
	
	<section>
	<p>Multiple icons in a row</p>
  	<div class="font-icon-block">	
    	<span class="font-icon font-icon-size-34" aria-hidden="true" data-icon="&#xe021;"></span>
  	  <span class="font-icon font-icon-size-34 font-icon-blue" aria-hidden="true" data-icon="&#xe022;"></span>
  	</div>
    <div class="font-icon-block">
  	  <span class="font-icon font-icon-size-34" aria-hidden="true" data-icon="&#xe018;"></span>
  	  <span class="font-icon font-icon-size-34 font-icon-red" aria-hidden="true" data-icon="&#xe016;"><span class="gear-number gear-sm">8</span></span>
    </div>
  	
  	<span class="font-icon font-icon-size-34" aria-hidden="true" data-icon="&#xe000;"></span>
  	<span class="font-icon font-icon-size-34" aria-hidden="true" data-icon="&#xee00;"></span>
  	
  	<div class="font-icon-block">
  	  <span class="font-icon font-icon-size-34" aria-hidden="true" data-icon="&#xe015;"></span>
  	  <span class="font-icon font-icon-size-34 font-icon-red" aria-hidden="true" data-icon="&#xe016;"><span class="gear-number gear-lg">8</span></span>
  	</div>
  	<span class="font-icon font-icon-size-34" aria-hidden="true" data-icon="&#xee07;"></span>
  	<span class="font-icon font-icon-size-34" aria-hidden="true" data-icon="&#xee09;"></span>
	</section>
	
	<section>
	<p>Link with icon</p>
	<p><span class="icon-lock"></span><a href="">foobar.com</a></p>
	<span class="icon-lock"></span><div style="width: 600px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap">Icon before text that has text-overflow:ellipsis needs to float:left for correct alignment. Suspendisse fermentum augue. Libero turpis, donec ut, donec quisque, quis quam nulla congue amet</div>
	</section>
	
	
	<section>
	<p>alert box with icon</p>
   
   <div class='alert alert-info'>
      <h1 class="alert-heading">
        <div class="font-icon-block">
          <span class="font-icon" aria-hidden="true" data-icon="&#xee07;"></span>
        </div>
        JBoss Enterprise Application Platform 6.0 is based on a premium cartridge.
      </h1>
      <p>It costs an additional gears.Lorem ipsum dolor sit amet, eu nec turpis sapien suspendisse, suspendisse fermentum augue. Libero turpis, donec ut, donec quisque, quis quam nulla congue amet.</p>
    </div>
     
	 <div class='alert alert-info'>
      <h2 class="alert-heading">
        <div class="font-icon-block">
          <span class="font-icon" aria-hidden="true" data-icon="&#xee07;"></span>
        </div>
        JBoss Enterprise Application Platform 6.0 is based on a premium cartridge.
      </h2>
      <p>It costs an additional gears.Lorem ipsum dolor sit amet, eu nec turpis sapien suspendisse, suspendisse fermentum augue. Libero turpis, donec ut, donec quisque, quis quam nulla congue amet.</p>
    </div>
    
    <div class='alert alert-info'>
      <h3 class="alert-heading">
        <div class="font-icon-block">
          <span class="font-icon" aria-hidden="true" data-icon="&#xee07;"></span>
        </div>
        JBoss Enterprise Application Platform 6.0 is based on a premium cartridge.
      </h3>
      <p>It costs an additional gears.Lorem ipsum dolor sit amet, eu nec turpis sapien suspendisse, suspendisse fermentum augue. Libero turpis, donec ut, donec quisque, quis quam nulla congue amet.</p>
    </div>
    
    <div class='alert alert-info'>
      <h4 class="alert-heading">
        <div class="font-icon-block">
          <span class="font-icon" aria-hidden="true" data-icon="&#xee07;"></span>
        </div>
        JBoss Enterprise Application Platform 6.0 is based on a premium cartridge.
      </h4>
      <p>It costs an additional gears.Lorem ipsum dolor sit amet, eu nec turpis sapien suspendisse, suspendisse fermentum augue. Libero turpis, donec ut, donec quisque, quis quam nulla congue amet.</p>
    </div>
    
    <div class='alert alert-info'>
      <h5 class="alert-heading">
        <div class="font-icon-block">
          <span class="font-icon" aria-hidden="true" data-icon="&#xee07;"></span>
        </div>
        JBoss Enterprise Application Platform 6.0 is based on a premium cartridge.
      </h5>
      <p>It costs an additional gears.Lorem ipsum dolor sit amet, eu nec turpis sapien suspendisse, suspendisse fermentum augue. Libero turpis, donec ut, donec quisque, quis quam nulla congue amet.</p>
    </div>
    
    <div class='alert alert-info'>
      <p class="icon-info-sign">It costs an additional gears.Lorem ipsum dolor sit amet, eu nec turpis sapien suspendisse, suspendisse fermentum augue.</p>
    </div>
	</section>
	
	<section>
	<p>Heading with icon applied with PUA in font-icon-block</p>
	 <h2>
     <div class="font-icon-block">
       <span aria-hidden='true' class='font-icon font-icon-size-34' data-icon='&#xe008;'></span>
       <span aria-hidden='true' class='font-icon font-icon-size-34 font-icon-grey' data-icon='&#xe009;'></span>
     </div>
   Increase Storage Quotas
   </h2>
   <h3>
     <div class="font-icon-block">
       <span aria-hidden='true' class='font-icon font-icon-size-34' data-icon='&#xe008;'></span>
       <span aria-hidden='true' class='font-icon font-icon-size-34 font-icon-grey' data-icon='&#xe009;'></span>
     </div>
   Increase Storage Quotas
   </h3>
   <h4>
     <div class="font-icon-block">
       <span aria-hidden='true' class='font-icon font-icon-size-24' data-icon='&#xe008;'></span>
       <span aria-hidden='true' class='font-icon font-icon-size-24 font-icon-grey' data-icon='&#xe009;'></span>
     </div>
   Increase Storage Quotas
   </h4>
   <h5>
     <div class="font-icon-block">
       <span aria-hidden='true' class='font-icon font-icon-size-18' data-icon='&#xe008;'></span>
       <span aria-hidden='true' class='font-icon font-icon-size-18 font-icon-grey' data-icon='&#xe009;'></span>
     </div>
   Increase Storage Quotas
   </h5>
   <h6>
     <div class="font-icon-block">
       <span aria-hidden='true' class='font-icon font-icon-size-16' data-icon='&#xe008;'></span>
       <span aria-hidden='true' class='font-icon font-icon-size-16 font-icon-grey' data-icon='&#xe009;'></span>
     </div>
   Increase Storage Quotas
   </h6>
	</section>
	
	<section>
	<p>Icon legend using definition list</p>
	 <dl class="font-icon-legend">
    <dt><span data-icon="&#xe021;" class="font-icon font-icon-size-18" aria-hidden="true"></span>Cartridge</dt>
    <dd>Technology specific component</dd>
    <dt><span data-icon="&#xe029;" class="font-icon font-icon-size-18" aria-hidden="true"></span>Quickstart</dt>
    <dd>Preconfigured foundation bundle</dd>
  </dl>
	</section>
	
	
	<script>
	document.getElementById("glyphs").addEventListener("click", function(e) {
		var target = e.target;
		if (target.tagName === "INPUT") {
			target.select();
		}
	});
	</script>
</body>
</html>