- content_for :stylesheets do
  = stylesheet_link_tag 'site.css', :media => 'all'

%header
  #nav
    .navbar
      .container
        -# Was .nav-collapse, has some issues
        %div
          .brand
            %strong> Open
            Shift

#solo
  .container
    .row.row-content
      .offset3.span6
        .column-content.box-content
          %h1.ribbon
            Signup

          %p some content

        %footer
          %section#copyright
            %img{ :src => "/app/images/redhat.png", :alt => "Red Hat" }
            .pull-right Copyright &copy; 2011 Red Hat, Inc.


