
<link rel="stylesheet" type="text/css" href="/assets/site.css" />
<style type="text/css">
.navbar .nav > li .menu { display: none; }

section.testing > div {
  margin: 0 0 20px;
}

</style>

    <header>
      <div id="top" class="section-top">
        <div class="container">
        <a title="Track open issues on the OpenShift status page" style="display:none;" id="outage" class="btn btn-small btn-warning" href="https://openshift.redhat.com/app/status">Status</a>
          <div class="pull-right login">

          <form action="/search/node" method="get" id="search-top">
             <input name="keys" class="search-query" placeholder="SEARCH" type="text">
             <button type="submit" class="search" value="Search"></button>
                       </form>

            <a class="btn btn-small" href="https://openshift.redhat.com/app/console">My Apps</a> <a class="btn btn-small" href="https://openshift.redhat.com/app/account/new">Sign Up</a>           </div>
          <div class="mobile-block"><a href="https://www.openshift.com/enterprise-paas"><span>Streamline App Delivery with  </span>OpenShift Enterprise</a></div>
        </div>
      </div>

<nav id="nav" class="section-nav lift-counter">
        
<div class="navbar">
   <div class="container">
              <div class="brand">
                <a href="/">
                  <div class="brand-image"></div>
                  <div class="brand-text"> <strong>Open</strong>Shift
                  </div>
                </a>
              </div>
              <ul class="nav">
                <li class="active">
                  <a href="#products">
                    <span>Products</span>
                  </a>
                  <div class="menu">
                    <div class="col">
                      <ul class="">
                        <li class="first">
                          <a href="#" title="">Overview</a>
                        </li>
                        <li class="">
                          <a href="#" title="">Online</a>
                        </li>
                        <li class="">
                          <a href="#" title="">Enterprise</a>
                        </li>
                        <li class="last">
                          <a href="#" title="">Open Source</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="">
                  <a href="#news" class="active">
                    <span>Get Involved</span>
                  </a>
                  <div class="menu">
                    <div class="col">
                      <ul class="">
                        <li class="first">
                          <a href="#" title="">Front Page</a>
                        </li>
                        <li class="">
                          <a href="#" title="">App Gallery</a>
                        </li>
                        <li class="">
                          <a href="#" title="">Blog</a>
                        </li>
                        <li class="">
                          <a href="#" title="">Events</a>
                        </li>
                        <li class="last">
                          <a href="#" title="">Vote on Features</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li>
                  <a href="/developers">
                    <span>Dev Center</span>
                  </a>
                  <div class="menu twoCol">
                    <div class="col">
                      <ul>
                        <li class="">Overview</li>
                        <li class="">Technologies
                          <ul>
                            <li><a href="">Java</a></li>
                            <li><a href="">PHP</a></li>
                            <li><a href="">Ruby</a></li>
                            <li><a href="">Node.js</a></li>
                            <li><a href="">Python</a></li>
                            <li><a href="">MongoDB</a></li>
                          </ul>
                        </li>
                      </ul>
                      <ul>
                        <li class="">Quickstarts</li>
                        <li class="">Cartridges</li>
                        <li class="">Documentation
                          <ul>
                            <li><a href="">User Guide</a></li>
                            <li><a href="">Tools</a></li>
                            <li><a href="">How-tos</a></li>
                            <li><a href="">PDFs</a></li>
                            <li><a href="">Knowledge Base</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="">
                    <a href="#support">
                      <span>Support</span>
                    </a>
                    <div class="menu">
                      <div class="col">
                        <ul class="">
                          <li class="first">
                            <a href="#" title="">Get Support</a>
                          </li>
                          <li class="">
                            <a href="#" title="">FAQs</a>
                          </li>
                          <li class="last">
                            <a href="#" title="">Vote on Features</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                </li>
                <li class="">
                    <a href="#partners">
                      <span>Partners</span>
                    </a>
                    <div class="menu">
                      <div class="col">
                        <ul class="">
                          <li class="first">
                            <a href="#" title="">Overview</a>
                          </li>
                          <li class="">
                            <a href="#" title="">Partners</a>
                          </li>
                          <li class="last">
                            <a href="#" title="">Partner Programs</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                </li>
              </ul>
          </div>
</div>


<!--div id="block-user_profile-get-started-messaging" class="block  block-user_profile">
<div class="content">
    <div class="messaging"><div class="container"><div class="primary headline">Launch your <strong>Big Idea</strong> in minutes</div><div class="secondary">OpenShift is a next generation application hosting environment. Read on to see how easy it is to get started in the cloud.</div></div></div>  </div>
</div-->

      </nav>
    </header>

    <div id="content" class="section-striped">
      <div class="container"><div class="row-content">
      <div class="row row-flush-right">
                  <div class="column-content column-content-page lift grid-wrapper">

                  <ul class="nav nav-tabs nav-tabs-secondary">
                      <li><a href="#">Overview</a></li>
                      <li class="active"><a href="#">Online</a></li>
                      <li><a href="#">Enterprise</a></li>
                      <li><a href="#">Open Source</a></li>
                  </ul>
                  
              
                    
            <div class="span12 span-flush-right">
            
            <section class="default" id="about">
            
            <div class="column-floating row pull-right">
                  <ul class="nav nav-list span3 tertiary">
                    <li class="nav-header">Get Started</li>
                    <li class="active"><a href="#"><span aria-hidden="true" class="icon-angle-right"> </span>Summary</a></li>
                    <li><a href="#"><span aria-hidden="true" class="icon-angle-right"> </span>Pricing</a></li>
                    <li><a href="#"><span aria-hidden="true" class="icon-angle-right"> </span>Get Started</a></li>
                  </ul>
            </div>
        
              <h1>Get Started with OpenShift Online</h1>
              
           
           <div id="node-11652" class="page node">
           <p>A <a href="https://openshift.redhat.com/app/account/new">free account on OpenShift</a> lets you create up to three applications for free.  Typical OpenShift applications include a web programming framework like JBoss Application Server, Ruby on Rails, or PHP, one or more databases, and additional capabilities if desired.  OpenShift provides these capabilities through <strong>cartridges</strong> that automatically manage themselves.  You can also add database admin cartridges like RockMongo and phpMyAdmin, if you wish.</p>
           <ul>
<li><a href="get-involved#discuss">IRC Chat</a> for instant discussions and help</li>
<li><a href="get-involved#discuss">Maling lists</a> to ask questions or suggest new ideas</li>
<li><a href="/forums/openshift">Community forums</a> are watched round the clock by an army of developers, evangelists, and OpenShift devotees.</li>
<li><a href="/kb">Knowledge Base</a> for known headaches and <a href="/faq">FAQ</a> for more general questions.</li>
<li><a href="/search/node">Community Search</a> to find answers on a specific topic.</li>
</ul>

<section class="testing">
<h3>Button types</h3>
<p>markup order => input, button, a</p>
<div>
<input type="submit" class="btn" value="Default" id="edit-submit-1" name="op">
<button type="submit" class="btn">Default</button>
<a href="#" class="btn">Default</a>
</div>
<div>
<input type="submit" class="btn btn-primaryt" value="Primary" id="edit-submit" name="op">
<button type="button" class="btn btn-primary">Primary</button>
<a href="#" class="btn btn-primary">Primary</a>
</div>
<div>
<input type="submit" class="btn btn-info" value="Info" id="edit-submit" name="op">
<button type="button" class="btn btn-info">Info</button>
<a href="#" class="btn btn-info">Info</a>
</div>
<div>
<input type="submit" class="btn btn-success" value="Success" id="edit-delete" name="op">
<button type="button" class="btn btn-success">Success</button>
<a href="#" class="btn btn-success">Success</a>
</div>
<div>
<input type="submit" class="btn btn-warning" value="Warning" id="edit-delete" name="op">
<button type="button" class="btn btn-warning">Warning</button>
<a href="#" class="btn btn-warning">Warning</a>
</div>
<div>
<input type="submit" class="btn btn-danger" value="Danger" id="edit-delete" name="op">
<button type="button" class="btn btn-danger">Danger</button>
<a href="#" class="btn btn-danger">Danger</a>
</div>
<div>
<input type="submit" class="btn btn-link" value="Link" id="edit-delete" name="op">
<button type="button" class="btn btn-link">Link</button>
</div>
<div>
    <button type="button" class="btn btn-large btn-primary disabled" disabled="disabled">Primary button</button>
    <button type="button" class="btn btn-large" disabled>Button</button>
</div>
<div>
    <a href="#" class="btn btn-large btn-primary disabled">Primary link</a>
    <a href="#" class="btn btn-large disabled">Link</a>
</div>
<div>
    <input type="submit" class="btn btn-primary disabled" value="Disabled input" />
    <input type="submit" class="btn disabled" value="Disabled input" />
</div>

<a class="action-call" href="https://openshift.redhat.com/app/account/new/"><div>Sign up for a <strong>free account</strong></div><div class="highlight-arrow">&gt;</div></a>

</section>

           </div>

            </section>
                     </div>

        
          </div>
        </div>
      </div>
      </div></div>
    

    <footer>
      <div id="footer-nav">
        <div class="container">
          <div class="row">
            <nav class="span3">
              <header>
                <h3><a href="https://www.openshift.com/developers">Developers</a></h3>
              </header>
              <ul class="unstyled">
                <li><a href="https://www.openshift.com/get-started">Get Started</a></li>
                <li><a href="http://access.redhat.com/knowledge/docs/en-US/OpenShift/2.0/html/User_Guide/index.html">User Guide</a></li>
                <li><a href="https://www.openshift.com/faq">FAQ</a></li>
                <li><a href="https://www.openshift.com/developers/pricing">Pricing</a></li>
              </ul>
            </nav>
            <nav class="span3">
              <header>
                <h3><a href="https://www.openshift.com/community">Community</a></h3>
              </header>
              <ul class="unstyled">
                <li><a href="https://www.openshift.com/blogs">Blog</a></li>
                <li><a href="https://www.openshift.com/forums/">Forum</a></li>
                <li><a href="http://webchat.freenode.net/?randomnick=1&amp;channels=openshift&amp;uio=d4">IRC Channel</a></li>
                <li><a href="mailto:openshift@redhat.com">Feedback</a></li>
              </ul>
            </nav>
            <nav class="span3">
              <header>
                <h3><a href="https://www.openshift.com/get-involved">Get Involved</a></h3>
              </header>
              <ul class="unstyled">
                <li><a href="https://www.openshift.com/open-source">Open Source</a></li>
                <li><a href="https://www.openshift.com/partners">Partners</a></li>
                <li><a href="https://github.com/openshift">OpenShift on GitHub</a></li>
                <li><a href="https://www.openshift.com/newsletter/signup">Newsletter sign up</a></li>
              </ul>
            </nav>
            <nav class="span3">
              <header>
                <h3><a href="https://openshift.redhat.com/app/account">Account</a></h3>
              </header>
              <ul class="unstyled">
                <li><a href="https://www.openshift.com/legal/services_agreement">Terms of Service</a></li>
                <li><a href="https://www.openshift.com/legal/openshift_privacy">Privacy Policy</a></li>
                <li><a href="https://www.openshift.com/policy/security">Security Policy</a></li>
                <li><a href="https://www.openshift.com/developers/pricing">Plans</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <section id="copyright">
        <div class="container">
          <a href="https://www.redhat.com/">
            <img src="Get%20Started%20with%20OpenShift%20%7C%20OpenShift%20by%20Red%20Hat_files/redhat.png" alt="Red Hat">
          </a>
          <div class="pull-right">Copyright © 2013 Red Hat, Inc.</div>
        </div>
      </section>
    </footer>