%section#tech
  - @sections.each do |s|
    - next unless s[:data]
    %h2= s[:name]
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th{:scope => 'col'} Name
          %th{:scope => 'col'} Description
      %tbody
        - s[:data].each do |i|
          %tr
            %td{:scope => 'row'}= i.respond_to?(:display_name) ? i.display_name : i.name
            %td= i.description
