- if type.usage_rates?
  %div.alert.alert-info.alert-block
    %h4.alert-heading #{type.display_name} is based on a premium cartridge.

    - type.usage_rates.each do |rate|
      %p
        It costs an additional
        %strong= number_to_user_currency(rate[user_currency_cd])
        = "per gear #{rate['duration']} after the first"
        %strong 3
        gears.
