- cache 'retweets', :expires_in => 10.minutes do
  - @retweets.each do |t|
    - t = t.retweeted_status rescue t
    .tweet
      %img{:src => t.user.profile_image_url_https}
      %p= tweet(t)
      %small= t.user.name
