- if keys.length == 0
  We don't have an ssh key for you yet

- keys.each do |ssh_key|
  %dl
    = render 'express_ssh_keys/express_ssh_key', :ssh_key => ssh_key

%div{:style => "clear: both"}

%p
  = link_to "Add", add_sshkey_express_sshkeys_path, :class => 'add-ssh-key'
