<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New user created</h1>
    <p>
	  A user with email <%=@user_email%> has successfully signed up with promotional code <%=@promo_code%><br/>
    </p>
  </body>
</html>