Name: memcached-1.4
Version: 1.4
Architecture: i686/x86_64
Provides: memcached-server
Depends:
Conflicts:
Type: Cartridge
Role: misc
Vendor: http://memcached.org
DisplayName: memcached-1.4
Description:
Cartridge providing memcached - an open source high-performance, distributed memory object caching system.
