%meta{:charset=>"UTF-8"}
:css 
  a:link, a:visited {
      color: #05c;
      text-decoration: none;
  }
  a:hover, a:active {
      color: #a1000c;
      text-decoration: underline;
  }
  body {
      background: #fff;
      color: #444;
      font-size: 14px;
      margin: 0;
  }
  body, .logo {
    background-image: url(#{asset_data_uri 'noise.png'});
  }
  .logo {
    background-color: #191919;
    padding: 30px 10% 25px;
    margin: 0 auto;
    max-height: 93px;
  }
  h1 {
    color: #222;
    font-size: 30px;
    margin-bottom: 2px;
  }
  h2 {
    color: #777;
    font-size: 14px;
    margin: 0 0 1.5em;
    text-transform: uppercase;
  }
  hgroup {
    margin: 30px 10% 0;
  }
  html {
    font-family: "Helvetica Neue",Helvetica,"Liberation Sans",Arial,sans-serif;
  }
  section.main {
     margin: 0 10%;
  }
  section.main p {
    line-height: 22px;
  }
  svg { 
    height: 34px;
    width: 237px;
  }
  a.status {
    font-weight: bold;
    color: inherit;
  }
  .status.error {
    color: #a1000c;
    text-decoration: underline;
  }

  @media (max-width: 1440px) { }
  @media (max-width: 768px) { }
  @media (max-width: 400px) { }
