%object{ :width=>"#{width}",
         :height=>"#{height}",
         :data=>"http://www.tudou.com/v/#{vid_id}",
         :type=>"application/x-shockwave-flash" }
  %param{ :name=>"movie", :value=>"http://www.tudou.com/v/#{vid_id}" }
  %param{ :name=>"allowFullScreen", :value=>"true" }
  %param{ :name=>"wmode", :value=>"transparent" }
