- width ||= 425
- height ||= 349
:ruby
  begin
    vid = local_video(video)
  rescue StandardError
  end

- if vid
  = render "product/#{vid[:provider].to_s}_embed", :vid_id => vid[:id], :width => width, :height => height
- else
  %em
    Video not available
