- width ||= 425
- height ||= 349
%iframe{ :width=>"#{width}", 
  :height=>"#{height}", 
  :src=>"//www.youtube.com/embed/#{vid_id}?wmode=transparent&rel=0",
  :frameborder=>"0",
  :allowfullscreen=>"true" }
