<style type="text/css">
.stream {
  border-bottom:1px solid #777;
}
.stream-item-tweet {
  border:1px solid #777;
  border-bottom: 0;
  padding: 9px 12px;
  position: relative;
  min-height: 51px;
}
  .stream-item-tweet a:hover {
    text-decoration: none;
  }
  .stream-item-tweet a:hover strong {
    text-decoration: underline;
  }
  .stream-item-tweet a span {
    color: #888;
    font-size: 11px;
  }
  .stream-item-tweet a:hover span {
    text-decoration: none;
  }
.stream-item-header {
  margin-left: 60px;
}
.tweet-timestamp {
  float: right;
  font-size: 11px;
}
.twitter-avatar {
  left: 12px;
  position: absolute;
  top: 12px;
}
.tweet-text {
  margin-left: 60px;
  margin-bottom: 0;
}

</style>

<section id="error"> 
<h1>Sorry! We're having technical difficulties.</h1>
  
<p>You can try <a href="javascript: window.location.reload()">refreshing the page</a>, the problem may be temporary.</p>

<div class="row">

  <div class="span6">
  <p>[ DISPLAY OPEN STATUS ISSUE, IF ANY... ]</p>
  <p>You can try the following:</p>
<ul class="spaced-items">
  <li>Seek assistance in the <a href="https://openshift.redhat.com/community/forums/openshift">support forums</a></li>
  <li>Join <a href="http://webchat.freenode.net/?randomnick=1&channels=openshift&uio=d4">IRC channel #openshift</a> on Freenode</li>
  <li>If you are experiencing a repeatable error not related to a service outage, <a href="https://bugzilla.redhat.com/enter_bug.cgi?product=OpenShift">report a bug</a></li>
</ul>
  </div>
  <div class="span6 stream">
    <h3><small>Latest from @openshift_ops</small></h3>
    <div class="stream-item-tweet">
      <div class="stream-item-header">
      <span class="tweet-timestamp">11:49 AM - 19 Jul</span>
      <a href="https://twitter.com/openshift_ops">
            <img alt="Openshift Operations" src="https://twimg0-a.akamaihd.net/profile_images/1924727730/openshift_operations_normal.png" class="twitter-avatar">
            <strong>Openshift Operations</strong>
            <span>@openshift_ops</span>
      </a>
      </div>
      <p class="tweet-text">
        Experiencing issues with some application nodes and related services.  We're investigating now <a class="twitter-hashtag" href="/search/%23openshift"><s>#</s><b>openshift</b></a>.
      </p>
    </div><!-- /stream-item-tweet -->
    
    <div class="stream-item-tweet">
      <div class="stream-item-header">
      <span class="tweet-timestamp">6:07 AM - 19 Jul</span>
      <a href="https://twitter.com/openshift_ops">
            <img alt="Openshift Operations" src="https://twimg0-a.akamaihd.net/profile_images/1924727730/openshift_operations_normal.png" class="twitter-avatar">
            <strong>Openshift Operations</strong>
            <span>@openshift_ops</span>
      </a>
      </div>
      <p class="tweet-text">
        Seeing higher than normal DNS creation times, we're looking into it. <a class="twitter-hashtag" href="/search/%23openshift"><s>#</s><b>openshift</b></a>.
      </p>
    </div><!-- /stream-item-tweet -->
  </div>

</div>


</section>
 