!!! 5
-ie_html :class => 'no-js', :lang => 'en' do
  %head
    %title Maintenance in progress | OpenShift Online by Red Hat
    = render :partial => 'product/core_head'

  %body
    %header
      .logo= link_to asset('logo.svg').to_s.html_safe, root_path

      %hgroup
        %h1 Maintenance in progress
        %h2 HTTP 503

    %section.main
      %p The OpenShift Online service is temporarily unavailable while we perform maintenance.  Please check the status page below for updates.
      %p OpenShift Online status: #{link_to 'No open issues', status_path, :id => 'system-status', :class => 'status'}
      
    %script{:src => status_jsonp_url('system-status')}
