- content_for :page_title do
  Platform Features
  
%section.main
  %header
    %h1
      Features
      
  .content
    .express
      %h2 Express
      
      %ul.languages
        %h3 Languages and Frameworks
        %li.ruby
          %h4 Ruby
          %ul
            %li
              Rails
            %li
              Sinatra
        
        
        %li.python
          %h4 Python
          %ul
            %li
              Pylons
            %li
              Turbogears
            %li
              Django
        
        %li.perl
          %h4 Perl
          %ul
            %li
              PerlDancer
        
        %li.php
          %h4 PHP
          %ul
            %li
              Zend
            %li
              Cake
            %li
              Symfony
            %li
              CodeIgniter
        
        %li.java
          %h4 Java
          %ul
            %li
              EE6
            %li
              CDI/Weld
            %li
              Spring
            %li
              Seam
        
      %ul.databases
        %h3 Databases
        %li
          MySQL
        %li
          PostgreSQL
        %li
          SQLite
        %li
          MongoDB
        %li.disabled
  
      %ul.messaging
        %h3 Messaging
        %li.soon
          Coming soon
    
    .flex
      %h2 Flex
      
      %ul.languages
        %h3 Languages and Frameworks
        %li.ruby
          %h4 Ruby
          %ul
            %li
              Rails
            %li
              Sinatra
        
        
        %li.python
          %h4 Python
          %ul
            %li
              Pylons
            %li
              Turbogears
            %li
              Django
        
        %li.disabled
         
        %li.php
          %h4 PHP
          %ul
            %li
              Zend
            %li
              Cake
            %li
              Symfony
            %li
              CodeIgniter
        
        %li.java
          %h4 Java
          %ul
            %li
              EE6
            %li
              CDI/Weld
            %li
              Spring
            %li
              Seam
        
      %ul.databases
        %h3 Databases
        %li
          MySQL
        %li.disabled
        %li.disabled
        %li
          MongoDB
        %li
          Membase
  
      %ul.messaging
        %h3 Messaging
        %li
          MRG