- content_for :header do
  .messaging.messaging-home
    .container
      %h1.primary.headline
        Shift your 
        %strong#technology-rotate App
        to the Cloud
      %h2.secondary Start your journey into the cloud with the answers you need.

%h1.ribbon
  .ribbon-content What is OpenShift Flex?
  .ribbon-left
  
%h2
  OpenShift Flex is a browser-based platform-as-a-service for <strong>Java</strong> and <strong>PHP</strong> applications with auto-scaling, performance monitoring and application management capabilities built-in. 
  %p
    There's two ways to get started:
    Provide your Amazon EC2 credentials in order to authorize OpenShift Flex to deploy cloud servers on your behalf.
  
.row
  .span4
    = render 'product/video_embed', :video => 'flex_build_cluster', :width => 311, :height => 255
  .span4
    = render 'product/video_embed', :video => 'flex_control_apps', :width => 311, :height => 255
  .span4
    = render 'product/video_embed', :video => 'flex_monitor_scale', :width => 311, :height => 255
.row
  .span4
    %h2
      Build your Server Cluster and Application Stack
    %p
      OpenShift Flex's wizard driven interface makes it easy to provision resources and build integrated application stacks.
  .span4
    %h2
      Deploy, Modify, Rollback and Restart Applications
    %p
      OpenShift Flex makes it easy to deploy your application, make modifications to code and components, version your changes and redeploy.
  .span4
    %h2
      Monitoring and Auto-Scaling Built-in
    %p
      Without the use of agents or scripts, OpenShift Flex gives you end-to-end monitoring straight-out-of-box with configurable auto-scaling that lets you decide when and how to scale your application.

%section= take_action '/app/user/new/flex', 'Ready to get started?', 'Sign up to try Flex'
