-# file: Power product page

- content_for :page_title do
  Power

-# Product navigation
- content_for :product_nav do
  %ul 
    %li
      What's Power?

- content_for :product_content do
  %section#about
    %header
      %h1 
        What is Power?
    
    %p 
      <strong>Coming soon!</strong> OpenShift Power can deploy applications to the cloud that are written to Linux (i.e. written in C, or using many binary components) and anything that builds on Linux. From completely custom architectures to standard n-tier deployments, Power gives you the ultimate flexibility and access at the operating system configuration level. Power can deploy applications which have no web front-end (e.g. trading systems, modeling systems, payment processing, client-server, messaging apps, etc). Power has an image configuration system, a scripting template system, an image library for re-using template, and a way to dynamically define multi-VM architectures that span clouds.
