- content_for :page_title, 'Terms and Conditions'

%h1.ribbon Legal Terms Guide

%section.content
  %p
    This page provides a list of the legal terms that apply to your use of OpenShift.

  %ul
    %li
      = link_to 'OpenShift Preview Services Agreement', legal_services_agreement_path

    %li
      = link_to 'Acceptable Use Policy', legal_acceptable_use_path

    %li
      = link_to 'Privacy Policy', legal_openshift_privacy_path
    
    %li
      = link_to 'Terms of Use', legal_site_terms_path
