%section#help
  .container
    %ul.row
      %li.span4
        %h4 Updates
        = link_to 'Latest News', openshift_blog_url, :target => '_blank'
        %p Check out what's happening in OpenShift
      %li.span4
        %h4 Need Help?
        = link_to 'Find Answers Online', console_help_url
        %p The help page brings together all our resources
      %li.span4
        %h4 Participate
        = link_to 'Check out the forum', post_to_forum_url, :target => '_blank'
        %p Our community is what makes OpenShift strong
