%section#help
  .row
    %ul.unstyled-flat
      %li.span4
        %h4 Updates
        %a{:href => 'https://www.redhat.com/openshift/community/blogs', :target => '_blank'} Latest Releases
        %p Check out what new features are available
      %li.span4
        %h4 Need Help?
        %a{:href => 'https://www.redhat.com/openshift/forums/', :target => '_blank'} Check out the forum
        %p Post a question, Get the answers
      %li.span4
        %h4 Found a Bug?
        %a{:href => 'https://bugzilla.redhat.com/enter_bug.cgi?product=OpenShift%20Express', :target => '_blank'} Report a Bug
        %p The OpenShift bug tracker is now public
