body > header {
  background-image: url("../images/dark-gray-diagonal-noise.jpg");
  background-image: url("../images/diagonals-top.png"), url("../images/mts.png"), -webkit-gradient(radial, circle, 0, circle, 2, color-stop(0%, #ffffff), color-stop(50%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0))), -webkit-gradient(radial, circle, 0, circle, 2, color-stop(0%, #ffffff), color-stop(100%, rgba(0, 0, 0, 0))), -webkit-gradient(radial, circle, 0, circle, 2, color-stop(0%, #eeeeee), color-stop(100%, rgba(0, 0, 0, 0))), -webkit-gradient(radial, circle, 0, circle, 2, color-stop(0%, #eeeeee), color-stop(100%, rgba(0, 0, 0, 0))), url("../images/dark-gray-diagonal-noise.jpg");
  background-image: url("../images/diagonals-top.png"), url("../images/mts.png"), -webkit-radial-gradient(circle, #ffffff 0%, #ffffff 1px, rgba(255, 255, 255, 0) 2px), -webkit-radial-gradient(circle, #ffffff 0%, rgba(0, 0, 0, 0) 2px), -webkit-radial-gradient(circle, #eeeeee 0%, rgba(0, 0, 0, 0) 2px), -webkit-radial-gradient(circle, #eeeeee 0%, rgba(0, 0, 0, 0) 2px), url("../images/dark-gray-diagonal-noise.jpg");
  background-image: url("../images/diagonals-top.png"), url("../images/mts.png"), -moz-radial-gradient(circle, #ffffff 0%, #ffffff 1px, rgba(255, 255, 255, 0) 2px), -moz-radial-gradient(circle, #ffffff 0%, rgba(0, 0, 0, 0) 2px), -moz-radial-gradient(circle, #eeeeee 0%, rgba(0, 0, 0, 0) 2px), -moz-radial-gradient(circle, #eeeeee 0%, rgba(0, 0, 0, 0) 2px), url("../images/dark-gray-diagonal-noise.jpg");
  background-image: url("../images/diagonals-top.png"), url("../images/mts.png"), -o-radial-gradient(circle, #ffffff 0%, #ffffff 1px, rgba(255, 255, 255, 0) 2px), -o-radial-gradient(circle, #ffffff 0%, rgba(0, 0, 0, 0) 2px), -o-radial-gradient(circle, #eeeeee 0%, rgba(0, 0, 0, 0) 2px), -o-radial-gradient(circle, #eeeeee 0%, rgba(0, 0, 0, 0) 2px), url("../images/dark-gray-diagonal-noise.jpg");
  background-image: url("../images/diagonals-top.png"), url("../images/mts.png"), -ms-radial-gradient(circle, #ffffff 0%, #ffffff 1px, rgba(255, 255, 255, 0) 2px), -ms-radial-gradient(circle, #ffffff 0%, rgba(0, 0, 0, 0) 2px), -ms-radial-gradient(circle, #eeeeee 0%, rgba(0, 0, 0, 0) 2px), -ms-radial-gradient(circle, #eeeeee 0%, rgba(0, 0, 0, 0) 2px), url("../images/dark-gray-diagonal-noise.jpg");
  background-image: url("../images/diagonals-top.png"), url("../images/mts.png"), radial-gradient(circle, #ffffff 0%, #ffffff 1px, rgba(255, 255, 255, 0) 2px), radial-gradient(circle, #ffffff 0%, rgba(0, 0, 0, 0) 2px), radial-gradient(circle, #eeeeee 0%, rgba(0, 0, 0, 0) 2px), radial-gradient(circle, #eeeeee 0%, rgba(0, 0, 0, 0) 2px), url("../images/dark-gray-diagonal-noise.jpg");
  background-repeat: no-repeat, repeat-x, repeat, repeat, repeat, repeat, repeat;
  background-size: auto, auto, 457px 241px, 307px 151px, 167px 199px, 239px 257px, auto;
  background-position: right bottom, center bottom, left top, -157px center, 89px 97px, 43px 31px, center bottom;
}

.messaging {
  margin: 55px 0;
}
.messaging .primary {
  margin-bottom: 10px;
}
.messaging .secondary {
  max-width: 790px;
  margin: 0 auto;
}
.messaging h1, .messaging h2 {
  color: #bbb;
}

#learn h4 {
  color: #000;
}

#buzz {
  background-color: #181919;
  background-image: url("../images/diagonals-bottom.png"), url("../images/tiny-panda.png"), url("../images/mts-bottom.png");
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: left top, 50px bottom, center bottom;
}
#buzz .column-buzz {
  background: black url("../images/black-noise.png");
  margin: 0 80px;
}

@media (max-width: 767px) {
  body > header {
    background: url("../images/dark-gray-diagonal-noise.jpg") repeat;
  }

  .messaging {
    margin: 0;
  }

  #buzz {
    background-image: none;
  }
  #buzz .column-buzz {
    background-image: none;
    margin: 0;
  }
}
#nav {
  background-color: transparent;
  background-image: none;
}
