/*
  Draft CSS for the site

  Notes:

  $gridGutterWidth changes based on responsive layout - we need to have a single responsive style
  per element that depends on it (maybe define $gridGutterWidthLarge and use it in responsive.scss)

  SASS 3.0 doesn't support inlining media queries - we need to upgrade

  Navbar markup seems to be correct, but needs lots of love at smaller resolutions

  Continue to pull out variables

  Simplify login link behavior - lots of styles for fairly simple markup

*/
.ribbon {
  position: relative;
  /* margin-left: -Xpx; */ }

.ribbon > .ribbon-content {
  z-index: 1;
  position: relative;
  /* padding-left: Xpx; */ }

.ribbon > .ribbon-left {
  content: " ";
  position: absolute;
  left: 0;
  /* border-top: Ypx solid color;
     bottom: -Ypx;
     border-left: Xpx solid transparent;
     */ }

.navbar {
  margin-bottom: 30px;
  position: relative; }
  .navbar .brand {
    text-transform: uppercase;
    /* reset styles */
    float: none;
    margin: 0;
    padding: 0; }
  .navbar .brand > a {
    display: block; }
  .navbar .brand > a > .brand-image {
    -moz-transition: all 0.2s; }
  .navbar .brand > a:hover > .brand-image {
    -moz-transform: rotate(-10deg); }
  .navbar .brand-image {
    content: ' ';
    background: url("../images/logo-medium.png") center top no-repeat transparent;
    height: 90px;
    width: 93px; }
  .navbar .brand-text {
    color: white;
    text-align: center; }
  .navbar .nav {
    font-size: 13px;
    text-transform: uppercase;
    /* reset styles */
    float: none;
    /*margin-bottom: 110px;*/
    /* needs fixing */ }
    .navbar .nav > li {
      float: left;
      width: 20%;
      text-align: center; }
      .navbar .nav > li > a {
        color: white;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: bold;
        /* reset styles */
        padding: 5px 0; }
    .navbar .nav > li:nth-child(1) {
      text-align: left; }
    .navbar .nav > li:nth-last-child(1) {
      text-align: right; }
    .navbar .nav > .active > a,
    .navbar .nav > .active > a:hover,
    .navbar .nav > li > a:hover {
      /* reset styles */
      background: transparent;
      border: 0;
      box-shadow: none;
      text-decoration: underline; }

@media (max-width: 767px) {
  .navbar {
    padding-top: 15px;
    min-height: 100px; }
    .navbar .brand {
      float: left;
      text-align: center;
      width: 93px; }
    .navbar .nav {
      margin-left: 103px;
      margin-top: 15px;
      /* centers navigation text on the logo */ }
      .navbar .nav > li {
        float: left !important;
        width: 50% !important;
        text-align: center !important; }
      .navbar .nav > li.divider {
        display: none; } }

@media (min-width: 768px) {
  .navbar {
    padding-top: 30px;
    min-height: 130px; }
    .navbar .brand {
      z-index: 1;
      position: absolute;
      left: 50%; }
    .navbar .brand > a {
      position: relative;
      left: -50%; }
    .navbar .nav {
      margin-top: 30px;
      /* centers navigation text on the logo */ } }

/* Drupal specific markup, we may want to wrap this with a top level selector on body.drupal or something */
.views-field-rss {
  float: right; }

.views-field-title {
  font-size: 16px;
  line-height: 20px; }

.views-field-picture {
  float: left;
  margin-right: 6px; }

.view-forum-list .views-field-picture {
  float: right;
  margin-left: 6px; }

.block-stats div {
  display: inline; }

.views-table .views-field-pageviews {
  white-space: nowrap; }

.views-field-group-name {
  display: inline; }

.column-nav .view-threads-by-popularity .views-table h4 {
  display: inline;
  color: #666;
  font-size: 13px;
  line-height: 18px; }
.column-nav .view-threads-by-popularity .views-table a {
  text-decoration: underline; }
.column-nav .view-threads-by-popularity .views-table span.views-field-title {
  display: block; }
.column-nav .view-threads-by-popularity .views-table > div {
  margin-bottom: 15px; }
.column-nav .view-threads-by-popularity .views-table .block-stats {
  clear: both; }

.og-mission {
  margin-bottom: 10px; }

.block {
  *zoom: 1;
  margin-bottom: 20px; }
  .block:before, .block:after {
    display: table;
    content: ""; }
  .block:after {
    clear: both; }

.column-nav .block .item-list {
  margin-left: 28px; }
.column-nav .view-user-profile-box {
  margin-bottom: 20px; }

.community textarea {
  width: auto; }

.community form fieldset legend {
  font-size: 14px;
  line-height: 18px; }
.community form .fieldset-wrapper {
  margin-left: 10px; }

.clear-block {
  *zoom: 1; }
  .clear-block:before, .clear-block:after {
    display: table;
    content: ""; }
  .clear-block:after {
    clear: both; }

.view-nodes-by-category article.blog {
  margin-bottom: 25px; }
  .view-nodes-by-category article.blog > h2 {
    line-height: 25px; }
  .view-nodes-by-category article.blog > .breadcrumb {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold; }
    .view-nodes-by-category article.blog > .breadcrumb > .creator {
      color: black; }
    .view-nodes-by-category article.blog > .breadcrumb > .created {
      color: #888; }
  .view-nodes-by-category article.blog .nid a {
    font-size: 16px; }
  .view-nodes-by-category article.blog > .nid_1 {
    text-transform: uppercase;
    text-align: right;
    padding-bottom: 3px;
    border-bottom: 1px solid #aaa;
    font-size: 11px; }
    .view-nodes-by-category article.blog > .nid_1 > a {
      color: #888; }

.comment {
  margin-bottom: 20px;
  padding-top: 8px;
  border-top: 1px solid #ddd; }

.comment > table td {
  vertical-align: top; }

.comment .comment-author .views-row {
  padding: 10px;
  width: 170px;
  margin-right: 10px;
  margin-top: 5px;
  background-color: #efefef; }
  .comment .comment-author .views-row:hover .views-field-value {
    height: 100%; }
  .comment .comment-author .views-row:hover .views-field-phpcode:after {
    content: none; }
.comment .comment-author .views-field-phpcode {
  clear: both; }
  .comment .comment-author .views-field-phpcode:after {
    content: '...'; }
.comment .comment-author .views-field-value {
  height: 0px;
  overflow: hidden; }

/* copied from system.css */
html.js fieldset.collapsed {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  height: 1em;
  margin-bottom: 0; }

html.js fieldset.collapsed * {
  display: none; }

html.js fieldset.collapsed legend {
  display: block; }

html.js fieldset.collapsible legend a {
  background: url("../../misc/menu-expanded.png") no-repeat scroll 5px 75% transparent;
  padding-left: 15px; }

html.js fieldset.collapsed legend a {
  background-image: url("../../misc/menu-collapsed.png");
  background-position: 5px 50%; }

* html.js fieldset.collapsed legend, * html.js fieldset.collapsed legend *, * html.js fieldset.collapsed table * {
  display: inline; }

html.js fieldset.collapsible {
  position: relative; }

html.js fieldset.collapsible legend a {
  display: block; }

html.js fieldset.collapsible .fieldset-wrapper {
  overflow: auto; }

/* move into core when the branding converges */
a {
  color: #91010b; }

a:hover, a:active {
  color: #eb0011; }

/* Hitch a div out of its parent */
.lift {
  margin-top: -90px; }

.lift-less {
  margin-top: -80px; }

.lift-counter {
  padding-bottom: 90px; }

@media (max-width: 767px) {
  .lift,
  .lift-less {
    margin-top: 0; } }

/* A link that is a block, similar to a thumbnail */
body.signup {
  background-color: #343434; }

.section-top {
  background-color: #010101;
  color: white; }

.section-nav {
  background-color: #343434;
  color: white;
  padding-bottom: 50px; }

.section-nav.lift-counter {
  padding-bottom: 90px; }

@media (max-width: 767px) {
  .section-nav.lift-counter {
    padding-bottom: 30px; } }

.section-striped {
  background: -moz-repeating-linear-gradient(-70deg, #e6e6e6, #e6e6e6 6px, #e4e4e4 9px, #e4e4e4 15px, #e6e6e6 18px) repeat scroll 0 0 transparent; }
  .section-striped .link-tile {
    color: #343434;
    padding: 15px 28px;
    display: block;
    text-decoration: none; }
    .section-striped .link-tile:hover {
      text-decoration: none;
      color: #343434;
      background-color: #cccccc;
      background: -moz-repeating-linear-gradient(-180deg, #cccccc 6px, rgba(204, 204, 204, 0) 6px, rgba(204, 204, 204, 0) 10px, #cccccc 10px, #cccccc) repeat scroll 0 0 transparent; }
    .section-striped .link-tile:active {
      text-decoration: none;
      color: #343434;
      background-color: #91010b; }
    .section-striped .link-tile > :last-child {
      margin-bottom: 0; }

.section-striped.lift-counter {
  padding-bottom: 130px; }

@media (max-width: 767px) {
  .section-striped.lift-counter {
    padding-bottom: 30px; } }

.section-base {
  background-color: #343434; }

.section-top > .container > div {
  padding: 8px 0; }
  .section-top > .container > div > a {
    color: #aaaaaa;
    font-weight: bold;
    text-transform: uppercase; }
  .section-top > .container > div > a:hover {
    text-decoration: none;
    color: white; }
.section-top > .container > .login {
  padding: 5px 0; }

.messaging {
  clear: both;
  color: #bbb;
  text-align: center;
  margin-bottom: 30px; }
  .messaging .primary {
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase; }
  .messaging strong {
    color: white; }
  .messaging .secondary {
    font-size: 16px;
    line-height: 18px; }

@media (max-width: 767px) {
  .messaging {
    text-align: left;
    margin-bottom: 10px; }
    .messaging .primary {
      font-size: 20px;
      line-height: 20px; }
    .messaging .secondary {
      font-size: 13px;
      line-height: 18px; } }

.take-action {
  *zoom: 1;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  color: white;
  background-color: #eb0011; }
  .take-action:before, .take-action:after {
    display: table;
    content: ""; }
  .take-action:after {
    clear: both; }
  .take-action:hover, .take-action:active {
    text-decoration: none;
    color: white; }
  .take-action > * {
    padding: 27px 28px; }
  .take-action > .pull-right {
    background-color: #91010b;
    padding-right: 40px;
    background: url("../images/arrow-large.gif") 87% center no-repeat #91010b;
    -moz-transition: background-position 0.2s; }
  .take-action:hover > .pull-right {
    background-position: 89% center; }

#learn .take-action {
  margin-top: -37px;
  margin-bottom: 20px; }

.column-buzz > h2 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 46px;
  letter-spacing: -4px; }
.column-buzz > hr {
  margin: 10px 43% 30px;
  border: 0;
  border-top: 4px solid #eb0011; }
.column-buzz blockquote {
  quotes: "\201C""\201D""\2018""\2019";
  border-left: 0;
  padding: 0;
  margin-bottom: 15px; }
  .column-buzz blockquote:after {
    content: ""; }
  .column-buzz blockquote:before {
    content: open-quote;
    color: #aaa;
    font-size: 4em;
    line-height: .1em;
    margin-right: .25em;
    vertical-align: -0.4em; }
.column-buzz .tweet {
  *zoom: 1;
  position: relative;
  margin-bottom: 15px; }
  .column-buzz .tweet:before, .column-buzz .tweet:after {
    display: table;
    content: ""; }
  .column-buzz .tweet:after {
    clear: both; }
  .column-buzz .tweet > img {
    width: 58px;
    height: 58px;
    border: 6px solid white;
    float: left; }
  .column-buzz .tweet > p {
    margin: 0 0 5px 90px;
    background-color: #343434;
    padding: 5px 10px;
    min-height: 50px; }
    .column-buzz .tweet > p:before {
      border-color: transparent #343434;
      border-style: solid;
      border-width: 10px 10px 0 0;
      top: 10px;
      content: "";
      position: absolute;
      left: 80px; }
  .column-buzz .tweet > small {
    margin-left: 80px; }
.column-buzz > .callout {
  position: absolute;
  width: 120px;
  height: 120px;
  background-color: white;
  color: white;
  top: -60px;
  right: -60px;
  text-align: center; }
  .column-buzz > .callout > .one {
    margin-top: 30px;
    color: gray; }

#buzz {
  min-height: 500px; }

.link-with-action {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none; }
  .link-with-action > strong {
    color: #eb0011; }
  .link-with-action:hover > strong, .link-with-action:active > strong {
    color: #91010b; }
  .link-with-action:hover, .link-with-action:active {
    color: #91010b;
    text-decoration: none; }

h1.ribbon {
  margin-left: -38px; }
  h1.ribbon > .ribbon-content {
    background-color: #eb0011;
    color: white;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 5px 28px 5px 0;
    /* left margin set by ribbon */
    min-width: 30%; }
  h1.ribbon > .ribbon-content {
    padding-left: 38px; }
  h1.ribbon > .ribbon-left {
    border-top: 10px solid #91010b;
    bottom: -10px;
    border-left: 10px solid transparent; }

@media (min-width: 768px) and (max-width: 979px) {
  h1.ribbon {
    margin-left: -30px; }
    h1.ribbon > .ribbon-content {
      padding-left: 30px; } }

@media (min-width: 1200px) {
  h1.ribbon {
    margin-left: -40px; }
    h1.ribbon > .ribbon-content {
      padding-left: 40px; } }

.row-content > .row {
  background-color: #f2f2f2; }

@media (max-width: 767px) {
  .row-content > .row {
    background-color: white; } }

.column-buzz {
  background-color: #030303;
  color: white; }

.column-buzz a {
  color: white; }

.column-nav {
  background-color: #030303;
  color: #666; }
  .column-nav label {
    color: #666; }
  .column-nav a {
    color: #999; }
  .column-nav .headline,
  .column-nav h3,
  .column-nav h3 > a {
    color: white;
    text-transform: uppercase; }
  .column-nav .nav-location {
    font-size: 19px;
    line-height: 46px;
    text-transform: uppercase;
    margin-top: 15px; }
  .column-nav .nav-stacked {
    margin-left: -14px;
    margin-right: 14px; }
  .column-nav .nav-pills .active > a,
  .column-nav .nav-pills .active > a:hover {
    background-color: #030303;
    color: white; }

@media (max-width: 767px) {
  .column-nav > div > ul > li {
    float: left;
    width: 32%; }

  .nav-location {
    display: none; } }

/* Stacked navigations indent by 1 gutter each time */
.nav-stacked > li > .nav-stacked {
  margin-left: 14px;
  margin-bottom: 0;
  margin-right: 0; }

@media (min-width: 768px) and (max-width: 979px) {
  .nav-stacked > li > .nav-stacked {
    margin-left: 10px; } }

@media (min-width: 1200px) {
  .nav-stacked > li > .nav-stacked {
    margin-left: 15px; } }

.column-content {
  background-color: white; }
  .column-content h1 {
    margin-top: 25px;
    margin-bottom: 25px; }

.column-buzz {
  padding: 28px;
  position: relative; }

/* The body content of a site page */
.row-content {
  margin-bottom: 20px; }
