@font-face {
  font-family: 'OverpassBold';
  src: url("fonts/overpass-bold-wf.eot");
  src: url("fonts/overpass-bold-wf.eot?#iefix") format("eot"), url("fonts/overpass-bold-wf.woff") format("woff"), url("fonts/overpass-bold-wf.ttf") format("truetype"), url("fonts/overpass-bold-wf.svg#webfontzRhIMntw") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Overpass';
  src: url("fonts/overpass-wf.eot");
  src: url("fonts/overpass-wf.eot?#iefix") format("eot"), url("fonts/overpass-wf.woff") format("woff"), url("fonts/overpass-wf.ttf") format("truetype"), url("fonts/overpass-wf.svg#webfontiqWxLEM5") format("svg");
  font-weight: normal;
  font-style: normal;
}

label {
  margin: 1.2em 0;
  display: block;
  overflow: hidden;
  *zoom: 1;
}

.inputs label + input {
  margin-top: -1em;
}

label.error,
p.inline-errors {
  color: red;
  margin: 0;
  padding: 0;
}

input,
textarea {
  display: block;
  border: 0.1em solid #888;
  padding: .25em .5em;
  margin: .25em;
  width: 21.75em;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -khtml-border-radius: 0.4em;
  border-radius: 0.4em;
}
input:focus,
textarea:focus {
  border: 0.2em solid #509ef1;
  margin: .15em;
}
input.button,
textarea.button {
  color: white;
  background: #8FDB45;
  border: 1px solid #5c9c1e;
  padding: .3em 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  -o-border-radius: 2em;
  -ms-border-radius: 2em;
  -khtml-border-radius: 2em;
  border-radius: 2em;
  text-shadow: #5c9c1e 0 0.1em 0;
  margin: .5em 0;
  font-weight: bold;
  cursor: pointer;
  width: 23em;
}
input.button:focused, input.button:active,
textarea.button:focused,
textarea.button:active {
  outline: none;
}

textarea {
  height: 18em;
}

select {
  display: block;
}

fieldset.confirm {
  overflow: hidden;
  *zoom: 1;
  display: block;
  border: none;
  margin: .5em 0 2.5em;
  overflow: visible;
  position: relative;
}
fieldset.confirm li label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
fieldset.confirm li label.focusable:active, fieldset.confirm li label.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
fieldset.confirm li label.error,
fieldset.confirm label.error,
fieldset.confirm li p.inline-errors,
fieldset.confirm p.inline-errors {
  position: static;
  clip: auto;
  width: auto;
  height: auto;
  overflow: visible;
  margin: 0;
  width: 20em;
  background: white;
  padding: 0.5em;
  position: absolute;
  bottom: -2.1em;
}
fieldset.confirm input {
  float: left;
  width: 10em;
}

fieldset.promo label {
  margin: 0;
}

input.correct {
  border: 2px solid #8FDB45;
  margin: .15em;
  background: white url("../images/check.png") no-repeat right center;
}

input.error {
  border: 2px solid red;
  margin: .15em;
  background: white url("../images/eks.png") no-repeat right center;
}

input[type=radio], input[type=checkbox] {
  float: left;
  margin: .1em .5em 0;
}

form {
  width: 25em;
}
form ul, form ol {
  margin: 0;
  padding: 0;
}
form li {
  list-style-type: none;
}

fieldset {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

/* Customize radios for those that can */
/*
#foo:checked::before,
input[type="radio"] {
  position: absolute;
  clip: rect(0,0,0,0);
  clip: rect(0 0 0 0);
}

#foo:checked,
input[type="radio"]::before {
  content: url('../images/radio.png');
}

input[type="radio"]:checked::before {
  content: url('../images/radio-checked.png');
}
*/
/* Placeholder text */
::-webkit-input-placeholder {
  color: #999;
}

:-moz-placeholder {
  color: #999;
}

.word_wrap {
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

/* Styles for widgets used in the control panels */
/******* Dialog *******/
.os-widget.os-dialog {
  display: none;
  width: 28em;
  max-height: 50em;
  left: 50%;
  margin-left: -15em;
  position: absolute;
  top: 10em;
  z-index: 1000;
  padding: 1em;
  background: #574d4f;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-box-shadow: 0 0 2em rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 0 2em rgba(0, 0, 0, 0.7);
  -o-box-shadow: 0 0 2em rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.7);
}

.no-boxshadow .os-widget.os-dialog {
  border: 1px solid #666;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

a.os-close-link {
  float: right;
  font-family: Overpass, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  background-color: #0093d9;
  padding: .5em 1em;
  font-size: .7em;
  text-decoration: none;
  text-transform: uppercase;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -khtml-border-radius: 0.25em;
  border-radius: 0.25em;
  margin-bottom: 1em;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}
a.os-close-link::before {
  content: '✖ ';
}
a.os-close-link:hover {
  background-color: #26b9ff;
}

.os-dialog-container {
  clear: both;
  background: white;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -khtml-border-radius: 0.25em;
  border-radius: 0.25em;
  padding: .5em 1em;
}

/******* Inline doc widget *******/
/* standard styles */
.js .inline-docs-widget .link {
  display: inline;
  text-transform: lowercase;
}
.js .inline-docs-widget .link::before {
  content: '(';
}
.js .inline-docs-widget .link::after {
  content: ')';
}
.js .inline-docs-widget .docs {
  display: none;
}

/* fallback no js styles */
.no-js .inline-docs-widget .link {
  display: none;
}

/******* Popup link *******/
/* standard styles */
.js .popup-trigger {
  font-family: Overpass, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.js .popup-content {
  display: none;
}

.js .os-dialog.os-widget .popup-content {
  display: block;
}

/* fallback styles */
.no-js .popup-trigger {
  display: none;
}

/******* Edit widget *******/
/* standard styles */
/* falback styles */
#ssh_container dt {
  width: 20%;
  clear: left;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
}
#ssh_container .primary_key {
  font-weight: bold;
}
#ssh_container dd.ssh_key_preview {
  float: left;
}
#ssh_container .os-widget {
  margin: 0 0 0 2em;
}
#ssh_container .os-widget.new_ssh_key {
  margin: 0;
}
#ssh_container .new_ssh_key input.create {
  display: inline;
  width: auto;
}

/* Universal styles */
body {
  margin: 0;
  padding: 0;
  background-color: #574d4f;
  min-width: 52em;
}

/*
.multiplebgs body {
  background-image: url('../images/clouds_sm.png'),
                    url('../images/clouds_md.png'),
                    url('../images/clouds_lg.png');
  background-position: -150px -240px;
}
*/
body, select, input, textarea {
  color: #444444;
  font-family: "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: OverpassBold, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
}

a, a:active, a:visited {
  color: black;
}

a:hover {
  color: #3465a4;
}

a:active, a:focus {
  outline: none;
  border: none;
}

strong, th {
  font-weight: bold;
}

small {
  font-size: .85em;
}

::-webkit-selection {
  background-color: #574d4f;
  color: white;
}

::-moz-selection {
  background-color: #574d4f;
  color: white;
}

::selection {
  background-color: #574d4f;
  color: white;
}

.express ::-moz-selection {
  background-color: #4e9fdd;
}

.express ::-webkit-selection {
  background-color: #4e9fdd;
}

.express ::selection {
  background-color: #4e9fdd;
}

.flex ::-moz-selection {
  background-color: #dc9f2e;
}

.flex ::-webkit-selection {
  background-color: #dc9f2e;
}

.flex ::selection {
  background-color: #dc9f2e;
}

header, footer, section {
  display: block;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1.1em;
}

h4 {
  font-size: 1em;
}

/* End universal styles */
/* Shared styles */
/* Hide section headers that we don't want showing normally */
header.universal hgroup,
header.universal header,
nav > header,
#copyright header {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
header.universal hgroup.focusable:active, header.universal hgroup.focusable:focus,
header.universal header.focusable:active,
header.universal header.focusable:focus,
nav > header.focusable:active,
nav > header.focusable:focus,
#copyright header.focusable:active,
#copyright header.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Set content width */
.content,
section > header {
  width: 50em;
  margin: 0 auto;
}

/* Style buttons */
a.button {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  white-space: nowrap;
  padding: .3em 1em;
  font-family: Overpass, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: .9em;
  text-decoration: none;
  text-align: center;
  -moz-box-shadow: black 0 0.1em 0;
  -webkit-box-shadow: black 0 0.1em 0;
  -o-box-shadow: black 0 0.1em 0;
  box-shadow: black 0 0.1em 0;
  text-shadow: rgba(0, 0, 0, 0.3) 0 0.15em 0;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -khtml-border-radius: 0.2em;
  border-radius: 0.2em;
}
a.button {
  *display: inline;
}
a.button:hover {
  text-decoration: none !important;
}

/* Styles shared by "more" links */
a.more {
  font-family: OverpassBold, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1em;
}

/* Styles shared by main content areas */
.main {
  font-size: .9em;
  color: #555;
  margin: 0;
  padding: 1em 0 4em;
  background-color: white;
  display: block;
}
.main a {
  color: #1060c8;
  text-decoration: none;
}
.main a:hover {
  color: #3288f7;
  text-decoration: underline;
}
.main a:visited {
  color: #8f0ccc;
}
.main h1, .main h2, .main h3, .main h4, .main h5 {
  color: #555;
  font-family: Overpass, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
}
.main h1 {
  width: 100%;
  text-transform: uppercase;
}

/*.rgba .main {
  background-color: rgba(255, 255, 255, 0.9);
}*/
/* Flash notices */
.message {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 1em center;
  padding: .5em 0 .5em 2em;
  margin: 0 50px 1em;
  font-weight: bold;
  text-align: center;
}
.message p {
  margin: 0;
  padding: 0;
}
.message.error {
  /* Red bg */
  background-color: #f33;
  color: white;
  border-color: #c00;
  background-image: url("/app/images/icons/error.png");
  text-shadow: 0 0.1em 0 #990000;
}
.message.notice {
  /* bright orange bg */
  background-color: #fc0;
  background-image: url("/app/images/icons/important.png");
  color: white;
  border-color: #eb0;
  text-shadow: 0 0.1em 0 #cc9900;
}
.message.success {
  /* green bg */
  background-color: #6CDB00;
  background-image: url("/app/images/icons/success.png");
  color: white;
  border-color: #5ebf00;
  text-shadow: 0 0.1em 0 #4b9900;
}

/* End shared styles */
/* Layout styles */
header.universal {
  display: block;
}
header.universal > .content {
  padding: 1em;
}
header.universal nav {
  display: block;
  background-color: black;
}
header.universal nav ul {
  padding: 0;
  margin: 0;
}
header.universal nav li {
  display: inline;
  margin: 0;
  list-style-type: none;
}
header.universal nav li a {
  padding: .9em 1em;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  color: white;
  font-family: Overpass, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: .9em;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  max-width: 19em;
  text-overflow: ellipsis;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
header.universal nav li a {
  *display: inline;
}
.express header.universal nav li a.express, .flex header.universal nav li a.flex, header.universal nav li.active a,
header.universal nav li a:hover {
  background-color: #333333;
}
header.universal nav li.user {
  float: right;
}
.ie8 header.universal nav li.greeting {
  width: 19em;
}

#announcements {
  width: 25em;
  height: 4em;
  overflow: hidden;
  float: right;
  margin-top: 1em;
}
#announcements ul {
  margin: 0;
  padding: 0;
}
#announcements li {
  width: 25em;
  height: 4em;
  list-style-type: none;
}
#announcements li a {
  width: 23em;
  height: 4em;
  font-size: .8em;
  font-family: Overpass, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-decoration: none;
  color: white;
  background: transparent url("../images/announce-arrow.png") no-repeat right top;
  padding-right: 2em;
  text-align: right;
  display: block;
  float: right;
}
#announcements li a .title {
  font-family: OverpassBold;
  font-weight: bold;
  font-size: 1.2em;
}

footer.universal {
  display: block;
  color: white;
  font-size: .9em;
}
footer.universal ul {
  margin: 0;
  padding: 0;
}
footer.universal li {
  list-style-type: none;
}
footer.universal h2 {
  color: white;
  font-size: 1.1em;
}
footer.universal .content > ul > li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin: 0 1em;
  vertical-align: top;
  width: 10em;
}
footer.universal .content > ul > li {
  *display: inline;
}
footer.universal a {
  color: white;
  text-decoration: none;
}
footer.universal #copyright {
  overflow: hidden;
  *zoom: 1;
  background: black;
  margin: 2em 0;
}
footer.universal #copyright .content {
  padding: .5em 5em;
}
footer.universal #copyright p {
  float: left;
}
footer.universal #copyright img {
  float: right;
  margin-bottom: 1em;
}

.dialog {
  display: none;
  background: #323232;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  -o-border-radius: 2em;
  -ms-border-radius: 2em;
  -khtml-border-radius: 2em;
  border-radius: 2em;
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0 0 5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0 0 5em;
  -o-box-shadow: rgba(0, 0, 0, 0.7) 0 0 5em;
  box-shadow: rgba(0, 0, 0, 0.7) 0 0 5em;
  color: white;
  font-family: Overpass, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;
  z-index: 1000000;
  min-width: 30em;
  padding: 2em;
  overflow: auto;
}
.dialog a.more {
  display: block;
  width: 100%;
  text-align: center;
  color: #1060c8;
}
.dialog form {
  display: block;
  width: 25em;
  margin: 0 auto;
}
.dialog form input.button {
  margin: .5em 0;
  width: 24em;
}
.dialog form fieldset.confirm label.error {
  background: #323232;
}
.dialog form legend {
  color: white;
}
.dialog input {
  width: 22em;
}
.dialog label {
  display: block;
}
.dialog h1 {
  font-weight: normal;
  font-family: Overpass, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
  margin: 0;
}
.dialog h2 {
  text-align: center;
}
.dialog .close_button {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  border: none;
  outline: none;
}
.dialog .close_button:active {
  outline: none;
  border: none;
}
.dialog .close_button img {
  border: none;
}
.dialog #extra_options div {
  margin: 0 3em;
}
.dialog #extra_options p {
  margin: 0;
}
.dialog #extra_options h2 {
  font-size: 1em;
  margin: 0;
  padding: 2em 0 0;
}

/* End layout styles */
/* Home page styles */
.home .main {
  padding: 1em 0;
}

#opener {
  font-size: 1.1em;
  background: #2c1f34 url("../images/cloud-bg.png") repeat-x bottom;
  height: 513px;
  display: block;
}
#opener .content {
  width: 100%;
  height: 513px;
  overflow: hidden;
  background: url("../images/space-panda-ftw.png") no-repeat center;
  position: relative;
}
#opener header {
  padding: 105px 0 0 130px;
  text-align: center;
}
#opener h1 {
  color: white;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  font-family: Overpass, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-shadow: black 0 2px 0;
}
#opener h2 {
  color: white;
  font-size: 24px;
  font-weight: normal;
  font-family: Overpass, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 29px;
  text-transform: uppercase;
  margin: 0;
  text-shadow: black 0 2px 0;
}
#opener a.button {
  background-color: #ede6cb;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ede6cb), color-stop(100%, #ddce9b));
  background-image: -webkit-linear-gradient(top, #ede6cb, #ddce9b);
  background-image: -moz-linear-gradient(top, #ede6cb, #ddce9b);
  background-image: -o-linear-gradient(top, #ede6cb, #ddce9b);
  background-image: -ms-linear-gradient(top, #ede6cb, #ddce9b);
  background-image: linear-gradient(top, #ede6cb, #ddce9b);
  color: #3b3924;
  text-shadow: white 0 0.1em 0;
  -moz-box-shadow: #b69c3f 0 0.2em 0;
  -webkit-box-shadow: #b69c3f 0 0.2em 0;
  -o-box-shadow: #b69c3f 0 0.2em 0;
  box-shadow: #b69c3f 0 0.2em 0;
  font-size: 15px;
  position: relative;
  left: 50%;
  margin-top: 15px;
}

#exposition {
  margin-top: -1em;
}
#exposition p#intro {
  font-size: 1.1em;
  font-family: Overpass, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
#exposition > .content > div {
  margin: 3em 0 6em;
  padding: 0 3em;
  position: relative;
  min-height: 200px;
}
#exposition > .content > div img {
  display: block;
  position: absolute;
  top: 0;
}
#exposition > .content > div header, #exposition > .content > div p, #exposition > .content > div a {
  display: block;
  padding-left: 325px;
}
#exposition > .content > div h2 {
  margin-top: 0;
}
#exposition > .content div:last-child {
  margin-bottom: 3em;
}
#exposition > .content #free img {
  right: 0;
  top: -16px;
}
#exposition > .content #free header, #exposition > .content #free p, #exposition > .content #free a {
  padding-left: 0;
  padding-right: 325px;
}

#social .content {
  padding-bottom: 2em;
}
#social div, #social li {
  overflow: hidden;
  *zoom: 1;
}
#social .content {
  width: 746px;
}
#social img {
  float: left;
  vertical-align: top;
  padding: .5em;
  margin-top: .5em;
}
#social img.avatar {
  max-height: 64px;
  max-width: 64px;
}
#social p.tweet {
  position: relative;
  padding: 1em;
  margin: 0.1em 0.1em 2em 6em;
  border: 1px solid #B8E6F6;
  min-height: 3em;
  background: #def3fb;
  -moz-border-radius: 1.25em;
  -webkit-border-radius: 1.25em;
  -o-border-radius: 1.25em;
  -ms-border-radius: 1.25em;
  -khtml-border-radius: 1.25em;
  border-radius: 1.25em;
}
.cssgradients #social p.tweet {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #def3fb));
  background: -webkit-linear-gradient(top, #ffffff, #def3fb 2em);
  background: -moz-linear-gradient(top, #ffffff, #def3fb 2em);
  background: -o-linear-gradient(top, #ffffff, #def3fb 2em);
  background: -ms-linear-gradient(top, #ffffff, #def3fb 2em);
  background: linear-gradient(top, #ffffff, #def3fb 2em);
}
#social p.tweet:after {
  content: '';
  background: url("../images/bubble-extension.png") no-repeat left top;
  position: absolute;
  top: 1.3em;
  left: -20px;
  width: 20px;
  height: 27px;
  display: block;
}
#social .ie8 p.tweet:after {
  background: none;
}
#social a.tweeter {
  font-weight: bold;
}
#social a.tweeter:first-child {
  color: black;
}
#social ul {
  margin: 0;
  padding: 0;
}
#social li {
  list-style-type: none;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  width: 24em;
  vertical-align: top;
  padding-left: .7em;
}
#social li {
  *display: inline;
}
#social #social_links {
  padding: .5em 4em;
}
#social #social_links a.button {
  background-color: #574d4f;
  color: white;
  margin-left: .5em;
  float: right;
  font-size: 1em;
}

.no-js #social {
  display: none;
}

.ie7 li.link {
  float: left;
}

#bottom_signup {
  text-align: center;
  font-size: 1.2em;
  padding: 4em;
}
#bottom_signup header, #bottom_signup .content {
  width: 35em;
}
#bottom_signup h1 {
  border-bottom: none;
}
#bottom_signup h1, #bottom_signup h2 {
  margin: 0;
  padding: 0;
}
#bottom_signup a.button {
  background-color: #574d4f;
  color: white;
  margin: 1em;
}

/* End home page styles */
/* Service page styles */
nav.service {
  color: white;
  font-family: Overpass, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.9em;
  text-transform: uppercase;
}
.express nav.service {
  background-color: #4e9fdd;
}
.express nav.service .express {
  background-color: white;
  color: #666;
}
.flex nav.service {
  background-color: #dc9f2e;
}
.flex nav.service .flex {
  background-color: white;
  color: #666;
}
nav.service li.active a,
nav.service a:hover {
  background-color: white !important;
  color: #666;
}
nav.service:last {
  float: none !important;
}

.ie7 .product .main .content .content {
  padding-left: 4em;
  clear: left;
  float: right;
}

.product .main {
  overflow: hidden;
  *zoom: 1;
}
.product .main > header {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.product .main > header.focusable:active, .product .main > header.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.product .main .content nav {
  text-align: right;
  width: 11em;
  float: left;
  font-family: Overpass, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin-top: 2.7em;
  font-size: 1.1em;
}
.product .main .content nav ul {
  padding: 0;
  margin: 0;
}
.product .main .content nav header {
  padding: 3em .5em 0;
  width: auto;
  font-size: .8em;
}
.product .main .content nav header h2 {
  padding: 0;
  margin: 0;
}
.product .main .content nav > header {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.product .main .content nav > header.focusable:active, .product .main .content nav > header.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.product .main .content nav li {
  list-style-type: none;
}
.product .main .content nav a {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  padding: .5em;
  color: #787878;
  text-decoration: none;
  border-bottom: 1px solid #ececec;
  width: 10em;
}
.product .main .content nav a {
  *display: inline;
}
.js .product .main .content nav a.active,
.product .main .content nav a:hover {
  color: #333;
}
.product .main .content nav #account.signed_out {
  color: #aaa;
}
.product .main .content nav #account.signed_out header {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.product .main .content nav #account.signed_out header.focusable:active, .product .main .content nav #account.signed_out header.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.product .main .content nav #account.signed_out a.sign_up, .product .main .content nav #account.signed_out a.request {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin: .5em  0;
  padding: 1em;
  background: #FFFCAF;
  border: 1px solid #FFDC41;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -khtml-border-radius: 0.25em;
  border-radius: 0.25em;
  color: #333;
  text-align: center;
}
.product .main .content nav #account.signed_out a.sign_up, .product .main .content nav #account.signed_out a.request {
  *display: inline;
}
.product .main .content .content {
  width: 35em;
  padding-left: 15em;
}
.product .main h1 {
  border: 0;
  padding-left: 0;
}
.product .main a.more {
  margin: 3em 0;
  display: block;
  font-size: 1.2em;
}
.product.express .main h1 {
  color: #4e9fdd;
}
.product.express .main nav h2 {
  color: #4e9fdd;
}
.product.flex .main h1 {
  color: #dc9f2e;
}
.product.flex .main nav h2 {
  color: #dc9f2e;
}

/* product overview page styles */
/* Override the body min-width since this page is a bit wider */
body.product.overview {
  min-width: 55em;
}

#product_overview {
  padding: 0;
}

#product_overview .info {
  margin: 0;
  padding: 3em 0 12em;
  background: #002e53 url("/app/images/transparent_cloud.png") repeat-x 8em center;
}
#product_overview .info ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 62em;
}

#product_overview.prev_login .info {
  padding-bottom: 18em;
}

#product_overview.prev_login.no_error .info {
  padding-bottom: 15em;
}

#product_overview.authorized .info {
  padding-bottom: 2em;
}

#product_overview ul.content {
  text-align: center;
}

.multiplebgs.cssgradients #product_overview .info {
  background-image: url("/app/images/transparent_cloud.png"), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, color-stop(0%, #0093d9), color-stop(100%, #002e53));
  background-image: url("/app/images/transparent_cloud.png"), -webkit-radial-gradient(center bottom, circle farthest-side, #0093d9, #002e53);
  background-image: url("/app/images/transparent_cloud.png"), -moz-radial-gradient(center bottom, circle farthest-side, #0093d9, #002e53);
  background-image: url("/app/images/transparent_cloud.png"), -o-radial-gradient(center bottom, circle farthest-side, #0093d9, #002e53);
  background-image: url("/app/images/transparent_cloud.png"), -ms-radial-gradient(center bottom, circle farthest-side, #0093d9, #002e53);
  background-image: url("/app/images/transparent_cloud.png"), radial-gradient(center bottom, circle farthest-side, #0093d9, #002e53);
  background-repeat: repeat-x, no-repeat;
  background-position: center 8em, 0 0;
}

.product_box {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  background: white;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  -o-border-radius: 2em;
  -ms-border-radius: 2em;
  -khtml-border-radius: 2em;
  border-radius: 2em;
  width: 35%;
  height: 24em;
  margin-right: 2.5%;
  padding: 1em 2em;
  text-align: left;
}
.product_box {
  *display: inline;
}
.product_box:last-child {
  margin-right: 0;
}
.product_box h2 {
  text-transform: uppercase;
  font-family: Overpass, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 2.5em;
  line-height: .5em;
}
.product_box h2 a:hover {
  text-decoration: none;
}
.product .main .product_box a.more {
  margin: 1em 0;
}
.product_box.express h2 a, .product_box.express a.more {
  color: #4e9fdd;
}
.product_box.flex h2 a, .product_box.flex a.more {
  color: #dc9f2e;
}
.product .main .content .product_box .content {
  width: auto;
  margin: 0;
  padding: 0;
}
.product_box .content {
  color: #666;
  font-size: .9em;
  line-height: 1.5em;
}
.product_box p {
  margin: 0;
  padding: 0;
}

#user_box {
  background: #002e53;
  height: 4em;
  overflow: visible;
}
#user_box .content {
  position: relative;
}
.authorized #user_box .content {
  top: -2em;
  width: 40em;
}
.unauthorized #user_box .content {
  background: #002e53;
  width: 35em;
  height: 12em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  -o-border-radius: 1em;
  -ms-border-radius: 1em;
  -khtml-border-radius: 1em;
  border-radius: 1em;
  padding: 2em;
  top: -18em;
  text-align: center;
}
.unauthorized.prev_login #user_box .content {
  height: 18em;
  top: -24em;
}
.unauthorized.prev_login.no_error #user_box .content {
  height: 15em;
  top: -21em;
}
.no-cssgradients .unauthorized #user_box .content {
  background: #002039;
}
#user_box h2 {
  color: white;
  font-family: OverpassBold, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  margin: 0;
}
#user_box .button {
  background-color: #ede6cb;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ede6cb), color-stop(100%, #ddce9b));
  background-image: -webkit-linear-gradient(top, #ede6cb, #ddce9b);
  background-image: -moz-linear-gradient(top, #ede6cb, #ddce9b);
  background-image: -o-linear-gradient(top, #ede6cb, #ddce9b);
  background-image: -ms-linear-gradient(top, #ede6cb, #ddce9b);
  background-image: linear-gradient(top, #ede6cb, #ddce9b);
  color: #3b3924;
  text-shadow: white 0 0.1em 0;
  -moz-box-shadow: #b69c3f 0 0.2em 0;
  -webkit-box-shadow: #b69c3f 0 0.2em 0;
  -o-box-shadow: #b69c3f 0 0.2em 0;
  box-shadow: #b69c3f 0 0.2em 0;
}
#user_box .sign_up.button {
  font-size: 1.5em;
  display: block;
  width: 10em;
  margin: 2em auto .5em;
}
#user_box a {
  color: #0093d9;
}
#user_box img {
  position: absolute;
  bottom: -65px;
  left: 38%;
}
#user_box #login-form form {
  margin: 1em 0;
  width: auto;
}
#user_box #login-form label {
  color: white;
  font-family: Overpass, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1em;
  text-align: right;
  margin: 0 6em 0 0;
  padding: 0;
}
#user_box #login-form label.error {
  color: red;
}
#user_box #login-form input {
  width: 20em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -khtml-border-radius: 0.25em;
  border-radius: 0.25em;
  border: none;
  display: inline;
}
#user_box #login-form input.button {
  width: 21em;
  margin-left: 1.5em;
}
#user_box #login-form input:focus {
  margin: .25em;
}
#user_box #login-form input.button:focus {
  margin: .5em 0 .5em 1.5em;
}
#user_box #extra_options h2 {
  display: none;
}
#user_box #lost_password a, #user_box #register a {
  float: right;
  font-weight: normal;
  font-family: "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0 1.3em;
}

.cssgradients #user_box {
  background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 250, color-stop(0%, #0093d9), color-stop(100%, #002e53));
  background-image: -webkit-radial-gradient(center top, circle closest-corner, #0093d9, #002e53 250px);
  background-image: -moz-radial-gradient(center top, circle closest-corner, #0093d9, #002e53 250px);
  background-image: -o-radial-gradient(center top, circle closest-corner, #0093d9, #002e53 250px);
  background-image: -ms-radial-gradient(center top, circle closest-corner, #0093d9, #002e53 250px);
  background-image: radial-gradient(center top, circle closest-corner, #0093d9, #002e53 250px);
}

/* media overview styles */
#media_overview .content {
  width: 60em;
}
#media_overview .content > div {
  width: 50%;
  float: left;
}
#media_overview ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#media_overview li {
  display: block;
  overflow: hidden;
  *zoom: 1;
}
#media_overview .vid {
  margin-bottom: .5em;
}
#media_overview .vid .video-thumb {
  float: left;
}
#media_overview .vid h2 {
  float: right;
  font-size: 1.1em;
  margin: 2em 1em 0;
  width: 50%;
}
#media_overview .vid h2 a {
  color: #666;
}
#media_overview #retweets ul li {
  margin: 10px 0;
}
#media_overview .avatar {
  float: left;
  margin: 4px 0 0;
  border: 0;
}
#media_overview .tweet {
  background: #ede6cb;
  font-size: .8em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
  margin: 0  0 0 55px;
  padding: 5px;
  font-size: 10px;
  height: 45px;
}
#media_overview .tweet a {
  color: #0093d9;
}
#media_overview a.more {
  margin: 1.5em 0;
}

#flex-ways em {
  font-weight: bold;
  font-style: normal;
}
#flex-ways ol {
  list-style-type: none;
  padding-left: 0;
}

#free-flex #offer {
  background-color: #5FCF07;
  color: white;
  font-family: Overpass, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.1em;
  margin: 1em 0;
  padding: 1em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
}

/* Feature matrix */
.features .main {
  margin: 0;
  padding: 5em 0;
  background: #002e53 url("/app/images/transparent_cloud.png") repeat-x 8em center;
}
.features .main .content {
  padding-left: 5em;
}
.features .main .content > div {
  background: white;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  -o-border-radius: 2em;
  -ms-border-radius: 2em;
  -khtml-border-radius: 2em;
  border-radius: 2em;
  position: relative;
  width: 19em;
  padding: 2em;
  margin: 1em;
  float: left;
}
.features .main .content > div:first-child {
  margin-left: 0;
}
.features .main .content > div:last-child {
  margin-right: 0;
}
.features .main .content > div h2 {
  color: white;
  position: absolute;
  top: -2em;
  left: 0;
  font-size: 2em;
  line-height: 1em;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.features .main .content > div h3 {
  width: 10em;
  margin: 0;
  padding: 0;
  position: absolute;
  left: -10.5em;
  display: none;
  color: #ccc;
  text-align: right;
  font-size: 1.2em;
}
.features .main .content > div:first-child h3 {
  display: block;
}
.features .main .content > div ul {
  list-style-type: none;
  margin: 2em auto 0;
  padding: 0;
  border-top: 2px solid #cecece;
}
.features .main .content > div ul li {
  margin: .5em auto;
  padding: .25em 2em;
  height: 1.1em;
  width: 7em;
  background: #c8c5ac;
  color: white;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -khtml-border-radius: 0.3em;
  border-radius: 0.3em;
  font-size: 1.3em;
  font-family: Overpass, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
}
.features .main .content > div li.disabled {
  background: #f3f3f3;
}
.features .main .content > div ul.languages li.disabled {
  height: 3.5em;
}
.features .main .content > div li.soon {
  background: transparent;
  color: #666;
}
.features .main .content > div ul.languages {
  margin-top: 0;
  border-top: 0;
}
.features .main .content > div ul.languages li {
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  -o-border-radius: 1em;
  -ms-border-radius: 1em;
  -khtml-border-radius: 1em;
  border-radius: 1em;
  margin: 2em 1em;
  padding-left: 1.5em;
  padding-bottom: 1em;
  font-family: Overpass, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.1em;
  text-align: left;
  color: black;
  width: auto;
  height: auto;
}
.features .main .content > div ul.languages li ul {
  margin: 0;
  border: 0;
}
.features .main .content > div ul.languages li ul li {
  background: transparent;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin: 0;
  padding: .25em .5em;
  width: 4em;
}
.features .main .content > div ul.languages li ul li {
  *display: inline;
}
.features .main .content > div ul.languages li h4 {
  color: white;
  position: relative;
  top: -0.5em;
  left: 0;
  padding: .25em 1em;
  display: inline;
  font-size: 1.2em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -khtml-border-radius: 0.3em;
  border-radius: 0.3em;
}
.features .main .content > div ul.languages li.ruby {
  background: #ff8080;
}
.features .main .content > div ul.languages li.ruby h4 {
  background: #cc0000;
}
.features .main .content > div ul.languages li.python {
  background: #e7eeab;
}
.features .main .content > div ul.languages li.python h4 {
  background: #afbf27;
}
.features .main .content > div ul.languages li.perl {
  background: #fef2c7;
  height: 3.5em;
}
.features .main .content > div ul.languages li.perl h4 {
  background: #fcc917;
}
.features .main .content > div ul.languages li.php {
  background: #e4f0fa;
}
.features .main .content > div ul.languages li.php h4 {
  background: #4e9fdd;
}
.features .main .content > div ul.languages li.java {
  background: #a499c2;
}
.features .main .content > div ul.languages li.java h4 {
  background: #564979;
}

.multiplebgs.cssgradients .features .main {
  background-image: url("/app/images/transparent_cloud.png"), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, color-stop(0%, #0093d9), color-stop(100%, #002e53));
  background-image: url("/app/images/transparent_cloud.png"), -webkit-radial-gradient(center bottom, circle farthest-side, #0093d9, #002e53);
  background-image: url("/app/images/transparent_cloud.png"), -moz-radial-gradient(center bottom, circle farthest-side, #0093d9, #002e53);
  background-image: url("/app/images/transparent_cloud.png"), -o-radial-gradient(center bottom, circle farthest-side, #0093d9, #002e53);
  background-image: url("/app/images/transparent_cloud.png"), -ms-radial-gradient(center bottom, circle farthest-side, #0093d9, #002e53);
  background-image: url("/app/images/transparent_cloud.png"), radial-gradient(center bottom, circle farthest-side, #0093d9, #002e53);
  background-repeat: repeat-x, no-repeat;
  background-position: center 8em, 0 0;
}

/* End service pages */
/* Start register page */
li.captcha {
  margin: 0 1em;
}

/* End register page */
/* Start login page */
/* End login page */
/* Dashboard page */
.control_panel .main {
  background: #002e53 url("/app/images/transparent_cloud.png") repeat-x 8em center;
  position: relative;
}
.control_panel .main a {
  color: #0093d9;
}
.control_panel .main > header {
  position: absolute;
  top: 4em;
  width: 48em;
  padding: 1em;
  left: 50%;
  margin-left: -26em;
  z-index: 10;
}
.control_panel .main > header h1 {
  font-size: 2em;
  text-transform: none;
  color: #0093d9;
}
.control_panel .main .tabs ul {
  position: absolute;
  text-align: right;
  width: 50em;
  padding: 0;
  left: 50%;
  margin: 0 0 0 -25em;
  top: 3em;
  list-style-type: none;
}
.control_panel .main .tabs li {
  display: inline;
}
.control_panel .main .tabs li a {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  background: white;
  -moz-border-radius: 1em 1em 0 0;
  -webkit-border-radius: 1em 1em 0 0;
  -o-border-radius: 1em 1em 0 0;
  -ms-border-radius: 1em 1em 0 0;
  -khtml-border-radius: 1em 1em 0 0;
  border-radius: 1em 1em 0 0;
  width: 10em;
  padding: 1em;
  text-align: center;
}
.control_panel .main .tabs li a {
  *display: inline;
}
.control_panel .main .content {
  font-family: Overpass, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  position: relative;
  background: white;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  -o-border-radius: 2em;
  -ms-border-radius: 2em;
  -khtml-border-radius: 2em;
  border-radius: 2em;
  padding: 5em 4em 3em;
  width: 48em;
  margin-top: 3em;
}
.control_panel .main .content .cp-section {
  margin-bottom: 2.5em;
}
.control_panel .main .content .cp-section h2 {
  margin-left: -1em;
  text-transform: uppercase;
}
.control_panel .main .content .intro > header {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.control_panel .main .content .intro > header.focusable:active, .control_panel .main .content .intro > header.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.control_panel .main .content .intro {
  overflow: hidden;
  *zoom: 1;
  padding: 2em 0 0;
  font-family: "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.control_panel .main .content #video, .control_panel .main .content #resources {
  width: 22em;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  vertical-align: top;
}
.control_panel .main .content #video, .control_panel .main .content #resources {
  *display: inline;
}
.control_panel .main .content #video {
  margin-top: 1em;
}
.control_panel .main .content #resources ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 1em;
}
.control_panel .main .content #resources li {
  font-family: Overpass, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.1em;
  line-height: 1.4em;
}
.control_panel .main .content h2.with-inline-docs {
  float: left;
}
.control_panel .main .content h2.with-inline-docs + div.inline-docs-widget {
  float: left;
  clear: none;
}
.control_panel .main .content div.inline-docs-widget + div {
  clear: both;
}
.control_panel .main .content .inline-docs-widget {
  font-size: 0.9em;
  margin: 1.3em .5em 0;
}
.control_panel .main .content .edit-widget .current {
  color: black;
  display: inline;
}
.control_panel .main .content .edit-widget .os-popup.os-widget {
  display: inline;
  margin: 0 0 0 5em;
}
.control_panel .main .content .edit-widget .os-popup.os-widget .popup-trigger {
  display: inline;
}
.control_panel .main .content .edit-widget .os-popup.os-widget .popup-trigger a {
  color: #dc9f2e;
}
.control_panel .main .content #app_list_container {
  overflow: hidden;
  *zoom: 1;
}
.control_panel .main .content #app_list_container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ececec;
  margin-bottom: 1em;
  overflow: hidden;
  *zoom: 1;
}
.control_panel .main .content #app_list_container li {
  overflow: hidden;
  *zoom: 1;
}
.control_panel .main .content #app_list_container li header {
  width: 10em;
}
.control_panel .main .content #app_list_container li h1 {
  text-align: right;
  font-size: 1em;
  font-weight: bold;
  color: black;
  text-transform: none;
  margin: 0;
}
.control_panel .main .content #app_list_container li dl {
  float: left;
  width: 43em;
  margin: 0 0 2em;
}
.control_panel .main .content #app_list_container li dt {
  color: #999;
  width: 10em;
  float: left;
  text-align: right;
  margin-right: 1em;
}
.control_panel .main .content #app_list_container li dd {
  margin-left: 11em;
  overflow-x: auto;
  white-space: nowrap;
}
.control_panel .main .content #app_list_container li dd.app_type {
  text-transform: uppercase;
}
.control_panel .main .content #app_list_container li .popup-trigger {
  float: right;
  text-align: right;
  margin: 0.5em 0;
}
.control_panel .main .content #app_list_container li .popup-trigger a {
  color: #cc0000;
}
.control_panel .main #app_form form {
  width: 100%;
}
.control_panel .main #app_form select {
  margin: 0.1em;
}
.control_panel .main #app_form li, .control_panel .main #app_form fieldset.buttons {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  overflow: hidden;
  *zoom: 1;
  vertical-align: top;
}
.control_panel .main #app_form li, .control_panel .main #app_form fieldset.buttons {
  *display: inline;
}
.control_panel .main #app_form li label, .control_panel .main #app_form fieldset.buttons label {
  display: inline;
}
.control_panel .main #app_form li input, .control_panel .main #app_form fieldset.buttons input {
  display: inline;
}
.control_panel .main #app_form li.string {
  width: 24em;
}
.control_panel .main #app_form li.select {
  width: 8em;
}
.control_panel .main #app_form fieldset.buttons {
  width: 7em;
}
.control_panel .main #app_form fieldset.buttons input {
  width: 7em;
  margin-top: 1.1em;
}
.control_panel .main #quote blockquote {
  color: black;
}

.control_panel form {
  width: 23.5em;
}
.control_panel textarea {
  height: 5em;
}
.control_panel input.button {
  background-color: #0093d9;
  border: none;
  color: white;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}
.control_panel label {
  font-family: Overpass, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: .9em;
}
.control_panel .os-dialog form {
  margin: 0 auto;
}

.delete_button {
  background: #cc0000;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border: none;
}

.cssgradients.multiplebgs .control_panel .main {
  background-image: url("/app/images/transparent_cloud.png"), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, color-stop(0%, #0093d9), color-stop(100%, #002e53));
  background-image: url("/app/images/transparent_cloud.png"), -webkit-radial-gradient(center bottom, circle farthest-side, #0093d9, #002e53);
  background-image: url("/app/images/transparent_cloud.png"), -moz-radial-gradient(center bottom, circle farthest-side, #0093d9, #002e53);
  background-image: url("/app/images/transparent_cloud.png"), -o-radial-gradient(center bottom, circle farthest-side, #0093d9, #002e53);
  background-image: url("/app/images/transparent_cloud.png"), -ms-radial-gradient(center bottom, circle farthest-side, #0093d9, #002e53);
  background-image: url("/app/images/transparent_cloud.png"), radial-gradient(center bottom, circle farthest-side, #0093d9, #002e53);
  background-repeat: repeat-x, no-repeat;
  background-position: center 8em, 0 0;
}

.partner #join {
  background: #a4999b;
  color: black;
  padding: 1em;
  border: 0.1em solid #574d4f;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  -o-border-radius: 1em;
  -ms-border-radius: 1em;
  -khtml-border-radius: 1em;
  border-radius: 1em;
}
.partner #join p {
  margin: 0;
}

.ie7 li.password {
  float: left;
}

#outage_notification {
  background: #ffdc4c;
  width: 100%;
  min-width: 960px;
  margin: 0;
  padding: 0 0 5px;
  font-size: 9.5pt;
}
#outage_notification pre {
  width: 940px;
  margin: 0 auto;
  padding: 10px 0;
  color: black;
  border-top: 1px solid white;
}
#outage_notification h2 {
  width: 960px;
  margin: 0 auto;
  padding: 10px 10px 5px;
  color: #333;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 1px white;
}

#outage_toggle {
  background: #ffdc4c;
  position: absolute;
  padding: 11px 30px 6px;
  color: black;
  font-family: OverpassBold;
  font-size: 10pt;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px white;
}

/*/mediaquery*/
/*/mediaquery*/
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
