@font-face {
  font-family: 'OverpassBold';
  src: url("fonts/overpass-bold-wf.eot");
  src: url("fonts/overpass-bold-wf.eot?#iefix") format("eot"), url("fonts/overpass-bold-wf.woff") format("woff"), url("fonts/overpass-bold-wf.ttf") format("truetype"), url("fonts/overpass-bold-wf.svg#webfontzRhIMntw") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Overpass';
  src: url("fonts/overpass-wf.eot");
  src: url("fonts/overpass-wf.eot?#iefix") format("eot"), url("fonts/overpass-wf.woff") format("woff"), url("fonts/overpass-wf.ttf") format("truetype"), url("fonts/overpass-wf.svg#webfontiqWxLEM5") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 3, ../../app/stylesheets/partials/_forms.scss */
label {
  margin: 1.2em 0;
  display: block;
  overflow: hidden;
  *zoom: 1;
}

/* line 10, ../../app/stylesheets/partials/_forms.scss */
label.error,
p.inline-errors {
  color: red;
  margin: 0;
  padding: 0;
}

/* line 17, ../../app/stylesheets/partials/_forms.scss */
input,
textarea {
  display: block;
  border: 0.1em solid #888;
  padding: .25em .5em;
  margin: .25em;
  width: 21.75em;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -khtml-border-radius: 0.4em;
  border-radius: 0.4em;
}
/* line 25, ../../app/stylesheets/partials/_forms.scss */
input:focus,
textarea:focus {
  border: 0.2em solid #509ef1;
  margin: .15em;
}
/* line 30, ../../app/stylesheets/partials/_forms.scss */
input.button,
textarea.button {
  color: white;
  background: #8FDB45;
  border: 1px solid #5c9c1e;
  padding: .3em 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  -o-border-radius: 2em;
  -ms-border-radius: 2em;
  -khtml-border-radius: 2em;
  border-radius: 2em;
  text-shadow: #5c9c1e 0 0.1em 0;
  margin: .5em 0;
  font-weight: bold;
  cursor: pointer;
  width: 23em;
}
/* line 44, ../../app/stylesheets/partials/_forms.scss */
input.button:focused, input.button:active,
textarea.button:focused,
textarea.button:active {
  outline: none;
}

/* line 49, ../../app/stylesheets/partials/_forms.scss */
textarea {
  height: 18em;
}

/* line 53, ../../app/stylesheets/partials/_forms.scss */
select {
  display: block;
}

/* line 57, ../../app/stylesheets/partials/_forms.scss */
fieldset.confirm {
  overflow: hidden;
  *zoom: 1;
  display: block;
  border: none;
  margin-bottom: 2.5em;
  overflow: visible;
  position: relative;
}
/* line 65, ../../app/stylesheets/partials/_forms.scss */
fieldset.confirm li label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 50, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
fieldset.confirm li label.focusable:active, fieldset.confirm li label.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/* line 70, ../../app/stylesheets/partials/_forms.scss */
fieldset.confirm li label.error,
fieldset.confirm li p.inline-errors {
  position: static;
  clip: auto;
  width: auto;
  height: auto;
  overflow: visible;
  margin: 0;
  width: 20em;
  background: white;
  padding: 0.5em;
  position: absolute;
  bottom: -2.1em;
}
/* line 79, ../../app/stylesheets/partials/_forms.scss */
fieldset.confirm input {
  float: left;
  width: 10em;
}

/* line 85, ../../app/stylesheets/partials/_forms.scss */
input.correct {
  border: 2px solid #8FDB45;
  margin: .15em;
  background: white url("../images/check.png") no-repeat right center;
}

/* line 91, ../../app/stylesheets/partials/_forms.scss */
input.error {
  border: 2px solid red;
  margin: .15em;
  background: white url("../images/eks.png") no-repeat right center;
}

/* line 97, ../../app/stylesheets/partials/_forms.scss */
input[type=radio], input[type=checkbox] {
  float: left;
  margin: .1em .5em 0;
}

/* line 102, ../../app/stylesheets/partials/_forms.scss */
form {
  width: 25em;
}
/* line 104, ../../app/stylesheets/partials/_forms.scss */
form ul, form ol {
  margin: 0;
  padding: 0;
}
/* line 108, ../../app/stylesheets/partials/_forms.scss */
form li {
  list-style-type: none;
}

/* line 113, ../../app/stylesheets/partials/_forms.scss */
fieldset {
  border: none;
  outline: none;
}

/* Customize radios for those that can */
/*
#foo:checked::before,
input[type="radio"] {
  position: absolute;
  clip: rect(0,0,0,0);
  clip: rect(0 0 0 0);
}

#foo:checked,
input[type="radio"]::before {
  content: url('../images/radio.png');
}

input[type="radio"]:checked::before {
  content: url('../images/radio-checked.png');
}
*/
/* Placeholder text */
/* line 138, ../../app/stylesheets/partials/_forms.scss */
::-webkit-input-placeholder {
  color: #999;
}

/* line 141, ../../app/stylesheets/partials/_forms.scss */
:-moz-placeholder {
  color: #999;
}

/* Universal styles */
/* line 3, ../../app/stylesheets/partials/_page.scss */
body {
  margin: 0;
  padding: 0;
  background-color: #574d4f;
}

/* line 9, ../../app/stylesheets/partials/_page.scss */
body.home {
  min-width: 52em;
}

/*
.multiplebgs body {
  background-image: url('../images/clouds_sm.png'),
                    url('../images/clouds_md.png'),
                    url('../images/clouds_lg.png');
  background-position: -150px -240px;
}
*/
/* line 22, ../../app/stylesheets/partials/_page.scss */
body, select, input, textarea {
  color: #444444;
  font-family: "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1em;
}

/* line 28, ../../app/stylesheets/partials/_page.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: OverpassBold, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
}

/* line 33, ../../app/stylesheets/partials/_page.scss */
a, a:active, a:visited {
  color: black;
}

/* line 34, ../../app/stylesheets/partials/_page.scss */
a:hover {
  color: #3465a4;
}

/* line 36, ../../app/stylesheets/partials/_page.scss */
a:active, a:focus {
  outline: none;
  border: none;
}

/* line 38, ../../app/stylesheets/partials/_page.scss */
strong, th {
  font-weight: bold;
}

/* line 42, ../../app/stylesheets/partials/_page.scss */
small {
  font-size: .85em;
}

/* line 46, ../../app/stylesheets/partials/_page.scss */
::-webkit-selection {
  background-color: #574d4f;
  color: white;
}

/* line 49, ../../app/stylesheets/partials/_page.scss */
::-moz-selection {
  background-color: #574d4f;
  color: white;
}

/* line 52, ../../app/stylesheets/partials/_page.scss */
::selection {
  background-color: #574d4f;
  color: white;
}

/* line 56, ../../app/stylesheets/partials/_page.scss */
header, footer, section {
  display: block;
}

/* line 58, ../../app/stylesheets/partials/_page.scss */
h1 {
  font-size: 1.5em;
}

/* line 59, ../../app/stylesheets/partials/_page.scss */
h2 {
  font-size: 1.25em;
}

/* line 60, ../../app/stylesheets/partials/_page.scss */
h3 {
  font-size: 1.1em;
}

/* line 61, ../../app/stylesheets/partials/_page.scss */
h4 {
  font-size: 1em;
}

/* End universal styles */
/* Shared styles */
/* Hide section headers that we don't want showing normally */
/* line 72, ../../app/stylesheets/partials/_page.scss */
header.universal hgroup,
header.universal header,
nav > header,
#copyright header {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 50, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
header.universal hgroup.focusable:active, header.universal hgroup.focusable:focus,
header.universal header.focusable:active,
header.universal header.focusable:focus,
nav > header.focusable:active,
nav > header.focusable:focus,
#copyright header.focusable:active,
#copyright header.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Set content width */
/* line 78, ../../app/stylesheets/partials/_page.scss */
.content,
section > header {
  width: 50em;
  margin: 0 auto;
}

/* Style buttons */
/* line 84, ../../app/stylesheets/partials/_page.scss */
a.button {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  white-space: nowrap;
  padding: .3em 1em;
  font-family: Overpass, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: .9em;
  text-decoration: none;
  text-align: center;
  -moz-box-shadow: black 0 0.1em 0;
  -webkit-box-shadow: black 0 0.1em 0;
  -o-box-shadow: black 0 0.1em 0;
  box-shadow: black 0 0.1em 0;
  text-shadow: rgba(0, 0, 0, 0.3) 0 0.15em 0;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -khtml-border-radius: 0.2em;
  border-radius: 0.2em;
}
/* line 7, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
a.button {
  *display: inline;
}
/* line 100, ../../app/stylesheets/partials/_page.scss */
a.button:hover {
  text-decoration: none !important;
}

/* Styles shared by "more" links */
/* line 106, ../../app/stylesheets/partials/_page.scss */
a.more {
  font-family: OverpassBold, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1em;
}

/* Styles shared by main content areas */
/* line 115, ../../app/stylesheets/partials/_page.scss */
.main {
  font-size: .9em;
  color: #555;
  margin: 0;
  padding: 1em 0 4em;
  background-color: white;
  display: block;
}
/* line 123, ../../app/stylesheets/partials/_page.scss */
.main a {
  color: #1060c8;
  text-decoration: none;
}
/* line 127, ../../app/stylesheets/partials/_page.scss */
.main a:hover {
  color: #3288f7;
  text-decoration: underline;
}
/* line 132, ../../app/stylesheets/partials/_page.scss */
.main a:visited {
  color: #8f0ccc;
}
/* line 137, ../../app/stylesheets/partials/_page.scss */
.main h1, .main h2, .main h3, .main h4, .main h5 {
  color: #555;
  font-family: Overpass, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
}
/* line 145, ../../app/stylesheets/partials/_page.scss */
.main h1 {
  width: 100%;
  text-transform: uppercase;
}

/*.rgba .main {
  background-color: rgba(255, 255, 255, 0.9);
}*/
/* Flash notices */
/* line 156, ../../app/stylesheets/partials/_page.scss */
.message {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 1em center;
  padding: .5em 0 .5em 2em;
  margin: 0 0 1em;
  font-weight: bold;
  text-align: center;
  border: .2em solid;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  -o-border-radius: 2em;
  -ms-border-radius: 2em;
  -khtml-border-radius: 2em;
  border-radius: 2em;
}
/* line 169, ../../app/stylesheets/partials/_page.scss */
.message p {
  margin: 0;
  padding: 0;
}
/* line 171, ../../app/stylesheets/partials/_page.scss */
.message.error {
  /* Red bg */
  background-color: #f33;
  color: white;
  border-color: #c00;
  background-image: url("/app/images/icons/error.png");
  text-shadow: 0 0.1em 0 #990000;
}
/* line 180, ../../app/stylesheets/partials/_page.scss */
.message.notice {
  /* bright orange bg */
  background-color: #fc0;
  background-image: url("/app/images/icons/important.png");
  color: white;
  border-color: #eb0;
  text-shadow: 0 0.1em 0 #cc9900;
}
/* line 189, ../../app/stylesheets/partials/_page.scss */
.message.success {
  /* green bg */
  background-color: #6CDB00;
  background-image: url("/app/images/icons/success.png");
  color: white;
  border-color: #5ebf00;
  text-shadow: 0 0.1em 0 #4b9900;
}

/* End shared styles */
/* Layout styles */
/* line 203, ../../app/stylesheets/partials/_page.scss */
header.universal {
  display: block;
}
/* line 205, ../../app/stylesheets/partials/_page.scss */
header.universal > .content {
  padding: 1em;
}
/* line 209, ../../app/stylesheets/partials/_page.scss */
header.universal nav {
  display: block;
  background-color: black;
}
/* line 213, ../../app/stylesheets/partials/_page.scss */
header.universal nav ul {
  padding: 0;
  margin: 0;
}
/* line 218, ../../app/stylesheets/partials/_page.scss */
header.universal nav li {
  display: inline;
  margin: 0;
  list-style-type: none;
}
/* line 223, ../../app/stylesheets/partials/_page.scss */
header.universal nav li a {
  padding: .9em 1em;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  color: white;
  font-family: Overpass, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: .9em;
  text-decoration: none;
  cursor: pointer;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 7, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
header.universal nav li a {
  *display: inline;
}
/* line 237, ../../app/stylesheets/partials/_page.scss */
.express header.universal nav li a.express, .flex header.universal nav li a.flex, header.universal nav li.active a,
header.universal nav li a:hover {
  background-color: #333333;
}
/* line 241, ../../app/stylesheets/partials/_page.scss */
header.universal nav li.user {
  float: right;
}

/* line 248, ../../app/stylesheets/partials/_page.scss */
#announcements {
  width: 25em;
  height: 4em;
  overflow: hidden;
  float: right;
  margin-top: 1em;
}
/* line 255, ../../app/stylesheets/partials/_page.scss */
#announcements ul {
  margin: 0;
  padding: 0;
}
/* line 260, ../../app/stylesheets/partials/_page.scss */
#announcements li {
  width: 25em;
  height: 4em;
  list-style-type: none;
}
/* line 265, ../../app/stylesheets/partials/_page.scss */
#announcements li a {
  width: 23em;
  height: 4em;
  font-size: .8em;
  font-family: Overpass, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-decoration: none;
  color: white;
  background: transparent url("../images/announce-arrow.png") no-repeat right top;
  padding-right: 2em;
  text-align: right;
  display: block;
  float: right;
}
/* line 280, ../../app/stylesheets/partials/_page.scss */
#announcements li a .title {
  font-family: OverpassBold;
  font-weight: bold;
  font-size: 1.2em;
}

/* line 292, ../../app/stylesheets/partials/_page.scss */
footer.universal {
  display: block;
  color: white;
  font-size: .9em;
}
/* line 297, ../../app/stylesheets/partials/_page.scss */
footer.universal ul {
  margin: 0;
  padding: 0;
}
/* line 299, ../../app/stylesheets/partials/_page.scss */
footer.universal li {
  list-style-type: none;
}
/* line 303, ../../app/stylesheets/partials/_page.scss */
footer.universal h2 {
  color: white;
  font-size: 1.1em;
}
/* line 308, ../../app/stylesheets/partials/_page.scss */
footer.universal .content > ul > li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin: 0 1em;
  vertical-align: top;
  width: 10em;
}
/* line 7, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
footer.universal .content > ul > li {
  *display: inline;
}
/* line 315, ../../app/stylesheets/partials/_page.scss */
footer.universal a {
  color: white;
  text-decoration: none;
}
/* line 320, ../../app/stylesheets/partials/_page.scss */
footer.universal #copyright {
  overflow: hidden;
  *zoom: 1;
  background: black;
  margin: 2em 0;
}
/* line 325, ../../app/stylesheets/partials/_page.scss */
footer.universal #copyright .content {
  padding: .5em 5em;
}
/* line 329, ../../app/stylesheets/partials/_page.scss */
footer.universal #copyright p {
  float: left;
}
/* line 330, ../../app/stylesheets/partials/_page.scss */
footer.universal #copyright img {
  float: right;
  margin-bottom: 1em;
}

/* line 334, ../../app/stylesheets/partials/_page.scss */
.dialog {
  display: none;
  background: #323232;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  -o-border-radius: 2em;
  -ms-border-radius: 2em;
  -khtml-border-radius: 2em;
  border-radius: 2em;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 5em;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 0 5em;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 5em;
  color: white;
  font-family: Overpass, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;
  z-index: 1000000;
  min-width: 30em;
  padding: 2em;
  overflow: auto;
}
/* line 350, ../../app/stylesheets/partials/_page.scss */
.dialog a.more {
  display: block;
  width: 100%;
  text-align: center;
  color: #1060c8;
}
/* line 357, ../../app/stylesheets/partials/_page.scss */
.dialog form {
  display: block;
  width: 25em;
  margin: 0 auto;
}
/* line 362, ../../app/stylesheets/partials/_page.scss */
.dialog form input.button {
  margin: 0 auto;
}
/* line 367, ../../app/stylesheets/partials/_page.scss */
.dialog input {
  width: 22em;
}
/* line 369, ../../app/stylesheets/partials/_page.scss */
.dialog label {
  display: block;
}
/* line 373, ../../app/stylesheets/partials/_page.scss */
.dialog h1 {
  font-weight: normal;
  font-family: Overpass, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
  margin: 0;
}
/* line 380, ../../app/stylesheets/partials/_page.scss */
.dialog h2 {
  text-align: center;
}
/* line 384, ../../app/stylesheets/partials/_page.scss */
.dialog .close_button {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  border: none;
  outline: none;
}
/* line 72, ../../app/stylesheets/partials/_base.scss */
.dialog .close_button:active {
  outline: none;
  border: none;
}
/* line 387, ../../app/stylesheets/partials/_page.scss */
.dialog .close_button img {
  border: none;
}
/* line 391, ../../app/stylesheets/partials/_page.scss */
.dialog #extra_options div {
  margin: 0 3em;
}
/* line 395, ../../app/stylesheets/partials/_page.scss */
.dialog #extra_options p {
  margin: 0;
}
/* line 399, ../../app/stylesheets/partials/_page.scss */
.dialog #extra_options h2 {
  font-size: 1em;
  margin: 0;
  padding: 2em 0 0;
}

/* End layout styles */
/* Home page styles */
/* line 412, ../../app/stylesheets/partials/_page.scss */
.home .main {
  padding: 1em 0;
}

/* line 416, ../../app/stylesheets/partials/_page.scss */
#opener {
  font-size: 1.1em;
  background: #2c1f34 url("../images/cloud-bg.png") repeat-x bottom;
  height: 513px;
  display: block;
}
/* line 422, ../../app/stylesheets/partials/_page.scss */
#opener .content {
  width: 100%;
  height: 513px;
  overflow: hidden;
  background: url("../images/space-panda-ftw.png") no-repeat center;
  position: relative;
}
/* line 430, ../../app/stylesheets/partials/_page.scss */
#opener header {
  padding: 105px 0 0 130px;
  text-align: center;
}
/* line 435, ../../app/stylesheets/partials/_page.scss */
#opener h1 {
  color: white;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  font-family: Overpass, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-shadow: black 0 2px 0;
}
/* line 446, ../../app/stylesheets/partials/_page.scss */
#opener h2 {
  color: white;
  font-size: 24px;
  font-weight: normal;
  font-family: Overpass, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 29px;
  text-transform: uppercase;
  margin: 0;
  text-shadow: black 0 2px 0;
}
/* line 458, ../../app/stylesheets/partials/_page.scss */
#opener a.button {
  background-color: #ede6cb;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ede6cb), color-stop(100%, #ddce9b));
  background-image: -webkit-linear-gradient(top, #ede6cb, #ddce9b);
  background-image: -moz-linear-gradient(top, #ede6cb, #ddce9b);
  background-image: -o-linear-gradient(top, #ede6cb, #ddce9b);
  background-image: -ms-linear-gradient(top, #ede6cb, #ddce9b);
  background-image: linear-gradient(top, #ede6cb, #ddce9b);
  color: #3b3924;
  text-shadow: white 0 0.1em 0;
  -moz-box-shadow: #b69c3f 0 0.2em 0;
  -webkit-box-shadow: #b69c3f 0 0.2em 0;
  -o-box-shadow: #b69c3f 0 0.2em 0;
  box-shadow: #b69c3f 0 0.2em 0;
  font-size: 15px;
  position: relative;
  left: 50%;
  margin-top: 15px;
}

/* line 468, ../../app/stylesheets/partials/_page.scss */
#exposition {
  margin-top: -1em;
}
/* line 471, ../../app/stylesheets/partials/_page.scss */
#exposition p#intro {
  font-size: 1.1em;
  font-family: Overpass, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/* line 477, ../../app/stylesheets/partials/_page.scss */
#exposition > .content > div {
  margin: 3em 0 6em;
  padding: 0 3em;
  position: relative;
  min-height: 200px;
}
/* line 483, ../../app/stylesheets/partials/_page.scss */
#exposition > .content > div img {
  display: block;
  position: absolute;
  top: 0;
}
/* line 489, ../../app/stylesheets/partials/_page.scss */
#exposition > .content > div header, #exposition > .content > div p, #exposition > .content > div a {
  display: block;
  padding-left: 325px;
}
/* line 494, ../../app/stylesheets/partials/_page.scss */
#exposition > .content > div h2 {
  margin-top: 0;
}
/* line 497, ../../app/stylesheets/partials/_page.scss */
#exposition > .content div:last-child {
  margin-bottom: 3em;
}
/* line 502, ../../app/stylesheets/partials/_page.scss */
#exposition > .content #free img {
  right: 0;
  top: -16px;
}
/* line 507, ../../app/stylesheets/partials/_page.scss */
#exposition > .content #free header, #exposition > .content #free p, #exposition > .content #free a {
  padding-left: 0;
  padding-right: 325px;
}

/* line 516, ../../app/stylesheets/partials/_page.scss */
#social .content {
  padding-bottom: 2em;
}
/* line 520, ../../app/stylesheets/partials/_page.scss */
#social div, #social li {
  overflow: hidden;
  *zoom: 1;
}
/* line 524, ../../app/stylesheets/partials/_page.scss */
#social .content {
  width: 746px;
}
/* line 528, ../../app/stylesheets/partials/_page.scss */
#social img {
  float: left;
  vertical-align: top;
  padding: .5em;
  margin-top: .5em;
}
/* line 535, ../../app/stylesheets/partials/_page.scss */
#social p.tweet {
  position: relative;
  padding: 1em;
  margin: 0.1em 0.1em 2em 6em;
  border: 1px solid #B8E6F6;
  min-height: 3em;
  background: #def3fb;
  -moz-border-radius: 1.25em;
  -webkit-border-radius: 1.25em;
  -o-border-radius: 1.25em;
  -ms-border-radius: 1.25em;
  -khtml-border-radius: 1.25em;
  border-radius: 1.25em;
}
/* line 545, ../../app/stylesheets/partials/_page.scss */
.cssgradients #social p.tweet {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #def3fb));
  background: -webkit-linear-gradient(top, #ffffff, #def3fb 2em);
  background: -moz-linear-gradient(top, #ffffff, #def3fb 2em);
  background: -o-linear-gradient(top, #ffffff, #def3fb 2em);
  background: -ms-linear-gradient(top, #ffffff, #def3fb 2em);
  background: linear-gradient(top, #ffffff, #def3fb 2em);
}
/* line 549, ../../app/stylesheets/partials/_page.scss */
#social p.tweet:after {
  content: '';
  background: url("../images/bubble-extension.png") no-repeat left top;
  position: absolute;
  top: 1.3em;
  left: -20px;
  width: 20px;
  height: 27px;
  display: block;
}
/* line 560, ../../app/stylesheets/partials/_page.scss */
#social .ie8 p.tweet:after {
  background: none;
}
/* line 564, ../../app/stylesheets/partials/_page.scss */
#social a.tweeter {
  font-weight: bold;
}
/* line 568, ../../app/stylesheets/partials/_page.scss */
#social a.tweeter:first-child {
  color: black;
}
/* line 572, ../../app/stylesheets/partials/_page.scss */
#social ul {
  margin: 0;
  padding: 0;
}
/* line 576, ../../app/stylesheets/partials/_page.scss */
#social li {
  list-style-type: none;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  width: 24em;
  vertical-align: top;
  padding-left: .7em;
}
/* line 7, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#social li {
  *display: inline;
}
/* line 584, ../../app/stylesheets/partials/_page.scss */
#social #social_links {
  padding: .5em 4em;
}
/* line 586, ../../app/stylesheets/partials/_page.scss */
#social #social_links a.button {
  background-color: #574d4f;
  color: white;
  margin-left: .5em;
  float: right;
  font-size: 1em;
}

/* line 596, ../../app/stylesheets/partials/_page.scss */
.no-js #social {
  display: none;
}

/* line 598, ../../app/stylesheets/partials/_page.scss */
.ie7 li.link {
  float: left;
}

/* line 603, ../../app/stylesheets/partials/_page.scss */
#bottom_signup {
  text-align: center;
  font-size: 1.2em;
  padding: 4em;
}
/* line 608, ../../app/stylesheets/partials/_page.scss */
#bottom_signup header, #bottom_signup .content {
  width: 35em;
}
/* line 612, ../../app/stylesheets/partials/_page.scss */
#bottom_signup h1 {
  border-bottom: none;
}
/* line 616, ../../app/stylesheets/partials/_page.scss */
#bottom_signup h1, #bottom_signup h2 {
  margin: 0;
  padding: 0;
}
/* line 620, ../../app/stylesheets/partials/_page.scss */
#bottom_signup a.button {
  background-color: #574d4f;
  color: white;
  margin: 1em;
}

/* End home page styles */
/* Service page styles */
/* line 630, ../../app/stylesheets/partials/_page.scss */
nav.service {
  color: white;
  font-family: Overpass, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 0.9em;
  text-transform: uppercase;
}
/* line 636, ../../app/stylesheets/partials/_page.scss */
.express nav.service {
  background-color: #4e9fdd;
}
/* line 639, ../../app/stylesheets/partials/_page.scss */
.express nav.service .express {
  background-color: white;
  color: #666;
}
/* line 645, ../../app/stylesheets/partials/_page.scss */
.flex nav.service {
  background-color: #dc9f2e;
}
/* line 648, ../../app/stylesheets/partials/_page.scss */
.flex nav.service .flex {
  background-color: white;
  color: #666;
}
/* line 654, ../../app/stylesheets/partials/_page.scss */
.power nav.service {
  background-color: #cc0000;
}
/* line 657, ../../app/stylesheets/partials/_page.scss */
.power nav.service .power {
  background-color: white;
  color: #666;
}
/* line 664, ../../app/stylesheets/partials/_page.scss */
nav.service li.active a,
nav.service a:hover {
  background-color: white !important;
  color: #666;
}
/* line 669, ../../app/stylesheets/partials/_page.scss */
nav.service:last {
  float: none !important;
}

/* line 676, ../../app/stylesheets/partials/_page.scss */
.ie7 .product .main .content .content {
  padding-left: 4em;
  clear: left;
  float: right;
}

/* line 685, ../../app/stylesheets/partials/_page.scss */
.product .main {
  overflow: hidden;
  *zoom: 1;
}
/* line 688, ../../app/stylesheets/partials/_page.scss */
.product .main > header {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 50, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.product .main > header.focusable:active, .product .main > header.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/* line 692, ../../app/stylesheets/partials/_page.scss */
.product .main .content nav {
  text-align: right;
  width: 11em;
  float: left;
  font-family: Overpass, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin-top: 2.7em;
  font-size: 1.1em;
}
/* line 700, ../../app/stylesheets/partials/_page.scss */
.product .main .content nav ul {
  padding: 0;
  margin: 0;
}
/* line 704, ../../app/stylesheets/partials/_page.scss */
.product .main .content nav header {
  padding: 3em .5em 0;
  width: auto;
  font-size: .8em;
}
/* line 709, ../../app/stylesheets/partials/_page.scss */
.product .main .content nav header h2 {
  padding: 0;
  margin: 0;
}
/* line 714, ../../app/stylesheets/partials/_page.scss */
.product .main .content nav > header {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 50, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.product .main .content nav > header.focusable:active, .product .main .content nav > header.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/* line 718, ../../app/stylesheets/partials/_page.scss */
.product .main .content nav li {
  list-style-type: none;
}
/* line 722, ../../app/stylesheets/partials/_page.scss */
.product .main .content nav a {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  padding: .5em;
  color: #787878;
  text-decoration: none;
  border-bottom: 1px solid #ececec;
  width: 10em;
}
/* line 7, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.product .main .content nav a {
  *display: inline;
}
/* line 732, ../../app/stylesheets/partials/_page.scss */
.js .product .main .content nav a.active,
.product .main .content nav a:hover {
  color: #333;
}
/* line 736, ../../app/stylesheets/partials/_page.scss */
.product .main .content nav #account.signed_out {
  color: #aaa;
}
/* line 739, ../../app/stylesheets/partials/_page.scss */
.product .main .content nav #account.signed_out header {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 50, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_helpers.scss */
.product .main .content nav #account.signed_out header.focusable:active, .product .main .content nav #account.signed_out header.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/* line 743, ../../app/stylesheets/partials/_page.scss */
.product .main .content nav #account.signed_out a.sign_up, .product .main .content nav #account.signed_out a.request {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin: .5em  0;
  padding: 1em;
  background: #FFFCAF;
  border: 1px solid #FFDC41;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -khtml-border-radius: 0.25em;
  border-radius: 0.25em;
  color: #333;
  text-align: center;
}
/* line 7, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.product .main .content nav #account.signed_out a.sign_up, .product .main .content nav #account.signed_out a.request {
  *display: inline;
}
/* line 756, ../../app/stylesheets/partials/_page.scss */
.product .main .content .content {
  width: 35em;
  padding-left: 15em;
}
/* line 761, ../../app/stylesheets/partials/_page.scss */
.product .main h1 {
  border: 0;
  padding-left: 0;
}
/* line 766, ../../app/stylesheets/partials/_page.scss */
.product .main a.more {
  margin: 3em 0;
  display: block;
  font-size: 1.2em;
}
/* line 772, ../../app/stylesheets/partials/_page.scss */
.product.express .main h1 {
  color: #4e9fdd;
}
/* line 775, ../../app/stylesheets/partials/_page.scss */
.product.express .main nav h2 {
  color: #4e9fdd;
}
/* line 778, ../../app/stylesheets/partials/_page.scss */
.product.flex .main h1 {
  color: #dc9f2e;
}
/* line 781, ../../app/stylesheets/partials/_page.scss */
.product.flex .main nav h2 {
  color: #dc9f2e;
}
/* line 784, ../../app/stylesheets/partials/_page.scss */
.product.power .main h1 {
  color: #cc0000;
}
/* line 787, ../../app/stylesheets/partials/_page.scss */
.product.power .main nav h2 {
  color: #cc0000;
}

/* product overview page styles */
/* line 795, ../../app/stylesheets/partials/_page.scss */
#product_overview {
  padding: 0;
}

/* line 797, ../../app/stylesheets/partials/_page.scss */
#product_overview .info {
  margin: 0;
  padding: 3em 0 12em;
  background: #002e53 url("/app/images/transparent_cloud.png") repeat-x center center;
}
/* line 801, ../../app/stylesheets/partials/_page.scss */
#product_overview .info ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 62em;
}

/* line 808, ../../app/stylesheets/partials/_page.scss */
#product_overview.prev_login .info {
  padding-bottom: 18em;
}

/* line 809, ../../app/stylesheets/partials/_page.scss */
#product_overview.prev_login.no_error .info {
  padding-bottom: 15em;
}

/* line 810, ../../app/stylesheets/partials/_page.scss */
#product_overview.authorized .info {
  padding-bottom: 2em;
}

/* line 812, ../../app/stylesheets/partials/_page.scss */
.multiplebgs.cssgradients #product_overview .info {
  background-image: url("/app/images/transparent_cloud.png"), -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, color-stop(0%, #0093d9), color-stop(100%, #002e53));
  background-image: url("/app/images/transparent_cloud.png"), -webkit-radial-gradient(center bottom, circle farthest-side, #0093d9, #002e53);
  background-image: url("/app/images/transparent_cloud.png"), -moz-radial-gradient(center bottom, circle farthest-side, #0093d9, #002e53);
  background-image: url("/app/images/transparent_cloud.png"), -o-radial-gradient(center bottom, circle farthest-side, #0093d9, #002e53);
  background-image: url("/app/images/transparent_cloud.png"), -ms-radial-gradient(center bottom, circle farthest-side, #0093d9, #002e53);
  background-image: url("/app/images/transparent_cloud.png"), radial-gradient(center bottom, circle farthest-side, #0093d9, #002e53);
  background-repeat: repeat-x, no-repeat;
  background-position: center center, 0 0;
}

/* line 821, ../../app/stylesheets/partials/_page.scss */
.product_box {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  background: white;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  -o-border-radius: 2em;
  -ms-border-radius: 2em;
  -khtml-border-radius: 2em;
  border-radius: 2em;
  width: 24%;
  height: 23em;
  margin-right: 2.5%;
  padding: 1em 2em;
}
/* line 7, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.product_box {
  *display: inline;
}
/* line 830, ../../app/stylesheets/partials/_page.scss */
.product_box:last-child {
  margin-right: 0;
}
/* line 834, ../../app/stylesheets/partials/_page.scss */
.product_box h2 {
  text-transform: uppercase;
  font-family: Overpass, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 2.5em;
  line-height: .5em;
}
/* line 841, ../../app/stylesheets/partials/_page.scss */
.product_box.express h2, .product_box.express a.more {
  color: #4e9fdd;
}
/* line 845, ../../app/stylesheets/partials/_page.scss */
.product_box.flex h2, .product_box.flex a.more {
  color: #dc9f2e;
}
/* line 849, ../../app/stylesheets/partials/_page.scss */
.product_box.power h2, .product_box.power a.more {
  color: #cc0000;
}
/* line 853, ../../app/stylesheets/partials/_page.scss */
.product .main .content .product_box .content {
  width: auto;
  margin: 0;
  padding: 0;
}
/* line 858, ../../app/stylesheets/partials/_page.scss */
.product_box .content {
  color: #666;
  font-size: .9em;
  line-height: 1.5em;
}

/* line 865, ../../app/stylesheets/partials/_page.scss */
#user_box {
  background: #002e53;
  height: 4em;
  overflow: visible;
}
/* line 870, ../../app/stylesheets/partials/_page.scss */
#user_box .content {
  position: relative;
}
/* line 874, ../../app/stylesheets/partials/_page.scss */
.authorized #user_box .content {
  top: -2em;
  width: 40em;
}
/* line 879, ../../app/stylesheets/partials/_page.scss */
.unauthorized #user_box .content {
  background: #002e53;
  width: 35em;
  height: 12em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  -o-border-radius: 1em;
  -ms-border-radius: 1em;
  -khtml-border-radius: 1em;
  border-radius: 1em;
  padding: 2em;
  top: -18em;
  text-align: center;
}
/* line 889, ../../app/stylesheets/partials/_page.scss */
.unauthorized.prev_login #user_box .content {
  height: 18em;
  top: -24em;
}
/* line 893, ../../app/stylesheets/partials/_page.scss */
.unauthorized.prev_login.no_error #user_box .content {
  height: 15em;
  top: -21em;
}
/* line 898, ../../app/stylesheets/partials/_page.scss */
.no-cssgradients .unauthorized #user_box .content {
  background: #002039;
}
/* line 900, ../../app/stylesheets/partials/_page.scss */
#user_box h2 {
  color: white;
  font-family: OverpassBold, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  margin: 0;
}
/* line 907, ../../app/stylesheets/partials/_page.scss */
#user_box .button {
  background-color: #ede6cb;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ede6cb), color-stop(100%, #ddce9b));
  background-image: -webkit-linear-gradient(top, #ede6cb, #ddce9b);
  background-image: -moz-linear-gradient(top, #ede6cb, #ddce9b);
  background-image: -o-linear-gradient(top, #ede6cb, #ddce9b);
  background-image: -ms-linear-gradient(top, #ede6cb, #ddce9b);
  background-image: linear-gradient(top, #ede6cb, #ddce9b);
  color: #3b3924;
  text-shadow: white 0 0.1em 0;
  -moz-box-shadow: #b69c3f 0 0.2em 0;
  -webkit-box-shadow: #b69c3f 0 0.2em 0;
  -o-box-shadow: #b69c3f 0 0.2em 0;
  box-shadow: #b69c3f 0 0.2em 0;
}
/* line 911, ../../app/stylesheets/partials/_page.scss */
#user_box .sign_up.button {
  font-size: 1.5em;
  display: block;
  width: 10em;
  margin: 2em auto .5em;
}
/* line 918, ../../app/stylesheets/partials/_page.scss */
#user_box a {
  color: #0093d9;
}
/* line 920, ../../app/stylesheets/partials/_page.scss */
#user_box img {
  position: absolute;
  bottom: -65px;
  left: 49%;
}
/* line 927, ../../app/stylesheets/partials/_page.scss */
#user_box #login-form form {
  margin: 1em 0;
  width: auto;
}
/* line 928, ../../app/stylesheets/partials/_page.scss */
#user_box #login-form label {
  color: white;
  font-family: Overpass, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1em;
  text-align: right;
  margin: 0 6em 0 0;
  padding: 0;
}
/* line 938, ../../app/stylesheets/partials/_page.scss */
#user_box #login-form input {
  width: 20em;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  -o-border-radius: 0.25em;
  -ms-border-radius: 0.25em;
  -khtml-border-radius: 0.25em;
  border-radius: 0.25em;
  border: none;
  display: inline;
}
/* line 944, ../../app/stylesheets/partials/_page.scss */
#user_box #login-form input.button {
  width: 21em;
  margin-left: 1.5em;
}
/* line 948, ../../app/stylesheets/partials/_page.scss */
#user_box #login-form input:focus {
  margin: .25em;
}
/* line 949, ../../app/stylesheets/partials/_page.scss */
#user_box #login-form input.button:focus {
  margin: .5em 0 5em 1.5em;
}
/* line 954, ../../app/stylesheets/partials/_page.scss */
#user_box #register h2 {
  display: none;
}
/* line 956, ../../app/stylesheets/partials/_page.scss */
#user_box #lost_password a, #user_box #register a {
  float: right;
  font-weight: normal;
  font-family: "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0 1.4em;
}

/* line 964, ../../app/stylesheets/partials/_page.scss */
.cssgradients #user_box {
  background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 250, color-stop(0%, #0093d9), color-stop(100%, #002e53));
  background-image: -webkit-radial-gradient(center top, circle closest-corner, #0093d9, #002e53 250px);
  background-image: -moz-radial-gradient(center top, circle closest-corner, #0093d9, #002e53 250px);
  background-image: -o-radial-gradient(center top, circle closest-corner, #0093d9, #002e53 250px);
  background-image: -ms-radial-gradient(center top, circle closest-corner, #0093d9, #002e53 250px);
  background-image: radial-gradient(center top, circle closest-corner, #0093d9, #002e53 250px);
}

/* media overview styles */
/* line 972, ../../app/stylesheets/partials/_page.scss */
#media_overview .content {
  width: 60em;
}
/* line 975, ../../app/stylesheets/partials/_page.scss */
#media_overview .content > div {
  width: 50%;
  float: left;
}
/* line 981, ../../app/stylesheets/partials/_page.scss */
#media_overview ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 986, ../../app/stylesheets/partials/_page.scss */
#media_overview li {
  display: block;
  overflow: hidden;
  *zoom: 1;
}
/* line 991, ../../app/stylesheets/partials/_page.scss */
#media_overview .vid {
  margin-bottom: .5em;
}
/* line 994, ../../app/stylesheets/partials/_page.scss */
#media_overview .vid .video-thumb {
  float: left;
}
/* line 996, ../../app/stylesheets/partials/_page.scss */
#media_overview .vid h2 {
  float: right;
  font-size: 1.1em;
  margin: 2em 1em 0;
  width: 50%;
}
/* line 1002, ../../app/stylesheets/partials/_page.scss */
#media_overview .vid h2 a {
  color: #666;
}
/* line 1006, ../../app/stylesheets/partials/_page.scss */
#media_overview #retweets ul li {
  margin: 10px 0;
}
/* line 1008, ../../app/stylesheets/partials/_page.scss */
#media_overview .avatar {
  float: left;
  margin: 4px 0 0;
  border: 0;
}
/* line 1013, ../../app/stylesheets/partials/_page.scss */
#media_overview .tweet {
  background: #ede6cb;
  font-size: .8em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
  margin: 0  0 0 55px;
  padding: 5px;
  font-size: 10px;
  height: 45px;
}
/* line 1022, ../../app/stylesheets/partials/_page.scss */
#media_overview .tweet a {
  color: #0093d9;
}
/* line 1025, ../../app/stylesheets/partials/_page.scss */
#media_overview a.more {
  margin: 1.5em 0;
}

/* line 1029, ../../app/stylesheets/partials/_page.scss */
#flex-ways em {
  font-weight: bold;
  font-style: normal;
}
/* line 1034, ../../app/stylesheets/partials/_page.scss */
#flex-ways ol {
  list-style-type: none;
  padding-left: 0;
}

/* line 1041, ../../app/stylesheets/partials/_page.scss */
#free-flex #offer {
  background-color: #5FCF07;
  color: white;
  font-family: Overpass, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.1em;
  margin: 1em 0;
  padding: 1em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
}

/* End service pages */
/* Start register page */
/* line 1056, ../../app/stylesheets/partials/_page.scss */
li.captcha {
  margin: 0 1em;
}

/* End register page */
/* Start login page */
/* End login page */
/* Dashboard page */
/* line 1070, ../../app/stylesheets/partials/_page.scss */
.control_panel form {
  margin: 0 3em;
}
/* line 1074, ../../app/stylesheets/partials/_page.scss */
.control_panel dd, .control_panel dt {
  margin: .5em;
}
/* line 1078, ../../app/stylesheets/partials/_page.scss */
.control_panel dt {
  font-weight: bold;
}
/* line 1080, ../../app/stylesheets/partials/_page.scss */
.control_panel a.button {
  color: white;
  background-color: #574d4f;
  font-size: 1.1em;
  cursor: pointer;
}
/* line 1087, ../../app/stylesheets/partials/_page.scss */
.control_panel #spinner {
  background: black;
  color: white;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  -o-border-radius: 1em;
  -ms-border-radius: 1em;
  -khtml-border-radius: 1em;
  border-radius: 1em;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 0 3em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 0 3em;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 0 3em;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 3em;
  font-size: 1.5em;
  font-family: Overpass, "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
  padding: 20px;
  position: fixed;
  top: 20%;
  left: 20%;
  right: 20%;
  z-index: 3000;
  text-align: center;
}
/* line 1103, ../../app/stylesheets/partials/_page.scss */
.control_panel #spinner a {
  color: white;
  text-decoration: underline;
}
/* line 1107, ../../app/stylesheets/partials/_page.scss */
.control_panel #spinner a.close {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  border: none;
  outline: none;
}
/* line 72, ../../app/stylesheets/partials/_base.scss */
.control_panel #spinner a.close:active {
  outline: none;
  border: none;
}
/* line 1110, ../../app/stylesheets/partials/_page.scss */
.control_panel #spinner #spinner-text {
  margin: auto 3em;
}
/* line 1113, ../../app/stylesheets/partials/_page.scss */
.control_panel #spinner #spinning {
  width: 50%;
  height: 23px;
  margin: 10px auto;
  background: url("/app/images/spinner-bg.png") repeat-x;
  background-position: center bottom;
  display: block;
}
/* line 1121, ../../app/stylesheets/partials/_page.scss */
.control_panel #spinner.stop-spinning {
  font-size: 1.2em;
  bottom: 20%;
  overflow: auto;
}
/* line 1125, ../../app/stylesheets/partials/_page.scss */
.control_panel #spinner.stop-spinning #spinning {
  display: none;
}
/* line 1126, ../../app/stylesheets/partials/_page.scss */
.control_panel #spinner.stop-spinning em {
  font-size: 1.1em;
  font-color: #574d4f;
  font-style: normal;
}
/* line 1132, ../../app/stylesheets/partials/_page.scss */
.control_panel #spinner ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 1135, ../../app/stylesheets/partials/_page.scss */
.control_panel #spinner ul li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  width: 45%;
  margin: 0 10px;
  padding: 0;
}
/* line 7, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.control_panel #spinner ul li {
  *display: inline;
}
/* line 1139, ../../app/stylesheets/partials/_page.scss */
.control_panel #spinner ul li a {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  color: white;
  text-decoration: none;
}
/* line 7, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.control_panel #spinner ul li a {
  *display: inline;
}
/* line 1144, ../../app/stylesheets/partials/_page.scss */
.control_panel #spinner ul li figure {
  margin: 0;
}

/* line 1151, ../../app/stylesheets/partials/_page.scss */
.multiplebgs #spinner #spinning {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #000000), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(100%, #000000)), url("/app/images/spinner-bg.png");
  background-image: -webkit-linear-gradient(left, #000000, rgba(0, 0, 0, 0), #000000), url("/app/images/spinner-bg.png");
  background-image: -moz-linear-gradient(left, #000000, rgba(0, 0, 0, 0), #000000), url("/app/images/spinner-bg.png");
  background-image: -o-linear-gradient(left, #000000, rgba(0, 0, 0, 0), #000000), url("/app/images/spinner-bg.png");
  background-image: -ms-linear-gradient(left, #000000, rgba(0, 0, 0, 0), #000000), url("/app/images/spinner-bg.png");
  background-image: linear-gradient(left, #000000, rgba(0, 0, 0, 0), #000000), url("/app/images/spinner-bg.png");
  background-repeat: no-repeat, repeat-x;
  background-position: center center, bottom center;
}

/* End dashboard page */
/* Start partner page */
/* line 1161, ../../app/stylesheets/partials/_page.scss */
ul.partners {
  margin: 0;
  padding: 0;
}
/* line 1165, ../../app/stylesheets/partials/_page.scss */
ul.partners li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  vertical-align: top;
  width: 15em;
  padding: 2em .5em;
}
/* line 7, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
ul.partners li {
  *display: inline;
}

/* line 1174, ../../app/stylesheets/partials/_page.scss */
.partner.show .content > div {
  margin: 1em 0;
}
/* line 1178, ../../app/stylesheets/partials/_page.scss */
.partner.show #partner_overview {
  font-size: .8em;
  border: 0.1em solid #ececec;
  border-left: 0;
  border-right: 0;
  padding: 1em;
}
/* line 1184, ../../app/stylesheets/partials/_page.scss */
.partner.show #partner_overview p {
  margin: 0;
}
/* line 1187, ../../app/stylesheets/partials/_page.scss */
.partner.show #quote blockquote {
  color: black;
}

/* line 1192, ../../app/stylesheets/partials/_page.scss */
.partner #join {
  background: #a4999b;
  color: black;
  padding: 1em;
  border: 0.1em solid #574d4f;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  -o-border-radius: 1em;
  -ms-border-radius: 1em;
  -khtml-border-radius: 1em;
  border-radius: 1em;
}
/* line 1199, ../../app/stylesheets/partials/_page.scss */
.partner #join p {
  margin: 0;
}

/* line 1202, ../../app/stylesheets/partials/_page.scss */
.ie7 li.password {
  float: left;
}

/*/mediaquery*/
/*/mediaquery*/
@media print {
  /* line 10, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 12, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 13, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 14, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 15, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 16, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 17, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 18, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 19, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 21, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 22, ../../../../../../../../usr/lib/ruby/gems/1.8/gems/html5-boilerplate-1.0.0/stylesheets/html5-boilerplate/_media.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
