Name: phpmoadmin-1.0
Version: 1.0.x
Architecture: i686/x86_64
Provides: phpmoadmin
Depends: rhc-cartridge-mongodb-2.2
Conflicts:
Type: Cartridge
Role: misc
Vendor: http://www.phpmoadmin.com/
DisplayName: phpMoAdmin-1.0
Description: 
PHPMoAdmin is a MongoDB administration tool for PHP built on a stripped-down
version of the Vork high-performance framework.

Features - 
    * Database
          o List with data sizes
          o Create/drop
          o Repair/compact
    * Collection
          o Show list of collections with number of objects within each
          o Create/rename/drop collection
          o List indexes
          o Create/drop indexes
                + multiple keys
                + ascending/descending
                + unique index
    * Data objects
          o Single smart-search box accepts:
                + exact-text
                + (type-casted) value
                + text with * wildcards
                + Regular Expressions (regex)
                + JSON (with Mongo-operators enabled)
          o Option to query MongoDB using JSON or a PHP array
          o Show objects with 3-different viewing options (full, compact & uniform)
          o Sort by any key within your data object (even nested sub-keys!) with ascending/descending option
                + Option to sort by $natural for rapid browsing of large datasets
          o Define the number of results to display per page (or unlimited)
          o Create/delete objects
          o Edit object data
    * Mongo GridFS
          o GridFS objects automatically link GridFS chunks to GridFS files
    * MongoDB stats
          o Uptime, memory, etc.
          o Log of previous errors
          o Mongo-PHP settings
          o Version & bit-depth of MongoDB, Mongo PHP driver, phpMoAdmin, etc.
    * Optional password-protection for one or more users


