-# file: Flex request error page

- content_for :page_title do
  Get Access to OpenShift Flex!

= render 'shared/pageheader', :product => 'flex', :title => 'Try Flex', :subtitle => 'Request Access to OpenShift Flex'

#page.container_24
  #errors.prefix_1.grid_22.suffix_1
    #errors_div.grid_12
      %h2 "You're in the queue!"
      %p 
        You have already requested access to OpenShift Flex.  Once you have been granted access you'll get an email indicating the next steps.
  .clear
