%p
  Your namespace is used to help identify your applications and as part of the URLs to your applications. It's unique to you across all of openshift. It lets you use common names for your applications while still giving all of your apps unique URLs.
%p
  An example might make things more clear. Let's say you have the namespace <em>awesome</em>, when you create a new app called <em>wicked</em>, you'll find it at <em>http://wicked-awesome.rhcloud.com</em>. When you create a new app called <em>freakin</em>, it'll be at <em>http://freakin-awesome.rhcloud.com</em>. See how it works?
