%p
  OpenShift uses <a href="http://en.wikipedia.org/wiki/Secure_Shell">SSH</a> to allow you to write to your git repository on our servers. You'll need to generate a keypair&mdash;you can also use an existing one if you prefer&mdash;then just send us the public one (ends in .pub).

%p
  Don't know how to generate a keypair? Open up a terminal and run <code>ssh-keygen</code>, you can accept the defaults&mdash;they're fine.
