body {
  background: black; }
  body ul, body ol, body li, body p, body a, body h1, body h2, body h3, body h4, body h5, body h6 {
    color: white; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: OverpassBold;
    font-weight: normal; }

a:hover {
  color: #bfdce8; }
a.express:hover {
  color: #6699cc; }
a.flex:hover {
  color: #c88fd7; }
a.power:hover {
  color: #87cc66; }

form ul, form ol, form li {
  list-style-type: none; }

#horrible_wrapper {
  background: black;
  /* Mozilla */
  background: -moz-linear-gradient(top, black, white, black);
  /* Old webkit */
  background: -webkit-gradient(linear, top center, from(black), color-stop(50%, white), to(black));
  /* New webkit */
  background: -webkit-linear-gradient(top, black, white, black);
  /* Spec */
  background: linear-gradient(top, black, white, black); }

#head > div.omega {
  padding-left: 10px; }

#logo {
  margin: 1em 0; }

#header_right {
  text-align: right;
  position: relative; }

#login, #logout {
  background: #b30000;
  /* Mozilla */
  background: -moz-linear-gradient(top, #b30000, #cc0000 100%);
  /* Old webkit */
  background: -webkit-gradient(linear, top center, from(#b30000), color-stop(100%, #cc0000));
  /* New webkit */
  background: -webkit-linear-gradient(top, #b30000, #cc0000 100%);
  /* IE <= 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=$first_color, endColorStr=$last_color);
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=$first_color, endColorstr=$last_color)";
  /* Spec */
  background: linear-gradient(top, #b30000, #cc0000 100%);
  width: 50px;
  padding: 6px 30px;
  position: absolute;
  right: 0;
  font-family: OverpassBold; }
  #login a, #logout a {
    margin: 0 auto;
    display: block;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase; }
    #login a:hover, #logout a:hover {
      color: #4e9fdd; }

#mainslug {
  margin: 48px 0 .5em;
  font-family: Overpass; }
  #mainslug img {
    float: right; }
  #mainslug p {
    font-size: 10pt;
    color: #bfdce8;
    clear: right; }

#nav {
  background: #cc0000;
  /* Mozilla */
  background: -moz-linear-gradient(top, #cc0000, #990000 100%);
  /* Old webkit */
  background: -webkit-gradient(linear, top center, from(#cc0000), color-stop(100%, #990000));
  /* New webkit */
  background: -webkit-linear-gradient(top, #cc0000, #990000 100%);
  /* IE <= 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=$first_color, endColorStr=$last_color);
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=$first_color, endColorstr=$last_color)";
  /* Spec */
  background: linear-gradient(top, #cc0000, #990000 100%);
  min-height: 20px;
  padding: 7px 0;
  border-top: 1px solid #fe7272;
  font-family: OverpassBold; }
  #nav ul {
    margin: 0px; }
  #nav li {
    float: left;
    list-style-type: none;
    font-size: 10pt; }
    #nav li a {
      text-decoration: none;
      text-transform: uppercase; }

#pageheader {
  background: #555555;
  /* Mozilla */
  background: -moz-linear-gradient(top, #555555, #d4d4d4 100%);
  /* Old webkit */
  background: -webkit-gradient(linear, top center, from(#555555), color-stop(100%, #d4d4d4));
  /* New webkit */
  background: -webkit-linear-gradient(top, #555555, #d4d4d4 100%);
  /* IE <= 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=$first_color, endColorStr=$last_color);
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=$first_color, endColorstr=$last_color)";
  /* Spec */
  background: linear-gradient(top, #555555, #d4d4d4 100%); }
  #pageheader.express {
    background: #336699;
    /* Mozilla */
    background: -moz-linear-gradient(top, #336699, #6699cc 100%);
    /* Old webkit */
    background: -webkit-gradient(linear, top center, from(#336699), color-stop(100%, #6699cc));
    /* New webkit */
    background: -webkit-linear-gradient(top, #336699, #6699cc 100%);
    /* IE <= 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=$first_color, endColorStr=$last_color);
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=$first_color, endColorstr=$last_color)";
    /* Spec */
    background: linear-gradient(top, #336699, #6699cc 100%); }
  #pageheader.flex {
    background: #a344bc;
    /* Mozilla */
    background: -moz-linear-gradient(top, #a344bc, #c88fd7 100%);
    /* Old webkit */
    background: -webkit-gradient(linear, top center, from(#a344bc), color-stop(100%, #c88fd7));
    /* New webkit */
    background: -webkit-linear-gradient(top, #a344bc, #c88fd7 100%);
    /* IE <= 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=$first_color, endColorStr=$last_color);
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=$first_color, endColorstr=$last_color)";
    /* Spec */
    background: linear-gradient(top, #a344bc, #c88fd7 100%); }
  #pageheader.power {
    background: #549933;
    /* Mozilla */
    background: -moz-linear-gradient(top, #549933, #87cc66 100%);
    /* Old webkit */
    background: -webkit-gradient(linear, top center, from(#549933), color-stop(100%, #87cc66));
    /* New webkit */
    background: -webkit-linear-gradient(top, #549933, #87cc66 100%);
    /* IE <= 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=$first_color, endColorStr=$last_color);
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=$first_color, endColorstr=$last_color)";
    /* Spec */
    background: linear-gradient(top, #549933, #87cc66 100%); }

#title h2 {
  margin: 5px 0 0 10px;
    margin-bottom: -10px !important;
  font-size: 38pt;
  font-weight: normal;
  text-transform: uppercase; }
#title p {
  margin: 0 0 0 10px;
    margin-bottom: 15px !important;
  font-size: 12pt;
  font-weight: bold;
  text-transform: uppercase; }

.slideShow {
  clear: both;
  position: table;
  display: block;
  height: 250px; }
  .slideShow ul, .slideShow li {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .slideShow .slide {
    position: absolute;
    display: list-item;
    width: 960px !important; }
    .slideShow .slide div a {
      color: white; }
    .slideShow .slide .content {
      background: none;
      padding: 0.2em 10px;
      width: 960px;
      height: 245px;
      position: absolute;
      top: 5px;
      z-index: 980;
      font-family: Overpass; }
  .slideShow .slide-canvas {
    width: 960px !important;
    height: 250px !important;
    margin: 0 auto;
    position: relative;
    display: block; }
    .slideShow .slide-canvas div {
      display: block; }
  .slideShow .navigation {
    width: 950px;
    margin: 200px auto 0;
    padding: 0 0 0 10px;
    display: block;
    position: relative;
    clear: both;
    z-index: 998 !important; }
    .slideShow .navigation li {
      display: inline; }
    .slideShow .navigation a {
      background: white;
      margin: 0 2px 0 0;
      padding: 3px 8px;
      display: inline-block;
      color: #3C6EB4;
      font-size: .8em;
      font-weight: bold;
      font-family: Overpass;
      text-decoration: none;
      border: 1px solid #3c6eb4;
      -moz-border-radius: 12px;
      -webkit-border-radius: 12px;
      border-radius: 12px; }
      .slideShow .navigation a:hover, .slideShow .navigation a.selected {
        background: #3c6eb4;
        color: white !important;
        font-weight: bold;
        border: 1px solid white; }

.simpleSlideShow {
  width: 960px; }

#slides ul {
  width: 960px;
  margin-left: -5px; }
#slides #express {
  background: #6699cc; }
  #slides #express .slide-canvas {
    background: url(/app/images/slide_express.png) no-repeat;
    opacity: .6; }
#slides #flex {
  background: #c88fd7; }
  #slides #flex .slide-canvas {
    background: url(/app/images/slide_flex.png) no-repeat;
    opacity: .6; }
#slides .content h2 {
  margin: 0;
  color: white;
  font-size: 25pt;
  font-weight: normal;
  text-transform: none; }
#slides .content p {
  width: 550px;
  color: white;
  font-size: 13pt; }

#news_title {
  background: #333;
  height: 30px; }
  #news_title h4 {
    padding: 4px 0 4px 10px;
    color: white !important;
    font-size: 12pt; }

#news {
  padding: 5px 0;
  max-height: 20px; }

.newsTicker {
  background: black;
  height: 30px;
  clear: auto;
  font-family: Overpass; }
  .newsTicker li {
    color: white !important;
    width: 800px !important; }

#breadcrumb {
  margin: 0 0 1em;
  color: #aaa; }
  #breadcrumb a {
    text-decoration: none;
    color: #aaa !important; }

#sidebar_slugs_container {
  background: #ECECEC;
  overflow: hidden; }
  #sidebar_slugs_container p, #sidebar_slugs_container ul, #sidebar_slugs_container ol, #sidebar_slugs_container li, #sidebar_slugs_container h1, #sidebar_slugs_container h2, #sidebar_slugs_container h3, #sidebar_slugs_container h4, #sidebar_slugs_container h5, #sidebar_slugs_container h6 {
    color: #555555; }
  #sidebar_slugs_container h1, #sidebar_slugs_container h2, #sidebar_slugs_container h3, #sidebar_slugs_container h4, #sidebar_slugs_container h5, #sidebar_slugs_container h6 {
    font-family: OverpassBold;
    font-weight: normal;
    color: black; }

#sidebar {
  background: #e6e6e6;
  margin: 0;
  width: 280px;
  border-left: 1px solid white;
  /*
    a.readmore {
      display: block;
      margin: 0 10px 0 0;
      color: #3C6EB4;
      text: {
        decoration: none;
        align: right;
      }
    }
  */ }
  #sidebar div.grid_7 {
    background: url("/app/images/arrow.png") no-repeat 90% center;
    margin: 0;
    padding-left: 10px;
    border-top: 1px solid white;
    border-bottom: 1px solid #ccc; }
    #sidebar div.grid_7.alpha {
      border-top: none; }
    #sidebar div.grid_7.omega {
      border-bottom: none; }
  #sidebar a {
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
    text-decoration: none; }
    #sidebar a:hover h4 {
      color: #cc0000; }
  #sidebar h2 {
    padding: 1em 0 0;
    font-size: 10pt;
    text-transform: uppercase;
    color: #666; }
  #sidebar h3 {
    font-size: 11pt;
    color: #111; }
  #sidebar h4 {
    margin: 1em 10px .25em 0;
    color: black;
    font-size: 11pt;
    font-family: Overpass;
    font-weight: normal;
    line-height: 10pt;
    text-transform: uppercase; }
  .flex_details #sidebar {
    background: none; }
  #sidebar ul {
    margin: 0 0 1em; }
  #sidebar #pricing h4 {
    font-size: 22pt; }
  #sidebar #faq h4 {
    font-size: 32pt; }

#slugs {
  background: #ececec;
  margin: 0;
  padding: 12px 0 1em 5px; }
  #slugs .suffix_1 {
    padding: 0 0 15px 0;
    margin: 0 -15px 0 0; }
  #slugs ul {
    width: 100%;
    list-style-position: outside; }
  #slugs li {
    margin-left: 10px; }

.slug {
  margin: 0;
  padding: 0 0 5px 0; }
  .slug p.link {
    padding-right: 10px;
    text-align: right;
    clear: both; }
  .slug a {
    color: #4e9fdd;
    text-decoration: none; }
    .slug a .learn {
      float: right;
      margin: 0 12px 0 0; }
  .slug h3 {
    margin: .5em 0;
    font-size: 13pt; }
  .container_24 .slug.grid_9.last {
    width: 353px;
    margin-right: 0;
    border-right: 1px solid #ccc; }
  .slug .icons img {
    float: right;
    margin: 10px; }

/*
 * Trick to make equal-height columns
 */
#sidebar_slugs_container > div {
  padding-bottom: 100%;
  margin-bottom: -100%; }

#flex_steps h6, #flex_nowwhat h6 {
  font-weight: normal; }
  #flex_steps h6 strong, #flex_nowwhat h6 strong {
    text-transform: uppercase; }
#flex_steps p, #flex_nowwhat p {
  font-size: 11pt;
  margin: 0; }
#flex_steps a, #flex_nowwhat a {
  display: block;
  margin: 0 0 1em;
  font-weight: bold;
  font-size: 11pt;
  text-decoration: none;
  text-align: right;
  color: #3C6EB4; }

#app_promos {
  background: #ececec; }
  #app_promos p, #app_promos a, #app_promos h1, #app_promos h2, #app_promos h3, #app_promos h4, #app_promos h5, #app_promos h6, #app_promos ul, #app_promos ol, #app_promos li {
    margin: 0 auto;
      margin-top: 1em !important;
    text-align: center;
    font-family: Overpass;
    color: #555555; }
  #app_promos h1, #app_promos h2, #app_promos h3, #app_promos h4, #app_promos h5, #app_promos h6 {
    font-family: OverpassBold; }
  #app_promos > div {
    background: #d0d1d0; }
  #app_promos h3 {
    font-size: 10pt; }
  #app_promos h4 {
    font-size: 14pt;
    text-transform: uppercase; }
  #app_promos a {
    background: #777;
    padding: 5px 10px;
    color: white !important;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase; }
  #app_promos .grid_8 {
    min-height: 170px; }
  #app_promos .express {
    background: url(/app/images/express-tile-trans.png) #cccccc; }
    #app_promos .express.hover {
      background-color: #b3cce6; }
      #app_promos .express.hover h4 {
        color: #6699cc; }
      #app_promos .express.hover a {
        background-color: #6699cc; }
  #app_promos .flex {
    background: url(/app/images/flex-tile-trans.png) #cccccc; }
    #app_promos .flex.hover {
      background-color: #eddaf2; }
      #app_promos .flex.hover h4 {
        color: #c88fd7; }
      #app_promos .flex.hover a {
        background-color: #c88fd7; }
  #app_promos .power {
    background: url(/app/images/power-tile-trans.png) #cccccc; }
    #app_promos .power.hover {
      background-color: #c3e6b3; }
      #app_promos .power.hover h4 {
        color: #87cc66; }
      #app_promos .power.hover a {
        background-color: #87cc66; }

#page {
  background: #ececec;
  /* Mozilla */
  background: -moz-linear-gradient(top, #ececec, white 10%);
  /* Old webkit */
  background: -webkit-gradient(linear, top center, from(#ececec), color-stop(10%, white));
  /* New webkit */
  background: -webkit-linear-gradient(top, #ececec, white 10%);
  /* IE <= 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=$first_color, endColorStr=$last_color);
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=$first_color, endColorstr=$last_color)";
  /* Spec */
  background: linear-gradient(top, #ececec, white 10%);
  color: black;
  padding: 2em 0 5em; }
  #page p, #page a, #page h1, #page h2, #page h3, #page h4, #page h5, #page h6, #page ul, #page ol, #page li {
    color: #555555; }
  #page h1, #page h2, #page h3, #page h4, #page h5, #page h6 {
    font_family: Overpass; }
  #page h2 {
    margin: 0;
    color: #222;
    font-size: 13pt; }
  #page h3 {
    font-size: 22pt; }
  #page h5 {
    margin: 0 0 1em;
    color: #555;
    font-size: 9pt;
    text-transform: uppercase; }

#registration input {
  width: 200px;
  margin: 0 5px;
  float: left;
  clear: right;
  border: 1px solid #aaa;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 13pt; }
  #registration input.create {
    background: #555;
    width: auto;
    margin: 0 0 0 145px;
    padding: 5px 10px;
    display: block;
    float: none;
    clear: both;
    color: white !important;
    font-family: OverpassBold;
    text-decoration: none;
    text-align: center;
    border: 0px;
    box-shadow: 1px 1px 1px #ccc;
    cursor: pointer; }
  #registration input form {
    width: 500px; }
  #registration input th {
    padding: 0 1em 0 0;
    color: #555555;
    font-weight: bold;
    font-size: 10pt;
    line-height: 1.2em;
    text-align: right; }
  #registration input td, #registration input th {
    padding-top: 1.5em; }
  #registration input table {
    margin-bottom: 40px; }

#login-form input {
  width: 200px;
  margin: 0 5px;
  float: left;
  clear: right;
  border: 1px solid #aaa;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 13pt; }
  #login-form input.create {
    background: #555;
    width: auto;
    margin: 0 0 0 145px;
    padding: 5px 10px;
    display: block;
    float: none;
    clear: both;
    color: white !important;
    font-family: OverpassBold;
    text-decoration: none;
    text-align: center;
    border: 0px;
    box-shadow: 1px 1px 1px #ccc;
    cursor: pointer; }
  #login-form input.button {
    background: #555;
    width: auto;
    margin: 0 0 0 145px;
    padding: 5px 10px;
    display: block;
    float: none;
    clear: both;
    color: white !important;
    font-family: OverpassBold;
    text-decoration: none;
    text-align: center;
    border: 0px;
    box-shadow: 1px 1px 1px #ccc;
    cursor: pointer; }

label {
  width: 140px;
  margin: 0 0 16px;
  float: left;
  clear: left;
  line-height: 30px;
  text-align: right;
  color: #555555; }
  label font {
    size: 10pt;
    weight: bold; }

.recaptcha_input_area label {
  line-height: inherit; }

input#user_email_address {
  width: 200px;
  margin: 0 5px;
  float: left;
  clear: right;
  border: 1px solid #aaa;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 13pt;
  width: 250px !important;
  height: 24px;
  margin: 0 0 16px 16px;
  padding: 2px 4px; }

input#user_password {
  width: 200px;
  margin: 0 5px;
  float: left;
  clear: right;
  border: 1px solid #aaa;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 13pt;
  width: 250px !important;
  height: 24px;
  margin: 0 0 16px 16px;
  padding: 2px 4px; }

input#user_password_confirmation {
  width: 200px;
  margin: 0 5px;
  float: left;
  clear: right;
  border: 1px solid #aaa;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 13pt;
  width: 250px !important;
  height: 24px;
  margin: 0 0 16px 16px;
  padding: 2px 4px; }

input.submit, input.button, input.create {
  background: #555;
  width: auto;
  margin: 0 0 0 145px;
  padding: 5px 10px;
  display: block;
  float: none;
  clear: both;
  color: white !important;
  font-family: OverpassBold;
  text-decoration: none;
  text-align: center;
  border: 0px;
  box-shadow: 1px 1px 1px #ccc;
  cursor: pointer; }

form p {
  clear: left; }

#captcha th {
  vertical-align: top; }

#recaptcha_area {
  margin: 0 0 0 10px;
  float: left;
  clear: right; }

#register {
  margin: 15px 0 0; }
  #register h4 {
    display: inline; }
  #register a {
    color: #4e9fdd;
    text-decoration: none;
    font-weight: bold; }

#form_notes h4 {
  margin: 0 0 .5em;
  font-size: 11pt; }
#form_notes p, #form_notes ul {
  margin: 0 0 .75em;
  font-size: 9pt; }
#form_notes a {
  color: #4e9fdd;
  text-decoration: none;
  font-weight: bold; }

#terms_and_conditions {
  margin: 2em 0 0;
  padding: .5em 0 0;
  color: #bbb !important;
  border-top: 1px solid #dedede; }

#footer {
  background: black;
  padding: 1.5em 0; }
  #footer ul {
    margin: 0.5em 0 0 -2.2em;
    list-style-type: none; }
  #footer h5 {
    margin: 0;
    color: #4e9fdd;
    font-size: 10pt;
    text-transform: uppercase;
    font-family: Overpass; }
  #footer a {
    text-decoration: none; }

#subfooter {
  padding: 2em 0 4em;
  color: #ccc;
  font-size: 8pt; }
  #subfooter ul {
    margin: 0.5em 0 0 -2.2em;
    list-style-type: none; }
  #subfooter li {
    float: left; }
  #subfooter a {
    text-decoration: none; }
