Name: www-dynamic-2.2
Version: 2.2.15
Architecture: i686/x86_64
Provides: www-dynamic
Depends:
Conflicts:
Type: Cartridge
Role: misc
Vendor: 
DisplayName: www-dynamic-2.2
Bundles:  
Description: 
This cartridge packages the apache httpd so that applications can deploy
 an http processor for incoming requests. These requests are already proxied
through the PaaS static apache which routes according to domain of the url.
Multiple instances of this cartridge can also be deployed, but they need to have
non-conflicting forward-proxy url maps.

