-# CSS: implied media="all"
= stylesheet_link_tag '/app/stylesheets/common.css', :media => 'all'
= stylesheet_link_tag '/app/stylesheets/site.css', :media => 'all'

-# Append your own using content_for :stylesheets
= yield :stylesheets
