-# file: Site terms

- content_for :page_title do
  Website Terms

= render 'shared/pageheader', :product => 'openshift', :title => 'Legal Terms', :subtitle => 'Legal Terms and Conditions'

#page.container_24

  #main_content.grid_22
    %h2 Terms of Use

    %p
      In order to access and use the OpenShift Preview Services and Software you will need to accept the terms and conditions of the OpenShift Services Agreement and OpenShift Acceptable Use Policy.  Also, since OpenShift is just one of several online properties of Red Hat, you will also need to agree to certain site terms that will apply to your use of other Red Hat sites.  As a result, by clicking "I Accept" you agree to comply with the following terms:
    #terms
      %ul
        - accepted_terms_list = Array.new(@user.terms.length)
        - if @user.terms.length > 0
          %li
            = link_to 'OpenShift Terms of Use', legal_site_terms_path, {:target => '_blank'}
          - @user.terms.each_with_index do |value, i|
            - accepted_terms_list[i] = value['termId']
            %li
              %a{:title => value['termTitle'], :href => value['termUrl'], :target => '_blank'} #{value['termTitle']}
    .clear

  .clear
