-# file: Site terms

- content_for :page_title do
  Website Terms

= render 'shared/pageheader', :product => 'openshift', :title => 'Site Usage Terms', :subtitle => 'Legal Terms and Conditions'

#page.container_24

  #main_content.grid_22
    %h2 OpenShift Site Terms

    %p
      OpenShift Site Terms go here.

  .clear
