:ruby
  options = {
    :ssl => true
  }

#picatcha_widget.control-group{:class => (errors ? 'error' : '')}
  %noscript 
    .alert.alert-warning You need JavaScript enabled to sign up for an OpenShift account

  -#%label.control-label{ :for => :picatcha_images}
    Are you a spam bot?
  .controls
    %input#picatcha_images{:name => :picatcha_images, :type => :hidden}
    .help-inline.picatcha_errors= errors ? "Incorrect, please try again" : ""

    = picatcha_tag(:challenge, options).html_safe

- content_for :javascripts do
  = javascript_include_tag "site/picatcha"

- content_for :stylesheets do
  = stylesheet_link_tag "picatcha"
