- content_for :page_title do
  Change Namespace

%section.main
  .content
    %h1 Change your namespace
    = render 'layouts/flashes'
    = render :partial => 'shared/domain', :locals => { :express_domain => @domain, :dom_action => @dom_action }
