-# file: join partner program partial

/ Join partner program plug
#join
  %p
    %strong Want to integrate with the open Paas
    that provides you the broadest audience with the best potential for monetization, requiring the least effort from you?
  
  = link_to 'Join our partner program.', 'mailto:openshift@redhat.com', :class => 'join'
