-# file: join partner program partial

/ Join partner program plug
#join
  %p
    %strong Want to integrate with the open PaaS
    that provides you a broad audience with high potential for monetization, requiring less effort from you?
  
  = link_to 'Join our partner program.', 'mailto:openshift@redhat.com', :class => 'join'
