-# file: partner list partial
-#
  This partial is for partners that are part of a list

%li
  /Logo
  = image_tag partner.logo
  
  /Summary
  %p.summary
    = partner.blurb
  
  /Learn more link
  = link_to 'Learn More', url_for(:controller => 'partner', :action => 'show', :id => partner.id), :class => 'learn-more' 
