-# file: Partner index page - shows all the partners!

- content_for :page_title do
  Meet Our Partners

= render 'shared/pageheader', :product => 'openshift', :title => 'Partners', :subtitle => 'A Strong Ecosystem of Technologies'

#page.container_24
  #main_content.grid_22
    
    %h2 Meet Our Partners
    
    %p.intro
      Red Hat works with an ecosystem of partners to build, optimize, and deliver complete solustions to our customers. Through our global network of leading hardware, software, and service provider vendors, Red Hat offers customers a wealth of proven technology solutions that solve real-world business challenges.
      
    = render 'join'
      
    /Start list of partners
    %ul.partners
      - @partners.each do |partner|
        = render 'partner_list', :partner => partner
    
  .clear
