-# file: Site terms

- content_for :page_title do
  Website Terms

%section.main
  %header
    %h1
      Legal terms
  
  .content
    %p
      In order to access and use the OpenShift Preview Services and Software you will need to accept the terms and conditions of the OpenShift Services Agreement.  Also, since OpenShift is just one of several online properties of Red Hat, you will also need to agree to certain site terms that will apply to your use of other Red Hat sites.  As a result, by clicking "I Accept" you agree to comply with the following terms:
    #terms
      %ul
        -# TODO: a lot of this logic should be in the controller, not the view...
        - accepted_terms_list = Array.new(@user.terms.length)
        - if @user.terms.length > 0
          -# Show the OpenShift terms first
          - @user.terms.each_with_index do |value, i|
            - if value['termTitle'].start_with?('O')
              - accepted_terms_list[i] = value['termId']
              %li
                %a{:title => value['termTitle'], :href => value['termUrl'], :target => '_blank'} #{value['termTitle']}
                
                %p.description
                  = @term_description[value['termTitle']]

          -# Now show the remaining terms
          - @user.terms.each_with_index do |value, i|
            - unless value['termTitle'].start_with?('O')
              - accepted_terms_list[i] = value['termId']
              %li
                %a{:title => value['termTitle'], :href => value['termUrl'], :target => '_blank'} #{value['termTitle']}
                
                - unless @term_description[value['termTitle']].nil?
                  %p.description
                    = @term_description[value['termTitle']]

