-# file: Express getting started

- content_for :page_title do
  Get Started with Express

= render 'shared/pageheader', :product => 'express', :title => 'Using Express', :subtitle => 'Get started with Express'

.container_24#page
  .prefix_1.grid_22.suffix_1#registered
    %h3 Express Getting Started View
  .clear
