-# file: Flex getting started

= render 'shared/pageheader', :product => 'flex', :title => 'Using Flex', :subtitle => 'Get started with Flex'

.container_24#page
  .prefix_1.grid_22.suffix_1#registered
    %h3 Flex Getting Started View
  .clear
