- content_for :page_title do
  OpenShift Email Sent

%section.main
  .content
    %h1 Password Reset Email Sent
    %p An e-mail has been sent to you containing instructions on how to reset your password.  The link in the e-mail will allow you to change your password.
    %p 
      = link_to "Return to the main page", root_path
