-# file: Flex request error page

- content_for :page_title do
  Get Access to OpenShift Flex!

%section.main
  %header
    %h1 You're in the queue!
  
  .content
    %p 
      You have already requested access to OpenShift Flex.  Once you have been granted access you'll get an email indicating the next steps.

