-# file: Flex request check email page

- content_for :page_title do
  Get Access to OpenShift Flex!

%section.main
  %header
    %h1 What's Next?
    
  .content
    %p
      Check your inbox for an email letting you know you have been granted access.
