-# file: Flex request check email page

- content_for :page_title do
  Get Access to OpenShift Flex!

= render 'shared/pageheader', :product => 'flex', :title => 'Try Flex', :subtitle => 'Request Access to OpenShift Flex'

.container_24#page

  .prefix_1.grid_22.suffix_1
    %h2 What's Next?
    %p
      Check your inbox for an email letting you know you have been granted access.

  .clear
