- content_for :header do
  .messaging.messaging-home
    .container
      %h1.primary.headline
        Develop and Scale 
        %strong#technology-rotate Apps
        in the Cloud
      %h2.secondary OpenShift is a free, auto-scaling platform as a service for web applications.  It streamlines the application life cycle so developers can focus on their users, customers, and code.

%h1.ribbon
  .ribbon-content What is OpenShift?
  .ribbon-left
  
%h2
  OpenShift will give you a fast on-ramp to the Cloud. 
  Get <strong>Java</strong>, <strong>Ruby</strong>, <strong>PHP</strong>, <strong>Perl</strong> and <strong>Python</strong> apps in the cloud with the command-line and Git in just a few minutes. 
  
.row
  .span4
    = render 'product/video_embed', :video => 'express_client_tools', :width => 311, :height => 255
  .span4
    = render 'product/video_embed', :video => 'express_create_app', :width => 311, :height => 255
  .span4
    = render 'product/video_embed', :video => 'express_deploy', :width => 311, :height => 255
.row
  .span4
    %h2
      Install
    %p
      Download and install the OpenShift Express client tools so you can deploy and manage your application in the cloud.  
  .span4
    %h2
      Create
    %p
      Create a subdomain for your application and clone the Git master repository from the cloud.
  .span4
    %h2
      Deploy
    %p
      Add your application code to the Git repository and push to the cloud. Congratulations, your application is live!

%section= take_action '/app/styleguide/overview', 'Want more information?', 'Read the Getting Started Guide'
