.container_24#page
  .clear

  .prefix_1.grid_22.suffix_1
    %h4 "Check your inbox..."
    %p
      Check your email and you should see an email addressed from us once you have been granted access.

  .clear
