- this_plan = new_plan
- this_plan = current_plan if show == 'current'
%div{:class => 'plan-feature heading'}
  %h3!= show == 'features' ? '&nbsp;' : this_plan.name
- new_plan.features.each do |feat|
  - this_class = 'plan-feature'
  - this_class << ' better' if show == 'new' and feat.<=>(current_plan.feature(feat.name)) == 1
  %div{:class => this_class}
    - value = show == 'features' ? feat.name : this_plan.feature(feat.name).value
    %p= value
