- display_only = false if local_assigns[:display_only].nil?
- current_plan = { :id => '' } if local_assigns[:current_plan].nil?
.span5
  - if current_plan == nil or (plan.id == 'megashift' && current_plan.id != plan.id)
    .plan-upgrade-header
      Sign up now and get a free month!
    .tile.upgrade
      = render :partial => 'plans/plan_copy', :locals => { :current_plan => @current_plan, :display_only => display_only, :plan => plan }
  - else
    .plan-std-header
      &nbsp;
    .tile.standard
      = render :partial => 'plans/plan_copy', :locals => { :current_plan => @current_plan, :display_only => display_only, :plan => plan }
