%section
  %h1 OpenShift Plans
  .row-fluid
    .span6
      #current_plan
        %h2 Your Plan
        = render :partial => 'plans/plan_description', :locals => { :plan => @current_plan, :select_button => '' }
    .span6
      - if @bigger_plans.length > 0
        #upgrade
          %h2 Looking to Upgrade?
          = render :collection => @bigger_plans, :as => :plan, :partial => 'plans/plan_description', :locals => { :select_button => 'Upgrade' }
      - if @smaller_plans.length > 0
        #downgrade
          %h2 Looking to Downgrade?
          = render :collection => @smaller_plans.reverse, :as => :plan, :partial => 'plans/plan_description', :locals => { :select_button => 'Downgrade' }
