- content_for :title, 'Session Expired'

%p
  Your session has expired or been forcibly ended. You can log in again and
  continue your work using the button below.

%p= link_to 'Continue working', @redirect, :class => 'btn'

%p
  If you are repeatedly logged out, this may be a sign of an issue with the OpenShift Online service.
  Please contact us at #{link_to_account_mailto} or on #{link_to_irc}.

