- content_for :title, 'Maintenance in progress'

%p
  The OpenShift Online service is temporarily unavailable while we perform server maintenance.  
  Please check the 
  #{link_to "status page", status_path}
  for updates.

%p Follow the Operations team on Twitter: <strong>#{link_to "@openshift-ops", openshift_ops_twitter_url }</strong>

%p= link_to 'Try again', @redirect, :class => 'btn'

