// This file must be imported before loading html5-boilerplate

$base-font-family: "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;  // default font-family

$base-font-size: 1em;

$base-line-height: 1.25;

$background-color: #574d4f;

$font-color: #444;

$link-color: #000;

$link-hover-color: #3465A4;

$link-active-color: #386EB3;

$link-visited-color: #284E80;

$selected-font-color: #fff;  // color for selected text

$selected-background-color: #38B9E6;  // bg-color for selected text

$list-left-margin: 2em;  // left margin for ul an ol

$shadow-color: rgba(0, 0, 0, 0.3);
$dark-shadow-color: rgba(0, 0, 0, 0.7);

$tweet-color: #DEF3FB;

$express: #4e9fdd;
$flex: #dc9f2e;

$ruby: #cc0000;
$python: #afbf27;
$perl: #fcc917;
$php: #4e9fdd;
$java: #564979;

$light_button_bg: #ede6cb;
$light_button_bg_highlight: #ddce9b;
$light_button_text: #3b3924;
$light_button_shadow: #b69c3f;

$overview_bg: #002e53;
$overview_highlight: #0093d9;
@mixin cloud_bg_solid {
  background: $overview_bg url('/app/images/transparent_cloud.png') repeat-x 8em center;
 }
@mixin cloud_bg_gradient {
  @include background-image(
    url('/app/images/transparent_cloud.png'),
    radial-gradient(center bottom, circle farthest-side, $overview_highlight, $overview_bg)
  );
  background-repeat: repeat-x, no-repeat;
  background-position: center 8em, 0 0;
}

@mixin light_button {
  background-color: $light_button_bg;
  @include background-image(linear-gradient(top, $light_button_bg, $light_button_bg_highlight));
  color: $light_button_text;
  @include text-shadow(white 0 0.1em 0);
  @include box-shadow($light_button_shadow 0 0.2em 0);
}

@mixin selection {
  background-color: $background-color;
  color: white;
}

@mixin not-visually-hidden {
  position: static;
  clip: auto;
  width: auto;
  height: auto;
  overflow: visible;
  margin: 0;
}

@mixin close_button {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  border: none;
  outline: none;
    
  &:active {
    outline: none;
    border: none;
  }
}
