/* Universal styles */

body {
  margin: 0;
  padding: 0;
  background-color: $background-color;
  min-width: 52em;
}

/*
.multiplebgs body {
  background-image: url('../images/clouds_sm.png'),
                    url('../images/clouds_md.png'),
                    url('../images/clouds_lg.png');
  background-position: -150px -240px;
}
*/

body, select, input, textarea {
  color: $font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
}
 
h1, h2, h3, h4, h5, h6 {
  font-family: OverpassBold, $base-font-family;
  font-weight: bold;
}

a, a:active, a:visited { color: $link-color; }
a:hover { color: $link-hover-color; }

a:active, a:focus { outline: none; border: none; }

strong, th {
  font-weight: bold;
}

small {
  font-size: .85em;
}

::-webkit-selection {
  @include selection;
}
::-moz-selection {
  @include selection;
}
::selection {
  @include selection;
}

.express ::-moz-selection {
  background-color: $express;
}
.express ::-webkit-selection {
  background-color: $express;
}
.express ::selection {
  background-color: $express;
}

header, footer, section { display: block; }

h1 { font-size: 1.5em }
h2 { font-size: 1.25em }
h3 { font-size: 1.1em }
h4 { font-size: 1em }


/* End universal styles */

/* Shared styles */

/* Hide section headers that we don't want showing normally */
header.universal hgroup,
header.universal header,
nav > header,
#copyright header {
  @include visually-hidden;
}

/* Set content width */
.content,
section > header {
  width: 50em;
  margin: 0 auto;
}

/* Style buttons */
a.button {
  @include inline-block;
  white-space: nowrap;
  padding: .3em 1em;
  font: {
    family: Overpass, $base-font-family;
    size: .9em;
  }
  text: {
    decoration: none;
    align: center;
  }
  @include box-shadow(black 0 0.1em 0);
  @include text-shadow($shadow-color 0 0.15em 0);
  @include border-radius(.2em);
  
  &:hover {
    text-decoration: none !important;
  }
}

/* Styles shared by "more" links */
a.more {
  font: {
    family: OverpassBold, $base-font-family;
    weight: bold;
    size: 1em;
  }
}

/* Styles shared by main content areas */
.main {
  font-size: .9em;
  color: #555;
  margin: 0;
  padding: 1em 0 4em;
  background-color: white;
  display: block;
  
  a {
    color: #1060c8;
    text-decoration: none;
  
    &:hover {
      color: #3288f7;
      text-decoration: underline;
    }
    
    &:visited {
      color: #8f0ccc;
    }
  }
  
  h1, h2, h3, h4, h5 {
    color: #555;
    font: {
      family: Overpass, $base-font-family;
      weight: normal;
    }
  }
  
  h1 {
    width: 100%;
    text-transform: uppercase;
  }
}

/*.rgba .main {
  background-color: rgba(255, 255, 255, 0.9);
}*/

/* Flash notices */
.message {
  @include box-sizing(border-box);
  background-repeat: no-repeat;
  background-position: 1em center;
  padding: .5em 0 .5em 2em;
  margin: 0 50px 1em;
  font: {
    weight: bold;
  }
  text-align: center;
  p { margin: 0; padding: 0; }
  
  &.error {
    /* Red bg */
    background-color: #f33;
    color: white;
    border-color: #c00;
    background-image: url('/app/images/icons/error.png');
    @include text-shadow(0 0.1em 0 #900);
  }
  
  &.notice {
    /* bright orange bg */
    background-color: #fc0;
    background-image: url('/app/images/icons/important.png');
    color: white;
    border-color: #eb0;
    @include text-shadow(0 0.1em 0 #c90);
  }
  
  &.success {
    /* green bg */
    background-color: #6CDB00;
    background-image: url('/app/images/icons/success.png');
    color: white;
    border-color: #5ebf00;
    @include text-shadow(0 0.1em 0 #4b9900);
  }
}

/* End shared styles */

/* Layout styles */

header.universal {
  display: block;
  & > .content {
    padding: 1em;
  }
  
  nav {
    display: block;
    background-color: black;
    
    ul {
      padding: 0;
      margin: 0;
    }
    
    li {
      display: inline;
      margin: 0;
      list-style-type: none;
      
     a {
        padding: .9em 1em;
        @include inline-block;
        color: white;
        font-family: Overpass, $base-font-family;
        font-size: .9em;
        text-decoration: none;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        max-width: 19em;
        text-overflow: ellipsis;
        @include transition-duration(.5s);
      }
    
      .express & a.express,
      &.active a,
      a:hover {
        background-color: lighten(black, 20%);
      }
      
      &.user {
        float: right;
      }

      .ie8 &.greeting {
        width: 19em;
      }

    }
  }
}

#announcements {
  width: 25em;
  height: 4em;
  overflow: hidden;
  float: right;
  margin-top: 1em;
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    width: 25em;
    height: 4em;
    list-style-type: none;
    
    a {
      width: 23em;
      height: 4em;
      font: {
        size: .8em;
        family: Overpass, $base-font-family;
      }
      text-decoration: none;
      color: white;
      background: transparent url('../images/announce-arrow.png') no-repeat right top;
      padding-right: 2em;
      text-align: right;
      display: block;
      float: right;
      
      .title {
        font: {
          family: OverpassBold;
          weight: bold;
          size: 1.2em;
        }
      }
    }
  }
}


footer.universal {
  display: block;
  color: white;
  font-size: .9em;
  
  ul { margin: 0; padding: 0; }
  
  li {
    list-style-type: none;
  }
  
  h2 {
    color: white;
    font-size: 1.1em;
  }
  
  .content > ul > li {
    @include inline-block;
    margin: 0 1em;
    vertical-align: top;
    width: 10em;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  #copyright {
    @include clearfix;
    background: black;
    margin: 2em 0;
    
    .content {
      padding: .5em 5em;
    }
    
    p { float: left; }
    img { float: right; margin-bottom: 1em;}
  }
}

.dialog {
  display: none;
  background: #323232;
  @include border-radius(2em);
  @include box-shadow($dark-shadow-color 0 0 5em);
  color: white;
  font-family: Overpass, $base-font-family;
  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;
  z-index: 1000000;
  min-width: 30em;
  padding: 2em;
  overflow: auto;
  
  a.more {
    display: block;
    width: 100%;
    text-align: center;
    color: #1060c8;
  }
  
  form {
    display: block;
    width: 25em;
    margin: 0 auto;
    
    input.button {
      margin: .5em 0;
      width: 24em;
    }

    fieldset.confirm label.error {
      background: #323232;
    }

    legend {
      color: white;
    }
  }
    

  input { width: 22em; }
  
  label {
    display: block;
  }
    
  h1 {
    font-weight: normal;
    font-family: Overpass, $base-font-family;
    text-align: center;
    margin: 0;
  }

  h2 {
    text-align: center;
  }
  
  .close_button {
    @include close_button;
    
    img { border: none; }
  }

  #extra_options {
    div {
      margin: 0 3em;
    }

    p {
      margin: 0;
    }

    h2 {
      font-size: 1em;
      margin: 0;
      padding: 2em 0 0;
    }

  }
}

/* End layout styles */

/* Home page styles */

.home .main {
  padding: 1em 0;
}

#opener {
  font-size: 1.1em;
  background: #2c1f34 url('../images/cloud-bg.png') repeat-x bottom;
  height: 513px;
  display: block;
  
  .content {
    width: 100%;
    height: 513px;
    overflow: hidden;
    background: url('../images/space-panda-ftw.png') no-repeat center;
    position: relative;
  }
  
  header {
    padding: 105px 0 0 130px;
    text-align: center;
  }
  
  h1 {
    color: white;
    font-size: 30px;
    line-height: 36px;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    font-family: Overpass, $base-font-family;
    @include text-shadow(black 0 2px 0);
  }
  
  h2 {
    color: white;
    font-size: 24px;
    font-weight: normal;
    font-family: Overpass, $base-font-family;
    line-height: 29px;
    text-transform: uppercase;
    margin: 0;
    @include text-shadow(black 0 2px 0);

  }
  
  a.button {
    @include light_button;
    font-size: 15px;
    position: relative;
    left: 50%;
    margin-top: 15px;
  }
  
}

#exposition {
  margin-top: -1em;

  p#intro {
    font-size: 1.1em;
    font-family: Overpass, $base-font-family;
  }
  
  > .content {
    > div {
      margin: 3em 0 6em;
      padding: 0 3em;
      position: relative;
      min-height: 200px;
      
      img {
        display:block;
        position: absolute;
        top: 0;
      }
      
      header, p, a {
        display: block;
        padding-left: 325px;
      }
      
      h2 { margin-top: 0; }
    }
    
    div:last-child {
      margin-bottom: 3em;
    }
    
    #free {
      img {
        right: 0;
        top: -16px;
      }
      
      header, p, a {
        padding-left: 0;
        padding-right: 325px;
      }
    }
  }
}

#social {
  .content {
    padding-bottom: 2em;
  }
  
  div, li {
    @include clearfix;
  }
  
  .content {
    width: 746px;
  }
  
  img {
    float: left;
    vertical-align: top;
    padding: .5em;
    margin-top: .5em;
  }

  img.avatar {
    max-height: 64px;
    max-width: 64px;
  }
  
  p.tweet {
    position: relative;
    padding: 1em;
    margin: 0.1em 0.1em 2em 6em;
    border: 1px solid #B8E6F6;
    min-height: 3em;
    background: $tweet-color;
    @include border-radius(1.25em);
  }
  
  .cssgradients & p.tweet {
    @include background(linear-gradient(top, white, $tweet-color 2em));
  }
  
  p.tweet:after {
    content: '';
    background: url('../images/bubble-extension.png') no-repeat left top;
    position: absolute;
    top: 1.3em;
    left: -20px;
    width: 20px;
    height: 27px;
    display: block;
  }
  
  .ie8 p.tweet:after {
    background: none;
  }
  
  a.tweeter {
    font-weight: bold;
  }

  a.tweeter:first-child {
    color: black;
  }
  
  ul {
    margin: 0; padding: 0;
  }
  
  li {
    list-style-type: none;
    @include inline-block;
    width: 24em;
    vertical-align: top;
    padding-left: .7em;
  }
  
  #social_links {
    padding: .5em 4em;
    a.button {
      background-color: $background-color;
      color: white;
      margin-left: .5em;
      float: right;
      font-size: 1em;
    }
  }
}

.no-js #social { display: none; }

.ie7 li.link {
  float: left;
}


#bottom_signup {
  text-align: center;
  font-size: 1.2em;
  padding: 4em;
  
  header, .content {
    width: 35em;
  }
  
  h1 {
    border-bottom: none;
  }
  
  h1, h2 {
    margin: 0; padding: 0;
  }
  
  a.button {
    background-color: $background-color;
    color: white;
    margin: 1em;
  }
}

/* End home page styles */

/* Service page styles */
nav.service {
  color: white;
  font-family: Overpass, $base-font-family;
  font-size: 0.9em;
  text-transform: uppercase;
  
  .express & {
    background-color: $express;
    
    .express {
      background-color: white;
      color: #666;
    }
  }
  
  li.active a,
  a:hover {
    background-color: white !important;
    color: #666;
  }
  
  &:last {
    float: none !important;
  }
}

.ie7 .product {
  .main {
    .content .content {
      padding-left: 4em;
      clear: left;
      float: right;
    }
  }
}

.product {
  .main {
    @include clearfix;
    
    > header {
      @include visually-hidden;
    }
    
    .content nav {
      text-align: right;
      width: 11em;
      float: left;
      font-family: Overpass, $base-font-family;
      margin-top: 2.7em;
      font-size: 1.1em;
      
      ul {
        padding: 0; margin: 0;
      }
      
      header {
        padding: 3em .5em 0;
        width: auto;
        font-size: .8em;
        
        h2 {
          padding: 0; margin: 0;
        }
      }
      
      > header {
        @include visually-hidden;
      }
      
      li {
        list-style-type: none;
      }
      
      a {
        @include inline-block;
        padding: .5em;
        color: #787878;
        text-decoration: none;
        border-bottom: 1px solid #ececec;
        width: 10em;
      }
      
      .js & a.active,
      a:hover {
        color: #333;
      }
      
      #account.signed_out {
        color: #aaa;
        
        header {
          @include visually-hidden;
        }
        
        a.sign_up, a.request {
          @include inline-block;
          margin: .5em  0;
          padding: 1em;
          background: #FFFCAF;
          border: 1px solid #FFDC41;
          @include border-radius(.25em);
          color: #333;
          text-align: center;
        }
      }
    }
  
    .content .content {
      width: 35em;
      padding-left: 15em;
    }
    
    h1 {
      border: 0;
      padding-left: 0;
    }
    
    a.more {
      margin: 3em 0;
      display: block;
      font-size: 1.2em;
    }
  }
  &.express .main h1 {
    color: $express;
  }
  &.express .main nav h2 {
    color: $express;
  }

}

/* product overview page styles */

/* Override the body min-width since this page is a bit wider */
body.product.overview { min-width: 55em; }

#product_overview { padding: 0; }

#product_overview .info {
  margin: 0; padding: 3em 0 12em;
  @include cloud_bg_solid;

  ul {
    list-style-type: none;
    margin: 0 auto; padding: 0;
    width: 62em;
  }
}

#product_overview.prev_login .info { padding-bottom: 18em; }
#product_overview.prev_login.no_error .info { padding-bottom: 15em; }
#product_overview.authorized .info { padding-bottom: 2em; }
#product_overview ul.content { text-align: center; }

.multiplebgs.cssgradients #product_overview .info {
  @include cloud_bg_gradient;
}

.product_box {
  @include inline-block;
  background: white;
  @include border-radius(2em);
  width: 35%;
  height: 24em;
  margin-right: 2.5%;
  padding: 1em 2em;
  text-align: left;

  &:last-child {
    margin-right: 0;
  }

  h2 {
    text-transform: uppercase;
    font-family: Overpass, $base-font-family;
    font-size: 2.5em;
    line-height: .5em;
  }
  
  h2 a:hover { text-decoration: none; }

  .product .main & a.more { margin: 1em 0; }

  &.express h2 a, &.express a.more {
    color: $express;
  }

  .product .main .content & .content {
    width: auto;
    margin: 0; padding: 0;
  }

  .content {
    color: #666;
    font-size: .9em;
    line-height: 1.5em;
  }
  
  p {
    margin: 0; padding: 0;
  }
}

#user_box {
  background: $overview_bg;
  height: 4em;
  overflow: visible;

  .content {
    position: relative;
  }
  
  .authorized & .content {
    top: -2em;
    width: 40em;
  }

  .unauthorized & .content {
    background: $overview_bg;
    width: 35em;
    height: 12em;
    @include border-radius(1em);
    padding: 2em;
    top: -18em;
    text-align: center;
  }

  .unauthorized.prev_login & .content {
    height: 18em;
    top: -24em;
  }
  .unauthorized.prev_login.no_error & .content {
    height: 15em;
    top: -21em;
  }

  .no-cssgradients .unauthorized & .content { background: darken($overview_bg, 5%); }

  h2 {
    color: white;
    font-family: OverpassBold, $base-font-family;
    font-weight: bold;
    margin: 0;
  }

  .button {
    @include light_button;
  }

  .sign_up.button {
    font-size: 1.5em;
    display: block;
    width: 10em;
    margin: 2em auto .5em;
  }

  a { color: $overview_highlight; }

  img {
    position: absolute;
    bottom: -65px;
    left: 38%;
  }

  #login-form {
    form { margin: 1em 0; width: auto; }
    label {
      color: white;
      font: {
        family: Overpass, $base_font_family;
        size: 1em;
      }
      text-align: right;
      margin: 0 6em 0 0;
      padding: 0;
    }
    label.error { color: red; }
    input {
      width: 20em;
      @include border-radius(.25em);
      border: none;
      display: inline;
    }
    input.button {
      width: 21em;
      margin-left: 1.5em;
    }
    input:focus { margin: .25em; }
    input.button:focus { margin: .5em 0 .5em 1.5em; }


  }
  
  #extra_options h2 { display: none; }

  #lost_password a, #register a {
    float: right;
    font-weight: normal;
    font-family: $base_font_family;
    margin: 0 1.3em;
  }
}

.cssgradients #user_box {
  @include background-image(radial-gradient(center top, circle closest-corner, $overview_highlight, $overview_bg 250px));
}

/* media overview styles */

#media_overview {
  
  .content {
    width: 60em;

     > div {
      width: 50%;
      float: left;
    }
  }

  ul {
    list-style-type: none;
    margin: 0; padding: 0;
  }
  
  li {
    display: block;
    @include clearfix;
  }

  .vid {
    margin-bottom: .5em;

    .video-thumb { float: left; }
    
    h2 {
      float: right;
      font-size: 1.1em;
      margin: 2em 1em 0;
      width: 50%;
      
      a { color: #666; }
    }
  }

  #retweets ul li { margin: 10px 0; }

  .avatar {
    float: left;
    margin: 4px 0 0;
    border: 0;
  }
  .tweet {
    background: $light_button_bg;
    font-size: .8em;
    @include border-radius(.5em);
    margin: 0  0 0 55px;
    padding: 5px;
    font-size: 10px;
    height: 45px;
    
    a { color: $overview_highlight; }
  }

  a.more { margin: 1.5em 0 }
}


/* Feature matrix */

.features .main {
  margin: 0; padding: 5em 0;
  @include cloud_bg_solid;

  .content { padding-left: 5em; }

  & .content > div  {
    background: white;
    @include border-radius(2em);
    position: relative;
    width: 19em;
    padding: 2em;
    margin: 1em;
    float: left;
    
    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }

    h2 {
      color: white;
      position: absolute;
      top: -2em;
      left: 0;
      font-size: 2em;
      line-height: 1em;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
    }
    
    h3 {
      width: 10em;
      margin: 0; padding: 0;
      position: absolute;
      left: -10.5em;
      display:none;
      color: #ccc;
      text-align: right;
      font-size: 1.2em;
    }

    &:first-child h3 { display: block; }

   ul {
      list-style-type: none;
      margin: 2em auto 0; padding: 0;
      border-top: 2px solid #cecece;
    }

    ul li {
      margin: .5em auto;
      padding: .25em 2em;
      height: 1.1em;
      width: 7em;
      background: #c8c5ac;
      color: white;
      @include border-radius(.3em);
      font-size: 1.3em;
      font-family: Overpass, $base_font_family;
      text-align: center;
    }

    li.disabled {
      background: #f3f3f3;
    }
    ul.languages li.disabled {
      height: 3.5em;
    }

    li.soon {
      background: transparent;
      color: #666;
    }

    ul.languages {
      margin-top: 0;
      border-top: 0;
    }
    ul.languages li {
      @include border-radius(1em);
      margin: 2em 1em;
      padding-left: 1.5em;
      padding-bottom: 1em;
      font-family: Overpass, $base_font_family;
      font-size: 1.1em;
      text-align: left;
      color: black;
      width: auto;
      height: auto;

      ul { margin: 0;  border: 0;}

      ul li {
        background: transparent;
        @include inline-block;
        margin: 0;
        padding: .25em .5em;
        width: 4em;
      }

      h4 {
        color: white;
        position: relative;
        top: -.5em;
        left: 0;
        padding: .25em 1em;
        display: inline;
        font-size: 1.2em;
        @include border-radius(.3em);
      }
      
      &.ruby {
        background: lighten($ruby, 35%);
        
        h4 { background: $ruby; }
      }
      
      &.python {
        background: lighten($python, 35%);
        
        h4 { background: $python; }
      }

      &.perl {
        background: lighten($perl, 35%);
        height: 3.5em;
        
        h4 { background: $perl; }
      }

      &.php {
        background: lighten($php, 35%);
        
        h4 { background: $php; }
      }

      &.java {
        background: lighten($java, 30%);
        
        h4 { background: $java; }
      }
    }
  }

}

.multiplebgs.cssgradients .features .main {
  @include cloud_bg_gradient;
}

/* End service pages */

/* Start register page */

li.captcha {
  margin: 0 1em;
}

/* End register page */

/* Start login page */


/* End login page */

/* Dashboard page */
.control_panel .main {
  @include cloud_bg_solid;
  position: relative;  
  a {
    color: $overview_highlight;
  }

  > header {
    position: absolute;
    top: 4em;
    width: 48em;
    padding: 1em;
    left: 50%;
    margin-left: -26em; 
    z-index: 10;
    
    h1 {
      font-size: 2em;
      text-transform: none;
      color: $overview_highlight;
    }
  }
  .tabs {
    ul {
      position: absolute;
      text-align: right;
      width: 50em;
      padding: 0;
      left: 50%;
      margin: 0 0 0 -25em;
      top: 3em;
      list-style-type: none;
    }
    li { display: inline; }
    li a {
      @include inline-block;
      background: white;
      @include border-radius(1em 1em 0 0);
      width: 10em;
      padding: 1em;
      text-align: center;
    }
  }
  .content {
    font-family: Overpass, $base_font_family;
    position: relative;
    background: white;
    @include border-radius(2em);
    padding: 5em 4em 3em;
    width: 48em;
    margin-top: 3em;

    .cp-section {
      margin-bottom: 2.5em;

      h2 {
        margin-left: -1em;
        text-transform: uppercase;
      }
    }

    .intro > header {
      @include visually-hidden;
    }
    
    .intro {
      @include clearfix;
      padding: 2em 0 0;
      font-family: $base_font_family;
    }
    #video, #resources {
      width: 22em;
      @include inline-block;
      vertical-align: top;
    }
    #video {
      margin-top: 1em;
    }
    #resources ul {
      list-style-type: none;
      padding: 0; margin: 0;
      margin-left: 1em;
    }
    #resources li {
      font-family: Overpass, $base_font_family;
      font-size: 1.1em;
      line-height: 1.4em;
    }
    h2.with-inline-docs {
      float: left;
    }
    h2.with-inline-docs + div.inline-docs-widget {
      float: left;
      clear: none;
    }
    div.inline-docs-widget + div {
      clear: both;
    }
    .inline-docs-widget {
      font-size: 0.9em;
      margin: 1.3em .5em 0;
    }
    .edit-widget {
      .current {
        color: black;
        display: inline;
      }
      .os-popup.os-widget {
        display: inline;
        margin: 0 0 0 5em;
        .popup-trigger {
          display: inline;
          a { color: #dc9f2e; }
        }
      }
    }

    // Apps
    #app_list_container {
      @include clearfix;
      ul {
        list-style-type: none;
        margin: 0; padding: 0;
        border-bottom: 1px solid #ececec;
        margin-bottom: 1em;
        @include clearfix;
      }
      li {
        @include clearfix;
        header { width: 10em; }
        h1 {
          text-align: right;
          font-size: 1em;
          font-weight: bold;
          color: black;
          text-transform: none;
          margin: 0;
        }
        dl { 
          float: left; 
          width: 43em;
          margin: 0 0 2em;
        }
        dt {
          color: #999;
          width: 10em;
          float: left;
          text-align: right;
          margin-right: 1em;
        }
        dd {
          margin-left: 11em;
          overflow-x: auto;
          white-space: nowrap;
        }
        dd.app_type {
          text-transform: uppercase;
        }
        .popup-trigger {
          float: right;
          text-align: right;
          margin: 0.5em 0;
          a { color: #cc0000; }
        }
      }

    }
    
  }
  
  #app_form {
    form { width: 100%; }
    select { margin: 0.1em; }
    li, fieldset.buttons {
      @include inline-block;
      @include clearfix;
      vertical-align: top;

      label {
        display: inline;
      }
      input {
        display: inline;
      }
    }
    li.string{ width: 24em; }
    li.select{ width: 8em; }
    fieldset.buttons { 
      width: 7em; 
      input { 
        width: 7em;
        margin-top: 1.1em;
      }
    }

  }
  
  #quote blockquote {
    color: black;
  }

}
.control_panel {
  form { width: 23.5em; }
  textarea {
    height: 5em;
  }
  input.button {
    background-color: $overview_highlight;
    border: none;
    color: white;
    @include text-shadow(1px 1px 0 $shadow_color);
  }
  label {
    font-family: Overpass, $base_font_family;
    text-transform: uppercase;
    font-size: .9em;
  }
  .os-dialog form {
    margin: 0 auto;
  }
}
.delete_button {
  background: #cc0000;
  color: white;
  font-weight: bold;
  @include text-shadow(1px 1px 0 $shadow_color);
  cursor: pointer;
  border: none;
}
.cssgradients.multiplebgs .control_panel .main {
  @include cloud_bg_gradient;
}

.partner #join {
  background: lighten($background-color, 30%);
  color: black;
  padding: 1em;
  border: 0.1em solid $background-color;
  @include border-radius(1em);
  
  p { margin: 0; }
}

.ie7 li.password {
  float: left;
}
