/* Styles for widgets used in the control panels */
/******* Dialog *******/
.os-widget.os-dialog {
  display: none;
  width: 28em;
  max-height: 50em;
  left: 50%;
  margin-left: -15em;
  position: absolute;
  top: 10em;
  z-index: 1000;
  padding: 1em;
  background: $background_color;
  @include border-radius(.5em);
  @include box-shadow(0 0 2em $dark-shadow-color); 
}
.no-boxshadow .os-widget.os-dialog {
  border: 1px solid #666;
}

#overlay {
  display: none;
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: 999;
  background: black;
  @include opacity(.4);
}

a.os-close-link {
  float: right;
  font-family: Overpass, $base_font_family;
  font-weight: bold;
  background-color: $overview_highlight;
  padding: .5em 1em;
  font-size: .7em;
  text-decoration: none;
  text-transform: uppercase;
  @include border-radius(.25em);
  margin-bottom: 1em;
  @include text-shadow(1px 1px 1px rgba(255, 255, 255, .5));
  &::before {
    content: '✖ ';
  }
  &:hover {
    background-color: lighten($overview_highlight, 15%);
  }
} 
.os-dialog-container {
  clear: both;
  background: white;
  @include border-radius(.25em);
  padding: .5em 1em;
}


/******* Inline doc widget *******/
/* standard styles */
.js .inline-docs-widget {
  .link {
    display: inline;
    text-transform: lowercase;
  }
  .link::before {
    content: '(';
  }
  .link::after {
    content: ')';
  }
  .docs {
    display: none;
  }
}
/* fallback no js styles */
.no-js .inline-docs-widget {
  .link {
    display: none;
  }
}

/******* Popup link *******/
/* standard styles */
.js .popup-trigger{
  font-family: Overpass, $base_font_family;
}
.js .popup-content {
  display: none;
}
.js .os-dialog.os-widget .popup-content {
  display: block;
}
/* fallback styles */
.no-js .popup-trigger {
  display: none;
}

/******* Edit widget *******/
/* standard styles */
.js .edit-widget {}

/* falback styles */
.no-js .edit-widget {}
  

#ssh_container {
  dt {
    width: 20%;
    clear: left;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .primary_key {
    font-weight: bold;
  }

  dd.ssh_key_preview {
    float: left;
  }

  .os-widget {
    margin: 0 0 0 2em;
  }

  .os-widget.new_ssh_key {
    margin: 0;
  }

  .new_ssh_key input.create {
    display: inline;
    width: auto;
  }
}
