// This file must be imported before loading html5-boilerplate

$base-font-family: "Liberation Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;  // default font-family

$base-font-size: 1em;

$base-line-height: 1.25; 

$background-color: #38B9E6;

$font-color: #444;

$link-color: #000;

$link-hover-color: #3465A4;

$link-active-color: #386EB3;

$link-visited-color: #284E80;

$selected-font-color: #fff;  // color for selected text

$selected-background-color: #38B9E6;  // bg-color for selected text

$list-left-margin: 2em;  // left margin for ul an ol

$shadow-color: rgba(0, 0, 0, 0.6);

$tweet-color: #DEF3FB;

$express: #73D216;
$flex: #9258C8;
$power: #F57900;

@mixin selection {
  background-color: $background-color;
  color: white;
}
