@import "compass/css3";

label {
  margin: 1.2em 0;
  display: block;
  @include clearfix;
}

input {
  display: block;
  border: 0.1em solid #888;
  padding: .25em .5em;
  margin: .25em;
  @include border-radius(.4em);
  
  &:focus {
    border: 0.2em solid #509ef1;
    margin: .15em;
  }
  
  &.button {
    color: white;
    background: #8FDB45;
    border: 1px solid darken(#8FDB45, 20%);
    padding: .3em 2em;
    @include border-radius(2em);
    @include text-shadow(darken(#8FDB45, 20%) 0 0.1em 0);
    margin: .5em 0;
    font-weight: bold;
  }  
}

select {
  display: block;
}

formset.confirm {
  @include clearfix;
  display: block;
  border: none;
  
  input{
    float: left;
  }
}

input.correct {
  border: 2px solid #8FDB45;
  margin: .15em;
  background: white url('../images/check.png') no-repeat right center;
}

input.error {
  border: 2px solid red;
  margin: .15em;
  background: white url('../images/eks.png') no-repeat right center;
}

input[type=radio], input[type=checkbox] {
  float: left;
  margin: .1em .5em 0;
}


/* Customize radios for those that can */
/*
#foo:checked::before,
input[type="radio"] {
  position: absolute;
  clip: rect(0,0,0,0);
  clip: rect(0 0 0 0);
}

#foo:checked,
input[type="radio"]::before {
  content: url('../images/radio.png');
}

input[type="radio"]:checked::before {
  content: url('../images/radio-checked.png');
}
*/

/* Placeholder text */
::-webkit-input-placeholder {
  color: #999;
}
:-moz-placeholder {
  color: #999;
}


