@import "compass/css3";

label {
  margin: 1.2em 0;
  display: block;
  @include clearfix;
}

label.error,
p.inline-errors {
  color: red;
  margin: 0;
  padding: 0;
}

input,
textarea {
  display: block;
  border: 0.1em solid #888;
  padding: .25em .5em;
  margin: .25em;
  width: 21.75em;
  @include border-radius(.4em);
  
  &:focus {
    border: 0.2em solid #509ef1;
    margin: .15em;
  }
  
  &.button {
    color: white;
    background: #8FDB45;
    border: 1px solid darken(#8FDB45, 20%);
    padding: .3em 2em;
    @include border-radius(2em);
    @include text-shadow(darken(#8FDB45, 20%) 0 0.1em 0);
    margin: .5em 0;
    font-weight: bold;
    cursor: pointer;
    width: 23em;
  }  
}

textarea {
  height: 18em;
}

select {
  display: block;
}

fieldset.confirm {
  @include clearfix;
  display: block;
  border: none;
  margin-bottom: 2.5em;
  overflow: visible;
  position: relative;
  
  li label  {
    @include visually-hidden;
  }
  
  li label.error,
  li p.inline-errors {
    @include not-visually-hidden;
    width: 20em;
    background: white;
    padding: 0.5em;
    position: absolute;
    bottom: -2.1em;
  }
  
  input{
    float: left;
    width: 10em;
  }
}

input.correct {
  border: 2px solid #8FDB45;
  margin: .15em;
  background: white url('../images/check.png') no-repeat right center;
}

input.error {
  border: 2px solid red;
  margin: .15em;
  background: white url('../images/eks.png') no-repeat right center;
}

input[type=radio], input[type=checkbox] {
  float: left;
  margin: .1em .5em 0;
}

form {
  width: 25em;
  ul, ol {
    margin: 0;
    padding: 0;
  }
  li {
    list-style-type: none;
  }
}

fieldset {
  border: none;
  outline: none;
}

/* Customize radios for those that can */
/*
#foo:checked::before,
input[type="radio"] {
  position: absolute;
  clip: rect(0,0,0,0);
  clip: rect(0 0 0 0);
}

#foo:checked,
input[type="radio"]::before {
  content: url('../images/radio.png');
}

input[type="radio"]:checked::before {
  content: url('../images/radio-checked.png');
}
*/

/* Placeholder text */
::-webkit-input-placeholder {
  color: #999;
}
:-moz-placeholder {
  color: #999;
}
