$outage_bg: #FFDC4C;

#outage_notification {
  background: $outage_bg;
  width: 100%;
  min-width: 960px;
  margin: 0;
  padding: 0 0 5px;
  font-size: 9.5pt;

  pre {
    width: 940px;
    margin: 0 auto;
    padding: 10px 0;
    color: black;
    border-top: 1px solid white;
  }
  h2 {
    width: 960px;
    margin: 0 auto;
    padding: 10px 10px 5px;
    color: #333;
    text: {
      transform: uppercase;
      align: center;
    }
    @include text_shadow(1px 1px 1px white);
  }
}

#outage_toggle {
  background: $outage_bg;
  position: absolute;
  padding: 11px 30px 6px;
  color: black;
  font: {
    family: OverpassBold;
    size: 10pt;
  }
  text: {
    decoration: none;
    transform: uppercase;
  }
  @include text_shadow(1px 1px 1px white);
}
