/* Universal styles */

body {
  margin: 0;
  padding: 0;
  background-color: $background-color;
  min-width: 1030px;
}

/*
.multiplebgs body {
  background-image: url('../images/clouds_sm.png'),
                    url('../images/clouds_md.png'),
                    url('../images/clouds_lg.png');
  background-position: -150px -240px; 
}
*/

body, select, input, textarea {
  color: $font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
}
 
h1, h2, h3, h4, h5, h6 {
  font-family: OverpassBold, $base-font-family;
  font-weight: bold;
}

a, a:active, a:visited { color: $link-color; }
a:hover { color: $link-hover-color; }

a:active, a:focus { outline: none; border: none; }

strong, th {
  font-weight: bold;
}

small {
  font-size: .85em;
}

::-webkit-selection {
  @include selection;
}
::-moz-selection {
  @include selection;
}
::selection {
  @include selection;
}

header, footer, section { display: block; }

h1 { font-size: 1.5em }
h2 { font-size: 1.25em }
h3 { font-size: 1.1em }
h4 { font-size: 1em }


/* End universal styles */

/* Shared styles */

/* Hide section headers that we don't want showing normally */
header.universal hgroup,
header.universal header,
nav > header,
#copyright header {
  @include visually-hidden;
}

/* Set content width */
.content,
section > header {
  width: 50em;
  margin: 0 auto;
}

/* Style buttons */
a.button {
  @include inline-block;
  white-space: nowrap;
  padding: .3em 2em;
  font: {
    family: Overpass, $base-font-family;
    size: 1em;
  }
  text: {
    decoration: none;
    align: center;
  }
  @include text-shadow($shadow-color 0 0.1em 0);
  @include border-radius(2em);
  
  &:hover {
    text-decoration: none !important;
  }
}

/* Styles shared by "more" links */
a.more {
  font: {
    family: OverpassBold, $base-font-family;
    weight: bold;
    size: 1em;
  }
}

/* Styles shared by main content areas */
.main {
  font-size: .9em;
  color: #555;
  margin: 0;
  padding: 1em 0 4em;
  background-color: white;
  display: block;
  
  a {
    color: #1060c8;
    text-decoration: none;
  
    &:hover {
      color: #3288f7;
      text-decoration: underline;
    }
    
    &:visited {
      color: #8f0ccc;
    }
  }
  
  h1, h2, h3, h4, h5 { 
    color: #555; 
    font: {
      family: Overpass, $base-font-family;
      weight: normal;
    }
  }
  
  h1 {
    width: 100%;
    border-bottom: 1px solid #ececec;
    padding: 1em 2em;
  }
}

.rgba .main {
  background-color: rgba(255, 255, 255, 0.9);
}

/* Flash notices */
.message {
  @include box-sizing(border-box);
  background-repeat: no-repeat;
  background-position: 1em center;
  padding: .5em 0 .5em 2em;
  margin: 0 0 1em;
  font: {
    weight: bold;
  }
  text-align: center;
  border: .2em solid;
  @include border-radius(2em);
  
  p { margin: 0; padding: 0; }
  
  &.error {
    /* Red bg */
    background-color: #f33;
    color: white;
    border-color: #c00;
    background-image: url('/app/images/icons/error.png');
    @include text-shadow(0 0.1em 0 #900);
  }
  
  &.notice {
    /* bright orange bg */
    background-color: #fc0;
    background-image: url('/app/images/icons/important.png');
    color: white;
    border-color: #eb0;
    @include text-shadow(0 0.1em 0 #c90);
  }
  
  &.success {
    /* green bg */
    background-color: #6CDB00;
    background-image: url('/app/images/icons/success.png');
    color: white;
    border-color: #5ebf00;
    @include text-shadow(0 0.1em 0 #4b9900);
  }
}

/* End shared styles */

/* Layout styles */

header.universal {
  display: block;
  & > .content {
    padding: 1em;
  }
  
  nav {
    display: block;
    background-color: black;
    
    ul {
      padding: 0;
      margin: 0;
    }
    
    li {
      display: inline;
      margin: 0;
      list-style-type: none;
      
      a {      
        padding: .9em 1em;
        @include inline-block;
        color: white;
        font-family: Overpass, $base-font-family;
        font-size: .9em;
        text-decoration: none;
      }
    
      .home & a.home,
      .product & a.services,
      &.active a,
      a:hover {
        background-color: lighten(black, 20%);
      }
      
      &.user {
        float: right;
      }
    }
  }
}

#announcements {
  width: 25em;
  height: 4em;
  overflow: hidden;
  float: right;
  margin-top: 1em;
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    width: 25em;
    height: 4em;
    list-style-type: none;
    
    a {
      width: 23em;
      height: 4em;
      font: {
        size: .8em;
        family: Overpass, $base-font-family;
      }
      text-decoration: none;
      color: white;
      background: transparent url('../images/announce-arrow.png') no-repeat right top;
      padding-right: 2em;
      text-align: right;
      display: block;
      float: right;
      
      .title {
        font: {
          family: OverpassBold;
          weight: bold;
          size: 1.2em;
        }
      }
    }
  }
}


footer.universal {
  display: block;
  color: white;
  font-size: .9em;
  
  ul { margin: 0; padding: 0; }
  
  li {
    list-style-type: none;
  }
  
  h2 {
    color: white;
    font-size: 1.1em;
  }
  
  .content > ul > li {
    @include inline-block;
    margin: 0 1em;
    vertical-align: top;
    width: 10em;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  #copyright {
    @include clearfix;
    background: black;
    margin: 2em 0;
    
    .content {
      padding: .5em 5em;
    }
    
    p { float: left; }
    img { float: right; margin-bottom: 1em;}
  }
}

.dialog {
  display: none;
  background: #323232;
  @include border-radius(2em);
  @include box-shadow($shadow-color 0 0 5em);
  color: white;
  font-family: Overpass, $base-font-family;
  position: fixed;
  top: 20%;
  left: 20%;
  right: 20%;
  z-index: 1000;
  min-width: 27em;
  padding: 2em;
  
  a.more {
    display: block;
    width: 100%;
    text-align: center;
    color: #1060c8;
  }
  
  form {    
    margin: 0 auto;
    display: block;
    width: 23.5em;
  }
  
  label {
    display: block;
  }
    
  h1 {
    font-weight: normal;
    font-family: Overpass, $base-font-family;
    text-align: center;
    margin: 0;
  }
  
  .close_button {
    position: absolute;
    top: 1.5em;
    right: 1.5em;
    
    &:active {
      outline: none;
      border: none;
    }
  }
}

/* End layout styles */

/* Home page styles */

.home .main {
  padding: 1em 0;
}

#opener {
  background: white;
  margin-bottom: 30px;
  height: 392px;
  display: block;
  
  .content {
    position: relative;
    width: 986px;
  }
  
  img {
    z-index: 100;
    display: block;
    margin: 0 auto;
  }
  
  header, a.button {
    position: absolute;
  }
  
  header {
    top: 3em;
    right: 260px;
    text-align: right;
    width: 20em;
  }
  
  h1 {
    color: #666;
    font-size: 2em;
    line-height: 1.25em;
    margin: 0;
    font-weight: normal;
    font-family: Overpass, $base-font-family;
  }
  
  h2 {
    color: #666;
    font-size: 1em;
    font-weight: normal;
    font-family: Overpass, $base-font-family;
    line-height: 1em;
    margin: 0;
  }
  
  a.button {
    top: 9em;
    right:260px;
    background-color: $background-color;
    color: white;
  }
  
}

#exposition {
  h1 {
    margin-top: 100px;
  }
  
  > .content {
    > div {
      margin: 3em 0 6em;
      padding: 0 3em;
      @include clearfix;
      position: relative;
      min-height: 200px;
      
      img {
        display:block;
        position: absolute;
        top: 0;
      }
      
      header, p, a {
        display: block;
        padding-left: 325px;
      }
      
      h2 { margin-top: 0; }
    }
    
    div:last-child {
      margin-bottom: 3em;
    }
    
    #free {
      img {
        right: 0;
      }
      
      header, p, a {
        padding-left: 0;
        padding-right: 325px;
      }
    }
  }
}

#social {
  .content {
    padding-bottom: 2em;
    border-bottom: 1px solid #ececec;
  }
  
  div, li {
    @include clearfix;
  }
  
  .content {
    width: 746px;
  }
  
  img {
    float: left;
    vertical-align: top;
    padding: .5em;
    margin-top: .5em;
  }
  
  p.tweet {
    position: relative;
    padding: 1em;
    margin: 0.1em 0.1em 2em 6em;
    border: 1px solid #B8E6F6;
    min-height: 3em;
    background: $tweet-color;
    @include border-radius(1.25em);
  }
  
  .cssgradients & p.tweet {
    @include background(linear-gradient(top, white, $tweet-color 2em));
  }
  
  p.tweet:after {
    content: '';
    background: url('../images/bubble-extension.png') no-repeat left top;
    position: absolute;
    top: 1.3em;
    left: -20px;
    width: 20px;
    height: 27px;
    display: block;
  }
  
  .ie8 p.tweet:after {
    background: none;
  }
  
  a.tweeter {
    font-weight: bold;
  }

  a.tweeter:first-child {
    color: black;
  }
  
  ul {
    margin: 0; padding: 0;
  }
  
  li {
    list-style-type: none;
    @include inline-block;
    width: 24em;
    vertical-align: top;
    padding-left: .7em;
  }
  
  #social_links {
    padding: .5em 4em;
    a.button {
      background-color: $background-color;
      color: white;
      margin-left: .5em;
      float: right;
      font-size: 1em;
    }
  }
}

.no-js #social { display: none; }

.ie7 li.link {
  float: left;
}


#bottom_signup {
  text-align: center;
  font-size: 1.4em;
  padding: 3.75em;
  
  header, .content {
    width: 35em;
  }
  
  h1 {
    border-bottom: none;
  }
  
  h1, h2 {
    margin: 0; padding: 0;
  }
  
  a.button {
    background-color: $background-color;
    color: white;
    margin: 1em;
  }
}

/* End home page styles */

/* Service page styles */
nav.service {
  color: white;
  font-family: Overpass, $base-font-family;
  font-size: 0.9em;
  text-transform: uppercase;
  
  .express & {
    background-color: $express;
    
    .express {
      background-color: white;
      color: #666;
    }
  }
  
  .flex & {
    background-color: $flex;
    
    .flex {
      background-color: white;
      color: #666;
    }
  }
  
  .power & {
    background-color: $power;
    
    .power {
      background-color: white;
      color: #666;
    }
  }
  
  li.active a,
  a:hover {
    background-color: white !important;
    color: #666;
  }
  
  &:last {
    float: none !important;
  }
}

.ie7 .product {
  .main {
    .content .content {
      padding-left: 4em;
      clear: left;
      float: right;
    }
  }
}

.product {
  .main {
    @include clearfix;
    
    > header {
      @include visually-hidden;
    }
    
    .content nav {
      text-align: right;
      width: 11em;
      float: left;
      font-family: Overpass, $base-font-family;
      margin-top: 5.7em;
      font-size: 1.1em;
      
      ul {
        padding: 0; margin: 0;
      }
      
      header {
        padding: 3em .5em 0;
        width: auto;
        font-size: .8em;
        
        h2 {
          padding: 0; margin: 0;
        }
      }
      
      > header {
        @include visually-hidden;
      }
      
      li {
        list-style-type: none;
      }
      
      a {
        @include inline-block;
        padding: .5em;
        color: #787878;
        text-decoration: none;
        border-bottom: 1px solid #ececec;
        width: 10em;
      }
      
      .js & a.active,
      a:hover {
        color: #333;
      }
      
      #account.signed_out {
        color: #aaa;
        
        header {
          @include visually-hidden;
        }
        
        a.sign_up, a.request {
          @include inline-block;
          margin: .5em  0;
          padding: 1em;
          background: #FFFCAF;
          border: 1px solid #FFDC41;
          @include border-radius(.25em);
          color: #333;
          text-align: center;
        }
      }
    }
  
    .content .content {
      width: 35em;
      padding-left: 15em;
    }
    
    h1 {
      border: 0;
      padding-left: 0;
    }
    
    a.more {
      margin: 3em 0;
      display: block;
      font-size: 1.2em;
    }
  }
  &.express .main h1 {
    color: $express;
  }
  &.express .main nav h2 {
    color: $express;
  }
  &.flex .main h1 {
    color: $flex;
  }
  &.flex .main nav h2 {
    color: $flex;
  }
  &.power .main h1 {
    color: $power;
  }
  &.power .main nav h2 {
    color: $power;
  }

}

#flex-ways {
  em {
    font-weight: bold;
    font-style: normal;
  }
  
  ol {
    list-style-type: none;
    padding-left: 0;
  }
}

#free-flex {
  #offer {
    background-color: #5FCF07;
    color: white;
    font-family: Overpass, $base-font-family;
    font-size: 1.1em;
    margin: 1em 0;
    padding: 1em;
    @include border-radius(0.5em);
  }
}

/* End service pages */

/* Start register page */

#login_instead {
  margin: 1em 3em;
}

form#new_web_user {
  margin: 1em 2em;
}

li.captcha {
  margin: 0 1em;
}

/* End register page */

/* Start login page */

#login-form form {
  margin: 0 3em;
}

#register {
  margin: 0 3em;
  
  h2 {
    font-size: 1em;
    margin: 0;
    padding: 2em 0 0;
  }
  
  p { margin: 0; }
}

#lost_password {
  margin: 0 3em;
}

/* End login page */

/* Dashboard page */
.control_panel {
  
  form {
    margin: 0 3em;
  }
  
  dd, dt {
    margin: .5em;
  }
  
  dt { font-weight: bold; }
  
  a.button {
    color: white;
    background-color: $background_color;
    font-size: 1.1em;
    cursor: pointer;
  }

}

/* End dashboard page */

/* Start partner page */

ul.partners {
  margin: 0;
  padding: 0;

  li {
    @include inline-block;
    vertical-align: top;
    width: 15em;
    padding: 2em .5em;
  }
}

.partner.show {
  .content > div {
    margin: 1em 0;
  }
  
  #partner_overview {
    font-size: .8em;
    border: 0.1em solid #ececec;
    border-left: 0; border-right: 0;
    padding: 1em;
    
    p { margin: 0; }
  }
  
  #quote blockquote {
    color: black;
  }
}

.partner #join {
  background: lighten($background-color, 30%);
  color: black;
  padding: 1em;
  border: 0.1em solid $background-color;
  @include border-radius(1em);
  
  p { margin: 0; }
}

.ie7 li.password {
  float: left;
}
