-# Sign in dialog box

#signin.dialog
  %header
    %h1
      Sign in to OpenShift

  = render :partial => 'login/signin_form', :locals => { :register_url => '#' }

  = render :partial => 'layouts/close_button'
