-# Sign up dialog box
#signup.dialog
  %header
    %h1
      Sign up for OpenShift - it's Easy!
     
  = render :partial => 'user/signup_form', :locals => {:my_login_path => '#'}
  
  = render :partial => 'layouts/close_button'
