-# Sign in dialog box

#signin.dialog
  %header
    %h1
      Sign in to OpenShift

  %a.sign_up.more{ :href => "#" }
    Need an OpenShift account?

  %form
    %label
      Email
      %input{ :type => "email",
              :placeholder => "Enter your email address",
              :autofocus => "true" }
    
    %label
      Password
      %input{ :type => "password",
              :placeholder => "Enter your password" }
    
    %input.button{ :type => "submit",
                   :value => "Sign in to OpenShift" }



  %a.close_button{ :href => "#",
                   :title => "Close this dialog" }
    %img{ :src => "/app/images/close_button.png" }
