<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>CAN I HAZ A PROPER PAGE TITLE? (OR CHEEZBURGER)</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<link rel="stylesheet" href="css/reset.css" />
	<link rel="stylesheet" href="css/text.css" />
	<link rel="stylesheet" href="css/960_24_col.css" />
	<link rel="stylesheet" href="css/cloud.rh.css" />

</head>
<body>

<div id="head" class="container_24">

<!-- start page header -->

	<div class="grid_6 alpha" id="logo">
		<a href="#"><img src="img/logo.png" alt="RH Cloud"></a>
	</div>

	<div class="grid_18 omega" id="header_right">
		<div id="login"><a href="#">Login</a></div>
		<div class="clear"></div>
		<p id="mainslug">A cloud-based application platform from the open source leader.</p>
	</div>

	<div class="clear"></div>

<!-- start mainnav, end page header -->

	<div class="grid_24 alpha omega" id="nav">
		<ul>
			<li>What is RH Cloud?</li>
			<li>Express for Developers</li>
			<li>AppScale for Ops</li>
			<li>Fabric</li>
			<li>Community</li>
			<li>FAQ</li>
			<li>Help</li>
		</ul>
	</div>

	<div class="clear"></div>

</div>
<!-- main page header -->
<!-- start blingy slideshow area, end mainnav -->
<div id="pageheader" class="container_24 express">
	<div class="grid_14" id="title">
		<h2>Try Express</h2>
		<p>Register for a trial demo</p>
	</div>

	<div class="grid_10" id="title_accent">
	</div>

	<div class="clear"></div>
</div>



<div id="page" class="container_24">

	<div id="breadcrumb" class="prefix_1 grid_22 suffix_1">
		<a href="#">Solutions</a> &gt; <a href="#">Express</a> &gt; <a href="#">Register</a>
	</div>

	<div class="clear"></div>

	<div id="registration" class="prefix_1 grid_12 suffix_1">
		<h3>Register for access to Express</h3>
		<p><img src="img/icon_shadowman.png" alt="Red Hat logo" /><a href="#">Do you already have a redhat.com / RHN login?</a></p>
		<%= form_tag("https://streamline.devlab.phx1.redhat.com/wapps/streamline/registration.html", :method => "post", :id => "user_form") do %>
			<table>
			<tr>
				<th>Email</th>
				<td><input type="text" id="emailAddress" name="emailAddress"></input>
			</tr>
			<tr id="email_tooltips">
				<th>Why we are collecting your email</th>
				<td>We will never spam you (<a href="#">see our privacy policy</a>.)<br /> We'll send you an email to finalize your login creation.</td>
			</tr>
			<tr>
                <th>Password</th>
                <td><input type="password" id="password" name="password"></input>
            </tr>
            <tr>
                <th>Retype Password</th>
                <td><input type="password" id="passwordConfirmation" name="passwordConfirmation"></input>
            </tr>
            <tr id="captcha">
                <th>Prove You Are Human</th>
                <td><img src="https://streamline.devlab.phx1.redhat.com/wapps/streamline/ajax/captcha.html"></td>
            </tr>
            <tr>
                <th>Enter the text as seen above</th>
                <td><input type="input" id="captchaAnswer" name="captchaAnswer"></input>
            </tr>
            <tr>
                <th>Terms Acceptance</th>
                <td><input type="checkbox" name="termsAccepted" id="termsAccepted" tabindex="5" value="true"/></input>
            </tr>
            <tr>
                <td><input type="hidden" name="redirect_url" value="http://www.redhat.com"></input>
            </tr>
	</table>
			<a href="javascript:;" class="button" onclick="document.getElementById('user_form').submit(); return false;">Register now</a>
        <% end %>

	</div>
	<div id="form_notes" class="grid_9 suffix_1">
		<h4>What is Express?</h4>
		<p>'Come, we shall have some fun now!' thought Alice. 'I'm glad they've begun asking riddles.—I believe I can guess that,' she added aloud.</p>
		<p>'Do you mean that you think you can find out the answer to it?' said the March Hare.</p>

		<h4>What do I need to register?</h4>
		<ul>
			<li>An email address</li>
			<li>An Amazon EC2 account number (<a href="#">Don't have one?</a>)</li>
		</ul>
		<p>'Exactly so,' said Alice.</p>
		<p>'Then you should say what you mean,' the March Hare went on.</p>

		<h4>What will I get with registration?</h4>
		<p>You'll get free access to a limited version of Express, which includes:</p>
		<ul>
			<li>A pony</li>
			<li>A suspicious-looking vial of liquid</li>
			<li>Magical cookies</li>
			<li>An ill-tempered queen desirous of your decapitation</li>
		</ul>
	</div>


	<div class="clear"></div>

        <div class="prefix_1 grid_22 suffix_1">
                        <p id="terms_and_conditions">By clicking on 'Register Now' above, you confirm your agreement with this site's <a href="#">Terms and Conditions</a>.</p>
                                </div>

        <div class="clear"></div>

</div> <!-- end page container -->

</div> <!-- end page container -->

<div id="footer" class="container_24">
	<div class="prefix_1 grid_3">
		<h5>Red Hat</h5>
		<ul>
			<li><a href="#">About</a></li>
			<li><a href="#">Legal</a></li>
			<li><a href="#">Privacy Policy</a></li>
			<li><a href="#">Partner with Us</a></li>
		</ul>
	</div>
	<div class="prefix_1 grid_3">
		<h5>Red Hat Cloud</h5>
		<ul>
			<li><a href="#">How it works</a></li>
			<li><a href="#">Pricing</a></li>
			<li><a href="#">News &amp; Events</a></li>
			<li><a href="#">Blog</a></li>
	</div>
	<div class="prefix_1 grid_3">
		<h5>Solutions</h5>
		<ul>
			<li><a href="#">Express</a>
			<li><a href="#">AppScale</a>
			<li><a href="#">Fabric</a>
		</ul>
	</div>
	<div class="prefix_1 grid_3">
		<h5>Resources</h5>
		<ul>
			<li><a href="#">Community</a>
			<li><a href="#">Documentation</a>
			<li><a href="#">Tutorials</a>
			<li><a href="#">Videos</a>
		</ul>
	</div>
	<div class="prefix_1 grid_7">
		<h5>Powered By:</h5>
	</div>

	<div class="clear"></div>
</div>

<!-- begin sub-footer, end footer -->
<div id="subfooter" class="container_24">
	<div class="grid_1 suffix_1">
		<img src="img/shadowman.png" alt="Red Hat Logo" />
	</div>
	<div class="grid_21 suffix_1">
		<p>Copyright &copy; 2011 Red Hat, Inc.</p>
		<ul>
			<li><a href="#">Accessibility Statement</a></li>
			<li><a href="#">Privacy Policy</a></li>
			<li><a href="#">Terms of Use</a></li>
			<li><a href="#">Patent Promise</a></li>
			<li><a href="#">Trademark Guidelines</a></li>
		</ul>
		<ul>
			<li><a href="#">About Red Hat</a></li>
			<li><a href="#">Contact Us</a></li>
			<li><a href="#">Careers</a></li>
			<li><a href="#">Site Map</a></li>
			<li><a href="#">FAQs</a></li>
			<li><a href="#">System Requirements</a></li>
		</ul>
	</div>
	<div class="clear"></div>
</div>
</body>
</html>
