<div id="page" class="container_24">

    <div id="intro" class="prefix_1 grid_22 suffix_1">

        <h4>Overview</h4>
        <p>As of today, we are opening up an internal beta of one of the Libra
        components:  Express.  This offering provides a free PHP and Ruby on
        Rails hosting environment for software developers, similar to the
        Google App Engine or Heroku offerings.  At Summit, we will be
        expanding Libra with additional cloud services based on the work being
        done by the Makara team. But more on that as we get closer to
        Summit.</p>

        <h4>Show Us Your Stuff!</h4>
        <p>Now, we want to ask you for your talents.  We are opening an
        internal competition to harness your innovation to build an externally
        accessible application.  If you are a developer or designer, dust off
        the PHP and Rails books and build something.  If you are a hacker,
        breaking this stuff is in bounds, so give it your best shot.  Your
        contributions will be showcased both internally and externally at
        Summit to our customers.  But, in addition to fame, we will also be
        offering the following prizes:</p>

        <p><strong>First Place:</strong>&nbsp;5 star Red Hat Reward + Libra T-Shirt</p>
        <p><strong>Second Place:</strong>&nbsp;4 star Red Hat Reward + Libra T-Shirt</p>
        <p><strong>Third Place:</strong>&nbsp;3 star Red Hat Reward + Libra T-Shirt</p>
        <p><strong>Honorable Mention:</strong>&nbsp;Eternal fame + Libra T-Shirt</p>

        <p>Just a reminder that this effort is still Red Hat Confidential.
        Your application will be public so please be sensitive about what you
        deploy.</p>

        <h4>Contest Rules</h4>
        <p>The rules are simple - send a quick write-up of what you have done
        to <a href="libra-list@redhat.com">libra-list@redhat.com</a>.  As a
        team, we will be voting on the submissions on April 15th and
        announcing winners.  We can't wait to see what you come up with!</p>

        <h4>Enough Talk - Let's Get Started</h4>
        <p><em><strong><%= link_to "Click Here" users_path %> to register a user and get started!</strong></em></p>
    </div>
    <div class="clear"></div>

    <div class="prefix_1 grid_22 suffix_1">
                <p id="terms_and_conditions">By clicking on 'Register Now' above, you confirm your agreement with this site's <a href="#">Terms and Conditions</a>.</p>
    </div>

    <div class="clear"></div>

</div> <!-- end page container -->
