-# file: Main site index


%section#opener 
  .content
    %header
      %hgroup
        %h1
          Fast, Free and Open
        %h2
          Auto-Scaling for Java, PHP, Ruby, Python, and Perl apps in the cloud
    
    = link_to 'Sign up and try it', '/app/user/new/express', :class => 'button sign_up'
    
    = image_tag '/app/images/flying-panda-ftw2.png',
      :alt => "Panda pilot, soaring through the clouds!"

%section#exposition.main
  %header
    %h1
      What is OpenShift?
  
  .content
    #fast
      %header
        %h2
          Deploy in mere minutes. Just upload code and go!
      
      %img.icon{ :src => "/app/images/fast_icon.png" }
      
      %p
        Whether you prefer a command line or graphical web-based interface, OpenShift provides the fastest and easiest on-ramp to the cloud.
          
    #free
      %header
        %h2
          Send apps to the cloud, monitor and scale. OpenShift grows with you.
      
      %img.icon{ :src => "/app/images/free_icon.png" }
    
      %p
        OpenShift provides the tools not only to deploy your apps to a cloud, but also to monitor them and scale resources on the fly.
          
    #open
      %header
        %h2
          The freedom to choose your languages, frameworks, and middleware
      
      %img.icon{ :src => "/app/images/open_icon.png" }

      %p
        No lock-ins. OpenShift supports many programming languages like Java, PHP, Ruby, Python, and Perl. All of this using standard stacks and technologies so you can use the frameworks you like, and take them with you.
      
%section#social.main
  %header
    %h1
      Buzz
  
  .content
    #latest
      %img.avatar{ :src => "/app/images/avatars/openshift.png" }
      
      %p.tweet{ :id => "latest_tweet" }
    
    #retweets

    #social_links
      %a.more{ :href => "http://twitter.com/#!/search/openshift" }
        More #openshift buzz
      
      %a.button{ :href => "http://twitter.com/#!/openshift" }
        Follow @OpenShift

%section#bottom_signup.main
  %header
    %hgroup
      %h1
        Curious?
      %h2
        Try OpenShift now for free!
  
  .content
    = link_to 'Sign up and try it', login_path, :class => 'sign_up button'

- content_for :javascripts do
  = javascript_include_tag "/app/javascripts/home.src.js"
