-# file: About OpenShift page

- content_for :page_title do
  What is OpenShift?

= render 'shared/pageheader', :product => 'openshift', :title => 'Partners', :subtitle => 'A Strong Ecosystem of technologies'

#page.container_24
  #main_content.grid_22
    
    %h2 Meet our partners
      
    - @partners.each do |partner|
      %div
        %a{:title => partner['name'], :href => partner['url']}
          %img{:src => partner['logo'], :alt => partner['name']} 
        = partner['blurb']
  .clear
