<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>10</daysToKeep>
    <numToKeep>10</numToKeep>
    <artifactDaysToKeep>10</artifactDaysToKeep>
    <artifactNumToKeep>10</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command># Delete the previous repo clone directories
rm -rf li origin-dev-tools openshift-java-client

# Clone the repos
git clone git@github.com:openshift/li.git
git clone git@github.com:openshift/origin-dev-tools.git
git clone git://github.com/openshift/openshift-java-client.git

pushd li

# Build and install HEAD for the tests
build/devenv launch devenv_broker_extended_${BUILD_NUMBER} --verifier
instance_hostname=`build/devenv print_hostname devenv_broker_extended_${BUILD_NUMBER}`

# Run the tests
set +e
build/devenv test devenv_broker_extended_${BUILD_NUMBER} --include_extended=broker
EXTENDED_RESULT=$?
set -e

popd

set +x
echo
echo
echo
echo &quot;**************** BEGIN JAVA CLIENT TESTS ****************&quot;
echo
set -x

# Run java client tests
pushd openshift-java-client
set +e
mvn clean package -Pintegration-tests -Dlibra_server=$instance_hostname -Ddefault_rhlogin=toolsjboss@gmail.com -Drhpassword=1q2w3e -Dsun.net.client.defaultConnectTimeout=600000 -Dsun.net.client.defaultReadTimeout=600000 -Djsse.enableSNIExtension=false
JAVA_CLIENT_RESULT=$?
set -e
popd

# terminate
pushd li
build/devenv terminate devenv_broker_extended_${BUILD_NUMBER} --download_artifacts
popd

set +x
if [ $EXTENDED_RESULT -ne 0 ] &amp;&amp; [ $JAVA_CLIENT_RESULT -ne 0 ]
then
  echo
  echo &quot;Extended and java client tests failed!&quot;
  echo
  exit 1
elif [ $EXTENDED_RESULT -ne 0 ]
then
  echo
  echo &quot;Extended tests failed!&quot;
  echo
  exit 1
elif [ $JAVA_CLIENT_RESULT -ne 0 ]
then
  echo
  echo &quot;Java client tests failed!&quot;
  echo
  exit 1
fi
set -x</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>li/rhc/log/**,openshift-java-client/target/surefire-reports/*</artifacts>
      <latestOnly>false</latestOnly>
      <allowEmptyArchive>false</allowEmptyArchive>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.junit.JUnitResultArchiver>
      <testResults>li/rhc/log/**/*.xml,openshift-java-client/target/surefire-reports/*.xml</testResults>
      <keepLongStdio>false</keepLongStdio>
      <testDataPublishers/>
    </hudson.tasks.junit.JUnitResultArchiver>
    <hudson.tasks.Mailer plugin="mailer@1.4">
      <recipients>libra-devel@redhat.com</recipients>
      <dontNotifyEveryUnstableBuild>true</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>