-# file: Acceptable use policy

- content_for :page_title do
  Acceptable Use Policy

= render 'shared/pageheader', :product => 'openshift', :title => 'Legal Terms', :subtitle => ''

#page.container_24

  #main_content.grid_22
    %h2 Acceptable Use Policy
    
    %p.intro
      Red Hat is providing You with access to certain Red Hat Services (which may include software, networking, and other computing resources) (collectively, the “Red Hat Platform”) for Your lawful consumption and use in conformance with their intended use (as generally described on the relevant Red Hat website associated with the particular Red Hat Service).  In connection with the Red Hat Services, You and/or your users may provide or use “Content” (as defined in the Services Agreement) in connection with the Red Hat Platform.  Your use of the Red Hat Platform, including Content, is subject to the restrictions set forth in this Acceptable Use Policy, in addition to the terms of Your agreement with Red Hat (Your “Services Agreement”).  Red Hat may change or modify this Acceptable Use Policy at any time and for any reason by posting a new version of this Policy at <a href="http://openshift.redhat.com/app/legal/acceptable_use">http://openshift.redhat.com/app/legal/acceptable_use</a>.  You are responsible for monitoring this site and ensuring you are aware of the current terms.  If you violate this Acceptable Use Policy, we may suspend or terminate your access to the Red Hat Platform.  Set forth below are examples of prohibited conduct and Content in order to assist you in your use.  Please note, however, that this list below is not exhaustive and you should follow the overriding principles contained in each section below.

    %h3 No Illegal, Harmful or Obscene Content
    %p
      Your use of the Red Hat Platform is subject to all applicable laws and regulations, and you agree not to violate such laws and/or regulations. In addition, you agree not to post, distribute, promote, facilitate or transmit any of the following through use of the Red Hat Platform: 
    %ul
      %li
        Illegal Content including Content that incorporates gambling or child pornography.
      %li
        Content that violates, misappropriates or infringes the third party intellectual property rights of others.
      %li
        Content that solicits, encourages or promotes the use of illegal substances or activities.
      %li
        Content that is threatening, abusive, harassing, defamatory, libelous, derogatory or violent.
      %li
        Content that is invasive of a third party's legal rights (including privacy or publicity rights).
      %li
        Content that is vulgar, obscene, bigoted or hateful or that advocates racial or ethnic intolerance.
      %li
        Content that is profane, scandalous, pornographic, indecent or otherwise objectionable.
      %li
        Content that is malicious or contains technology that may damage, interfere with, or intercept any system, program or data, including viruses, Trojan horses, worms, time bombs or other harmful or disruptive components.
    
    %h3 No Illegal, Abusive or Harmful Actions
    %p
      We are providing access to the Red Hat Platform for the purposes generally described on the Red Hat website relevant to the specific Red Hat Services and not for the purpose of interfering with other users' enjoyment or to harass third parties.  For these reasons, you are prohibited from actions such as the following:

    %ul
      %li
        Using the Red Hat Services or Red Hat Platform for any act or action that gives rise to civil or criminal liability for yourself or for Red Hat or otherwise violates any applicable law.
      %li
        Engaging in any activity that inappropriately restricts or inhibits any other user from using or enjoying the Red Hat Platform, including "hacking", "cracking", "spoofing", or defacing any portions of the Red Hat Platform, including any Red Hat websites.
      %li
        Posting, distributing or transmitting chain letters, mass mailings, spam mail, any robot, spider, site search/retrieval application, or other manual or automatic device or process to retrieve, index or "data mine". 
      %li
        Harvesting or collecting information about Red Hat Platform users without their express written consent.
      %li
        Interfering with others' enjoyment of the Red Hat Platform, including intentionally attempting to overload any portion of the Red Hat Platform.
      %li
        Launching or facilitating a denial of service attack (DoS) from or on the Red Hat Platform.
      %li
        Using the Red Hat Platform in connection with illegal or unlawful file sharing.
      
    
    %h3 No Prohibited Access or Security Breaches
    %p
      You may not use the Red Hat Platform in any manner that would compromise or violate the security of the Red Hat Platform or other users of the Red Hat Platform, including but not limited to engaging in any of the following:

    %ul
      %li
        Accessing or using the Red Hat Platform in violation of law, the terms of the Services Agreement or without permission, including attempting to test the vulnerability of the security of the Red Hat Platform or to breach any of the security measures of the Red Hat Platform.
      %li
        Imitating or impersonating another person or his or her email address or creating false accounts intended to misrepresent yourself or the source of your email.
      %li
        Intercepting or monitoring activity on the Red Hat Platform without permission.
      %li
        Accessing any other host, user or network without permission.
      %li
        Using any means to circumvent the security limitations of the Red Hat Platform.

    %h3 Monitoring & Reporting
    %p
      Red Hat encourages you to report violations of this Acceptable Use Policy to Red Hat immediately.  Red Hat has the right, but not the obligation, to monitor Your activity and Content to determine compliance with this Acceptable Use Policy. Red Hat has the right in its sole discretion to edit, refuse to post or remove any material submitted to or posted on a Red Hat website or other Red Hat Platform resource that we find to be in violation of this Acceptable Use Policy or is otherwise objectionable. You are solely responsible for Your activities and any Content you post, transmit or otherwise make available on a Red Hat website or other Red Hat Platform resource. You acknowledge and agree that Red Hat does not have any liability for any action or inaction with respect to Your conduct, communication or posting on a Red Hat website or other Red Hat Platform resource.  We may report any activity that we believe may violate any law to law enforcement, regulators or other relevant third parties.
    
      %p.last-updated
        Last Updated April 28, 2011
        
    
    .clear
    
  .clear
