#checklist
  %header
    %h2 What to do next
  
  %ol
    %li
      = render 'control_panel/checklist_item', :title => 'Create a domain name',
                                              :link => '',
                                              :item_class => @userinfo.namespace.nil? ? 'incomplete' : 'complete',
                                              :summary => ''
    %li
      = render 'control_panel/checklist_item', :title => 'Upload your ssh key',
                                              :link => '',
                                              :item_class => @userinfo.ssh_key.nil? || @userinfo.ssh_key == 'nossh' ? 'incomplete' : 'complete',
                                              :summary => ''
    %li
      = render 'control_panel/checklist_item', :title => 'Create an app',
                                              :link => '',
                                              :item_class => @userinfo.app_info.blank? ? 'incomplete' : 'complete',
                                              :summary => ''
