-# file: OpenShift registration complete

- content_for :page_title do
  OpenShift Registration Complete!

%section.main
  %header
    %h1 What's Next?
    
  .content
    %p
      You have successfully registered for OpenShift.  You can now return to Appcelerator and continue building your application!
