-# file: OpenShift registration complete

- content_for :page_title do
  OpenShift Registration Complete!

%section.main
  %header
    %h1 What's Next?
    
  .content
    %p
      Congratulations!  You have successfully registered for OpenShift.  You may now return to Titanium Studio to continue building your mobile cloud applications.
