- content_for :page_title, 'OpenShift Registration Complete!'

%h1 What's Next?

%section
  %p
    Congratulations!  You have successfully registered for OpenShift.  You may 
    now return to Titanium Studio to continue building your mobile cloud applications.
