<div id="page" class="container_24">


<div id="pageheader" class="container_24 express">
        <div class="grid_14" id="title">
        <h2>Libra <em>Express</em></h2>
        <p>The Internal Beta...</p>
    </div>

    <div class="grid_10" id="title_accent">
    </div>

    <div class="clear"></div>
</div>

<div id="errors">
    <div id="errors_div" class="grid_12">
      <% @errors.each do |field, msg| %>
          <p><strong><font color="red"><%= msg %></font></strong></p>
      <% end %>
    </div>
</div>

</div> <!-- end page container -->
