.container_24.express#pageheader
  .grid_14#title
    %h2 OpenShift Error
    %p We're sorry...

  .grid_10#title_accent

  .clear
.clear

.container_24#page
  #errors.prefix_1.grid_22.suffix_1
    #errors_div.grid_12
      - @errors.each do |field, msg|
        .message.error
          = msg
  .clear
