-# file: Generic getting started page

- content_for :page_title do
  Get Started with OpenShift

= render 'shared/pageheader', :product => 'openshift', :title => 'Using OpenShift', :subtitle => 'Get started with OpenShift'

.container_24#page
  .prefix_1.grid_22.suffix_1#registered
    %h3 Generic Getting Started View
  .clear
