-# file: Generic getting started page

- content_for :page_title do
  Get Started with OpenShift

= render 'shared/pageheader', :product => 'openshift', :title => 'Using OpenShift', :subtitle => 'Get started with OpenShift'

#page.container_24
  #main_content.grid_22

    %h2 Welcome to OpenShift!

    %p
      Now that you have registered, the next step is to check out our Platform as a Service offerings.  No matter where you are in your development lifecycle, we have a solution to cater to you.

    %p
      Check out the following offerings and just click 'Try it Now' if you want to start using one - for free!

      %ul
        %li
          = link_to 'Express >', '/app/express', :class => 'more'
        %li
          = link_to 'Flex >', '/app/flex', :class => 'more'

  .clear
