#pageheader.express.container_24
  #title.grid_14
    %h2 Express
    %h4#subtitle Free and Easy Cloud Deployments

  #title_accent.grid_10
      
  .clear

#page.container_24
  
  / Main page content
  #main_content.grid_17
  
    /About the product
    #product_information.grid_8
      %h2 What is Express?
      %p
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua. 
      
    #product_screenshot.grid_8
      %img(src="http://placekitten.com/300/250"
           title="Replace with actual screenshot"
           alt="Screenshot")
    
    .clear
        
    / Product instructions
    #product_tabs.grid_16
      %ul#tab_navigation
        %li
          %a(href="#step_1") Step 1
        %li
          %a(href="#step_2") Step 2
        %li
          %a(href="#step_3") Step 3
      
      #step_1.tab
        %h3 Step One Title
        
        .tab_illustration
          %img(src="http://placekitten.com/300/200"
               title="Replace with illustration of some sort"
               alt="Step one illustration")
        
        %h4 First do this
        %p
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        
        %h4 Then do this
        %p
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

      #step_2.tab
        %h3 Step Two Title

        .tab_illustration
          %img(src="http://placekitten.com/300/200"
               title="Replace with illustration of some sort"
               alt="Step two illustration")

        %h4 First do this
        %p
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        
        %h4 Then do this
        %p
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

      #step_3.tab
        %h3 Step Three Title

        .tab_illustration
          %img(src="http://placekitten.com/300/200"
               title="Replace with illustration of some sort"
               alt="Step three illustration")

        %h4 First do this
        %p
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        
        %h4 Then do this
        %p
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    
        
    / Videos
    #product_videos.grid_8
      %h2 Videos
      
      .product-video 
        %h3 Video Title
        %p.video-author
          Author, Author description
        
        .video-thumb
          %a(href="#")
            %img(src="http://placekitten.com/150/100"
                 title="Replace with actual video thumbnail"
                 alt="Video title")
      
        %p.video-description
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        
        .video-meta
          %p.video-length
            3 min, 27 seconds
          %p.video-postdate
            Posted May 5, 2011
    
      .product-video 
        %h3 Video Title
        %p.video-author.author
          Author, Author description
        
        .video-thumb.thumb
          %a(href="#")
            %img(src="http://placekitten.com/150/100"
                 title="Replace with actual video thumbnail"
                 alt="Video title")
      
        %p.video-description
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        
        .video-meta.meta
          %p.video-length
            3 min, 27 seconds
          %p.video-date.date
            Posted May 5, 2011
            
      %a.more(href="#") More documentation &gt;

    / Featured community content
    #product_community.grid_8
      %h2 Community Highlights

      .post
        %h3 Post title
        %p
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        
        .post-meta.meta
          %p.post-author.author
            Posted by Author
          %p.post-date.date
            Posted on June 8, 2011 13:21
            
        %a.more(href="#") Read more &gt;
      
      .post
        %h3 Post title
        %p
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diamvoluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        
        .post-meta.meta
          %p.post-author.author
            Posted by Author
          %p.post-date.date
            Posted on June 8, 2011 13:21
            
        %a.more(href="#") Read more &gt;
      
    .clear
      
  
  / Sidebar
  #supplemental_content.grid_6
    
    /Try it button
    %a.try_it(href="#") Try it now!
    
    /Resource links
    #resources
      %h3 Resources
      %ul
        %li
          %a(href="#") Quickstart Guide
        
        %li
          %a(href="#") Frequently-Asked Questions
        
        %li
          %a(href="#") API Documentation
        
      
      %a.more(href="#") More documentation &gt;
      
    /Tour box
    #tour
      %a(href="#")
        %h3 Take the Tour!
        %p 
          Check it out and see how cool it is!
    
    /Platforms
    #platforms
      %h3 Supported Platforms
      %h4 Clouds
      %ul
        %li Amazon EC2
        %li Rackspace Cloud
    
      %h4 Languages
      %ul
        %li PHP
        %li Ruby
    
    /Top video
    #top_video
      %h3 Today's Top Video
      #top_video_thumb
        %img(src="http://placekitten.com/150/100"
             title="Replace with actual video thumbnail"
             alt="Today's top video")
      %h4 Video Title
      %p.video-author.author
      %p.video-description
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumyeirmod tempor invidunt ut.
      
      %a.more(href="#") Read more &gt;
          
    /Promos
    
    .sidebar-promo
      %h3 Promo title
      %p
        This is an example promo.

  .clear
  
