-# file: Control Panel index

- content_for :javascripts do
  = javascript_include_tag '/app/javascripts/control_panel.js'

%section.main
  %header
    %h1
      Dashboard
  
  .content
    %aside
      = link_to 'Looking for OpenShift Flex?', '/flex', :class => 'more'
      
    %h2 
      Your domain
    
    %div{:id => "domain_form"}
      = render "express_domain/#{@action}_form"
      
