%h4 Community Support
%p
  %ul
    %li
      %a{:href => forums_url} OpenShift Forum
    %li
      %a.external{:href => "http://webchat.freenode.net/?randomnick=1&channels=openshift&uio=d4"} Freenode (#openshift channel)
    %li
      %a.external{:href => "mailto:openshift@redhat.com"} Email