%h4 Community Support
%p
  %ul
    %li
      -# this relative URL needs to be verified
      %a{:href => "/community/forums/openshift"} OpenShift Forum
    %li
      %a.external{:href => "http://webchat.freenode.net/?randomnick=1&channels=openshift&uio=d4"} Freenode (#openshift channel)
    %li
      %a.external{:href => "mailto:openshift@redhat.com"} Email