%h1 Account Help
.control-group-important{'ng-app' => 'openshift', 'ng-controller' => 'FaqController'}
  %form.form-search
    %label.invisible{:for => 'search'} Search frequently asked questions...
    %input.search-query.input-block-level{:id => 'search', :placeholder => 'Search frequently asked questions...', 'ng-model' => 'searchTerm', 'ng-change' => 'filter()', :autofocus => true}
    %button.search.font-icon{:type => 'submit', "aria-hidden" => "true", "data-icon" => "\uee03"}

  #questions{'ng-init' => "topten = #{topten.to_json}; questions = topten",
      'ng-show' => 'true',
      :style => 'display: none;', 'aria-live' => 'polite'}
    %dl{'ng-repeat' => 'q in questions'}
      %dt
        %a{:href => '{{ q.href }}', 'ng-bind-html-unsafe' => 'q.name'}
      %dd{'ng-bind-html-unsafe' => 'q.body'}

  %div{'ng-show' => 'searchTerm && questions.length == 0', :style => 'display: none;', 'aria-live' => 'polite'}
    %em There are no questions that match '{{ searchTerm }}'

  -# If javascript is not enabled, this will be the only rendered content
  %div{'ng-hide' => 'true'}
    - topten.each do |faq|
      %dl
        %dt
          %a{:href => faq.href, :rel => 'tooltip'}
            = raw faq.name
        %dd
          = raw faq.body


