%div{'ng-app' => 'openshift', 'ng-controller' => 'FaqController'}
  %div
    %input{:type => 'text', :placeholder => 'Search by keyword', 'ng-model' => 'searchTerm', 'ng-change' => 'filter()'}

  %h1 Frequently Asked Questions

  %div
    %ul{'ng-init' => "topten = #{topten.collect{|f| { :node => f }}.to_json}; questions = topten",
        'ng-show' => 'true',
        :style => 'display: none;'}
      %li{'ng-repeat' => 'q in questions'}
        %h3
          %a{:href => '{{ q.node.href }}', 'ng-bind-html-unsafe' => 'q.node.name'}
        %p{'ng-bind-html-unsafe' => 'q.node.body'}

    -# If javascript is not enabled, this will be the only rendered content
    %ul{'ng-hide' => 'true'}
      - topten.each do |faq|
        %li
          %h3
            %a{:href => faq.href, :rel => 'tooltip'}
              = raw faq.name
          %p
            = raw faq.body

