Worf, It's better than music. It's jazz. A lot of things can change in twelve
years, Admiral. Yesterday I did not know how to eat gagh. Well, that's
certainly good to know. About four years. I got tired of hearing how young I
looked. Then maybe you should consider this: if anything happens to them,
Starfleet is going to want a full investigation. Travel time to the nearest
starbase? Wouldn't that bring about chaos? Commander William Riker of the
Starship Enterprise. Flair is what marks the difference between artistry and
mere competence. I am your worst nightmare! Fear is the true enemy, the only
enemy. Is it my imagination, or have tempers become a little frayed on the ship
lately? When has justice ever been as simple as a rule book? I'll alert the
crew. I'll be sure to note that in my log. We know you're dealing in stolen
ore. But I wanna talk about the assassination attempt on Lieutenant Worf. Your
head is not an artifact! and attack the Romulans. Captain, why are we out here
chasing comets? We could cause a diplomatic crisis. Take the ship into the
Neutral Zone Did you come here for something in particular or just general
Riker-bashing?
