%h4 Why upgrade?
%span You should consider upgrading to the paid version if you require the following:
%ul
  %li Support from Red Hat
  %li Additional gears
  %li Medium sized gears
  %li Add-Ons like storage and SSL for custom domains
%span.icon-bolt.font-icon-green{"aria-hidden" => "true"}
%a{:href => account_plan_path} Upgrade Now