%h4 Why upgrade?
%span You should consider upgrading to the paid version if you require the following:
%ul
  %li Support from Red Hat
  %li Additional gears
  %li Medium sized gears
  %li Add-Ons like storage and SSL for custom domains
-# we need a way to make it easy to upgrade from this partial