%h1.ribbon What's next?

%section
  %p 
    Check your inbox for an email confirming your account.  You must 
    click the link in the email to complete the registration process.

  %p 
    If you do not receive an email within a few minutes, check your 
    Spam folder to ensure it was not incorrectly moved. Please see 
    our #{link_to "FAQ for troubleshooting tips regarding signup", signup_faq_url}. If these steps do not resolve your issue, contact us 
    at #{link_to_account_mailto} or on #{link_to_irc}.

  %p= link_to '« Back to the main page', root_path
