- content_for :page_title, 'My Account'

%h1
  My Account
  %small.pull-right
    <strong>Free</strong> Plan

.row
  .span5
    %section
      = render :partial => 'user', :locals => {:user => @user, :show_email => @show_email, :identities => @identities}

  .span7
    %section.panel
      %h2 Common Questions
      %dl
        %dt What are the benefits of upgrading my account?
        %dd
          An account gets you access to everything you need to run production applications:

        %dd
          %ul
            %li 24/7 world-class technical support from Red Hat
            %li Access to up to 16 gears for your applications
            %li Additional disk storage for your gears
            %li Custom SSL for your own domain names

        %dd
          For more information about upgrading see our #{link_to "plans and pricing page", pricing_url}.

      %p= link_to "Get more help and information about OpenShift Online accounts", help_account_path, :class => 'action-more'

- if user_can_upgrade_plan?
  %section.panel
    = render :partial => 'upgrade', :locals => {:user => @user}
