-# file: Power product page

- content_for :page_title do
  Power

= render 'shared/pageheader', :product => 'power', :title => 'OpenShift Power', :subtitle => 'Customized App Deployments for the Cloud'

#page.container_24
  
  #main_content.grid_22
    %h2 What is Power?
    
    %p 
      OpenShift Power can deploy applications to the cloud that are written to Linux (i.e. written in C, or using many binary components) whereas OpenShift Flex and OpenShift Express can only deploy applications written to web languages (Java, PHP, Python, etc). Similarly, OpenShift Power can deploy applications which have no web front-end (e.g. trading systems, modeling systems, payment processing, client-server, messaging apps, etc).
      
    %h4 What types of applications can I deploy with OpenShift PaaS?
    
    %table#applications_table
      %tr
        %td.product-name.express
          Express
        %td.application-description
          Applications written to Ruby, PHP and Python frameworks with a web front-end.
      
      %tr
        %td.product-name.flex
          Flex
        %td.application-description
          Applications written to Java and PHP frameworks with a web front-end.
      
      %tr
        %td.product-name.power
          Power
        %td.application-description
          Applications using C or binary components written to Linux that do not require a web front-end.
    
    .clear
  .clear
