-# file: Power product page

- content_for :page_title do
  Power

= render 'shared/pageheader', :product => 'power', :title => 'Power', :subtitle => 'Customized App Deployments for the Cloud'

#page.container_24
  
  #main_content.grid_22
    %h2 What is Power?
    
    %p 
      Power can deploy applications to the cloud that are written to Linux (i.e. written in C, or using many binary components) whereas Flex and Express can only deploy applications written to web languages (Java, PHP, Python, etc). Similarly, Power can deploy applications which have no web front-end (e.g. trading systems, modeling systems, payment processing, client-server, messaging apps, etc).
      
    %h4 What kind of applications can you deploy?
    
    %table#applications_table
      %tr
        %td.product-name.express
          Express
        %td.application-description
          Written to web frameworks using Ruby, PHP, Python; have web front-end
      
      %tr
        %td.product-name.flex
          Flex
        %td.application-description
          Written to web frameworks using Ruby, PHP, Python; have web front-end
      
      %tr
        %td.product-name.power
          Power
        %td.application-description
          Written to Linux (Using C or binary components); do not need web front-end
    
    .clear
  .clear
