<div id="page" class="container_24">
    <div class="clear"></div>

    <div class="prefix_1 grid_22 suffix_1">
          <h4>Check Your Inbox...</h4>
          <p>Check your email and you should see an email address from us with
          a validation link.  Click on that link and you'll be off to creating
          apps!</p>
          <p>Note: During the beta, you'll probably get a warning about the
          certificate when you click on the link.  In this case it's okay.
          Don't worry, our users won't see that.</p>
    </div>

    <div class="clear"></div>
</div>
