<!-- main page header -->
<!-- start blingy slideshow area, end mainnav -->
<div id="pageheader" class="container_24 express">
	<div class="grid_14" id="title">
		<h2>Try Express</h2>
		<p>Register for a trial demo</p>
	</div>

	<div class="grid_10" id="title_accent">
	</div>

	<div class="clear"></div>
</div>

<div id="page" class="container_24">

	<div id="breadcrumb" class="prefix_1 grid_22 suffix_1">
		<a href="#">Solutions</a> &gt; <a href="#">Express</a> &gt; <a href="#">Register</a>
	</div>

	<div class="clear"></div>

        <%= render "form" %>

	<div id="form_notes" class="grid_9 suffix_1">
		<h4>What is Express?</h4>
		<p>'Come, we shall have some fun now!' thought Alice. 'I'm glad they've begun asking riddles.—I believe I can guess that,' she added aloud.</p>
		<p>'Do you mean that you think you can find out the answer to it?' said the March Hare.</p>

		<h4>What do I need to register?</h4>
		<ul>
			<li>An email address</li>
			<li>An Amazon EC2 account number (<a href="#">Don't have one?</a>)</li>
		</ul>
		<p>'Exactly so,' said Alice.</p>
		<p>'Then you should say what you mean,' the March Hare went on.</p>

		<h4>What will I get with registration?</h4>
		<p>You'll get free access to a limited version of Express, which includes:</p>
		<ul>
			<li>A pony</li>
			<li>A suspicious-looking vial of liquid</li>
			<li>Magical cookies</li>
			<li>An ill-tempered queen desirous of your decapitation</li>
		</ul>
	</div>


	<div class="clear"></div>

        <div class="prefix_1 grid_22 suffix_1">
                        <p id="terms_and_conditions">By clicking on 'Register Now' above, you confirm your agreement with this site's <a href="#">Terms and Conditions</a>.</p>
                                </div>

        <div class="clear"></div>

</div> <!-- end page container -->

</div> <!-- end page container -->
