#change-password-form
  = form_tag(user_change_password_path, :remote => true ) do
    %label
      Old Password
      %input{:type=>'password',:name=> 'old_password', :label => ' ', :autocomplete => 'off'}

    %fieldset.confirm
      %legend New Password
      %input{:id => 'password', :type=>'password',:name=> 'password', :label => ' ', :autocomplete => 'off', :placeholder => 'At least 6 characters'}
      %input{:type=>'password',:name=> 'password_confirmation', :label => ' ', :autocomplete => 'off', :placeholder => 'Enter it again' }

    %input(type="submit"
           value="Change Password"
           class="button")

-#= render 'layouts/dialogs/extra_options', :page => 'reset_password'
