%h1 Oh no!
%p
  We couldn't fetch your information. 
%p
  Most of the time, refreshing the page will fix it.
= link_to 'Refresh the page', control_panel_path
%p
  If that doesn't work, please <a href="mailto:openshift@redhat.com">contact us</a> and let us know.
