#password-reset-form
  = form_tag(user_request_password_reset_path, :remote => true ) do

    %label(for="email")
      Email:
      %input{:type => "text", :name => "email",  :id => "email_input"}

    %input(type="submit" 
           value="Reset Password" 
           class="button")

= render 'layouts/dialogs/extra_options', :page => 'reset_password'
