%h1.ribbon
  .ribbon-content
    What's Next?
  .ribbon-left

%section.main
  .content
    Check your inbox for an email with a validation link. Click on the link to complete the registration process.
