-# file: Registration page

- content_for :javascripts do
  = javascript_include_tag "/app/javascripts/jquery.validate.min.js"
  = javascript_include_tag "/app/javascripts/form"

- content_for :page_title do
  Sign up for OpenShift
    
%section.main
  %header
    %h1
      Sign up for OpenShift

  .content 
    
    - @user.errors.each do |key, value|
      - if key == :base || key == :captcha
        .message.error
          #{value}
            
    = render :partial => 'user/signup_form'
