-# file: Registration page

- content_for :page_title do
  Sign up for OpenShift
    
%section.main
  %header
    %h1
      Sign up for OpenShift

  .content 
    
    = render :partial => 'signup_form'
