%h1 Oh no!
%p
  We couldn't fetch your information. 
%p
  Most of the time, refreshing the page will fix it.
= link_to 'Refresh the page', control_panel_path
%p 
  If refreshing does not work, please contact us at #{link_to_account_mailto} or on #{link_to_irc}.
