- content_for :ribbon, 'Reset your password'

#password-reset-form
  = form_tag(user_request_password_reset_path, :class => 'form-horizontal') do
    %input{:type => "hidden", :name => "redirectUrl", :value => (defined?(@redirectUrl) ? :redirectUrl : '/app/user/request_password_reset_success') }
    %fieldset
      .control-group
        %label.control-label{:for => 'email_input'}
          Email
        .controls
          %input{:type => "email", :required => true, :name => "email",  :id => "email_input"}
      .form-actions
        %input(type="submit" value="Reset Password" class="btn")
        or 
        %a{:href => '/app/login'} sign in

