%section.main
  %header
    %h1
      - case @responseText[:status]
        - when 'success'
          Congratulations! 
        - when 'error'
          Oops...
    
  .content
    %p
      = @responseText[:message]
