%h1.ribbon
  - case @responseText[:status]
    - when 'success'
      Congratulations! 
    - when 'error'
      Oops...

%section
  %p= @responseText[:message]

  %p= link_to '« Back to the main page', root_path
  -# uncomment when moved %p= link_to '« Back to the request password form', new_password_path :email => 
