%h1(class="#{header[:class]}") 
  %script(src="#{@base}/status/status.js")

%h2 Open Issues
- @open.each do |issue|
  = haml :issue, :locals => { :issue => issue }
%h2 Resolved Issues
- @resolved.each do |issue|
  = haml :issue, :locals => { :issue => issue }
