%h1(class="#{header[:class]}") 
  %script(src="/app/status/status.js")

%h2 Open Issues
- @open.each do |issue|
  = haml :issue, :locals => { :issue => issue }
%h2 Resolved Issues
- if @resolved.empty?
  %p 
    %em No recent issues
- @resolved.each do |issue|
  = haml :issue, :locals => { :issue => issue }
