- content_for :title, 'Sign in'
- content_for :ribbon, 'Sign in to OpenShift'

#login-form
  = form_tag(login_path, :class => 'form-horizontal') do
    - if @redirectUrl.present?
      %input{:type => "hidden", :name => "redirectUrl", :value => @redirectUrl }
    %fieldset
      .control-group
        %label.control-label{:for => 'login_input'}
          Login
        .controls
          %input{:required => true, :placeholder => 'Your redhat.com or RHN account', :value => session[:confirm_login] ? session[:confirm_login] : '', :name => "login",  :id => "login_input"}
      .control-group
        %label.control-label{:for => 'pwd_input'}
          Password
        .controls
          %input(id="pwd_input" type="password" name="password" autocomplete="off" required="true")
      .control-group
        .controls
          %a{:href => '/app/user/request_password_reset_form'} Forgot your password?
      .form-actions
        %input(type="submit" value="Sign in" class="btn")
        or
        %a{:href => defined?(@register_url) ? @register_url : '/app/account/new'} create an account
