.container_24#page
  .clear

  .prefix_1.grid_22.suffix_1
    %h4 "Check Your Inbox..."
    %p
      Check your email and you should see an email addressed from us with
      a validation link.  Click on that link to complete the registration process 
      and get started creating apps!
            
  .clear
