.container_24#page
  .clear

  .prefix_1.grid_22.suffix_1
    %h4 "What's Next?"
    %p
      Check your inbox for an email with a validation link. Click on the link to complete the registration process.

  .clear
