.tile {
  padding: 9px 35px 10px 21px; 
  margin-bottom: 20px; 
  background-color: #eee;
  color: #000;
}
.tile-copy-text {
  font-size: smaller;
}
.tile-faq {
  font-size: larger;  
}
.tile-current-plan {
  background-color: #EA0011;
  color: #FFF;
  font-size: x-small;
  padding-left: 4px;
  padding-right: 4px;
}