- content_for :page_title, 'An error has occurred'

%h1 Unable to complete the registration process

%section
  %p
    An error has occurred while processing your registration. Please try again
    by refreshing this page. If this error persists, contact us at #{link_to_account_mailto} 
    or on #{link_to_irc}.

  %p= link_to '« Return to the main page', root_path
