-# file: Already requested

- content_for :page_title, 'Get Access to OpenShift'

%h1 You're in the queue!

%section
  %p We're currently dealing with a high volume of requests.  As soon as you're granted access you'll get an email indicating the next steps.
  = flashes

