.plan-arrow {
  background: transparent image-url('sprite-vert-large.png') 0 0 no-repeat;
  height: 85px;
  margin-top: 50px;
}
@media (max-width:767px) {
  .plan-arrow {
    background: transparent image-url('sprite-vert-large.png') 0 -135px no-repeat;
    height: 90px;
  }
}
.plan-pricing {
  width:100%;
  table-layout: fixed;
}
.plan-pricing th {text-align: left;}
.plan-pricing th.current {background: transparent image-url('plan-arrow.png') 88% 0 no-repeat; height: 53px;}
@media (max-width:767px) {
  .plan-pricing th.current {background-image: none;}
}

.plan-pricing tbody tr:hover th,
.plan-pricing tbody tr:hover td {
  background-color: transparent;
}

.plan-pricing td.value.upgrade {
  color: #cdff7a;
}
.plan-pricing td.value.downgrade {
  color: #ee8e39;
}
