- link_str = "Change your payment method"

- if payment_method.cc_no.nil?
  You do not have a credit card on file
  - link_str = "Add a payment method"
- else
  .payment_method
    .card_number
      Credit card #: #### #### #### #{payment_method.cc_no}
    .card_expiration
      Expires #{payment_method.cc_exp_mm} / #{payment_method.cc_exp_yyyy}

%p= link_to link_str, edit_account_plan_upgrade_payment_method_path
