- content_for :title, 'Change your method of payment'

%p Current method of payment
= render :partial => 'payment_method', :locals => {:payment_method => @previous_payment_method}

%p Enter a new payment method
= flashes
= render :partial => 'form', :locals => {:payment_method => @payment_method, :previous_url => @previous_url}
