- content_for :title, 'Change your method of payment'

= flashes
= render :partial => 'payment_methods/form', :locals => {:payment_method => @payment_method, :previous_payment_method => @previous_payment_method, :previous_link => ['Cancel', account_path, {:class => 'btn'}], :billing_link => edit_account_billing_info_path}
