- content_for :title, 'Change your method of payment'

= flashes
= render :partial => 'form', :locals => {:payment_method => @payment_method, :previous_payment_method => @previous_payment_method, :previous_link => ['Cancel', account_path, {:class => 'btn'}]}
