.container_24.express#pageheader
  .grid_14#title
    %h2 OpenShift <em>Express</em>
    %p The Internal Beta...

  .grid_10#title_accent

  .clear
.clear

.container_24#page
  .prefix_1.grid_22.suffix_1#errors
    .grid_12#errors_div
      %p 
        You have already requested access to Express.  Once you have access you can
        = link_to("click here", :action => 'show', :controller => 'getting_started/express', :only_path => false, :protocol => 'https')
        to get started.
  .clear
