-# file: Already requested

- content_for :page_title do
  Get access to OpenShift Express!

= render 'shared/pageheader', :product => 'express', :title => 'Try Express', :subtitle => 'Request Access to OpenShift Express'

.container_24#page
  #errors.prefix_1.grid_22.suffix_1
    #errors_div.grid_12
      %h2 "You're in the queue!"
      %p 
        You have already requested access to OpenShift Express.  Once you have been granted access you'll get an email indicating the next steps.
  .clear
