= render 'shared/pageheader', :product => 'express', :title => 'Try Express', :subtitle => 'Request Access to Express'

.container_24#page
  .prefix_1.grid_22.suffix_1#errors
    .grid_12#errors_div
      %p 
        You have already requested access to Express.  Once you have access you can
        = link_to("click here", :action => 'show', :controller => 'getting_started/express', :only_path => false, :protocol => 'https')
        to get started.
  .clear
