-# file: Already requested

- content_for :page_title do
  Get access to OpenShift Express!

= render 'shared/pageheader', :product => 'express', :title => 'Try Express', :subtitle => 'Request Access to OpenShift Express'

.container_24#page
  #errors.prefix_1.grid_22.suffix_1
    #errors_div.grid_12
      %p 
        You have already requested access to Express.  Once you have access you can
        = link_to("click here", :action => 'show', :controller => 'getting_started/express', :only_path => false, :protocol => 'https')
        to get started.
  .clear
