-# file: "Check email" for express access

- content_for :page_title do
  Get Access to OpenShift Express!

= render 'shared/pageheader', :product => 'express', :title => 'Try Express', :subtitle => 'Request Access to Express'

.container_24#page

  .prefix_1.grid_22.suffix_1
    %h2 "What's Next?"
    %p
      Check your inbox for an email letting you know you have been granted access.

  .clear
