.edit-widget.domain-widget
  .current.domain
    = @userinfo.namespace.nil? ? "You don't have a domain yet." : @userinfo.namespace

  .popup
    .popup-trigger
      = link_to 'Edit...', '#'

    #domain_form.form.popup-content
      = render 'express_domain/domain_form'
