.edit-widget.ssh-widget
  .current.ssh
    = @userinfo.ssh_key.nil? || @userinfo.ssh_key == 'nossh' ? "We don't have an ssh key for you yet" : @userinfo.readable_ssh_key.slice(0, 20)+ '...'

  .popup
    .popup-trigger
      = link_to 'Edit...', '#'

    #ssh_form.form.popup-content
      = render 'express_domain/ssh_form'
