.community .column-nav .gutter-right {
  padding-top: 28px;
}
@media (max-width: 767px) {
	.community {
		.column-nav {
			.gutter-right {
			  padding-top: 15px;
			}
		}
	}
} 
 
/* Drupal specific markup, we may want to wrap this with a top level selector on body.drupal or something */
.views-field-rss { float: right; }
.views-field-picture { float: left; margin-right: 6px; }
.views-field-created {font-size: $baseFontSize - 2;}
.view-forum-list .views-field-picture { float: right; margin-left: 6px; }
.block-stats div { display: inline; }
.views-table .views-field-pageviews { white-space: nowrap; }
.views-field-group-name { display: inline; }

.column-nav .view-threads-by-popularity .views-table {
  h4 { 
    color: #666; 
    font-size: 13px; 
    line-height: 18px; 
  }
  > div { margin-bottom: 15px; }
}
.column-nav .picture img {
  max-width: 35px;
  max-height: 35px;
}


.links.inline a {
  text-transform: capitalize;
  margin-right: 10px;
  font-size: $baseFontSize - 2;
}
.btn-toolbar .links.inline a {margin-right: 20px;font-size: $baseFontSize - 2;}

.og-mission,
.forum-header-description { 
  margin-bottom: 10px; 
}

.block { margin-bottom: 25px; }
.column-nav {
  .view-user-profile-box { margin-bottom: 20px; }
}

.community textarea {
  width: 100%;
}

.community form {
  fieldset legend { font-size: 14px; line-height: 18px; }
  .fieldset-wrapper { margin-left: 10px; }
}
.clear-block { @include clearfix(); }

.view-nodes-by-category article {
  margin-bottom: 25px;

  > h2 { 
    line-height: 25px;
    > a:link,
    > a:visited { color: #000; } 
    > a:hover,
    > a:active, { color: $linkColorBlueHover; }
    }
  
  > .teaser {
  	margin: 0px 20px 20px;
  	
  	> h1 { 
  		font-size: 18px;
  		margin-bottom: 0;
  	}
  	
  	> h2 { 
	  	font-size: 16px;
  	}
 }

  > .breadcrumb {
    margin: 5px 0;
    text-transform: uppercase;
    font-weight: bold;

    > .creator { color: black; }
    > .created { color: #888; }

  }


  > div:last-child {
    text-transform: uppercase;
    text-align: right;
    padding-bottom: 3px;
    border-bottom: 1px solid #aaa;
    font-size: 11px;
    > a {
      color: #888;
    }
  }
}

.node {
  margin-bottom: 20px;
}

.comment { 
  margin-bottom: 0; 
  padding-top: 0; 

  .submitted {
    font-style: italic;
    color: #999999;
  }
}
.comment > table td { vertical-align: top; }
.comment .comment-author {
  .views-row {
    padding:0; 
    margin:0;
  }
  .views-field-phpcode {
    clear: both;
  }
  .views-field-value {
    font-style: italic;
    margin-top: 5px;
  }
  p {
  	margin: 0 0 7px 0;
  }
  .views-field-phpcode {
    clear: none;
  }
  .views-field-value {
    color: #777777;
    font-style: normal;
	}
}

.community .column-content {
	min-height: 300px;
	}
.community .column-nav + .column-content {
  min-height: 700px;
}
.community #comments .views-field-name,
.community #comments .views-field-phpcode,
.community #comments .views-field-value,
.community #comments .views-field-phpcode-1 {
	margin-left: 60px;
}
.forum-list-main {
	
	.views-field-title {
		font-size:14px;
	}
	
	.views-field-last-comment_timestamp, 
	.views-field-comment-count {
		font-size:11px;
		min-width: 100px;
	}
	
	.picture-right {
		line-height: 15px;
	}
}
#forum-header {
	position:relative;
	clear: both;
}
.view-header {
	margin-bottom: 10px;
}
.post-to-forum .feed-icon {
  float: right;
  margin-left: 10px;
}
.custom-form-search {
  margin-bottom: 0;
  position: relative;
  overflow: hidden;
  display: inline-block;
  
  input[type=text] {
    margin: 0;
  }
  input[type=submit] {
    margin: 0;
    background: transparent url("../images/sprite-vert.png") right -292px no-repeat;
    height: 26px;
    padding: 0;
    border: 0;
    position: absolute;
    right: 3px;
    top: 0;
    width: 25px;
    box-shadow: none;
  }
}
.search-help {
  font-size: 11px;
  margin: 5px 0 20px 0;
}

@media (max-width:767px) {
	.forum-list-main .picture-right {
    clear: left;
  }
  .custom-form-search {
    display: block;
  }
}
.community #comments .views-field-name {
	font-size: 16px;
	font-weight: bold;
}
.community .thread .thread-author .views-field-name {
	font-size: inherit;
	padding: 0 8px 0 5px;
}
.column-content .picture img,
.community .field_author_image_fid {
  border: 4px solid #000;
}
.new-post-button {
  	p {
  		text-align:left;
  	}
}
.view-user-profile-box {
  .picture img {
    max-width: 40px;
    max-height: 40px;
  }
  .badge { 
    display: inline-block; 
    padding: 0 4px;
    color: #fff; 
    text-transform: uppercase; 
    font-size: 11px; 
    float: right;
  }
}
.badge.newbie { background-color: #89aa00; }
.badge.member { background-color: #fc6b00; }
.badge.accomplished { background-color: #191919; }
.badge.pro { background-color: #356fce; }
.badge.expert { background-color: #a80f00; }

.community .poll {
	> .bar {
		display:inline;
		
		> .foreground {
  		background-color: $pollBarColor;
		}
	}	
}

.column-nav {
  .views-row {
    margin-bottom: $baseLineHeight;
  }
  .poll {
    > .title {
      margin-bottom: $baseLineHeight / 2;
      color: #fff;
    }
    > .text {
      margin-bottom: 2px;
    }
  }
}

.kb-toggle {
  display: none;
}

.all-attached-images {
  display: none;
}

/* Voting on Ideas */
td.views-field-vud-node-widget {
  width: 55px;
}
.community .vud-widget-updown .updown-down,
.community .vud-widget-updown .vud-link-down,
{
  float: right;
}
.node-og-group-post .vud-widget-updown {
  padding: 0 2em 0 0;
}
/* Quick fixes to force wrap long strings within table cells */
.table th, .table td {
	max-width: 400px;
}
@media (max-width: 980px) {
	.table th, .table td {
		max-width: 250px;
	}
} 


/* Ideas table generation doesn't generate separate divs because it is using the view Table layout */
.view-Ideas .views-table .views-field-title {
  font-size: 13px;
  line-height: 1.4em;

  a:first-child {
    font-size: 16px;
    line-height: 1.2em;
  }
}

.vud-widget-updown > div.down-active {
  background: $openshiftRed;
  color: black;
  border-color: black;
}

.vud-widget-updown > div.up-active {
  background: $genericLightGreen;
  color: black;
  border-color: black;
}

/* copied from system.css */
html.js fieldset.collapsed {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    height: 3em;
    margin-bottom: 0;
}
html.js fieldset.collapsed * {
    display: none;
}
html.js fieldset.collapsed legend {
    display: block;
}
html.js fieldset.collapsible legend a {
    background: url("../images/menu-expanded.png") no-repeat scroll 5px 75% transparent;
    padding-left: 15px;
}
html.js fieldset.collapsed legend a {
    background-image: url("../images/menu-collapsed.png");
    background-position: 5px 50%;
}
* html.js fieldset.collapsed legend, * html.js fieldset.collapsed legend *, * html.js fieldset.collapsed table * {
    display: inline;
}
html.js fieldset.collapsible {
    position: relative;
}
html.js fieldset.collapsible legend a {
    display: block;
}
html.js fieldset.collapsible .fieldset-wrapper {
    overflow: auto;
}

/* side column */
.sidenav-column-inner {
  margin-right: 15px;
}


/* New comment thread styles */

.comment-author {
	position: relative;
	img {
	  float: left;
	  }
}
.about-author {
	color: #909090;
}
.author-meta {
	margin-left: 60px;
	strong {
		font-size: 150%;
		padding-right: 13px;
		}
}
.comment-text {
	border: 1px solid #ddd;
	border-top: 5px solid #ddd;
	padding: 13px 21px 8px;
	margin: 10px 0 30px;
	overflow: hidden;
}
.comment-meta {
	float: right;
 }
.children {
	margin-left: 21px;
	list-style: none;
}
.author-avatar {
	float: right;
}
.badge {
	display: inline-block;
  padding: 0 3px;
  margin: 0;
  color: #fff;
  font-size: 11px;
 }
.rank {
	border: 1px solid #999;
  color: #909090;
  display: inline-block;
  font-size: 11px;
  padding: 0;
  white-space: nowrap;
  float: right;
	span {
		padding: 0 5px;
		}
}

/* thread author */
.community .thread {
  .thread-author{
    margin: 10px 0;
    .submitted {
      float: left;
      margin-right: 10px;
      font-style: normal;
      span {color: #333;}
  	}
  }
  .links {
    font-weight: normal;
    margin: 20px 0 0 0;
    a {
      text-transform: capitalize;
      padding: 0 3px 0 0;
    }
	}
}


.community .meta .view-user-profile-box div {
 	display: inline-block;
 	vertical-align: bottom;
 	margin: 0;
 }
.community div.view:hover div.views-hide, 
.community div.view div.views-hide-hover {
  display: inline-block;
  position: relative;
  z-index: 200;
}
.community div.view div.views-admin-links {
    font-size: xx-small;
    margin-right: 0;
    margin-top: -10px;
    float: right;
}
.community .meta .view-user-profile-box .views-admin-links {
	background: #fff;
	border:0;
	}
.community div.view div.views-admin-links-hover a, .community div.view div.views-admin-links:hover a {
    color: red;
}
.community div.view div.views-hide {
    display: none;
    float: right;
}
.community div.view:hover div.views-hide {
    margin-top: -10px;
}
.community .meta .view-user-profile-box > div {
	border: 1px solid #666;
	color: #efefef;
	font-size: 11px;
	background:#666;
	white-space: nowrap;
}

.comment-content {
	border: 1px solid #ddd;
	padding: 20px 25px 5px;
	margin: 5px 0 0 0;
	overflow: hidden;
	
	.links {
		position: relative;
		
		a {
			margin-right: 15px;
			text-transform: capitalize;
		}
		
		.flag-wrapper {
    	position: absolute;
    	right: -30px;
    	font-size: 11px;
    	margin:0;
    	
    	.flag-action {
    		color:#999999;
    	}
		}
	}
}
.b-edge {
  border-color: #DFDFDF transparent;
  border-style: solid;
  border-width: 0.4em 0 0 0.4em;
  margin-bottom: 30px;
  position: relative;
}

.community .thread {
  margin-bottom: 70px;
  .picture {
    float: right;
	}
	h2 {
	 font-weight: bold;
	}
	.rank {
  	float: none;
	}
} 

#thread-text {
	padding: 20px;
	margin: 10px 0;
	background-color: #f0f0f0;
}
.posting {
	font-style: italic;
	color: #b0b0b0;
}
.thread-actions {
	margin: 5px 5px 5px 21px;
}
.thread-actions li {
	margin-right: 40px;
}

.ie8 .community .thread .picture {min-width: 80px}


/* Blog pages */ 

.community .geshifilter pre {
	border:0;
	}
.community .node-blog > h2+p {
	margin: 0;
	}
.community .blog-post .blog-metadata {
  margin-bottom: 15px;
  color: #999;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 10px;
  position: relative;	
  .author-bio-box  {
    .author-bio { display: none; }
  }
}
.community .blog-post {
  h1 {
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 8px;
  }
  > h1.blog-title {
    font-size: 30px;
    margin-right: 80px;
  }
  .blog-author-image {
    img {
      border: 4px solid black;
      width: 65px;
      height: 65px;
      position: absolute;
      right: 0;
      bottom: 10px;
    }
  }
}

@media (max-width: 480px) {
	.community .blog-post > h1.blog-title {
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
	}
}
	

/* Community search */
.community .search-results dt {
    font-size: 16px;
    margin: 23px 0 0;
}
.community .search-results dt a {
	font-weight: normal;
	text-decoration: underline;
	}
.community .search-results dd {
	margin-left:0;
	margin-bottom: 2em;
	}
.community .search-results p {
	margin: 0 0 3px 0;
	}
.community .search-results .search-info {
  color: #9F9F9F;
}

#edit-type-group-wrapper {display: none;} /* wraps the forum group checkbox, no need to show since there's only one forum type */

/* FAQs */

.faq-category-group {
	margin-bottom: 15px;
	}
.faq-header {
	font-size: 18px;
	}
	
/* Wiki pages */
#toc { float: right; background: #eee; border: 1px solid #ddd; margin-left: 15px; margin-bottom: 15px; }
#toc td { font-size: 90%; }
#toc td ul { list-style: none; margin: 0 0 0 9px; }

/**
 * Allow limiting of which header levels are shown in a TOC;
 * <div class="toclimit-3">, for instance, will limit to
 * showing ==headings== and ===headings=== but no further.
 * Used in [[Template:TOCright]]
 */
.toclimit-2 .toclevel-1 ul,
.toclimit-3 .toclevel-2 ul,
.toclimit-4 .toclevel-3 ul,
.toclimit-5 .toclevel-4 ul,
.toclimit-6 .toclevel-5 ul,
.toclimit-7 .toclevel-6 ul {
  display: none;
}

#node-delete-confirm.confirmation {
    background-color: $errorBackground;
    color: white;
    padding: 10px 20px;
    position: relative;
    
    .container-inline {
      background: white;
      margin-top: 30px;
      position: absolute;
    } 
}


/* Events */
.event-listings .view-event-view .views-row-first {
	border-top: 5px solid #aaa;
}
.view-event-view .views-row {
     border-bottom: 1px solid #DDD;
     padding: 20px 15px;
}

.view-event-view .views-row:hover {
	background-color: #f5f5f5;
}

.view-event-calendar {
  .links a {
    margin-right: 10px;
  }
  .calendar-calendar .week-view table.full,
  .calendar-calendar .day-view table.full {
    margin: 0;
    table-layout: auto;
    width: 100%;
  }
  .view-content .calendar-calendar { 
    margin-top: -10px;
    
    .date-heading {
      top: 10px;
    }
    .links {
      margin-left:12px;
    }
  }
}

/* Events list */
.view-event-view .views-row {border:0}

.event-listings .event-date {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  font-family: Overpass;
  color: #9f9f9f;
  box-shadow: 0 0 1px #888888;
  width: 52px; 
  height: 52px; 
  background: #fcfcfc; 
  background: linear-gradient(bottom, #eaeaea 0%, #afafaf 100%); 
  background: -moz-linear-gradient(bottom, #eaeaea 0%, #afafaf 100%); 
  background: -webkit-linear-gradient(bottom, #eaeaea 0%, #afafaf 100%); 
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-shadow: 1px 1px 6px #EEEEEE, 0 0 0 #DDDDDD;
  float: left; 
}
.event-listings .event-date span {
  display: block;
}
.event-listings .event-date b {
  display: block;
  font-size: 12.5px;
  font-weight: normal;
  background: #D10000;
  background: linear-gradient(center top , #a1000c 0%, #D10000 100%); /* $openshiftDarkRed to  */
  background: -moz-linear-gradient(center top , #a1000c 0%, #D10000 100%); 
  background: -webkit-linear-gradient(center top , #a1000c 0%, #D10000 100%); 
  border-radius: 3px 3px 0 0;
  border-bottom: 2px solid #A1000C;
  color: #FFFFFF;
  display: block;
  padding: 3px 0 0;
  margin-bottom: 6px;
  text-transform: uppercase;
  text-shadow: none;
}
.event-listings h3:not(.title) {
  margin-top: 15px;
  margin-left: 15px;
}
.event-listings h3.title, 
.event-listings .views-field-group-location, 
.event-listings .slug {
  display: block;
  margin-left: 80px;
}
.event-listings .views-field-group-location span {
  font-size: 110%;
}
.nav-pills .active > a, .nav-pills .active > a:hover {
  background-color: #ededed;
  text-decoration: none;
  color: #006699;
}
.nav-pills .active > a:hover {
  color: #ea0011;
}
.field-content {
  font-size: 15px;
  font-weight: 300; 
}
.slug {
  margin: 10px 0;
}

.calendar-calendar .month-view .full td.single-day div.monthview, 
.calendar-calendar .week-view .full td.single-day div.weekview, 
.calendar-calendar .day-view .full td.single-day div.dayview,
.calendar-calendar .month-view .full td.multi-day div.monthview, 
.calendar-calendar .week-view .full td.multi-day div.weekview, 
.calendar-calendar .day-view .full td.multi-day div.dayview,
.calendar-calendar .month-view .full td.multi-day .inner .monthview .continues,
.calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff, 
.calendar-calendar .week-view .full td.multi-day .inner .weekview .continues, 
.calendar-calendar .week-view .full td.multi-day .inner .weekview .cutoff {
  background-color: $openshiftBrightRed !important;
}

.view-event-calendar .calendar-calendar .month-view .full td.single-day div.monthview, .calendar-calendar .week-view .full td.multi-day div.weekview, .calendar-calendar .day-view .full td.multi-day div.dayview {
    height: 1.9em;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.calendar-calendar .month-view .full td.multi-day .calendar.monthview .contents, 
.calendar-calendar .week-view .full td.multi-day .calendar.weekview .contents, 
.calendar-calendar .month-view .full td.single-day .calendar.monthview .contents,
.calendar-calendar .month-view .full td.single-day .calendar.weekview .contents {
    left: 5px;
    position: absolute;
    width: 3000px;
}

.calendar-calendar .inner .view-field a {
  color: #FFFFFF !important; 
}

.attachment .calendar-calendar th {
    background-color: transparent;
    border: 0;
    max-width: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} 


/* Event detail */
.related-logo {
  max-width: 200px;
  max-height: 200px;
  margin-right: 10%;
  margin-left: 10px;
}

.event-metadata {
  border-bottom: 1px solid #CCCCCC;
    color: #999999;
    margin-bottom: 15px;
    padding-bottom: 10px;
    position: relative; 
}

.events-post .event-date {
  color: #404040; /* $baseFontColor */
  margin-bottom: 0;
}

.add-calendar {
  margin-left: 15px;
}

.forum-header-hat, .forum-header-right {display: none;}

.community.page-user.not-logged-in {
  .row-content > .row { background: none; }
  .column-content { background: none; }
}
