
/* This is site specific branding */
.navbar {
  position: relative;

  .brand {
    /* reset styles */
    float: none;
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-family: $headerFontFamily;

    word-wrap: normal;
    text-transform: uppercase;
    font-size: 19px;
    letter-spacing: 1px;
  }

  .brand-image {
    background: url('../images/logo-medium.png') center top no-repeat transparent;
    height: $logoHeight;
    //width: $logoWidth;
    margin-bottom: 11px;
  }

  .brand > a {
    display: block;
    color: #fff;
    text-decoration:none;
    > .brand-image {
      @include transition(all 0.2s);
    }
    > .brand-text {
    	border-bottom: 2px solid transparent;
      padding-bottom: 2px;
      color: white;
      text-align: center;
    }

    &:hover {
      > .brand-image {
        @include transform(rotate(-10deg));
      }
      > .brand-text {
      	border-bottom: 2px solid #EB0011;
      }
    }
  }

  .nav {
    /* reset styles */
    float: none;
    width: 100%;
    font-size: 14px; 

    > li {
      float: left;
      width: 20%;
      text-align: center;

      > a {
        color: white; 
        text-transform: uppercase; 
        font-weight: bold;
        font-family: OverpassNormal, $headerFontFamily;
        /* reset styles */
        padding: 15px 0;
        border-radius: 0;
        text-shadow:0 1px 1px rgba(0, 0, 0, 0.5)
      }
    }

    > li:nth-child(1) { text-align: left; }
    > li:nth-last-child(1) { text-align: right; }

    /* needs fixing */
    > .active > a,
    > .active > a:hover,
    > li > a:hover {
      /* reset styles */
      background: transparent;
      border: 0;
      box-shadow: none;
      text-decoration: none;
      
      > span {
        padding-bottom: 3px;
        border-bottom: 2px solid white;
      }
    }
    
    > li > a:focus {
    	outline: thin dotted;
  		outline: 5px auto -webkit-focus-ring-color;
  		outline-offset: 12px;
    }
  }
}

.column-navbar {
	display:none;
}
.column-navbar .btn-navbar {
  background-color: #1f1f1f;
  background-image: none;
  //@include gradient-vertical($startColor: #282828, $endColor: #121212);
  display: none;
  font-size: 12px;
  text-transform: uppercase;
  font-weight:normal;
  margin: 0 0 0 -20px;
  padding: 8px 20px;
  border:0;
  color: #aaa;
  overflow: hidden;
  text-align:left;
  width: 100%;
  text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.25);
  
  &:hover {
  	color:#eee;
  	background-color:#4f4f4f;
  	background-image:none;
  	.icon-bar {
    	background-color: #eee;
    }
  }
  
  .icon-bar {
    background-color: #aaa;
    border-radius: 1px 1px 1px 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    display: block;
    height: 2px;
    margin: 2px 0;
    width: 38px;
    float:right;
    clear:both;   
	}
}

@media (max-width:767px) {
	.column-navbar {
		background: #000;
		display:block;
		margin: 0 -20px;
    padding:0 20px;
		> h3 {
			float:left;
			color: #fff;
			margin: 8px 20px 0;
		}
		.btn-navbar {
    	display: block;
  	}
	}
}

@media (max-width: 767px) {
  .navbar {
    padding-top: 15px;
    min-height: $logoHeight + $logoSeparation;

    .brand {
      float: left;
      text-align: center;
      font-size: 14px;
    }

    .nav {
      margin-left: 95px; 
      margin-top: 5px; /* centers navigation text on the logo */
      width: inherit;

      > li {
        float: left !important;
        width: 50% !important;
        text-align: center !important;

        > a {
          padding: 10px 0;
      		font-size: 14px;
      		font-weight: normal;
        }
      }
      > li.divider {
        display: none;
      }
    }
    .brand-image {
  	  background: url('../images/OSlogo57.png') center top no-repeat transparent;
  	  height: 60px;
  	  margin-bottom: 5px;
  	  margin-top: 5px;
  	}
  }
}
@media (min-width: 768px) {
  .navbar {
    padding-top: 30px;
    min-height: $logoHeight + $logoSeparation + 30px;

    .brand {
      z-index: 1;
      position: absolute;
      left: 50%;
      top: 24px;
    }
    .brand > a {
      position: relative;
      left: -50%;
      height: 125px;
    }
    .nav {
      margin-top: 20px; /* centers navigation text on the logo */
    }
  }
}


@media (max-width: 480px) {
	#learn .action-call {
    font-size: 11px;
  }
  .navbar {
  	.navbar {
			min-height: 90px;
		}
    .brand {
      > a:hover > .brand-image {
        -moz-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
      }
    }
    .nav > li > a {
      font-weight: normal;
      font-size: 12px;
      //padding: 5px 0;
    }
  }
}




/* ie conditionals */
.ie8 .navbar {
    min-height: 130px;
    padding-top: 30px;
}
.ie8 .navbar .brand {
    left: 50%;
    position: absolute;
    top: 24px;
    z-index: 1;
}
.ie8 .navbar .brand > a {
    height: 125px;
    left: -50%;
    position: relative;
    width: 111px;
}
.ie8 .navbar .nav {
    margin-top: 20px;
}


