Name: rockmongo-1.1
Version: 1.0.x
Architecture: i686/x86_64
Provides: rockmongo
Depends: rhc-cartridge-mongodb-2.2
Conflicts:
Type: Cartridge
Role: misc
Vendor: http://code.google.com/p/rock-php/wiki/rock_mongo
DisplayName: rockmongo-1.1
Description: 
RockMongo is a MongoDB administration GUI tool, written in PHP 5.

Features - 
    * Open source under New BSD License
    * Runs fast, and easy to install
    * I18N (English, Chinese(English, Chinese, French, Japanese, British, Spanish, German)
    * System
          o Multiple hosts, and one host can has multiple administrators
          o Switch among hosts freely
          o Password protection 
    * Server
          o Server info (web server, PHP, directives in PHP.ini ...)
          o Status
          o Databases overview
          o Replication status 
    * Database
          o Query, create, drop, repair
          o Execute commands and javascript codes
          o Statistics
          o Profiling
          o Users management
          o Data transfer(clone)
          o Export/import 
    * Collection
          o Advanced query and explain tool
          o Read, insert, update, duplicate and remove single row
          o Query, create and drop indexes
          o Validate collection
          o Clear all records in collection
          o Remove and change a batch of criteria matched rows
          o Statistics
          o Rename
          o Modify properties (capped, size, max ...)
          o Data transfer(clone)
          o Export/import 
    * Field
          o Update/Remove/Clear operations 
    * GridFS
          o View chunks
          o Download file 
    * More features will be coming soon! 
