= render 'shared/pageheader', :product => 'openshift', :title => 'Login to OpenShift', :subtitle => 'Access Your OpenShift Account'

.container_24#page
  .prefix_1.grid_22.suffix_1#login-page
    %h3 Already Have a Login?

    #login-form
      - if @user and @user.errors.any?
        %ul#error_explanation
          - @user.errors.full_messages.each do |msg| 
            %li
              = msg

      - if flash[:notice]
        %p.flash-notice
          = flash[:notice]
      
    
      %form{:action => Rails.configuration.login,     
            :method => "post"}
        %input(type="hidden" value="✓" name="utf8")
        %input{:type => "hidden", :value => form_authenticity_token, :name => "authenticity_token"}
        
        %label(for="login_input")
          Login:
        %input(id="login_input"
               type="text" 
               name="login")
        
        
        %label(for="pwd_input")
          Password:
        %input(id="pwd_input"
               type="password" 
               name="password" 
               autocomplete="off")
               
        %input{:type => "hidden", :name => "redirectUrl", :value => @redirectUrl}
        %input{:type => "hidden", :name => "errorUrl",  :value => @errorUrl}
        
        %input(type="submit" 
               value="Login" 
               class="button")
    .clear


    #register
      %h4 Need to Register instead?
      %p
        =link_to "Click here to register", new_web_users_url
  .clear
