.container_24.express#pageheader
  .grid_14#title
    %h2 OpenShift <em>Express</em>
    %p The Internal Beta...

  .grid_10#title_accent

  .clear

.container_24#page
  .prefix_1.grid_22.suffix_1#login-page
    %h3 Already Have a Login?

    #login-form

      :erb
        <form action="<%= Rails.configuration.streamline + '/login.html' %>" method="post">
          <div>
            <label for="login_input">Login:</label><input id="login_input" type="text" name="login" />
          </div>
          <div>
            <label for="pwd_input">Password:</label><input id="pwd_input" type="password" name="password" autocomplete="off" />
          </div>
          <div>
            <input type="hidden" name="redirectUrl" value="http://openshift.redhat.com/app/landing/index" />
            <input type="submit" value="Login" />
          </div>
        </form>
    .clear

    %h3 Need to Register instead?

    #register
      %p
        %a(href="/app/users") Click here to register
  .clear
