#display_ssh.current_ssh
  = @userinfo.ssh_key.nil? ? 'We don't have an ssh key for you yet' : @userinfo.ssh_key.slice(0, 20)
  = '...'

= render 'widgets/popup_link', :text => 'Edit...', :load => '#ssh_form'

#ssh_form.popup-contents
  = render 'express_domain/ssh_form'


