- content_for :page_title do
  OpenShift Update Domain Name

%section.main
  .content
    %h1 Update Your Namespace
    = render 'layouts/flashes'
    = render :partial => 'shared/domain', :locals => { :express_domain => @domain, :dom_action => @dom_action }