<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator>
    <daysToKeep>100</daysToKeep>
    <numToKeep>10</numToKeep>
    <artifactDaysToKeep>100</artifactDaysToKeep>
    <artifactNumToKeep>10</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.BooleanParameterDefinition>
          <name>INSTALL_FROM_SOURCE</name>
          <description>The alternative to INSTALL_FROM_SOURCE is to install from published rpms</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>YUM_REPO</name>
          <description></description>
          <defaultValue>stage</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BRANCH</name>
          <description></description>
          <defaultValue>stage</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DEV_TOOLS_REPO</name>
          <description></description>
          <defaultValue>origin-dev-tools</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DEV_TOOLS_EXT_REPO</name>
          <description></description>
          <defaultValue>li</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>IMAGE_BASE_NAME</name>
          <description></description>
          <defaultValue>devenv</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>RUN_BROKER_EXTENDED</name>
          <description>In addition to the verification tests include the broker extended tests.  This job will fail if the extended tests fail but the ami will still be registered.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>RUN_RUNTIME_EXTENDED</name>
          <description>In addition to the verification tests include the runtime extended tests.  This job will fail if the extended tests fail but the ami will still be registered.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>RUN_SITE_EXTENDED</name>
          <description>In addition to the verification tests include the site extended tests.  This job will fail if the extended tests fail but the ami will still be registered.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>RUN_RHC_EXTENDED</name>
          <description>In addition to the verification tests include the rhc extended tests.  This job will fail if the extended tests fail but the ami will still be registered.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <authToken>libra1</authToken>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>EXTENDED_TESTS_ARRAY=()
if $RUN_BROKER_EXTENDED
then
  EXTENDED_TESTS_ARRAY+=(broker)
fi
if $RUN_RUNTIME_EXTENDED
then
  EXTENDED_TESTS_ARRAY+=(runtime)
fi
if $RUN_SITE_EXTENDED
then
  EXTENDED_TESTS_ARRAY+=(site)
fi
if $RUN_RHC_EXTENDED
then
  EXTENDED_TESTS_ARRAY+=(rhc)
fi

EXTENDED_TESTS=&quot;&quot;
for test in &quot;${EXTENDED_TESTS_ARRAY[@]}&quot;
do
  if [ -z &quot;$EXTENDED_TESTS&quot; ]
  then
    EXTENDED_TESTS=$test
  else
    EXTENDED_TESTS=$EXTENDED_TESTS,$test
  fi
done


# Delete the previous repo clone directories
rm -rf $DEV_TOOLS_REPO $DEV_TOOLS_EXT_REPO

# Clone the repos
git clone git@github.com:openshift/${DEV_TOOLS_EXT_REPO}.git
pushd $DEV_TOOLS_EXT_REPO
  git checkout $BRANCH
popd
git clone git@github.com:openshift/${DEV_TOOLS_REPO}.git
pushd $DEV_TOOLS_REPO
  git checkout $BRANCH
popd

if [ &quot;$BRANCH&quot; == &quot;master&quot; ]
then
  IMAGE_NAME=${IMAGE_BASE_NAME}
else
  IMAGE_NAME=${IMAGE_BASE_NAME}-${BRANCH}
fi

pushd $DEV_TOOLS_EXT_REPO

build/devenv clone_addtl_repos $BRANCH --replace

opts=&quot;&quot;
if $INSTALL_FROM_SOURCE
then
  opts=&quot;--install_from_source&quot;
fi

set +e
  build/devenv build ${IMAGE_NAME} ${BUILD_NUMBER} --register --official --terminate --yum_repo=$YUM_REPO --branch=$BRANCH $opts
  RESULT=$?
set -e

  if [ $RESULT -eq 0 ]
  then

    if [ -n &quot;$EXTENDED_TESTS&quot; ]
    then
      # Run the extended tests
      build/devenv test ${IMAGE_NAME}_${BUILD_NUMBER} --include_extended=&quot;$EXTENDED_TESTS&quot; --terminate 
    else
      build/devenv terminate ${IMAGE_NAME}_${BUILD_NUMBER}
    fi
  else
    build/devenv terminate ${IMAGE_NAME}_${BUILD_NUMBER}
    exit $RESULT
  fi
popd</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>li/rhc/log/**</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.Mailer>
      <recipients>libra-devel@redhat.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>