-# file: Video tag partial for videos hosted on RH.com
-# 
  local variables:
    - filename : name of video file 
  
%video{ :poster => "http://www.redhat.com/g/video_stills/#{@filename}.png", 
        :height => "385px", 
        :width => "640px",
        class => 'projekktor'}
  
  %source{ :src => "http://www.redhat.com/v/ogg/#{@filename}.ogg", :type=>"video/ogg"}
  
  %source{ :src => "http://www.redhat.com/v/swf/#{@filename}.mp4", :type=>"video/mp4"}
