class osWidget
  constructor: (@options, @element) -> 
    # cache jq object
    @$element = $ @element
    # merge options with defaults
    defaults = foo: true, bar: false
    @options = $.extend {}, defaults, @options
    @name = 'OpenShiftWidget'
    @_init()
  
  # Required creation function
  # runs the first time this plugin is called
  _create: ->
  
  # Required init function
  # runs when instance is first created
  # and whenever it is reinitialized
  _init: ->
  
  # Required
  # get or set options after initialization
  option: (key, value) ->
    
    # signature $('#foo').bar({key: value})
    if $.isPlainObject key
      @options = $.extend true, @options, key
  
    # signature $('#foo').option('key')
    else if key and value? 
      @options[key] = value

    # signature $('#foo').bar('option', 'baz', 'bat')
    else
      return @options[key]

    return this

# Connect widgets to jquery via bridge
# http://erichynds.com/jquery/using-jquery-ui-widget-factory-bridge/
$.widget.bridge 'osWidget', osWidget

#  vim: set ts=8 sw=2 tw=0 filetype=coffee:
