- content_for :title, 'Bill Details'
- breadcrumb_for_account 'Bill Details'

%h1 Bill Details

%section.panel
  %p Your account has not yet been billed.
  %p= link_to "Return to your account dashboard.", account_path
