<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Perform coverage analysis on unit tests for Libra.</description>
  <logRotator>
    <daysToKeep>10</daysToKeep>
    <numToKeep>10</numToKeep>
    <artifactDaysToKeep>10</artifactDaysToKeep>
    <artifactNumToKeep>10</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.triggers.SCMTrigger>
      <spec>0 3 * * 2-6/2</spec>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command># Delete the previous repo clone directories
rm -rf li origin-dev-tools

# Clone the repos
git clone git@github.com:openshift/li.git
git clone git@github.com:openshift/origin-dev-tools.git

pushd li

# Build and install HEAD for the integration tests
build/devenv launch libra_coverage_${BUILD_NUMBER} --verifier --instance_type m1.large
build/devenv sync libra_coverage_${BUILD_NUMBER} --tag --clean_metadata

# Run the tests
build/devenv test libra_coverage_${BUILD_NUMBER} --include_rcov --terminate

popd</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>li/rhc/log/**</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.Mailer>
      <recipients>libra-devel@redhat.com</recipients>
      <dontNotifyEveryUnstableBuild>true</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>