<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Test a pull request against master&#xd;
</description>
  <logRotator>
    <daysToKeep>10</daysToKeep>
    <numToKeep>100</numToKeep>
    <artifactDaysToKeep>10</artifactDaysToKeep>
    <artifactNumToKeep>100</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>ORIGIN_SERVER_PULL_ID</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DEV_TOOLS_EXT_PULL_ID</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>RHC_PULL_ID</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DEV_TOOLS_PULL_ID</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <authToken>libra1</authToken>
  <triggers class="vector"/>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command># Build and install HEAD for the integration tests
rm -rf origin-dev-tools li

git clone git@github.com:openshift/origin-dev-tools.git
git clone git@github.com:openshift/li.git
pushd li
build/devenv clone_addtl_repos master --replace
popd

if [ -n &quot;$DEV_TOOLS_EXT_PULL_ID&quot; ]; then
set +x
  echo &quot;

*****Locally Merging Pull Request: https://github.com/openshift/li/pull/$DEV_TOOLS_EXT_PULL_ID&quot;
set -x
  test_pull_requests --local_merge_pull_request $DEV_TOOLS_EXT_PULL_ID --repo li
fi

if [ -n &quot;$ORIGIN_SERVER_PULL_ID&quot; ]; then
set +x
  echo &quot;

*****Locally Merging Pull Request: https://github.com/openshift/origin-server/pull/$ORIGIN_SERVER_PULL_ID&quot;
set -x
  test_pull_requests --local_merge_pull_request $ORIGIN_SERVER_PULL_ID --repo origin-server
fi

if [ -n &quot;$RHC_PULL_ID&quot; ]; then
set +x
  echo &quot;

*****Locally Merging Pull Request: https://github.com/openshift/rhc/pull/$RHC_PULL_ID&quot;
set -x
  test_pull_requests --local_merge_pull_request $RHC_PULL_ID --repo rhc
fi

if [ -n &quot;$DEV_TOOLS_PULL_ID&quot; ]; then
set +x
  echo &quot;

*****Locally Merging Pull Request: https://github.com/openshift/origin-dev-tools/pull/$DEV_TOOLS_PULL_ID&quot;
set -x
  test_pull_requests --local_merge_pull_request $DEV_TOOLS_PULL_ID --repo origin-dev-tools
fi

set +x
echo &quot;


&quot;
set -x

pushd li
  build/devenv build test_pull_requests ${BUILD_NUMBER} --terminate --install_from_local_source
popd</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>li/rhc/log/**</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.junit.JUnitResultArchiver>
      <testResults>li/rhc/log/**/*.xml</testResults>
      <keepLongStdio>false</keepLongStdio>
      <testDataPublishers/>
    </hudson.tasks.junit.JUnitResultArchiver>
  </publishers>
  <buildWrappers/>
</project>