-# file: Email confirmation errors page

%h1.ribbon
  Confirm Email
.content
  - @user.errors.each do |field, msg|
    .alert
      = msg

%p #{link_to 'Register again', new_account_path} or #{link_to 'return to the main page.', root_path}
