%div{ :style => "float: right; width: 300px;"}
  -#%style
    .scripted { display: none; }
    %noscript
    .scripted { display: block; }
  %h3 Need Help Creating Keys?
  -#.scripted.only-linux
    %h4 Linux
    %p Run the following command to generate a new key:
    %code~ "ssh-keygen"
    %p When prompted, enter a location to save a key. If this is your first key, you can accept the default.
    %code~ "[user@home1 myapp]$ ssh-keygen  \nGenerating public/private rsa key pair. \nEnter file in which to save the key (/home/user/.ssh/id_rsa):"
    %p If you accepted the defaults, the newly created public key will be located at /home/user/.ssh/id_rsa.pub. Open this file with a text editor and copy the contents into the text area for the key. You can now access all of your OpenShift git repositories from the command line.
    -#:javascript
      if (/linux/i.exec(window.navigator.platform))
        jQuery('.only-linux').each(function(el) {el.style.display = 'block'});
  %p 
    See 
    = link_to "the user guide", user_guide_topic_url('sect-User_Guide-SSH_Key_Management.html')
    for more information on keys.
