= semantic_form_for :sshkey do |f|
  -#= f.label :value, "Paste your public key"
    = f.text_area :value, :rows => 5
  = f.input :value, :as => :text, :required => false, :label => "Paste your public key"
