#extra_options
  - case page
  - when 'reset_password'
    = render :partial => 'layouts/dialogs/extras/signin'
  - when 'signup'
    = render :partial => 'layouts/dialogs/extras/signin'
  - when 'signin'
    = render :partial => 'layouts/dialogs/extras/reset'
    = render :partial => 'layouts/dialogs/extras/signup'
