<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator>
    <daysToKeep>100</daysToKeep>
    <numToKeep>10</numToKeep>
    <artifactDaysToKeep>100</artifactDaysToKeep>
    <artifactNumToKeep>10</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>include_web</name>
          <description></description>
          <defaultValue>false</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>exclude_internal</name>
          <description></description>
          <defaultValue>false</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>exclude_verification</name>
          <description></description>
          <defaultValue>false</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>jobs/libra_ami_stage/workspace</customWorkspace>
  <builders>
    <hudson.tasks.Shell>
      <command># Launch a test instance
build/devenv launch devenv-stage_verifier_${BUILD_NUMBER} --use_stage_image --verifier --instance_type m1.large

excludes=&quot;&quot;
if [ &quot;$include_web&quot; == &quot;true&quot; ]
then
    excludes=$excludes&quot; --include_web&quot;
fi
if [ &quot;$exclude_internal&quot; == &quot;true&quot; ]
then
    excludes=$excludes&quot; --exclude_internal&quot;
fi
if [ &quot;$exclude_verification&quot; == &quot;true&quot; ]
then
    excludes=$excludes&quot; --exclude_verification&quot;
fi
echo $excludes
# Run the image tests
build/devenv test devenv-stage_verifier_${BUILD_NUMBER} --official --terminate $excludes</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>rhc/log/**</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.Mailer>
      <recipients>libra-devel@redhat.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>