- content_for :page_title, 'Meet Our Partners'

%h1.ribbon Meet Our Partners

%section
  %p.intro
    Red Hat works with an ecosystem of partners to build, optimize, and deliver complete solutions to our customers. Through our global network of leading hardware, software, and service provider vendors, Red Hat offers customers a wealth of proven technology solutions that solve real-world business challenges.
    
  = render 'join'

%section
  /Start list of partners
  .row
    - @partners.in_groups(2).each do |group|
      .span6
        %ul.partners.unstyled
          - group.each do |partner|
            %li{:style => 'margin-bottom: 45px;'}
              = render 'partner_list', :partner => partner
