-# file: Join partner program page

- content_for :page_title do
  Join Our Partner Program

= render 'shared/pageheader', :product => 'openshift', :title => 'Partners', :subtitle => 'A Strong Ecosystem of Technologies'

#page.container_24
  #main_content.grid_10.push_3
    
    %h2 Join Our Partner Program
    
    %p
      Thank you for your interest in joining our partner program! Please contact us for more information.
      
    = link_to 'openshift@redhat.com', 'mailto:openshift@redhat.com' 
  
  .clear
