.community .column-nav .gutter-right {
  padding-top: 28px;
}
@media (max-width: 767px) {
	.community {
		.column-nav {
			.gutter-right {
			  padding-top: 15px;
			}
		}
	}
} 

/* Drupal specific markup, we may want to wrap this with a top level selector on body.drupal or something */
.views-field-rss { float: right; }
.views-field-picture { float: left; margin-right: 6px; }
.view-forum-list .views-field-picture { float: right; margin-left: 6px; }
.block-stats div { display: inline; }
.views-table .views-field-pageviews { white-space: nowrap; }
.views-field-group-name { display: inline; }

.column-nav .view-threads-by-popularity .views-table {
  h4 { 
    color: #666; 
    font-size: 13px; 
    line-height: 18px; 
  }
  > div { margin-bottom: 15px; }
}
.column-nav .picture img {
  max-width: 35px;
  max-height: 35px;
}

.links.inline a {
  text-transform: capitalize;
  margin-right: 30px;
}

.og-mission,
.forum-header-description { 
  margin-bottom: 10px; 
}

.block { margin-bottom: 25px; }
.column-nav {
  .view-user-profile-box { margin-bottom: 20px; }
}

.community textarea {
  width: 100%;
}

.community form {
  fieldset legend { font-size: 14px; line-height: 18px; }
  .fieldset-wrapper { margin-left: 10px; }
}
.clear-block { @include clearfix(); }

.view-nodes-by-category article {
  margin-bottom: 25px;

  > h2 { line-height: 25px; }
  
  > .teaser {
  	margin: 0px 20px 20px;
  	
  	> h1 { 
  		font-size: 18px;
  		margin-bottom: 0;
  	}
  	
  	> h2 { 
	  	font-size: 16px;
  	}
 }

  > .breadcrumb {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;

    > .creator { color: black; }
    > .created { color: #888; }

  }


  > div:last-child {
    text-transform: uppercase;
    text-align: right;
    padding-bottom: 3px;
    border-bottom: 1px solid #aaa;
    font-size: 11px;
    > a {
      color: #888;
    }
  }
}

.node {
  margin-bottom: 20px;
}

.comment { 
  margin-bottom: 0; 
  padding-top: 0; 

  .submitted {
    font-style: italic;
    color: #999999;
  }
}
.comment > table td { vertical-align: top; }
.comment .comment-author {
  .views-row {
    padding:0; 
    margin:0;
  }
  .views-field-phpcode {
    clear: both;
  }
  .views-field-value {
    font-style: italic;
    margin-top: 5px;
  }
  p {
  	margin: 0 0 7px 0;
  }
  .views-field-phpcode {
    clear: none;
  }
  .views-field-value {
    color: #777777;
    font-style: normal;
	}
}

.community .column-content {
	min-height: 712px;
	}
.community #comments .views-field-name,
.community #comments .views-field-phpcode,
.community #comments .views-field-value,
.community #comments .views-field-phpcode-1 {
	margin-left: 60px;
}
.forum-list-main {
	
	.views-field-title {
		font-size:14px;
	}
	
	.views-field-last-comment_timestamp, 
	.views-field-comment-count {
		font-size:11px;
	}
	
	.picture-right {
		line-height: 15px;
	}
}
#forum-header {
	position:relative;
	
	.new-post-button {
		position:absolute;
		right: 0;
  	top: 23px;
	}
}
.view-header {
	margin-bottom: 10px;
}

@media (max-width:767px) {
	.forum-list-main .picture-right {
    clear: left;
  }
}
.community #comments .views-field-name {
	font-size: 16px;
	font-weight: bold;
}
.community .thread .thread-author .views-field-name {
	font-size: inherit;
	padding: 0 4px 0 1px;
}
.column-content .picture img,
.community .field_author_image_fid {
  border: 4px solid #000;
}
.new-post-button {
	text-align:right;	
  	p {
  		text-align:left;
  	}
}
.view-user-profile-box {
  .picture img {
    max-width: 40px;
    max-height: 40px;
  }
  .badge { 
    display: inline-block; 
    padding: 0 4px;
    color: #fff; 
    text-transform: uppercase; 
    font-size: 11px; 
    float: right;
  }
}
.badge.newbie { background-color: #89aa00; }
.badge.member { background-color: #fc6b00; }
.badge.accomplished { background-color: #191919; }
.badge.pro { background-color: #356fce; }
.badge.expert { background-color: #a80f00; }

.community .poll {
	> .bar {
		display:inline;
		
		> .foreground {
  		background-color: $pollBarColor;
		}
	}	
}

.column-nav {
  .views-row {
    margin-bottom: 5px;
  }
  .poll {
    > .title {
      margin-bottom: 5px;
      color: #fff;
    }
    > .text {
      margin-bottom: 2px;
    }
  }
}

.kb-toggle {
  display: none;
}

.all-attached-images {
  display: none;
}

/* Voting on Ideas */
td.views-field-vud-node-widget {
  width: 55px;
}
.community .vud-widget-updown .updown-down,
.community .vud-widget-updown .vud-link-down,
{
  float: right;
}

/* Quick fixes to force wrap long strings within table cells */
.table th, .table td {
	max-width: 400px;
}
@media (max-width: 980px) {
	.table th, .table td {
		max-width: 250px;
	}
} 


/* Ideas table generation doesn't generate separate divs because it is using the view Table layout */
.view-Ideas .views-table .views-field-title {
  font-size: 13px;
  line-height: 1.4em;

  a:first-child {
    font-size: 16px;
    line-height: 1.2em;
  }
}

.vud-widget-updown > div.down-active {
  background: $openshiftRed;
  color: black;
  border-color: black;
}

.vud-widget-updown > div.up-active {
  background: $genericLightGreen;
  color: black;
  border-color: black;
}

/* copied from system.css */
html.js fieldset.collapsed {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    height: 1em;
    margin-bottom: 0;
}
html.js fieldset.collapsed * {
    display: none;
}
html.js fieldset.collapsed legend {
    display: block;
}
html.js fieldset.collapsible legend a {
    background: url("../images/menu-expanded.png") no-repeat scroll 5px 75% transparent;
    padding-left: 15px;
}
html.js fieldset.collapsed legend a {
    background-image: url("../images/menu-collapsed.png");
    background-position: 5px 50%;
}
* html.js fieldset.collapsed legend, * html.js fieldset.collapsed legend *, * html.js fieldset.collapsed table * {
    display: inline;
}
html.js fieldset.collapsible {
    position: relative;
}
html.js fieldset.collapsible legend a {
    display: block;
}
html.js fieldset.collapsible .fieldset-wrapper {
    overflow: auto;
}

/* side column */
.sidenav-column-inner {
  margin-right: 15px;
}


/* New comment thread styles */

.comment-author {
	position: relative;
	img {
	  float: left;
	  }
}
.about-author {
	color: #909090;
}
.author-meta {
	margin-left: 60px;
	strong {
		font-size: 150%;
		padding-right: 13px;
		}
}
.comment-text {
	border: 1px solid #ddd;
	border-top: 5px solid #ddd;
	padding: 13px 21px 8px;
	margin: 10px 0 30px;
	overflow: hidden;
}
.comment-meta {
	float: right;
 }
.children {
	margin-left: 21px;
	list-style: none;
}
.author-avatar {
	float: right;
}
.badge {
	display: inline-block;
  padding: 0 3px;
  margin: 0;
  color: #fff;
  font-size: 11px;
 }
.rank {
	border: 1px solid #999;
  color: #909090;
  display: inline-block;
  font-size: 11px;
  padding: 0;
  white-space: nowrap;
  float: right;
	span {
		padding: 0 5px;
		}
}

/* thread author */
.community .thread .thread-author .submitted {
	float: left;
	margin-right: 10px;
	font-style: normal;
}
.community .thread .thread-author .submitted span {
	color: #333;
}
.community .meta .view-user-profile-box div {
 	display: inline-block;
 	vertical-align: bottom;
 	margin: 0;
 }
.community div.view:hover div.views-hide, 
.community div.view div.views-hide-hover {
  display: inline-block;
  position: relative;
  z-index: 200;
}
.community div.view div.views-admin-links {
    font-size: xx-small;
    margin-right: 0;
    margin-top: -10px;
    float: right;
}
.community .meta .view-user-profile-box .views-admin-links {
	background: #fff;
	border:0;
	}
.community div.view div.views-admin-links-hover a, .community div.view div.views-admin-links:hover a {
    color: red;
}
.community div.view div.views-hide {
    display: none;
    float: right;
}
.community div.view:hover div.views-hide {
    margin-top: -10px;
}
.community .meta .view-user-profile-box > div {
	border: 1px solid #666;
	color: #efefef;
	font-size: 11px;
	background:#666;
	white-space: nowrap;
}
.community .thread .links {
	font-weight: normal;
}
.community .thread .links a {
	text-transform: capitalize;
}
.community .thread .addthis_button {
	float: right;
}
.comment-content {
	border: 1px solid #ddd;
	padding: 20px 25px;
	margin: 5px 0 0 0;
	overflow: hidden;
	
	.links {
		position: relative;
		
		a {
			margin-right: 15px;
			text-transform: capitalize;
		}
		
		.flag-wrapper {
    	position: absolute;
    	right: -30px;
    	font-size: 11px;
    	margin:0;
    	
    	.flag-action {
    		color:#999999;
    	}
		}
	}
}
.b-edge {
  border-color: #DFDFDF transparent;
  border-style: solid;
  border-width: 0.4em 0 0 0.4em;
  margin-bottom: 30px;
  position: relative;
}
.thread {
	margin-bottom: 70px;
}
.community .thread .picture {
	float: right;
}
.community .thread  h2 {
	color: inherit;
	font-weight: bold;
}
.thread-author .rank {
	float: none;
}
.thread-intro {
	padding-bottom: 8px;
}
#thread-text {
	padding: 20px;
	margin: 10px 0;
	background-color: #f0f0f0;
}
.posting {
	font-style: italic;
	color: #b0b0b0;
}
.thread-actions {
	margin: 5px 5px 5px 21px;
}
.thread-actions li {
	margin-right: 40px;
}


/* Blog pages */ 

.community .geshifilter pre {
	border:0;
	}
.community .node-blog > h2+p {
	margin: 0;
	}
.community .blog-post .blog-metadata {
  margin-bottom: 15px;
  color: #999;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 20px;
  div {
    display: inline;
  }
  .author-bio-box  {
    .author-bio { display: none; }
  }
}
.community .blog-post {
	h1 {
		font-size: 22px;
    line-height: 36px;
    margin-bottom: 8px;
	}
	> h1.blog-title {
		font-size: 30px;
		font-weight:bold;
	}
}

@media (max-width: 480px) {
	.community .blog-post > h1.blog-title {
    font-size: 26px;
    font-weight: bold;
    line-height: 30px;
	}
}
	

/* Community search */
.community .search-results dt {
    font-size: 16px;
    margin: 23px 0 0;
}
.community .search-results dt a {
	font-weight: normal;
	text-decoration: underline;
	}
.community .search-results dd {
	margin-left:0;
	margin-bottom: 2em;
	}
.community .search-results p {
	margin: 0 0 3px 0;
	}
.community .search-results .search-info {
  color: #9F9F9F;
}

/* FAQs */

.faq-category-group {
	margin-bottom: 15px;
	}
.faq-header {
	font-size: 18px;
	}
	
/* Wiki pages */
#toc { float: right; background: #eee; border: 1px solid #ddd; margin-left: 15px; margin-bottom: 15px; }
#toc td { font-size: 90%; }
#toc td ul { list-style: none; margin: 0 0 0 9px; }

/* Events */
.event-listings .view-event-view .views-row-first {
	border-top: 5px solid #aaa;
}
.view-event-view .views-row {
     border-bottom: 1px solid #DDD;
     padding: 20px 15px;
}

.view-event-view .views-row:hover {
	background-color: #f5f5f5;
}
