/* Common navbar branding */
/* FIXME: Move common branding in _custom.scss here */
.navbar {
  .brand {
    text-transform: uppercase;
  }

  .brand > a {
    display: block;
  }

  .brand-image {
    content: ' ';
    /*background-image: url('../images/logo-medium.png') center top no-repeat;
    height: logoHeight;
    width: logoWidth;*/
  }

  .brand-text {
    color: white;
    text-align: center;
  }
}
