/* Common navbar branding */
/* FIXME: Move common branding in _custom.scss here */
.navbar {
  .brand {
    text-transform: uppercase;
  }

  .brand > a {
    display: block;
  }

  .brand > a > .brand-image {
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }

  .brand > a:hover > .brand-image {
    -moz-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  .brand-image {
    content: ' ';
    /*background-image: url('../images/logo-medium.png') center top no-repeat;
    height: logoHeight;
    width: logoWidth;*/
  }

  .brand-text {
    color: white;
    text-align: center;
  }
}
