.navbar {
  padding-top: 30px;
  height: 130px;
  position: relative;

  .brand {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    background: url('/app/images/logo-medium.png') center top no-repeat transparent;
    /* reset styles */
    float: none;
    margin: 0;
    padding: 0;

    padding-top: $logoHeight + $logoSeparation;
  }
  .nav {
    font-size: 13px; 
    text-transform: uppercase;
    /* reset styles */
    float: none;
    margin: 0;

    margin-top: -($logoHeight + $logoSeparation)/2.0 - 33px; //FIXME make this cleaner
    margin-bottom: 110px;

    > li {
      float: left;
      width: 20%;
      text-align: center;

      > a {
        color: white; 
        font-size: 13px; 
        text-transform: uppercase; 
        font-weight: bold;
        /* reset styles */
        padding: 5px 0;
      }
    }

    > li:nth-child(1) { text-align: left; }
    > li:nth-last-child(1) { text-align: right; }

    /* needs fixing */
    > .active > a,
    > .active > a:hover,
    > li > a:hover {
      /* reset styles */
      background: transparent;
      border: 0;
      box-shadow: none;
      text-decoration: underline;
    }
  }
}

/*FIXME After 3.1, move into element */
@media (max-width: 767px) { .navbar {
  height: 100px; 
} }
@media (max-width: 767px) { .navbar .brand {
  position: static;
  float: left;
  text-align: center;
  width: $logoWidth;
  margin-top: $logoHeight + $logoSeparation;
} }

@media (max-width: 767px) { .navbar .nav { 
  margin-left: $logoWidth + 10px; 
} }

@media (max-width: 767px) { .navbar .nav > li {
  float: left !important;
  width: 50% !important;
  text-align: center !important;
} }
@media (max-width: 767px) { .navbar .nav > li.divider {
  display: none;
} }
/*End FIXME*/
