@import "compass/css3/images";

body > header {
  background-image: url('../images/dark-gray-diagonal-noise.jpg');
  @include background-image(
    url('../images/diagonals-top.png'),
    url('../images/mts.png'), 
    radial-gradient(circle, white 0%, white 1px, rgba(255, 255, 255, 0.0) 2px),
    radial-gradient(circle, white 0%, rgba(0, 0, 0, 0) 2px),
    radial-gradient(circle, #eee 0%, rgba(0, 0, 0, 0) 2px),
    radial-gradient(circle, #eee 0%, rgba(0, 0, 0, 0) 2px),
    url('../images/dark-gray-diagonal-noise.jpg'));
  background-repeat:
    no-repeat,
    repeat-x,
    repeat, repeat, repeat, repeat, repeat;
  background-size:
    auto,
    auto,
    457px 241px,
    307px 151px,
    167px 199px,
    239px 257px,
    auto;
  background-position:
    right bottom,
    center bottom,
    left top,
    -157px center,
    89px 97px,
    43px 31px,
    center bottom;
}

.messaging {
  margin: 55px 0;
  
  .primary {
    margin-bottom: 10px;
  }
  .secondary {
    max-width: 875px;
    margin: 0 auto;
  }
  h1, h2 { color: #bbb; }
}

@media (max-width: 767px) {
  body > header {
    background: url('../images/dark-gray-diagonal-noise.jpg') repeat;
  }
}

#nav { 
  background-color: transparent;
  background-image: none;
}
     
