/* Pricing and plans pages */ 

.community {
  article.pricing {
    h2 { display: none; }
    h3 { font-size: 32px; margin: 25px 0; }
    h4 { font-size: 22px; margin: 15px 0; }
    section.pricing {
      table { 
        width: 100%; 
        th, td { text-align: center; }
        thead {
          th { vertical-align: top; padding: 15px 0; }
          th.plan { 
            background-color: #f2f2f2; 
            text-align: center;
            border-right: 10px solid white;
            border-left: 10px solid white;
            width: 32%;
            p.description { font-size: 18px; font-weight: normal; }
            h4.price { font-size: 24px; }
            h4.price.free { font-size: 36px; padding-bottom: 20px; }
            p.price-details { font-size: 14px; font-weight: normal; }
            h5.plan.disabled { font-size: 24px; padding-bottom: 20px; }
            .action-call { font-family: Overpass,"Helvetica Neue",Helvetica,Arial,sans-serif; text-transform: capitalize; font-size: 24px; font-weight: normal; margin-left: auto; margin-right: auto; height: 2em; }
          }
        }
        tbody {
          td { 
            height: 60px; 
            a.about { display: block; }
          }
          td:first-child { text-align: right; padding-right: 5px; }
          td:last-child { text-align: left; padding-left: 5px; }
          td.key { font-size: 14px; }
          td.value { font-size: 20px; }
          tr:nth-child(odd) { 
            background-color: #f2f2f2; 
            td.value { background-color: #ececec; border-right: 10px solid #f2f2f2; border-left: 10px solid #f2f2f2; }
          }
          tr:nth-child(even) { 
            background-color: #fff; 
            td.value { background-color: #f9f9f9; border-right: 10px solid #fff; border-left: 10px solid #fff; }
          }
          tr:last-child { border-bottom: 3px solid #f8f8f8; }
        }
      }
    } 
    section.gears {
      div.example {
        width: 100%;
        background-color: #f2f2f2; 
        div {
          text-align: center;   
          margin: 0;
          width: 25%;
          display: block;
          float: left;
          h5 { font-size: 18px; padding: 15px 0; }
          p { font-size: 14px; }
          p.price { font-size: 24px; }
        }
        div.scenario {
          h5.title { font-size: 22px; padding-top: 20px; }
          p.content { padding: 15px 10px 0 10px; font-size: 11px; }
        }
        div:nth-child(1) { background-color: #f2f2f2; }
        div:nth-child(2) { background-color: #ccc; }
        div:nth-child(3) { background-color: #999; }
        div:nth-child(4) { 
          background-color: #3f3f3f; 
          color: white; 
          h5 { color: white; }
        }
      }
      div.example:after { clear: both; }
      div.example:before, div.example:after { content: ""; display: table; }
    }
    section.faq {
      dl.faq {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
        -moz-column-gap: 40px;
        -webkit-column-gap: 40px;
        column-gap: 40px;
        dt { padding-bottom: 5px; }
        dd { 
          padding-bottom: 20px; 
          margin-left: 0; 
          table tr td { font-size: 12px; }
        }
        dt, dd { font-size: 14px; }
      }

    }
  }
}

