/*
  Draft CSS for the site

  Notes:

  $gridGutterWidth changes based on responsive layout - we need to have a single responsive style
  per element that depends on it (maybe define $gridGutterWidthLarge and use it in responsive.scss)

  SASS 3.0 doesn't support inlining media queries - we need to upgrade

  Navbar markup seems to be correct, but needs lots of love at smaller resolutions

  Continue to pull out variables

  Simplify login link behavior - lots of styles for fairly simple markup

 */


@import "variables";
@import "bootstrap/variables";
@import "ribbon";

$topBarColor:                 #010101 !default;
$navigationColumnColor:       #030303 !default;
$underNavigationColumnColor:  #f2f2f2 !default;
$topNavigationColor:          #343434 !default;
$bodyColor:                   #eaeaea !default;
$contentColumnColor:          white !default;
$loginBackgroundColor:        #343434 !default;
$loginColor:                  #eaeaea !default;
$signupLinkColor:             #aaa !default;

$logoHeight:      70px !default;
$logoWidth:       100px !default;
$logoSeparation:  10px !default;

$ribbonColor:     #eb0011 !default;
$ribbonTextColor: white !default;
$ribbonFoldColor: #91010b !default;

#top {background-color: $topBarColor; color: white;}
#nav {background-color: $topNavigationColor; color: white; }
#content {background-color: $bodyColor;}
.column-nav { background-color: $navigationColumnColor; color: white; }
.column-content { background-color: $contentColumnColor; }
#content > .container > div > .row { background-color: $underNavigationColumnColor; }

/* Nav section */

#top > .container {
  > div {
    padding: 8px 0;
    > a {
      color: $signupLinkColor;
      font-weight: bold;
      text-transform: uppercase;
    }
    > a:hover {
      text-decoration: none;
      color: $loginBackgroundColor;
      background-color: $loginColor;
    }
  }
  > div.login {
    padding: 5px 0;
    /* may want to turn these into some sort of specific styled button */
    > a {
      color: $loginColor;
      padding: 3px 10px;
      display: inline-block;
      background-color: $loginBackgroundColor;
    }
    > a.login-provider {
      height: 18px;
    }
    > a:hover {
      text-decoration: none;
      color: $loginBackgroundColor;
      background-color: $loginColor;
    }
  }
}

.navbar {
  padding-top: 30px;
  height: 130px;
  position: relative;

  .brand {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    top: $logoHeight + $logoSeparation;
    /* reset styles */
    float: none;
    margin: 0;
    padding: 0;
  }
  .nav {
    font-size: 13px; 
    text-transform: uppercase;
    /* reset styles */
    float: none;
    margin: 0;

    > li {
      float: left;
      width: 20%;
      text-align: center;

      > a {
        color: white; 
        font-size: 13px; 
        text-transform: uppercase; 
        font-weight: bold;
        /* reset styles */
        padding: 5px 0;
      }
    }

    > li:nth-child(1) { text-align: left; }
    > li:nth-last-child(1) { text-align: right; }

    /* needs fixing */
    > .active > a,
    > .active > a:hover,
    > li > a:hover {
      /* reset styles */
      background: transparent;
      border: 0;
      box-shadow: none;
      text-decoration: underline;
    }
  }
}

/*FIXME After 3.1, move into element */
@media (max-width: 767px) { .navbar {
  height: 100px; 
} }
@media (max-width: 767px) { .navbar .brand {
  position: static;
  float: left;
  text-align: center;
  width: $logoWidth;
  margin-top: $logoHeight + $logoSeparation;
} }

@media (max-width: 767px) { .navbar .nav { 
  margin-left: $logoWidth + 10px; 
} }

@media (max-width: 767px) { .navbar .nav > li {
  float: left !important;
  width: 50% !important;
  text-align: center !important;
} }
@media (max-width: 767px) { .navbar .nav > li.divider {
  display: none;
} }
/*End FIXME*/

.messaging {
  margin-bottom: 30px; 
  clear: both;

  color: #bbb; 
  text-align: center;

  .primary { 
    font-size: 40px; 
    line-height: 40px;
    text-transform: uppercase; 
  }
  strong { color: white; }
  .secondary { font-size: 16px; line-height: 18px; }
}

@media (max-width: 767px) {
  #content > .container > div > .row { background-color: black; }
  .messaging {
    text-align: left;
    margin-bottom: 10px; 

    .primary { font-size: 20px; line-height: 20px;}
    .secondary { font-size: 13px; line-height: 18px; }
  }
}

/* Content section */

#nav { padding-bottom: 100px; }

.lift {
  .column-nav { margin-top: -80px; }
  .column-content { margin-top: -90px; }
  .column-content h1 { margin-top: 25px; margin-bottom: 25px; }
}

/* The body content of a site page */
.row-content {
  margin-bottom: 20px;

  > .column-nav {
    margin-left: 0;
    padding-right: $gridGutterWidth;
  }
  > .column-content {
    margin-left: 0px;
    margin-right: -$gridGutterWidth;

    padding-left: $gridGutterWidth;
    padding-right: $gridGutterWidth;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  #nav { padding-bottom: 30px; }
  #content > .container { padding: 0; }
  .lift {
    .column-nav { margin-top: 0; }
    .column-content { margin-top: 0; }
  }
  .row-content > .column-content { margin-right: 0; } 
}


/* Left nav section */
.column-nav {
  .nav-location { font-size: 19px; line-height: 46px; text-transform: uppercase; margin-top: 15px; }
  > * { margin-left: $gridGutterWidth; }
  > .nav-stacked { margin-left: $gridGutterWidth/2; }
}
/* Stacked navigations indent by 1 gutter each time */
.nav-stacked .nav-stacked { margin-left: $gridGutterWidth; margin-bottom: 0; }

@media (max-width: 767px) {
  #content .column-nav > ul > li { float: left; width: 32%; }
  .nav-location { display: none; }
}

/* Body */
#content h1.ribbon {
  @include ribbon($gridGutterWidth/2, $gridGutterWidth, $ribbonFoldColor);
  > .ribbon-content { 
    background-color: $ribbonColor;
    color: $ribbonTextColor;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.5);
    display: inline-block;
    padding: 5px $gridGutterWidth 5px $gridGutterWidth*1.5; /* calculated to match above */
    min-width: 30%;
  }
}
