/*
  Draft CSS for the site

  Notes:

  $gridGutterWidth changes based on responsive layout - we need to have a single responsive style
  per element that depends on it (maybe define $gridGutterWidthLarge and use it in responsive.scss)

  SASS 3.0 doesn't support inlining media queries - we need to upgrade

  Navbar markup seems to be correct, but needs lots of love at smaller resolutions

  Continue to pull out variables

  Simplify login link behavior - lots of styles for fairly simple markup

*/


@import "variables";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "ribbon";

@import "site/navbar";
@import "community";

/* move into core when the branding converges */
a { color: $ribbonFoldColor; }
a:hover, a:active { color: $ribbonColor; }

/* Hitch a div out of its parent */
.lift {
  margin-top: -90px;
}
.lift-less {
  margin-top: -80px;
}
// Apply to the appropriate element above a lifted item
.lift-counter {
  padding-bottom: 90px;
}
@media (max-width: 767px) {
  .lift,
  .lift-less {
    margin-top: 0;
  }
}

.offset-up {
  position: relative;
}
.offset-up > .offset-up {
  position: absolute;
  bottom: 50%;
}

/* A link that is a block, similar to a thumbnail */
@mixin tile($activeColor, $hoverColor, $backgroundActiveColor, $backgroundHoverColor) {
  display: block;
  text-decoration: none;

  &:hover { 
    text-decoration: none;
    color: $hoverColor;
    background: -moz-repeating-linear-gradient(-180deg, $backgroundHoverColor, $backgroundHoverColor 6px, transparentize($backgroundHoverColor, 1.0) 6px, transparentize($backgroundHoverColor, 1.0) 10px, $backgroundHoverColor 10px, $backgroundHoverColor) repeat scroll 0 0 transparent;
    background: -webkit-repeating-linear-gradient(-180deg, $backgroundHoverColor, $backgroundHoverColor 6px, transparentize($backgroundHoverColor, 1.0) 6px, transparentize($backgroundHoverColor, 1.0) 10px, $backgroundHoverColor 10px, $backgroundHoverColor) repeat scroll 0 0 transparent;
    background: repeating-linear-gradient(-180deg, $backgroundHoverColor, $backgroundHoverColor 6px, transparentize($backgroundHoverColor, 1.0) 6px, transparentize($backgroundHoverColor, 1.0) 10px, $backgroundHoverColor 10px, $backgroundHoverColor) repeat scroll 0 0 transparent;
    /*FIXME: no fallback? background: $backgroundHoverColor; */
  }
  &:active {
    text-decoration: none; 
    color: $activeColor; 
    background-color: $backgroundActiveColor;
  }
}

// Temporary
body.signup { 
  background-color: $navBackgroundColor; 
}

// Concrete sections of pages
.section-top {
  background-color: $topBarBackgroundColor; 
  color: white;

  .container .btn {
    background: #333;
    border-radius: 0;
    text-shadow: none;
    border: 0;
    color: white;
    box-shadow: none;

    &:hover, &:active {
      background: #AAAAAA;
      color: black;
    }
  }
}
/*#nav {
  background: $navBackgroundColor url($navBackgroundImage) repeat-x bottom left;
}*/
.section-nav {
  /*background-color: $navBackgroundColor; */
  color: white;
  padding-bottom: 50px;
}
.section-nav.lift-counter {
  padding-bottom: 90px;
}
@media (max-width: 767px) {
  .section-nav.lift-counter {
    padding-bottom: 30px;
  }
}

.section-striped {
  background: -moz-repeating-linear-gradient(-70deg, $lightStripesColor, $lightStripesColor 6px, $lightStripesAltColor 9px, $lightStripesAltColor 15px, $lightStripesColor 18px) repeat scroll 0 0 $lightStripesBackground;
  background: -webkit-repeating-linear-gradient(-70deg, $lightStripesColor, $lightStripesColor 6px, $lightStripesAltColor 9px, $lightStripesAltColor 15px, $lightStripesColor 18px) repeat scroll 0 0 $lightStripesBackground;
  background: repeating-linear-gradient(-70deg, $lightStripesColor, $lightStripesColor 6px, $lightStripesAltColor 9px, $lightStripesAltColor 15px, $lightStripesColor 18px) repeat scroll 0 0 $lightStripesBackground;

  .link-tile {
    color: $stripesText;
    padding: 15px $gridGutterWidth;
    @include tile($stripesText, $stripesText, $ribbonFoldColor, $stripesHover);

    > :last-child { margin-bottom: 0; }
  }
}
@media (max-width: 767px) {
  .section-striped { background: none; }
  .section-striped .link-tile { padding: 10px $gridGutterWidthPhone; }
}
@if $gridGutterWidthTablet != $gridGutterWidth { @media (min-width: 768px) and (max-width: 979px) {
  .section-striped .link-tile { padding: 10px $gridGutterWidthTablet; }
} }
@if $gridGutterWidthLarge != $gridGutterWidth { @media (min-width: 1200px) {
  .section-striped .link-tile { padding: 15px $gridGutterWidthLarge; }
} }

.section-striped.lift-counter {
  padding-bottom: 130px;
}
@media (max-width: 767px) {
  .section-striped.lift-counter {
    padding-bottom: 30px;
  }
}

.section-base {
  background-color: $navBackgroundColor;
}

// Top bar
.section-top > .container {
  > div {
    padding: 8px 0;
    > a {
      color: $signupLinkColor;
      font-weight: bold;
      text-transform: uppercase;
    }
    > a:hover {
      text-decoration: none;
      color: white;
    }
  }
  > .login {
    padding: 5px 0;
  }
}

// Central messaging content
.messaging {
  clear: both;

  color: white;
  text-align: center;

  margin-bottom: 30px;

  .primary {
    font-size: 40px;
    line-height: 1em;
    text-transform: uppercase;
    color: white;
  }

  .secondary {
    font-size: 16px;
    line-height: 1.2em;
    color: white;
  }
}

@media (max-width: 979px) {
  .messaging {
    .primary {
      font-size: 32px;
    }
    .secondary {
      font-size: 15px;
    }
  }
}

@media (max-width: 767px) {
  .messaging {
    text-align: left;
    margin-bottom: 10px;

    .primary {
      font-size: 20px;
    }
    .secondary {
      font-size: 13px;
    }
  }
}

.take-action {
  display: table !important; // override span12 CSS rules
  height: 2.6em;
  line-height: 1em;

  text-transform: uppercase;

  &:hover, &:active {
    text-decoration: none;
    color: white;
  }

  > div {
    display: table-cell;
    vertical-align: middle;

    padding: 0 $gridGutterWidth;

    color: white;
    background-color: $takeActionBackground;
  }

  > .highlight {
    text-align: center;
    white-space: nowrap;

    padding-right: 5px;

    background-color: $takeActionHighlightBackground;
  }

  > .highlight-arrow {
    padding-left: 0;

    color: transparent;

    background: url('../images/arrow-large.gif') left center no-repeat $ribbonFoldColor;
    -moz-transition: background-position 0.2s;
    -webkit-transition: background-position 0.2s;
    transition: background-position 0.2s;
  }
  > .highlight-arrow:nth-child(2) {
    border-left: 20px solid $takeActionHighlightBackground;
  }

  &:hover > .highlight-arrow {
    background-position: 5px center;
  }
}
#learn .take-action { 
  margin-top: -1.3em; 
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}
#nav .take-action {
  margin: 0 auto 20px;
}

@media (max-width: 979px) {
  #learn .take-action {
    font-size: 17px;
  }
}
@media (max-width: 767px) {
  .take-action > div {
    padding: 0 $gridGutterWidthPhone;
  }
  #learn .take-action { 
    width: 100%;
    font-size: 13px;
    letter-spacing: 0px;
  }
  #nav .take-action {
    margin: 20px 0 0;
  }
}

@if $gridGutterWidthTablet != $gridGutterWidth { @media (min-width: 768px) and (max-width: 979px) {
  .take-action > div { padding: 0 $gridGutterWidthTablet; }
} }
@if $gridGutterWidthLarge != $gridGutterWidth { @media (min-width: 1200px) {
  .take-action > div { padding: 0 $gridGutterWidthLarge; }
} }

.column-buzz {
  background: $buzzBackgroundColor url($buzzBackgroundImage) repeat-x bottom left; 

  > h2 { 
    text-align: center; 
    color: white;
    text-transform: uppercase;
    font-size: 46px;
    line-height: 48px;
    letter-spacing: -4px;
  }
  > hr {
    margin: 10px 43% 30px;
    border: 0;
    border-top: 4px solid $ribbonColor;
  }

  blockquote {
    quotes: "\201C""\201D""\2018""\2019";
    border-left: 0;
    padding: 0;
    margin-bottom: 15px;

    &:after {
      content: "";
    }
    &:before {
      content: open-quote;
      color: #aaa;
      font-size:4em;
      line-height:.1em;
      margin-right:.25em;
      vertical-align:-.4em;
    }
  }

  .tweet {
    @include clearfix();
    position: relative;
    margin-bottom: 15px;

    > img {
      width: 58px;
      height: 58px;
      border: 6px solid white;
      float: left;
    }
    > p {
      margin: 0 0 5px 90px;
      background-color: #343434; 
      padding: 5px 10px; 
      min-height: 50px;

      &:before {
        border-color: transparent #343434;
        border-style: solid;
        border-width: 10px 10px 0 0;
        top: 10px;
        content: "";
        position: absolute;
        left: 80px;
      }
    }
    > small {
      margin-left: 80px;
    }
  }

  > .callout {
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: $lightBackground;
    color: $textLightBackground;
    top: -60px;
    right: -60px;
    text-align: center;

    > .one {
      margin-top: 30px;
      color: gray;
    }
  }
}

@media (max-width: 767px) {
  .column-buzz > h2 {
    font-size: 26px;
    line-height: 28px;
    letter-spacing: -2px;
  }
  .column-buzz > .callout {
    display: none;
  }
}

#buzz { 
  min-height: 500px; 
}

.link-with-action {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  > strong { color: $ribbonColor; }
  &:hover > strong, &:active > strong { color: $ribbonColor; }
  &:hover, &:active { color: $ribbonColor; text-decoration: none; }
}

// Standard header with ribbon
h1.ribbon {
  > .ribbon-content { 
    background-color: $ribbonColor;
    color: $ribbonTextColor;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.5);
    display: inline-block;
    padding: 5px $gridGutterWidth 5px 0; /* left margin set by ribbon */
    min-width: 30%;
  }
  @include ribbon($ribbonFoldColor);
}
@if $gridGutterWidthTablet != $gridGutterWidth { @media (min-width: 768px) and (max-width: 979px) {
  h1.ribbon { @include ribbon_gutters($gridGutterWidthTablet); }
} }
@if $gridGutterWidthLarge != $gridGutterWidth { @media (min-width: 1200px) {
  h1.ribbon { @include ribbon_gutters($gridGutterWidthLarge); }
} }


// Main content containers, rows, columns
.row-content > .row { background-color: $belowNavColumnBackgroundColor; }
@media (max-width: 767px) {
  .row-content > .row { background-color: $textLightBackground; }
}

.column-buzz { background: $darkNoiseBackgroundColor url($transparentNoiseImageData); color: $textDarkBackground; }
.column-buzz a { color: $textDarkBackground; }

// Column navigation
.column-nav {
  background-color: $navColumnBackgroundColor;
  color: #666;

  label {
    color: #666;
  }
  a {
    color: #999;
  }

  .headline,
  h3,
  h3 > a { 
    color: white; 
    text-transform: uppercase; 
    font-weight: bold;
  }
  .nav-location {
    font-size: 19px;
    line-height: 46px;
    text-transform: uppercase;
    margin-top: 15px;
  }
	.nav-list li a {
	  border-top: 1px solid #212121;
	  }
	 	.nav-list > li:last-child a {
	 		border-bottom: 1px solid #212121;
	 		}
	 		.nav-list ul > li:last-child a {
	 			border-bottom: 0;
	 			}
	.nav-list li.expanded {
	  border-bottom: 0;
	  }
	.gutter-right {
		padding-right: 15px;
		margin-bottom: 30px;
		}
	.nav-list {
	  padding: 0;
	  margin-bottom: 0;
	  }
	.nav-list > li > a,
	.nav-list .nav-header {
	  margin-left: -15px;
	  margin-right: -15px;
	  text-shadow: none;
	  }
	.nav-list > li > a {
	  padding: 12px 15px;
	  }
	  .nav-list .nav-list > li > a {
			padding-left: 30px;
			}
	.nav-list > li > a {
		background: transparent url("../images/sprite-vert.png") right -157px no-repeat;
		}
		.nav-list > li > a:hover {	
			background-color: #181818;
			background-position: right -100px;
			color: #fff;
			}
	.nav-list > .active > a,
	.nav-list > li.active > a:hover {
		background-color: #181818;
		color: #fff;
		background-position: right -43px;
		}  
  #search-field {
  	position: relative;
  	text-align: right;
		width: -moz-available;
		margin-right: -15px;
		margin-top: 30px;
		}
	#search-field .search-query {
		margin-left: 15px;
		margin-bottom: 0;
		padding-left: 13px;
		padding-right: 30px;
		color: #ccc;
		border-radius: 3px;
		border-width: 0;
		background-color: #434343;
    width: inherit;
		width: -moz-available;
		}
	#search-field button.search {
		right: 3px;
		width: 25px;
		background: transparent url("../images/sprite-vert.png") 2px -228px no-repeat;
    height: 25px;
    width: 20px;
    border: 0;
    position: absolute;
    top: 1px;
		}
}

@media (max-width: 767px) {
  .column-nav > div > ul > li { float: left; width: 32%; }
  .nav-location { display: none; }
}

/* Stacked navigations indent by 1 gutter each time */
.nav-stacked > li > .nav-stacked { margin-left: $gridGutterWidth/2; margin-bottom: 0; }
@if $gridGutterWidthTablet != $gridGutterWidth { @media (min-width: 768px) and (max-width: 979px) {
  .nav-stacked > li > .nav-stacked { margin-left: $gridGutterWidthTablet/2; }
} }
@if $gridGutterWidthLarge != $gridGutterWidth { @media (min-width: 1200px) {
  .nav-stacked > li > .nav-stacked { margin-left: $gridGutterWidthLarge/2; }
} }


.column-content {
  background-color: $contentColumnBackgroundColor;

  h1 {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  section {
    margin-bottom: 25px;
  }
}

.column-buzz { padding: $gridGutterWidth; position: relative;}

/* The body content of a site page */
.row-content {
  margin-bottom: 20px;
}


/* Site standard backgrounds */
@media (min-width: 768px) {
  /* Until we can build with compass this is directly included and modified
  /* line 3, ../../app/stylesheets/home.scss */
  body > header {
    background-image: url("../images/dark-gray-diagonal-noise.jpg");
    background-image: url("../images/diagonals-top.png"), url("../images/mts.png"), -webkit-gradient(radial, circle, 0, circle, 2, color-stop(0%, #ffffff), color-stop(50%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0))), -webkit-gradient(radial, circle, 0, circle, 2, color-stop(0%, #ffffff), color-stop(100%, rgba(0, 0, 0, 0))), -webkit-gradient(radial, circle, 0, circle, 2, color-stop(0%, #eeeeee), color-stop(100%, rgba(0, 0, 0, 0))), -webkit-gradient(radial, circle, 0, circle, 2, color-stop(0%, #eeeeee), color-stop(100%, rgba(0, 0, 0, 0))), url("../images/dark-gray-diagonal-noise.jpg");
    background-image: url("../images/diagonals-top.png"), url("../images/mts.png"), -webkit-radial-gradient(circle, #ffffff 0%, #ffffff 1px, rgba(255, 255, 255, 0) 2px), -webkit-radial-gradient(circle, #ffffff 0%, rgba(0, 0, 0, 0) 2px), -webkit-radial-gradient(circle, #eeeeee 0%, rgba(0, 0, 0, 0) 2px), -webkit-radial-gradient(circle, #eeeeee 0%, rgba(0, 0, 0, 0) 2px), url("../images/dark-gray-diagonal-noise.jpg");
    background-image: url("../images/diagonals-top.png"), url("../images/mts.png"), -moz-radial-gradient(circle, #ffffff 0%, #ffffff 1px, rgba(255, 255, 255, 0) 2px), -moz-radial-gradient(circle, #ffffff 0%, rgba(0, 0, 0, 0) 2px), -moz-radial-gradient(circle, #eeeeee 0%, rgba(0, 0, 0, 0) 2px), -moz-radial-gradient(circle, #eeeeee 0%, rgba(0, 0, 0, 0) 2px), url("../images/dark-gray-diagonal-noise.jpg");
    background-image: url("../images/diagonals-top.png"), url("../images/mts.png"), -o-radial-gradient(circle, #ffffff 0%, #ffffff 1px, rgba(255, 255, 255, 0) 2px), -o-radial-gradient(circle, #ffffff 0%, rgba(0, 0, 0, 0) 2px), -o-radial-gradient(circle, #eeeeee 0%, rgba(0, 0, 0, 0) 2px), -o-radial-gradient(circle, #eeeeee 0%, rgba(0, 0, 0, 0) 2px), url("../images/dark-gray-diagonal-noise.jpg");
    background-image: url("../images/diagonals-top.png"), url("../images/mts.png"), -ms-radial-gradient(circle, #ffffff 0%, #ffffff 1px, rgba(255, 255, 255, 0) 2px), -ms-radial-gradient(circle, #ffffff 0%, rgba(0, 0, 0, 0) 2px), -ms-radial-gradient(circle, #eeeeee 0%, rgba(0, 0, 0, 0) 2px), -ms-radial-gradient(circle, #eeeeee 0%, rgba(0, 0, 0, 0) 2px), url("../images/dark-gray-diagonal-noise.jpg");
    background-image: url("../images/diagonals-top.png"), url("../images/mts.png"), radial-gradient(circle, #ffffff 0%, #ffffff 1px, rgba(255, 255, 255, 0) 2px), radial-gradient(circle, #ffffff 0%, rgba(0, 0, 0, 0) 2px), radial-gradient(circle, #eeeeee 0%, rgba(0, 0, 0, 0) 2px), radial-gradient(circle, #eeeeee 0%, rgba(0, 0, 0, 0) 2px), url("../images/dark-gray-diagonal-noise.jpg");
    background-repeat: no-repeat,     repeat-x,     repeat, repeat, repeat, repeat, repeat;
    background-size: auto,     auto,     457px 241px,     307px 151px,     167px 199px,     239px 257px,     auto;
    background-position: right bottom, center bottom, left top, -157px center, 89px 97px, 43px 31px, center bottom;
  }
  /* line 49, ../../app/stylesheets/home.scss */
  .section-base {
    background-color: #181919;
    background-image: url("../images/diagonals-bottom.png"), url("../images/tiny-panda.png"), url("../images/mts-bottom.png");
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: left top,     50px bottom,     center bottom;
  }
  /* line 61, ../../app/stylesheets/home.scss */
  .section-base .column-buzz {
    background: black url("../images/black-noise.png");
    margin: 0 80px;
  }
}

@media (max-width: 767px) {
  body > header {
    background: url('../images/dark-gray-diagonal-noise.jpg') repeat;
  }

  .messaging {
    margin: 0;
  }

  .section-base {
    background-image: none;

    .column-buzz {
      background-image: none;
      margin: 0;
    }
  }
}

