/*
  Draft CSS for the site

  Notes:

  $gridGutterWidth changes based on responsive layout - we need to have a single responsive style
  per element that depends on it (maybe define $gridGutterWidthLarge and use it in responsive.scss)

  SASS 3.0 doesn't support inlining media queries - we need to upgrade

  Continue to pull out variables

  Simplify login link behavior - lots of styles for fairly simple markup

*/


@import "variables";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "mixins";
@import "ribbon";

@import "site/navbar";
@import "community";

/* move into core when the branding converges */
a { color: $ribbonFoldColor; }
a:hover, a:active { color: $ribbonColor; }

// type customizations by section
.column-content {
	h1 {
		margin-bottom: 15px;
	}
	h2, h3 {
		margin-bottom: 5px;
	}
	h4, h5, h6 {
		margin-bottom: 3px;
	}
	h6 {
		color:$grayLight;
	}
}

/* Hitch a div out of its parent */
.lift {
  margin-top: -90px;
}
.lift-less {
  margin-top: -80px;
}
// Apply to the appropriate element above a lifted item
.lift-counter {
  padding-bottom: 90px;
}
@media (max-width: 767px) {
  .lift,
  .lift-less {
    margin-top: 0;
  }
}

/* A link that is a block, similar to a thumbnail */
@mixin tile($activeColor, $hoverColor, $backgroundActiveColor, $backgroundHoverColor) {
  display: block;
  text-decoration: none;

  &:hover { 
    text-decoration: none;
    color: $hoverColor;
    background: -moz-repeating-linear-gradient(-180deg, $backgroundHoverColor, $backgroundHoverColor 6px, transparentize($backgroundHoverColor, 1.0) 6px, transparentize($backgroundHoverColor, 1.0) 10px, $backgroundHoverColor 10px, $backgroundHoverColor) repeat scroll 0 0 transparent;
    background: -webkit-repeating-linear-gradient(-180deg, $backgroundHoverColor, $backgroundHoverColor 6px, transparentize($backgroundHoverColor, 1.0) 6px, transparentize($backgroundHoverColor, 1.0) 10px, $backgroundHoverColor 10px, $backgroundHoverColor) repeat scroll 0 0 transparent;
    background: repeating-linear-gradient(-180deg, $backgroundHoverColor, $backgroundHoverColor 6px, transparentize($backgroundHoverColor, 1.0) 6px, transparentize($backgroundHoverColor, 1.0) 10px, $backgroundHoverColor 10px, $backgroundHoverColor) repeat scroll 0 0 transparent;
    /*FIXME: no fallback? background: $backgroundHoverColor; */
  }
  &:active {
    text-decoration: none; 
    color: $activeColor; 
    background-color: $backgroundActiveColor;
  }
}

// Temporary
body.signup { 
  background-color: $navBackgroundColor; 
}

.section-nav {
  /*background-color: $navBackgroundColor; */
  color: white;
  padding-bottom: 50px;
  
  > .navbar:last-child {
    margin-bottom: 20px;
	}
}

.recaptcha table {
  table-layout: auto;
}


.section-nav.lift-counter {
    padding-bottom: 90px;
}

@media (max-width: 767px) {
  .section-nav {
    padding-bottom: 20px;
    
    > .navbar:last-child {
   		margin-bottom: 0;
		}
  }
  .section-nav.lift-counter {
    padding-bottom: 25px;
	}
}
.simple .section-nav { padding-bottom: 0; }

.section-striped {
  background-color: #e5e5e5;
  background: -moz-repeating-linear-gradient(-70deg, $lightStripesColor, $lightStripesColor 6px, $lightStripesAltColor 9px, $lightStripesAltColor 15px, $lightStripesColor 18px) repeat scroll 0 0 $lightStripesBackground;
  background: -webkit-repeating-linear-gradient(-70deg, $lightStripesColor, $lightStripesColor 6px, $lightStripesAltColor 9px, $lightStripesAltColor 15px, $lightStripesColor 18px) repeat scroll 0 0 $lightStripesBackground;
  background: repeating-linear-gradient(-70deg, $lightStripesColor, $lightStripesColor 6px, $lightStripesAltColor 9px, $lightStripesAltColor 15px, $lightStripesColor 18px) repeat scroll 0 0 $lightStripesBackground;

  .link-tile {
    color: $stripesText;
    padding: 15px $gridGutterWidth;
    overflow: hidden;
    @include tile($stripesText, $stripesText, $ribbonFoldColor, $stripesHover);

    > :last-child { margin-bottom: 0; }
  }
}
@media (max-width: 767px) {
  .section-striped { background: none; }
  .section-striped .link-tile { padding: 10px $gridGutterWidthPhone; }
}
@if $gridGutterWidthTablet != $gridGutterWidth { @media (min-width: 768px) and (max-width: 979px) {
  .section-striped .link-tile { padding: 10px $gridGutterWidthTablet; }
} }
@if $gridGutterWidthLarge != $gridGutterWidth { @media (min-width: 1200px) {
  .section-striped .link-tile { padding: 15px $gridGutterWidthLarge; }
} }

.section-striped.lift-counter {
  padding-bottom: 130px;
}
@media (max-width: 767px) {
  .section-striped.lift-counter {
    padding-bottom: 30px;
  }
}

.section-base {
  background-color: $navBackgroundColor;
}

// Top bar
.section-top {
  background-color: $topBarBackgroundColor; 
  color: #888;
  //height: 35px;
  
  div div {
    padding: 4px 0;
  }
  
  div a {
    color: $signupLinkColor;
    text-transform: uppercase;
    font-size: 12px;
    float: left;
    
    &:hover {
    text-decoration: none;
    color: white;
    }
  }
  
  a.sign_out {
  	float:right;
  }
  
  ul.pull-right {
  	list-style-type:none;
  	li {
  		float:left;
  	}
  }

  .btn {
    border-radius: 0;
    text-shadow: none;
    border: 0;
    box-shadow: none;
    color: #ccc;
    background: #333;
    margin-left: 2px;

    &:hover, &:active {
      background: #AAAAAA;
      color: black;
    }
  }
  
  #outage {
    color: black;
    background: $warningBackground;
    float: right;
    margin: 4px 0 4px 2px;

    &:hover, &:active {
      background: darken($warningBackground, 30%);
      color: white;
    }
  }
  
  div.pull-left {
	padding-right: 26px;
	padding-top: 8px;
	background: url("../images/sprite-vert.png") no-repeat scroll right -161px transparent;
	}
}

@media (max-width: 767px) {
	.section-top {
		#outage {
			margin: 0 -20px;
			display: block;
			float: none;
		}
	}
}

@media (max-width: 480px) {
	.section-top div.pull-left {
		display: none;
	}
	.section-top #outage {
		margin: 0;
	}
	.section-top .container {
		padding: 0;
	}
	.section-top div a.sign_out {
    float: none;
	}
	.section-top .login {
		display: table;
		width: 100%;
		padding: 0;
		> a {
			display: table-cell;
			border:0;
			padding: 8px;
			background-color: #000;	
			float:none;
		}
	}
}

// Central messaging content
.messaging {
  clear: both;
  color: white;
  text-align: center;
  margin: 30px 0 45px;

  .primary {
    font-size: 42px;
    line-height: 1em;
    text-transform: uppercase;
    color: white;
    margin-bottom: 10px;
  }

  .secondary {
    font-size: 15px;
    line-height: 1.5em;
    color: white;
    max-width: 790px;
    margin: 0 auto;
    font-family: $baseFontFamily;
  }
  
  h1, h2 { color: white; }
}

.video-box {
  text-align: center;
  padding-bottom: 30px;
  
}

@media (max-width: 979px) {
  .messaging {
    .primary {
      font-size: 32px;
    }
    .secondary {
      font-size: 15px;
    }
  }
}


@media (max-width: 767px) {
  .messaging {
    text-align: left;
    margin: 10px 0;

    .primary {
      font-size: 20px;
      margin-bottom: 5px;
    }
    .secondary {
      font-size: 13px;
    }
  }
}

.action-call {
  display: table !important; // override span12 CSS rules
  height: 2.6em;
  line-height: 1em;

  text-transform: uppercase;

  &:hover, &:active {
    text-decoration: none;
    color: white;
  }

  > div {
    display: table-cell;
    vertical-align: middle;

    padding: 0 $gridGutterWidth;
    text-align: center;

    color: white;
    background-color: $takeActionBackground;
  }

  > .highlight {
    text-align: center;

    background-color: $takeActionHighlightBackground;
  }

  > .highlight-arrow {
    padding-left: 0;

    color: transparent;

    background: url('../images/arrow-large.gif') left center no-repeat $ribbonFoldColor;
    -moz-transition: background-position 0.2s;
    -webkit-transition: background-position 0.2s;
    transition: background-position 0.2s;
  }
  > .highlight-arrow:nth-child(2) {
    border-left: 20px solid transparent;
  }

  &:hover {
    > div {
      background-color: darken($takeActionBackground, 5%);
    }
    > .highlight,
    > .highlight-arrow {
      background-color: darken($takeActionHighlightBackground, 5%);
    }
    > .highlight-arrow {
      background-position: 4px center;
    }
  }
}

.action-more {
  font-size: 16px;
  &:before {
    content: '→ ';
    color: $takeActionHighlightBackground;
    position: relative;
    top: -3px;
  }
  &:hover:before {
    content: '→ ';
    color: $takeActionBackground;
    position: relative;
    top: -3px;
  }
}

#learn .action-call { 
  margin-top: -1.3em; 
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

#instructions li.topic {
  margin-bottom: 20px;
}

#instructions li.install {
  margin-top: 15px;
}

#nav .action-call {
  margin: 0 auto 20px;
}

#nav .messaging + .action-call {
  margin: -25px auto 20px;
}

@media (max-width: 979px) {
  #learn .action-call {
    font-size: 17px;
  }
}
@media (max-width: 767px) {
  .action-call > div {
    padding: 0 $gridGutterWidthPhone;
  }
  #nav .messaging + .action-call {
  	margin: 20px auto 5px;
	}
  #learn .action-call { 
    width: 100%;
    font-size: 13px;
    letter-spacing: 0px;
  }
  #nav .action-call {
    margin: 20px 0 0;
  }
  .action-call > div {
    padding: 11px 20px;
	}
}


@if $gridGutterWidthTablet != $gridGutterWidth { @media (min-width: 768px) and (max-width: 979px) {
  .action-call > div { padding: 0 $gridGutterWidthTablet; }
} }
@if $gridGutterWidthLarge != $gridGutterWidth { @media (min-width: 1200px) {
  .action-call > div { padding: 0 $gridGutterWidthLarge; }
} }

.column-buzz {
  background: $buzzBackgroundColor url($buzzBackgroundImage) repeat-x bottom left;
  font-weight: 300; 

  > h2 { 
    text-align: center; 
    color: white;
    text-transform: uppercase;
    font-size: 46px;
    line-height: 48px;
    letter-spacing: -3px;
  }
  > hr {
    margin: 10px 43% 30px;
    border: 0;
    border-top: 4px solid $ribbonColor;
  }

  blockquote {
    quotes: "\201C""\201D""\2018""\2019";
    border-left: 0;
    padding: 0;
    margin-bottom: 38px;

    &:after {
      content: "";
    }
    &:before {
      content: open-quote;
      color: #aaa;
      font-size:4em;
      line-height:.1em;
      margin-right:.25em;
      vertical-align:-.4em;
    }
    p {
    	margin: -23px 0 0 28px;
    	font-weight: 300;
    }
    small {
      margin-left: 36px;
      color: $subtleTextDarkBackground;
    }
  }

  .tweet {
    @include clearfix();
    position: relative;
    margin-bottom: 15px;

    > img {
      width: 58px;
      height: 58px;
      border: 6px solid white;
      float: left;
    }
    > p {
      margin: 0 0 5px 90px;
      background-color: #222; 
      padding: 10px 15px; 
      min-height: 50px;

      &:before {
        border-color: transparent #222;
        border-style: solid;
        border-width: 10px 10px 0 0;
        top: 10px;
        content: "";
        position: absolute;
        left: 80px;
      }
    }
    > small {
     margin-left: 105px;
     color: $subtleTextDarkBackground;
    }

    > p:first-child {
      margin-left: 0;
      &:before {
        border: 0;
      }
    }
    > small:nth-child(2) {
      margin-left: 15px;
    }
  }

  > .callout {
    position: absolute;
    width: 288px;
    height: 229px;
    background-color: $lightBackground;
    color: $textLightBackground;
    top: -82px;
    right: -166px;
    text-align: center;
    background: url('../images/events-bubble.png') no-repeat top left;

    > div {
      color: #666666;
   		margin-right: 70px;
      position: static;
      
      &:first-child {
      	margin-top: 75px;
      }    
    }
  }
}


@media (max-width: 767px) {
  .column-buzz > h2 {
    font-size: 26px;
    line-height: 28px;
    letter-spacing: -2px;
  }
  .column-buzz > .callout {
    display: none;
  }
}

#buzz { 
  min-height: 500px; 
}

.link-with-action {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  > strong { color: $ribbonColor; }
  &:hover > strong, &:active > strong { color: $ribbonColor; }
  &:hover, &:active { color: $ribbonColor; text-decoration: none; }
}


// Standard header with ribbon
h1.ribbon {
  background-color: $ribbonColor;
  color: $ribbonTextColor;
  display: inline-block;
  padding: 5px $gridGutterWidth 5px 0; /* left margin set by ribbon */
  min-width: 30%;
  margin-bottom: 25px;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.18);
  @include ribbon($ribbonFoldColor); 
}


@if $gridGutterWidthTablet != $gridGutterWidth { @media (min-width: 768px) and (max-width: 979px) {
  h1.ribbon { @include ribbon_gutters($gridGutterWidthTablet); }
} }
@if $gridGutterWidthLarge != $gridGutterWidth { @media (min-width: 1200px) {
  h1.ribbon { @include ribbon_gutters($gridGutterWidthLarge); }
} }

// Information ribbon
.info-ribbon {
  background-color: #343434;
  color: #DADADA;
  display: inline-block;
  padding: 25px 38px 15px 5px; /* right margin set by ribbon */
  margin:0 -70px 0 0;

//  min-width: 30%;

  @media (max-width: 480px) { left: -$gridGutterWidthPhone; }
  @media (min-width: 768px) and (max-width: 979px) { right: 40px; }
  @media (min-width: 980px) and (max-width: 1199px) { right: 32px; }
  @media (min-width: 1200px) { right: $gridGutterWidthLarge; }

  @media (min-width: 768px) {
    float: right;
    @include ribbon(black, $leftStrut: false, $rightStrut: true);
  }

  h1, h2, h3, h4 {
    color: #DADADA;
  }

  a:link { color: #EB0011; }
  a:visited { color: #EB0011; }
}

.well {
	background-color:$grayLighter;
  @include box-shadow(0 1px 1px rgba(0, 0, 0, 0.15) inset);
	}
.info-ribbon .well {
  color: black;

  h1, h2, h3, h4 {
    color: black;
  }
}

// Main content containers, rows, columns
.row-content > .row { background-color: $belowNavColumnBackgroundColor; }
@media (max-width: 767px) {
  .row-content > .row { background-color: $textLightBackground; }
}

.column-buzz { background: $darkNoiseBackgroundColor url($transparentNoiseImageData); color: $textDarkBackground; }
.column-buzz a { color: $linkTextDarkBackground; }

// Column navigation
.column-nav { 
  background-color: $navColumnBackgroundColor;
  color: #7a7b7c;

  label {
    color: #6a6b6c;
  }
  a {
    color: #babbbc;
  }

  .headline,
  h3,
  h3 > a { 
    color: white; 
    text-transform: uppercase; 
    font-weight: bold;
    margin-bottom: 8px;
  }
  .nav-location {
    font-size: 19px;
    line-height: 46px;
    text-transform: uppercase;
    margin-top: 15px;
  }

	.gutter-right {
		padding-right: 15px;
		margin-bottom: 30px;
	}

	.nav-list {
	  padding: 0;
	  margin-bottom: 0;

    > li {
      > a {
        border-top: 1px solid #212121;
  	    padding: 12px 15px;

    	  text-shadow: none;
    		background: transparent url("../images/sprite-vert.png") right -157px no-repeat;

        &:hover {
          background-color: #181818;
          background-position: right -100px;
          color: #fff;
        }
      }
      &:last-child > a {
	 	    border-bottom: 1px solid #212121;
      }

      &.expanded > a {
  	    border-bottom: 0;
      }

      &.active {
        // should be overriden by :hover rule
        > a.active-trail {
          background-color: transparent;
          &.active {
            background-color: #181818;
          }
        }

        > a,
        > a:hover {
          background-color: #181818;
          color: #fff;
          background-position: right -43px;

        }
      }

      > ul.nav-list {
        margin: 0 0 7px;
      }
    }

    .nav-header {
  	  text-shadow: none;
    }

    .nav-list {
      padding-left: 8px;
      margin: 0;
      font-size: 12px;
      line-height: 17px;

      > li {

        &:last-child a {
          border-bottom: 0;
        }
        > a {
          border: 0;
          padding: 7px 5px 7px 15px;
          background-image: none;
        }
      }
    }
  }
}

@media (max-width: 768px) {
	.nav-list > li > a {
    margin-left: 0;
  }
}

 
// Search input 
#search-top {
	position: relative;
	text-align: right;
  margin: 0;
  float: left;
  
  button.search {
    background: #333 url("../images/sprite-vert.png") 2px -227px no-repeat;
    height: 26px;
    width: 21px;
    border: 0;
    padding: 0;
    margin: 0 -3 0 0;
    position: absolute;
    top: 0;
    right: 3px;
  }
  
  input[type="text"] {
    background: #333;
    border: 0;
    border-radius: 0;
    color: #ccc;
    padding-left: 8px;
    padding-right: 27px;
    font-size: 12px;
    font-family: $headerFontFamily;
    width: 60px;
    -webkit-transition: width 0.3s ease 0s;
    -moz-transition: width 0.3s ease 0s;
    -o-transition: width 0.3s ease 0s;
    transition: width 0.3s ease 0s;
    
    &:focus {
	    width: 200px;
	    //background: url("../images/sprite-vert.png") right -293px no-repeat #aaa;
	    background-color: #aaabac;
	    color: #000;
	    font-size: inherit;
	    
	    + button.search {
		    background: transparent url("../images/sprite-vert.png") 2px -293px no-repeat;
			}
  	}
  }
} 

@media (max-width: 767px) {
	#search-top .search-query {
  	margin-left: 0;
  }
}

@media (max-width: 480px) {
	
	#search-top {
		margin: 3px 0 0 20px;
	}
	#search-top input[type="text"] {
		background-color: transparent;
	}
	#search-top input[type="text"]:focus {
		width: 125px;
	}
	#search-top button.search {
		background-color: #000;
	}
}

@media (max-width: 360px) {
	#search-top input[type="text"]:focus {
		width: 75px;
	}
}

@media (max-width: 767px) {
  /* FIXME: May be a better way to handle this */
  .container .row-content .column-nav,
  .container .row-content .info-ribbon {
    @include expand_for_phone();
  }
  .nav-location { 
  	display: none;
  }
}


/* Stacked navigations indent by 1 gutter each time */
.nav-stacked > li > .nav-stacked { margin-left: $gridGutterWidth/2; margin-bottom: 0; }
@if $gridGutterWidthTablet != $gridGutterWidth { @media (min-width: 768px) and (max-width: 979px) {
  .nav-stacked > li > .nav-stacked { margin-left: $gridGutterWidthTablet/2; }
} }
@if $gridGutterWidthLarge != $gridGutterWidth { @media (min-width: 1200px) {
  .nav-stacked > li > .nav-stacked { margin-left: $gridGutterWidthLarge/2; }
} }


.column-content {
  background-color: $contentColumnBackgroundColor;
}

/* Background */
body > header {
  /* fallback */
  background: #191919 url($transparentNoiseImageData);
  background-image:
    url('../images/comets.png'),
    url($transparentNoiseImageData);
  background-repeat:
    repeat-x,
    repeat;
}


.ie9 body.home > header {
	background: #191919 url($transparentNoiseImageData);
  background-image:
    url('../images/diagonals-top.png'),
	  url('../images/mts.png'), 
	  url('../images/stars.png'),
	  url($transparentNoiseImageData);
  background-repeat:
  	no-repeat,
  	no-repeat,
    repeat,
    repeat;
  background-position:
  	right bottom,
	  center bottom,
	  center bottom, 
	  center bottom;
}


/* community background */
body.community > header {
  background-color: #191919;
  background-image:
    url('../images/planets.png'),
    url($transparentNoiseImageData);
  background-repeat:
    repeat-x,
    repeat;
  background-position: center bottom;
}


/* home-specific styles */
body.home {

		> header {
	  background-color: #191919; 
	  background-image:
	    url('../images/diagonals-top.png'),
	    url('../images/mts.png'), 
	    url('../images/stars.png'),
	    url($transparentNoiseImageData),
	    -moz-repeating-linear-gradient(110deg, #191919 0px, #191919 10px, #181818 10px, #181818 20px);
	  background-image:
	    url('../images/diagonals-top.png'),
	    url('../images/mts.png'), 
	    url('../images/stars.png'),
	    url($transparentNoiseImageData),
	    -webkit-repeating-linear-gradient(110deg, #191919 0px, #191919 10px, #171717 10px, #171717 20px);
	  background-image:
	    url('../images/diagonals-top.png'),
	    url('../images/mts.png'), 
	    url('../images/stars.png'),
	    url($transparentNoiseImageData),
	    -ms-repeating-linear-gradient(110deg, #191919 0px, #191919 10px, #181818 10px, #181818 20px);
	  background-image:
	    url('../images/diagonals-top.png'),
	    url('../images/mts.png'), 
	    url('../images/stars.png'),
	    url($transparentNoiseImageData),
	    repeating-linear-gradient(110deg, #191919 0px, #191919 10px, #181818 10px, #181818 20px);
	  background-repeat:
	    no-repeat,
	    no-repeat,
	    repeat,
	    repeat, 
	    repeat;
	  background-position:
	    right bottom,
	    center bottom,
	    center bottom,
	    center bottom, 
	    center bottom;
		}
}

.home {
	.messaging {
 		margin: 55px 0;
 	}
 	.learn { 
	 	li { 
	 		img {
		 		float:left;
		 	}
		 	h4 {
			 	margin-left: 100px;
			}
			p {
				margin-left: 100px;
			}
		}
 	}
 	.news h4 {
	 		margin-bottom: 5px;
	 	}
}

.home #buzz {
  background-color: #181919;
  background-image: 
    url('../images/diagonals-bottom.png'),
    url('../images/mts-bottom.png');
  background-repeat: no-repeat, repeat-x;
  background-position: 
    left top,
    center bottom;

  .column-buzz {
    background: black;
    margin: 0 30px 115px 30px;
    position:relative;
    padding: 75px 50px 85px;
  }
}

@media (min-width: 767px) {
	.nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
  }
}

.ie8 .nav-collapse, ie8 .collapse, .ie7 .nav-collapse, ie7 .collapse {
	overflow: visible !important; /* display column-nav */ 
}

@media (min-width: 767px) and (max-width: 980px) {
	.home #buzz .column-buzz {
  	margin-left:22px;
  	margin-right:22px;
  }
}


@media (max-width: 767px) {
  body.home  > header {
    background-color: #191919;
    background-image: 
    	url("../images/diagonals-top.png"),
    	url($transparentNoiseImageData); 
    background-repeat: 
    	no-repeat,
    	repeat;
  	background-position: 
    	right 150px,
    	center bottom;
  }

  .home .messaging {
    margin: 10px 0 20px 0;
  }

  .home #buzz {
    background-image: none;
    .container {
      padding: 0;
    }
    .column-buzz {
      background-image: none;
      margin: 0;
      padding: 30px $gridGutterWidthTablet 40px;
    }
  }
}

@media (max-width: 480px) {
  body.home > header {
    background-color: #191919;
    background-image: 
    	url("../images/diagonals-top.png"),
    	url($transparentNoiseImageData); 
    background-repeat: 
    	no-repeat,
    	repeat;
  	background-position: 
    	right 200px,
    	center bottom;
  }
  .home .messaging {
    margin: 10px 0 15px 0;
  }
  .buzz-actions {
    text-align: center;
    .align-right {
      text-align: center;
    }
  }
}


@media (min-width: 1107px) and (max-width: 1137px) {
  .home #buzz {
    background-image:
      url('../images/diagonals-bottom.png'),
      url('../images/tiny-panda.png'),
      url('../images/mts-bottom.png');
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position:
      left top,
      right bottom,
      center bottom;
  }
}

/* Simple page */
html { height: 100%; }

body.simple {
  /* Override default styles */
  > header {
    background: none;
    min-height: 0;

    .section-top { 
      border-top: 7px solid #333;
      background-color: transparent;
    }
  }

  h1 { 
    margin-bottom: 35px;
  }

  .section-striped {
    background: none;
  }
  #content { 
    min-height: 0;
  }

  .form-actions {
    background: none;
  }

  /* background */
  min-height: 100%;
  background: #191919 url($transparentNoiseImageData);
  background-image:
    url('../images/mts-bottom-transparent.png'),
    url('../images/stars.png'),
    url($transparentNoiseImageData),
    -moz-repeating-linear-gradient(110deg, #191919 0px, #191919 10px, #181818 10px, #181818 20px);
  background-image:
    url('../images/mts-bottom-transparent.png'),
    url('../images/stars.png'),
    url($transparentNoiseImageData),
    -webkit-repeating-linear-gradient(110deg, #191919 0px, #191919 10px, #171717 10px, #171717 20px);
  background-image:
    url('../images/mts-bottom-transparent.png'),
    url('../images/stars.png'),
    url($transparentNoiseImageData),
    -ms-repeating-linear-gradient(110deg, #191919 0px, #191919 10px, #181818 10px, #181818 20px);
  background-image:
    url('../images/mts-bottom-transparent.png'),
    url('../images/stars.png'),
    url($transparentNoiseImageData),
    repeating-linear-gradient(110deg, #191919 0px, #191919 10px, #181818 10px, #181818 20px);
  background-repeat:
    repeat-x,
    repeat,
    repeat,
    repeat;
  background-position: center bottom;
}

@media (max-width: 767px) {
  body.simple {
    > header {
      min-height: 0;
    }
    .section-striped {
      background-color: white;
    }

    background-image: url($transparentNoiseImageData);
    background-repeat: repeat;
  }
}
@media (max-width: 480px) {
  body.simple .form-actions {
    padding-left: 0;
  }
}

/* Overview specific styles */
.overview {
  ol li {
    margin-bottom: 10px;
  }

  #intro {
    text-align: justify;
    img {
      float: right;
      margin: -20px 40px 0;
    }
  }
  
  #scale {
    text-align: justify;
    img {
      float: right;
      margin: -40px 20px 20px 40px;
    }
  }

  #arch { 
    clear: both;
  }
}

@media (max-width: 980px) {
 body.overview .column-content {
    img {
     float: none !important;
     width: 90% !important;
     margin-left: 5% !important;
     margin-top: 0 !important;
    }
  }
}
@media (max-width: 480px) {
	.overview #intro img {
		margin: 0;
	}
}

